﻿@{
    ViewBag.Title = "Audiências e Consultas Públicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <style>
        hr {
            margin: 10px 0;
        }

        div .row, h3 {
            font-family: sans-serif !important;
        }

        h2 {
            font-size: 40px;
            text-align: center;
        }

        h2, h3 {
            font-weight: 600 !important;
        }

        .mb-40 {
            margin-bottom: 40px;
        }

        .mb-0 {
            margin-bottom: 0;
        }

        .mb-15 {
            margin-bottom: 15px;
        }

        h4, p, ul li {
            font-size: 17px;
            text-align: justify;
        }
    </style>
}

<div class="row mb-40">

    <div class="col-xs-12">
        <h4 class="text-muted text-center mb-5">
            Nesta página você encontra informações das audiências e Consultas públicas realizadas pelo Poder Executivo do Estado de Rondônia.
        </h4>
    </div>

    <div class="col-xs-12">
        <h4 class="text-muted text-center mb-5">
            As Audiências e Consultas Públicas são importantes ferramentas para diálogo e consulta junto à sociedade. São iniciativas do Governo do Estado de Rondônia com o objetivo de garantir a transparência e a participação da população são ferramentas conceituadas como uma forma de participação e controle popular da administração pública, com a finalidade de informar, discutir, tirar dúvidas, ouvir opiniões e captar soluções para os problemas enfrentados pela população.
        </h4>
    </div>

    <div class="col-xs-12">
        <hr />
    </div>

    <div class="col-xs-12">
        <h3 class="text-center">
            Consultas públicas
        </h3>
    </div>

    <div class="col-xs-12">
        <h3 class="text-left">
            Em andamento
        </h3>
    </div>

    <div class="col-xs-12">
        <div class="alert alert-info mb-0">
            <i class="fa fa-info"></i>
            <strong>Nenhuma Consulta pública ativa no momento.</strong>
        </div>
    </div>

    <div class="col-xs-12">
        <h3 class="text-left">
            Encerradas
        </h3>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <!--Titulo-->
                    <div class="col-xs-12">
                        <p><b>Governo de Rondônia abre consulta pública para auditoria inédita no setor florestal</b></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            O Governo de Rondônia divulgou, na terça-feira (28), na
                            <a href="http://www.diof.ro.gov.br/data/uploads/2020/07/DOE-28-07-2020.pdf" target="_blank">
                                edição nº 145 do Diário Oficial,
                                página seis, o Edital de Chamamento de Contribuição Social –
                                ECCS Nº 1/2020
                            </a> - para receber
                            sugestões e contribuições da sociedade civil para a auditoria operacional do Setor Florestal no Estado.
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Período:</b> até 12 de agosto de 2020</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Documentos:</b></p>
                        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeHDbofQCf0ZgWRhJ4nhS9UNNIUBMrkIaI2zGGvqQKPcqiRPQ/viewform" target="_blank">https://docs.google.com/forms/d/e/1FAIpQLSeHDbofQCf0ZgWRhJ4nhS9UNNIUBMrkIaI2zGGvqQKPcqiRPQ/viewform</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12">
        <h3 class="text-center">
            Audiências públicas
        </h3>
    </div>

    <div class="col-xs-12">
        <h3 class="text-left">
            Em andamento
        </h3>
    </div>

    <div class="col-xs-12">
        <div class="alert alert-info mb-0">
            <i class="fa fa-info"></i>
            <strong>Nenhuma Audiência pública ativa no momento.</strong>
        </div>
    </div>

    <div class="col-xs-12">
        <h3 class="text-left">
            Encerradas
        </h3>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <!--Titulo-->
                    <div class="col-xs-12">
                        <p>
                            <b>
                                Audiência pública do projeto de Lei de Diretrizes Orçamentária 2020 do Estado de Rondônia.
                            </b>
                        </p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Local:</b> Auditório da Associação de Assistência Técnica e Extensão Rural do Estado 2 de Rondônia - EMATER, sito a Av. Farquar, nº 3055, Bairro Panair, Porto Velho.
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Data: </b>29 de abril de 2019 15h00min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Documento:</b></p>
                        <p><a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/Ata LDO2020.pdf" target="_blank">Ata LDO 2020</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <!--Titulo-->
                    <div class="col-xs-12">
                        <p>
                            <b>
                                Audiências pública do Plano Plurianual Participativo 2020-2023
                            </b>
                        </p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Vilhena  01/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b> Escola Estadual de Ensino Fundamental e Médio Álvares de Azevedo, localizado na Av. Liberdade nº 3950, Bairro Centro, 76980-000, no Município de Vilhena.
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 14h00Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Documento:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/ata VILHENA.pdf" target="_blank">Ata Vilhena</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Rolim de Moura  03/04/2019</b>
                        </p>

                        <p>
                            <b>Local:</b>  CEEJA Coronel Jorge Teixeira de Oliveira, localizado na Rua Rio Madeira, 4807 , Centro, CEP: 76940-000, no município de Rolim De Moura
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 08h00Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Ata: </b><a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/ATA ROLIM DE MOURA.pdf" target="_blank">Ata Rolim de Moura</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>São Francisco do Guaporé 08/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b> Escola Estadual de Ensino Fundamental e Médio Campos Sales, localizado na Rua Presidente Castelo Branco, n° 3776, Bairro Centro, no município de São Francisco do Guaporé.
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 08h00Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Documento:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/ATA SÃO FRANCISCO.pdf" target="_blank">Ata São Francisco do Guaporé</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Ouro Preto 10/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b> Escola Fundamental e Médio Joaquim de Lima Avelino, localizado na Rua Juscelino Kubitscheck, n° 125, Bairro Jardim Tropical, CEP: 76920-000, no município de Ouro Preto D’Oeste
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 14h00Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Documento:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/Ata Ouro Preto.pdf" target="_blank">Ata Ouro Preto</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Ji-Paraná 12/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b> Escola Jovem Gonçalves Vilela, localizado na Rua Antônio Ferreira de Freitas, n°211, Bairro de 02 de Abril, no município de Ji-Paraná.
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 14h30Min </p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Documento:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/Ata Ji paraná.pdf" target="_blank">Ata Ji-Paraná</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Jaru 15/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b>Escola Estadual de Ensino Fundamental e Médio Capitão Silvio de Farias, localizado na Rua Florianópolis, 2945, Setor 02, CEP: 76890-000, no Município de Jaru
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 14h30Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Ata:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/Ata jaru.pdf" target="_blank">Ata Jaru</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Ariquemes 17/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b> Escola Heitor Villa Lobos, localizado na Av. Juscelino Kubitscheck, 1903, Setor Institucional, CEP: 76872- 861, no Município de Ariquemes
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> </p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Ata:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/Ata Ariquemes.pdf" target="_blank">Ata Ariquemes</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Cacoal 05/04/2019</b>
                        </p>

                        <p>
                            <b>Local:</b> Escola Estadual de Ensino Fundamental e Médio Clodoaldo Nunes de Almeida, localizado na Rua Presidente Médici, 1930 - Jardim Clodoaldo, 76848-000. No município de Cacoal
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 14h30Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Ata:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/ata Cacoal.pdf" target="_blank">Ata Cacoal</a></p>
                    </div>

                    <div class="col-xs-12">
                        <hr />
                    </div>

                    <!--Descrição-->
                    <div class="col-xs-12">

                        <p>
                            <b>Guajará–Mirim 25/04/2019</b>
                        </p>

                        <p>
                            <b>Local: </b> Escola Estadual Alkindar Brasil de Arouca, localizada na Avenida Primeiro de Maio,718, bairro 10 de Abril, no Município de Guajará-Mirim
                        </p>

                    </div>

                    <!--Período-->
                    <div class="col-xs-12">
                        <p><b>Horário:</b> 14h00Min</p>
                    </div>

                    <!--Documentos/links-->
                    <div class="col-xs-12">
                        <p><b>Ata:</b> <a href="~/Arq/ParticipacaoSocial/AudienciasEConsultasPublicas/Audiencias/ata Guajara.pdf" target="_blank">Ata Guajará-Mirim</a></p>
                    </div>                  

                </div>
            </div>
        </div>
    </div>

</div>