﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@{
    ViewBag.Title = "Conselhos e Órgãos colegiados";
}

<style>
    div.espaco {
        padding: 20px;
        margin: 20px;
    }
</style>
<p>

</p>
<div style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <hr style="border-top: 2px solid blue; background-color: #1c61ae" />


        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual dos Direitos da Criança e do Adolescente - CONEDCA
            </strong>
        </p>

        <p>
            <strong>
                Órgão deliberativo normatizador e controlador da política de atendimento, proteção e defesa dos direitos da
                criança e do adolescente.
            </strong>
        </p>

        <br />

        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente Ana Valeska Duarte
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PEDRO ANTÔNIO AFONSO PIMENTEL  </td>
                    <td>MIRLA MARIA SOUZA DA SILVA LOURA </td>
                    <td>SEPOG</td>
                </tr>
                <tr>
                    <td>SUAMY VIVECANADA LACERDA ABREU </td>
                    <td>ANA CRISTINA LEANDRO</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>FERNANDO RODRIGUES MÁXIMO</td>
                    <td>ANNELISE SOARES CAMPOS LINS DE MEDEIROS</td>
                    <td>SESAU</td>
                </tr>
                <tr>
                    <td>JOSÉ HÉLIO CYSNEIROS PACHÁ </td>
                    <td>JANAINA XANDER WESSEL </td>
                    <td>SESDEC</td>
                </tr>
                <tr>
                    <td>PEDRO ANTÔNIO AFONSO PIMENTEL </td>
                    <td>ZILENE SANTANA SILVA RABELO </td>
                    <td>SEPOG</td>
                </tr>
                <tr>
                    <td>ETELVINA DA COSTA ROCHA</td>
                    <td>GILIARDE IRINEU DA SILVA</td>
                    <td>SEJUS</td>
                </tr>
                <tr>
                    <td>LUIS FERNANDO PEREIRA DA SILVA </td>
                    <td>TEREZINHA DE SOUSA SALES </td>
                    <td>SEFIN</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Álvaro Maia, 1409, Olaria
        </p>

        <p style="text-align: justify; font-size: 15px">
            Contato: 8405-6663 / 3216-5376
        </p>
        <p style="text-align: justify; font-size: 15px;">
            Email: conedca@hotmail.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho - RO
        </p>

        <br />

        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/1 - Conselho Estadual dos Direitos da Criança/LEI-Nº-2.760-DE-05-DE-JUNHO-DE-2012-CONEDCA-RO.pdf" target="_blank">LEI-Nº 2.760 DE 05 DE JUNHO DE 2012 CONEDCA-RO</a>
        </p>

        <p class="no-margin">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/1 - Conselho Estadual dos Direitos da Criança/DECRETO 23.867 DE 29 DE ABRIL DE 2019.pdf" target="_blank">DECRETO 23.867 DE 29 DE ABRIL DE 2019</a>.
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Alimentação Escolar - CAERO
            </strong>
        </p>

        <p>
            <strong>
                O Conselho de Alimentação Escolar do Estado de
                Rondônia - CAERO, tem a finalidade de assessorar esta Secretaria na execução do
                Programa Estadual de Assistência e Educação Alimentar nos estabelecimentos
                públicos estaduais de ensino.
            </strong>
        </p>

        <br />

        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente José Ademir Saldanha
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>REGINA RODRIGUES DA SILVA</td>
                    <td>MARIA AUCINETE NEPOMUCENA DA SILVA</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>SOLANGE CARVALHO DO NASCIMENTO</td>
                    <td>NELSON PEREIRA DA SILVA</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>THANIA KADMA SOUZA DE ARAUJO</td>
                    <td>ANA MARIA LOYOLA FIGUEIRA</td>
                    <td>SEDUC</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Paulo Leal, 357, Centro

        </p>
        <p style="text-align: justify; font-size: 15px;">
            Contato: 9969-9374 / 3223-0043
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email: caeropvh@bol.com.br
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />

        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/2 - Conselho Estadual de Alimentação Escolar/LEI COMPLEMENTAR Nº 177, DE 09 DE JULHO DE 1997.pdf" target="_blank">LEI COMPLEMENTAR Nº 177, DE 09 DE JULHO DE 1997</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Educação
            </strong>
        </p>

        <p>
            <strong>
                Tem por finalidade funcionar como órgão normativo, consultivo, deliberativo e mobilizador
                do Sistema Estadual de Ensino de Rondônia.
            </strong>
        </p>

        <br />

        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente Horário Batista Guedes
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AGENOR FERNANDES DE SOUZA</td>
                    <td>VALTER RINCOLATO</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>ANTÔNIO EVANGELISTA S. PURUBORÁ</td>
                    <td>CLEUZENI MARIA DE JESUS</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>AUGUSTO MEDEIROS PELLÚCIO</td>
                    <td>JOSIANE BRUNHAGO SAUKIO</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>FRANCELENA SANTOS ARRUDA</td>
                    <td>MIRIAN ROSA GUIZELINI DE ALMEIDA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>GECILDA MARIA DE OLIVEIRA</td>
                    <td>SEVERINO BERTINO NETO</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>JOSÉ AUGUSTO NETO</td>
                    <td>SIDNEI PEREIRA DOS SANTOS</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>JULICE BARBOZA DA SILVA</td>
                    <td>CLAUDIR MATA MAGALHÃES SALES</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Av. Farquar, 2749, Panair

        </p>
        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-5345 / (8405-3393 Eline)
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email: ceero@seduc.ro.gov.br / ceerondonia@gmail.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />

        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/3 - Conselho Estadual de Educação/DECRETO Nº 17.910 DE 11 DE JUNHO DE 2013.pdf" target="_blank">DECRETO Nº 17.910 DE 11 DE JUNHO DE 2013</a>
        </p>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/3 - Conselho Estadual de Educação/LEI 13.415 de 16 de fevereiro de 2017.pdf" target="_blank">LEI 13.415 de 16 de fevereiro de 2017</a>
        </p>


        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Assistência Social de Rondônia - CEAS/RO
            </strong>
        </p>

        <p>
            <strong>
                Conselho Estadual
                de Assistênica Social - CEAS, órgão superior de deliberação co
                legiada, articulador das demais políticas públicas que desen
                volvem ações de assistência social,
            </strong>
        </p>

        <br />

        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Maria das Graças Costa Paiva
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>LUANA NUNES DE OLIVEIRA SANTOS </td>
                    <td>LIANA SILVA DE ALMEIDA LIMA </td>
                    <td>SEAS</td>
                </tr>
                <tr>
                    <td>SUAMY VIVECANADA LACERDA ABREU </td>
                    <td>GERDALVA ARAÚJO DE VASCONCELOS</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>FERNANDO RODRIGUES MÁXIMO</td>
                    <td>EUSIENE DALPRÁ GALDINO </td>
                    <td>SESAU</td>
                </tr>
                <tr>
                    <td>JOSÉ HÉLIO CYSNEIROS PACHÁ </td>
                    <td>JÚLIO CESAR RODRIGUES UGALDE </td>
                    <td>SESDEC</td>
                </tr>
                <tr>
                    <td>BEATRIZ BASILIO MENDES </td>
                    <td>RAYSON BERNARDO DA SILVA</td>
                    <td>SEPOG</td>
                </tr>
                <tr>
                    <td>MARCUS CASTELO BRANCO ALVES SEMERARO RITO</td>
                    <td>ALESSANDRA CRISTINA DA SILVA PISHIGAMI</td>
                    <td>SEJUS</td>
                </tr>
                <tr>
                    <td>LEANDRO PATRICK VAZ</td>
                    <td>JOSÉ CARLOS DA SILVA ELIAS</td>
                    <td>CMAS</td>
                </tr>
                <tr>
                    <td>VANESSA PORTO DE LIMA</td>
                    <td>IRISVOVE LUIZ DE MAGALHÃES</td>
                    <td>EMATER</td>
                </tr>
                <tr>
                    <td>MÁRCIA CRISTINA PINTO</td>
                    <td>MARINILDE HELENA DA SILVA SANTOS</td>
                    <td>INSS</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Guanabara, 3365, Liberdade

        </p>
        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-7387/3216-8804
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email: ceas.ro@hotmail.com / gracapaiva@ibest.com.br
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>


        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/4 - Conselho Estadual de Assistência Social/DECRETO Nº 7443 DE 22 DE ABRIL DE 1996.pdf" target="_blank">DECRETO Nº 7443 DE 22 DE ABRIL DE 1996</a>
        </p>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/4 - Conselho Estadual de Assistência Social/LEI COMPLEMENTAR Nº 145 de 27 de dezembro de 1995.pdf" target="_blank">LEI COMPLEMENTAR Nº 145 de 27 de dezembro de 1995</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual dos Direitos dos Portadores de Necessidades Especiais
            </strong>
        </p>

        <p>
            <strong>
                O Conselho Estadual dos Direitos dos Portadores de Necessidades Especiais, órgão de caráter deliberativo
                e consultivo, com as seguintes atribuições;
            </strong>
        </p>
        <br />
        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Maria Auxiliadora Modesto de Santana
        </p>
        
        <br />
        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Tabajara, 451 - Arigolândia

        </p>
        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-5399 / 3216-5375
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email: gabinete@seas.ro.gov.br / condef-ro@hotmail.com / dora.santana@globo.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/5 - Conselho Estadual dos Direitos dos Portadores/LEI 1.939 de 31 de julho de 2008.pdf" target="_blank">LEI 1.939 de 31 de julho de 2008</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual do Idoso - CEI
            </strong>
        </p>

        <p>
            <strong>
                O Conselho Estadual do Idoso visa assegurar os direitos sociais do idoso, criando condições
                para promover sua autonomia, integração e participação efetiva
                na sociedade.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Cláudia Lucena Aires Moura
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MARIA INÊS ALVES FERNANDES</td>
                    <td>MARIA ELENILDA TORRES</td>
                    <td>SEAS</td>
                </tr>
                <tr>
                    <td>IONÁ GERCINA SEVERO DA COSTA</td>
                    <td>SARA MARIA ALVES</td>
                    <td>SESAU</td>
                </tr>
                <tr>
                    <td>FRANCISCO MARTO DE AZEVEDO</td>
                    <td>TÃMARA V. AZEVEDO KASPER</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>ILMAR ESTEVES DE SOUZA</td>
                    <td>IRANEIDE ARAÚJO FERREIRA DE LIMA</td>
                    <td>SECEL</td>
                </tr>
                <tr>
                    <td>EUCLIDES MACIEL</td>
                    <td>JOSÉ RIBAMAR DE ARAÚJO</td>
                    <td>ALERO</td>
                </tr>
                <tr>
                    <td>BEATRIZ HELENA PERES ALVES</td>
                    <td>IONE GRACE DO NASCIMENTO CIDADE</td>
                    <td>TJRO</td>
                </tr>
                <tr>
                    <td>DELCY  MAZZARELO CAVALCANTE DA COSTA</td>
                    <td>IRENE CARLOS FURTADO OLIVEIRA</td>
                    <td>CMI</td>
                </tr>
                <tr>
                    <td>MARIA DO SOCORRO BANDEIRA DE JESUS</td>
                    <td>MARIA DUTRA DE SOUZA MOREIRA</td>
                    <td>UNIR</td>
                </tr>
                <tr>
                    <td>MARIA DE FÁTIMA RAMOS</td>
                    <td>ARITA VIEIRA BEZERRA RODRIGUES</td>
                    <td>INSS</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Tabajara, 451, Arigolândia

        </p>
        <p style="text-align: justify; font-size: 15px;">
            Contato: 9981-5650/ 3216-5375
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email:  flavia.psb@hotmail.com / c.aires@uol.com.br
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/6 - Conselho Estadual do Idoso/LEI Nº 458 DE 29 DE DEZEMBRO DE 1992.pdf" target="_blank">LEI Nº 458 DE 29 DE DEZEMBRO DE 1992</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Segurança Alimentar e Nutricional - CONSEAS
            </strong>
        </p>

        <p>
            <strong>
                O Conselho Estadual de Segurança Alimentar e Nutricional de Rondônia - CONSEA-RO, com caráter consultivo
                propositivo e deliberativo, constituindo-se em espaço de articulação entre o Governo Estadual e a Sociedade
                Civil para formulação de diretrizes para políticas e ações na área da Segurança Alimentar e Nutricional,
                sendo vinculado à Secretaria de Estado de Assistência Social - SEAS.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Marília Teixeira Berno
        </p>

        <p style="text-align: justify; font-size: 15px">
            Vice-Presidente Juliana Souza Closs Correia

        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ANA MARIA LOYOLA FIGUEIRA </td>
                    <td>MARIA INÊS ALVES FERNANDES</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>MARY TERESINHA BRAGANHOL </td>
                    <td>RODRIGO DE AMURIM DOS REIS</td>
                    <td>SEAGRI</td>
                </tr>
                <tr>
                    <td>VANESSA PORTO DE LIMA </td>
                    <td>TÂNIA REGINA MARTINS DOS SANTOS</td>
                    <td>EMATER</td>
                </tr>
                <tr>
                    <td>MARIA DO ROSÁRIO DA SILVA </td>
                    <td>MANOEL JONAS JUSTINIANO PINHEIRO </td>
                    <td>SEDAM</td>
                </tr>
                <tr>
                    <td>IZANETE DO CARMO FERREIRA DOS ANJOS </td>
                    <td>LUCAS NAZIF RASUL</td>
                    <td>SEFIN</td>
                </tr>
                <tr>
                    <td>CLARA EMILIA SOARES</td>
                    <td>CLEUSA FIRMINO MEDEIROS</td>
                    <td>SEAS</td>
                </tr>
                <tr>
                    <td>GERALDA FERNANDA COSTA SILVEIRA</td>
                    <td>HELEONE MACHADO FOCHEZATTO </td>
                    <td>SEPOG</td>
                </tr>
                <tr>
                    <td>SARA MARIA ALVES</td>
                    <td>MARCIA SHEILA CARDOSO DA SILVA </td>
                    <td>SESAU</td>
                </tr>
                <tr>
                    <td>MARGARETE ELIANE GARBELINI APRIGO</td>
                    <td>CREUZA SOTE</td>
                    <td>IDARON</td>
                </tr>
                <tr>
                    <td>EDILSON CÂNDIDO DE LIMA JÚNIOR</td>
                    <td>DIEGO AGUIRREGARAY FERNANDES</td>
                    <td>CONAB</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>


        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-5395
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 9981-5650/ 3216-5375
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email:  juliana@saolucas.edu.br / mariliatb@msn.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/7 - Conselho Estadual de Segurança/Decreto nº 13.508 de 11 DE MARÇO 2008.pdf" target="_blank">Decreto nº 13.508 de 11 DE MARÇO 2008</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Saúde
            </strong>
        </p>

        <p>
            <strong>
                O Conselho Estadual de Saúde tem como uma de suas competências estabelecer
                diretrizes a serem observadas na elaboração dos Planos de Saúde, em função das
                características epidemiológicas e da organização dos serviços.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Marcuce Antônio Miranda dos Santos
        </p>

        <br />

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Elias Gorayeb, 2576, Liberdade, 357 - Centro
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-5286/3212-2153
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email:  plenariadesaude.ceas-ro@hotmail.com / seces-ro@hotmail.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />

        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/8 - Conselho Estadual de Saúde/LEI 2.212 DE 21 DE DEZEMBRO DE 2009.pdf" target="_blank">LEI 2.212 DE 21 DE DEZEMBRO DE 2009</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual do Bem-Estar Social e Conselho Gestor do Fundo Estadual de Habitação de Interesse Social
            </strong>
        </p>

        <p>
            <strong>
                Um dos objetivos do Conselho é viabilizar para a população urbana, rural e comunidades tradicionais, respeitando
                as especificadades locais, o acesso à habitação digna e adequada.
            </strong>
        </p>

        <br />

        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Alceu Ferreira Dias
        </p>

        <br />

        <h4><strong>Endereço e Contato:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Av. Guanabara esq. Rua José Camacho, próximo ao Takeda
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />

        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/9 - Conselho Estadual do Bem-Estar Social/LEI COMPLEMENTAR 965.pdf" target="_blank">LEI COMPLEMENTAR 965</a>
        </p>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/9 - Conselho Estadual do Bem-Estar Social/LEI DE 7 DE JULHO DE 2009.pdf" target="_blank">LEI Nº 2114 DE 7 DE JULHO DE 2009</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual dos Direitos da Mulher
            </strong>
        </p>

        <p>
            <strong>
                Este conselho tem como finalidade promover no Estado política que vise à eliminação da discriminação contra a mulher,
                assegurando-lhe condições de liberdade e igualdade de direitos, bem como a sua participação nas atividades políticas,
                econômicas, sociais e culturais do Estado.
            </strong>
        </p>

        <br />

        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Cláudia Lucena Aires Moura
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HALA CRISTINA VIEIRA GOMES  </td>
                    <td>REGINA CARDOSO SOBRINHO </td>
                    <td>SEAS</td>
                </tr>
                <tr>
                    <td>JOCEMAR DA SILVA ARCANJO </td>
                    <td>LUCINEIDE ALVES DA SILVA OLIVEIRA</td>
                    <td>SEAGRI</td>
                </tr>
                <tr>
                    <td>LAURA CRISTINA ANASTÁCIO RODRIGUES </td>
                    <td>CLÍCIA HENRIQUE DE SOUZA</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>FABRIZIA ELIAS SOUZA ALVES </td>
                    <td>JULIANA HERICA DE ARAÚJO TAVARES PASSOS </td>
                    <td>SESDEC</td>
                </tr>
                <tr>
                    <td>WANESSA CARVALHO PRADO</td>
                    <td>ELIZABETE ALVES NUNES DA SILVA</td>
                    <td>SESAU</td>
                </tr>
                <tr>
                    <td>IRISVÔNE MAGALHÃES</td>
                    <td>VANIA CONCEIÇÃO RODRIGUES DA SILVA FRAGA</td>
                    <td>EMATER</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Tabajara, 45 - Arigolândia
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-5375/ 9981-5650
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email:  flavia.psb@hotmail.com / c.aires@uol.com.br
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/10 - Conselho Estadual dos Direitos da Mulher/DECRETO 21.077 DE 26 DE JULHO DE 2016.pdf" target="_blank">DECRETO 21.077 DE 26 DE JULHO DE 2016</a>
        </p>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/10 - Conselho Estadual dos Direitos da Mulher/LEI 3.575 DE 23 DE JUNHO DE 2015.pdf" target="_blank">LEI Nº 3.575 DE 23 DE JUNHO DE 2015</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Entorpecentes de Rondônia - CONEN
            </strong>
        </p>

        <p>
            <strong>
                É Órgão colegiado, deliberativo e normativo da política estadual de prevenção, fiscalização, recuperação e repressão as
                drogas, em consonância e integração com os objetivos da Política Nacional sobre Drogas.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente David Inácio dos Santos Filho
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MARCUS CASTELO BRANCO SEMEARO RITO</td>
                    <td>HELANNE CRISTINA MAGALHÃES CARVALHO</td>
                    <td>SEJUS</td>
                </tr>
                <tr>
                    <td>LEONARDO AUGUSTO SIMÕES MATOS</td>
                    <td>GILSON APARECIDO FERREIRA DOS SANTOS</td>
                    <td>SESDEC</td>
                </tr>
                <tr>
                    <td>ANNELISE SOARES CAMPOS LINS DE MEDEIROS</td>
                    <td>ALINE DOS ANJOS VILELA</td>
                    <td>SESAU</td>
                </tr>
                <tr>
                    <td>VITÓRIA RÉGIA MUSTAFÁ</td>
                    <td>MARIA DE LOURDES ALMEIDA NASCIMENTO</td>
                    <td>SEDUC</td>
                </tr>
                <tr>
                    <td>JOSÉ DIAS NETO</td>
                    <td>CLEITON GOMES DE MELO</td>
                    <td>MPRO</td>
                </tr>
                <tr>
                    <td>GLODNER LUIZ PAULETTO</td>
                    <td>PAULO ROBERTO DE OLIVEIRA ALVES</td>
                    <td>TJRO</td>
                </tr>
                <tr>
                    <td>DAVID INÁCIO DOS SANTOS FILHO</td>
                    <td>HELOÍSA HELENA DE CASTRO CALMON SOBRAL</td>
                    <td>SEFIN</td>
                </tr>
                <tr>
                    <td>WILER FARIA MACHADO SILVA</td>
                    <td>LUIZ CLÁUDIO DA SILVA JUNIOR</td>
                    <td>SPFRO</td>
                </tr>
                <tr>
                    <td>FABRÍCIO SILVA DOS SANTOS</td>
                    <td>INDIELE DE MOURA</td>
                    <td>OABRO</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Guanabara, 3365 - Liberdade
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-5278 (Corregedoria 9961-0802)
        </p>

        <p style="text-align: justify; font-size: 15px">
            Email: conen_pvh@yahoo.com.br / jrsilva_pvh@hotmail.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/11 - Conselho Estadual de Entorpecentes/DECRETO N. 16.714, DE 27 DE ABRIL DE 2012.pdf" target="_blank">DECRETO N. 16.714, DE 27 DE ABRIL DE 2012</a>
        </p>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/11 - Conselho Estadual de Entorpecentes/LEI Nº 435 DE 29 DE SETEMBRO DE 1992.pdf" target="_blank">LEI Nº 435 DE 29 DE SETEMBRO DE 1992</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Turismo
            </strong>
        </p>

        <p>
            <strong>
                Uma das competências do Conselho Estadual de Turismo é  apreciar e opinar sobre os planos, programas e projetos da SETUR, quanto às ações
                discrionárias e vinculadas ao objeto da SETUR, sem adentrar na esfera organizacional.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>


        <p style="text-align: justify; font-size: 15px">
            Presidente Superintendente da SETUR Júlio Olivar Benedito
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NATAN OLIVEIRA DA COSTA</td>
                    <td>ADIMAR BRASIL DE SOUZA</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Av. 7 de Setembro esq. Farquar (Prédio do Relógio, 2º andar, onde funciona a SECEL)
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 3216-1044
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/12 - Conselho Estadual de Turismo/LEI COMPLEMENTAR 1031 DE 22 DE AGOSTO DE 2019.pdf" target="_blank">LEI COMPLEMENTAR 1031 DE 22 DE AGOSTO DE 2019</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Agrotóxicos - CEA
            </strong>
        </p>

        <p>
            <strong>
                Uma das atribuições do Conselho Estadual de Agrotóxicos é  apreciar pedidos de cancelamento
                de autorização de estabelecimentos com localização inadequada e encaminhar parecer aos órgãos
                estaduais competentes.
            </strong>
        </p>
        <br />
        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente Augusto Fernandes Neto
        </p>
        <br />
        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Av. Presidente Dutra, 2068, Centro (Frente à Justiça Federal)
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: (3216-5223 Idaron) / 8417-0055
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>
        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/13 - Conselho Estadual de Agrotóxicos/DECRETO 13.626 DE 21 DE MAIO DE 2008.pdf" target="_blank">DECRETO 13.626 DE 21 DE MAIO DE 20089</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Política Ambiental
            </strong>
        </p>

        <p>
            <strong>
                Tem por finalidade formular e propor políticas governamentais para o meio ambiente e os
                recursos naturais e deliberar, no âmbito de sua competência, sobre normas e padrões compatíveis
                com o meio ambiente ecologicamente equilibrado e essencial à sadia qualidade de vida.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente Nanci Maria Rodrigues da Silva
        </p>

        <br />
        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Estrada do Santo Antônio, 5323 - Triângulo
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato 3216-1059 / 3216-1084
        </p>

        <p style="text-align: justify; font-size: 15px;">
            E-mail: nancibama@oi.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/14 - Conselho Estadual de Política Ambiental/LEI 3.945 DE 12 DE DEZEMBRO DE 2016.pdf" target="_blank">LEI 3.945 DE 12 DE DEZEMBRO DE 2016</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual de Desenvolvimento Rural de Rondônia
            </strong>
        </p>

        <p>
            <strong>
                Tem como objetivo geral promover a desconcentração da econômia e melhoria da qualidade de vida da população
                rural, interiorizando o progresso e o desenvolvimento econômico e social.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente Anselmo de Jesus Abreu
        </p>

        <br />
        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Joaquim Araújo Lima (antiga Abunã), 1260, Prédio da Seagri
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 3218-2931
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Email: alkealexandre@bol.com.br
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/15 - Conselho Estadual de Desenvolvimento/LEI COMPLEMENTAR 220 DE 28 DE DEZEMBRO DE 1999.pdf" target="_blank">LEI COMPLEMENTAR 220 DE 28 DE DEZEMBRO DE 1999</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual da Agricultura Familiar
            </strong>
        </p>

        <p>
            <strong>
                Tem como objetivo acompanhar e avaliar a execução do Programa Nacional de Fortalecimento da Agricultura Familiar - PRONAF no
                âmbito estadual.
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente Francisco Evaldo de Lima
        </p>

        <br />
        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Abunã esq c/ Lauro Sodré, 1260 (Prédio SEAGRI)
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 3218-2933
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/16 - Conselho Estadual da Agricultura/LEI COMPLEMENTAR Nº 163 DE 27 DE DEZEMBRO DE 1996.pdf" target="_blank">LEI COMPLEMENTAR Nº 163 DE 27 DE DEZEMBRO DE 1996</a>
        </p>

        <hr style="border-top: 1px solid; " />

        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                Conselho Estadual da Desporto e Lazer - CONEDEL
            </strong>
        </p>

        <p>
            <strong>
                Tem a finalidade de garantir a prática dos esportes de rendimento e apoiar a promoção
                de todas as manifestações do desporto educacional, de participação e de criação nacional, nos termos do
                artigo 25, da Lei Federal 9.615 de março de 1998, que "Institui nomas gerais sobre desporto e dá outras
                providências".
            </strong>
        </p>

        <br />
        <h4><strong>Composição:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Presidente: Rodnei Antonio Paes
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titular</th>
                    <th scope="col">Suplente</th>
                    <th scope="col">Órgão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BEATRIZ BASÍLIO MENDES</td>
                    <td>HELEONE MACHADO FOCHERATTO</td>
                    <td>SEPOG</td>
                </tr>
                <tr>
                    <td>WILSON GUILHERME DIAS PEREIRA</td>
                    <td>JULIANA COSTA DUNICE</td>
                    <td>SEAS</td>
                </tr>
                <tr>
                    <td>HUGO MAURICIO DA CRUZ ESTROZI</td>
                    <td>JÉFERSON EDUARDO BARROS FERREIRA</td>
                    <td>GME</td>
                </tr>
                <tr>
                    <td>AGENOR FERNANDES DE SOUZA</td>
                    <td>AMARILDO JOSÉ DO NASCIMENTO CORRÊA</td>
                    <td>CREF</td>
                </tr>
                <tr>
                    <td> CÉLIO JOSÉ BORGES</td>
                    <td>FELIPE PEDROZA MAIA</td>
                    <td>IES</td>
                </tr>
                <tr>
                    <td>WALA DENOCI COSTA</td>
                    <td> ERASMO SANTOS BIASUZ</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

        <h4><strong>Endereço e Contato:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            Rua Pe. Chiquinho sn, Ed. Rio Guaporé CPA - 2° Andar
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Contato: 9312-2857 (Prof. Ilmar Esteves - Secretário Executivo) / 8482-9783 (Prof. Rodnei Paes - Presidente)
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Email: conedelro@hotmail.com
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <br />
        <h4><strong>Atribuições e Atos Constitutivos:</strong></h4>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/17 - Conselho Estadual da Desporto e Lazer/LEI COMPLEMENTAR 965.pdf" target="_blank">LEI COMPLEMENTAR Nº 965</a>
        </p>

        <p style="text-align: justify; font-size: 15px">
            <a href="~/Arq/ParticipacaoSocial/Conselhos/17 - Conselho Estadual da Desporto e Lazer/LEI COMPLEMENTAR Nº 775 DE 02 DE JULHO DE 2014.pdf" target="_blank">LEI COMPLEMENTAR Nº 775 DE 02 DE JULHO DE 2014</a>
        </p>
    </div>

 </div>