﻿@{
    ViewBag.Title = "Participação social";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <style>
        hr {
            margin: 10px 0;
        }

        div .row, h3 {
            font-family: sans-serif !important;
        }

        h2 {
            font-size: 40px;
            text-align: center;
        }

        h2, h3 {
            font-weight: 600 !important;
        }

        .mb-40 {
            margin-bottom: 40px;
        }

        .mb-0 {
            margin-bottom: 0;
        }

        .mb-15 {
            margin-bottom: 15px;
        }

        h4, p, ul li {
            font-size: 17px;
            text-align: justify;
        }
    </style>
}

<div class="row mb-40">
    <h4 class="text-muted text-center mb-5">
        Nesta Seção, são divulgadas informações referentes à realização de audiências e ou consultas públicas e outras formas de incentivo à participação popular.
    </h4>

    <hr />&nbsp;<hr />

    @*Conselhos e Órgãos colegiados*@
    <div class="row no-margin">
        <h3 class="text-left">
            <i class="fa fa-building"></i>
            &nbsp;Conselhos e Órgãos colegiados
        </h3>

        <section class="row no-margin margin-bottom">
            <div class="row">
                <p class="col-xs-12">
                    Para acessar as informações detalhadas de cada Conselho, clique <a href="~/ParticipacaoSocial/Conselho">AQUI</a>.
                </p>

            </div>
        </section>
    </div>


    <!-- Audiências e Consultas públicas -->
    <div class="row no-margin">

        <h3 class="text-left">
            <i class="fa fa-bullhorn"></i>
            &nbsp;Audiências e Consultas públicas
        </h3>

        <p>
            Para acessar as informações detalhadas clique <a href="@Url.Action("AudienciasEConsultasPublicas","ParticipacaoSocial")">AQUI</a>.
        </p>

    </div>


    <!-- Ouvidoria -->
    <div class="row no-margin">
        <h3 class="text-left">
            <i class="fa fa-comments-o"></i>
            &nbsp;Ouvidoria
        </h3>

        <p>
            A CGE trata de assuntos relacionados a todo o Poder Executivo Estadual e não apenas de temas relativos ao órgão.
            Por meio da Ouvidoria-Geral do Estado são recebidos denúncias, solicitações, sugestões, reclamações e elogios referentes aos serviços públicos estadual,
            que envolvam ações de agentes, órgãos e entidades.
        </p>

        <p class="no-margin">
            Portanto, faça valer a sua voz e contribua para a melhoria do serviço público estadual, caso você tenha uma dessas manifestações a fazer, entre em contato com
            <a href="http://www.rondonia.ro.gov.br/ouvidoria/institucional/faca-a-sua-manifestacao/" target="_blank">Ouvidoria Geral do Estado</a>.
        </p>
    </div>

    <!-- Controle cidadão -->
    <div class="row no-margin">
        <h3 class="text-left">
            <i class="glyphicon glyphicon-phone"></i>
            &nbsp;Controle cidadão
        </h3>

        <p>
            A Controladoria Geral do Estado (CGE) entra na área da tecnologia como instrumento de defesa da cidadania.
            O <strong class="text-primary">Controle Cidadão</strong> é uma plataforma que permite a população fazer denúncias, reclamações ou elogios, com possibilidade de envio de foto.
            Além disso, o cidadão poderá visualizar o andamento de sua fiscalização e acessar o Portal da Transparência do Estado de Rondônia.
        </p>

        <p class="mb-0">
            Baixe aplicativo agora mesmo, clicando na imagem abaixo e aproveite todos recursos gratuitamente!
        </p>

        <div class="row">
            <a href='https://play.google.com/store/apps/details?id=cge.rondonia&hl=pt_BR&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                <img alt='Disponível no Google Play' src='~/img/google-play-badge.png' width="250" />
            </a>
        </div>
    </div>


    <!-- PROGRAMA RONDONIENSE DE FORTALECIMENTO AO CONTROLE SOCIAL -->
    <div class="row no-margin">
        <h3 class="text-left">
            <i class="fa fa-shield"></i>
            &nbsp;PROGRAMA RONDONIENSE DE FORTALECIMENTO AO CONTROLE SOCIAL
        </h3>

        <p>
            A Controladoria Geral do Estado por meio da Portaria nº 106 de 15 de junho de 2020 Institui o PROFOCOS - Programa Rondoniense de Fortalecimento ao Controle Social de despesas destinadas ao enfrentamento do COVID-19.
        </p>

        <p>
            <strong>PROFOCOS</strong> é um conjunto de 5 ações extraordinárias instituídas para fortalecer o monitoramento social de gastos públicos de despesas com a COVID-19 no Estado de Rondônia.
        </p>

        <p>
            Acesse o link: <a href="http://comprasemergenciais-covid19.ro.gov.br/Arq/PROFOCOS_CGE-RO.pdf" target="_blank">http://comprasemergenciais-covid19.ro.gov.br/Arq/PROFOCOS_CGE-RO.pdf</a>
        </p>

        <p>
            <b>Portaria nº 138 de 29 de julho de 2020</b>
            <br />
            Aprova o Manual Prático-explicativo referente à 2ª etapa do PROFOCOS -
            Programa Rondoniense de Fortalecimento ao Controle Social, instituído
            pela Portaria nº 106 de 15 de junho de 2020.
        </p>

        <p>
            Acesso o link: <a href="http://comprasemergenciais-covid19.ro.gov.br/Arq/ParticipacaoSocial/SEI_ABC-0012699422-Portaria_2_edição.pdf" target="_blank">http://comprasemergenciais-covid19.ro.gov.br/Arq/ParticipacaoSocial/SEI_ABC-0012699422-Portaria_2_edição.pdf</a>
        </p>

        <p>
            <a href="~/Arq/ParticipacaoSocial/DIOF Profocos - 3ª Etapa.pdf" target="_blank">A Controladoria Geral do Estado lança 3º ETAPA do Programa Rondoniense de Fortalecimento ao Controle Social - COVID 19</a>
        </p>

        <p>PROFOCOS (Ação 3 -Mapeia Rondônia) - Relatório Final Auditoria 360: <a href="~/Arq/ParticipacaoSocial/NOTA TÉCNICA Nº 3_2020_CGE-GFA.pdf" target="_blank">NOTA TÉCNICA Nº 3/2020</a> </p>

        <a href="http://comprasemergenciais-covid19.ro.gov.br/Arq/PROFOCOS_CGE-RO.pdf" target="_blank">
            <img alt='Banner PROFOCUS' src='~/img/profocos.png' width="250" />
        </a>
    </div>


    @*Trabalhos a Pedido e/ou com Participação da Sociedade*@
    <div class="row no-margin">

        <h3 class="text-left">
            <i class="fa fa-users"></i>
            &nbsp;Trabalhos a Pedido e/ou com Participação da Sociedade
        </h3>

        <h4><b>Integridade do Setor Florestal de Rondônia</b></h4>

        <p>Sumário Executivo - <a href="~/Arq/ParticipacaoSocial/Sumário Executivo - Auditoria no Setor Florestal de Rondônia.pdf">PDF</a>.</p>
        <p>Pedidos da Sociedade Civil  - <a href="~/Arq/ParticipacaoSocial/TIBR - Ofício CGE-RO - 18.05.2020.pdf">PDF</a>.</p>
        <p>Planejamento dos Trabalhos - <a href="~/Arq/ParticipacaoSocial/Planejamento_de_Auditoria_Operacional.pdf">PDF</a>.</p>
        <p>
            O Planejamento da auditora estará sob consulta pública até o dia 12 de agosto.
            Sugestões poderão ser enviadas por meio do email <a href="mailto:gab@cge.ro.gov.br">gab@cge.ro.gov.br</a> ou do preenchimento do formulário: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHDbofQCf0ZgWRhJ4nhS9UNNIUBMrkIaI2zGGvqQKPcqiRPQ/viewform" target="_blank">https://docs.google.com/forms/d/e/1FAIpQLSeHDbofQCf0ZgWRhJ4nhS9UNNIUBMrkIaI2zGGvqQKPcqiRPQ/viewform</a>
        </p>
        <p class="no-margin">
    </div>

    <!-- Auditoria 360 Covid 19 -->
    <div class="row no-margin">

        <h3 class="text-left">
            <i class="fa fa-book"></i>
            &nbsp; Auditoria 360 Covid 19
        </h3>        
       
        <p>Plano de fiscalização da vacinação contra COVID-19 - <a href="~/Arq/ParticipacaoSocial/Plano de Fiscalização da Vacinação contra COVID-19.pdf">PDF</a>.</p>
        
    </div>
</div>