﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacao

<form id="form-arquivo">
    <div class="modal fade" id="modal-adicionar-arquivo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar arquivo</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        @*<input type="hidden" id="fornecedorId" />*@

                        <label>Arquivo</label>
                        <input class="form-control" type="file" name="Arquivo" id="Arquivo" required />

                        <label class="margin-top-15px">Descrição</label>
                        <input class="form-control" type="text" name="Descricao" id="Descricao" required />

                        <label class="margin-top-15px">Tipo de arquivo</label>
                        @Html.EnumDropDownListFor(x => x.ArquivoTemporario.TipoAnexo, "...", new { @class = "form-control chosen-select", value = "", required = "true", onchange = "ExibirOuEsconderSelectfornecedor()" })

                        <div id="div-select-fornecedor" style="display: none;">
                            <label class="margin-top-15px">Numero Empenho</label>
                            <select class="form-control chosen-select" id="ArquivoTemporario_RazaoSocialFornecedor">
                                <option value="" selected>...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</form>