﻿<form id="form-editar-item">
    <div class="modal fade" id="modal-editar-item" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Editar item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <input type="hidden" name="ItemLicitacaoId" id="editar-itemLicitacaoId" />

                        <input type="hidden" name="FornecedorDispensaId" id="editar-itemLicitacao-fornecedorDispensaId" />

                        <input type="hidden" name="NumeroEmpenho" id="editar-itemLicitacao-numeroEmpenho" />

                        <div class="form-group">
                            <label for="Item">Item</label>
                            <input class="form-control" type="number" name="Item" id="editar-itemLicitacao-item" required min="1" max="2147483647" />
                        </div>

                        <div class="form-group">
                            <label for="Descricao">Descrição</label>
                            <input class="form-control" type="text" name="Descricao" id="editar-itemLicitacao-descricao" required maxlength="500" />
                        </div>

                        <div class="form-group">
                            <label for="Quantidade">Quantidade</label>
                            <input class="form-control" type="number" name="Quantidade" id="editar-itemLicitacao-quantidade" required min="1" max="2147483647" />
                        </div>

                        <div class="form-group">
                            <label for="Unidade">Unidade</label>
                            <input class="form-control" type="text" name="Unidade" id="editar-itemLicitacao-unidade" required maxlength="100" />
                        </div>

                        <div class="form-group">
                            <label for="ValorUnitario">Valor unitário</label>
                            <input class="form-control CampoDinheiro" type="text" name="ValorUnitario" id="editar-itemLicitacao-valorUnitario" required />
                        </div>
                        <div class="form-group">
                            <label for="Status">Status</label>
                            <select class="form-control" name="Status" id="editar-itemLicitacao-status" required>
                                <option value="" selected>...</option>
                                <option value="1">Entregue</option>
                                <option value="2">Em dia</option>
                                <option value="3">Entrega parcial</option>
                                <option value="4">Atraso notificado</option>
                                <option value="5">Em atraso</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>