﻿<form id="form-editar-fornecedor">
    <div class="modal fade" id="modal-editar-fornecedor" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Editar fornecedor</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <input type="hidden" name="FornecedorDispensaId" id="editar-fornecedorId" />

                        <div class="form-group">
                            <label>CNPJ</label>
                            <input class="form-control CampoCNPJ" type="text" name="CNPJ" id="editar-cnpj" placeholder="00.000.000/0000-00" pattern=".{18,18}" required />
                        </div>

                        <div class="form-group">
                            <label>Razão Social</label>
                            <input class="form-control" type="text" name="RazaoSocial" id="editar-razaoSocial" maxlength="250" required />
                        </div>

                        <div class="form-group">
                            <label>Local de execução / Entrega</label>
                            <input class="form-control" type="text" name="LocalExecucao" id="editar-localExecucao"  maxlength="500" />
                        </div>

                        <div class="form-group">
                            <label>Vigência contratual / (Dias)</label>
                            <input class="form-control" type="text" name="Vigencia" id="editar-vigencia" maxlength="50" />
                        </div>

                        <div class="form-group">
                            <label>Nota empenho / Instrumento contratual</label>
                            <input class="form-control" type="text" name="NumeroEmpenho" id="editar-numeroEmpenho" maxlength="20" />
                        </div>

                        <div class="form-group">
                            <label>Data assinatura / Emissão</label>
                            <input class="form-control" type="date" name="DataAssinatura" id="editar-dataAssinatura" />
                        </div>

                        <div class="form-group">
                            <label>Valor</label>
                            <input class="form-control CampoDinheiro" type="text" name="Valor" id="editar-valor" required />
                        </div>

                        <div class="form-group">
                            <label>Cancelado?</label>
                            <input type="radio" id="editar-cancelado-sim" name="Cancelado" value="true"><label for="empenhadoSim">Sim</label>
                            <input type="radio" id="editar-cancelado-nao" name="Cancelado" value="false"><label for="empenhadoNao">Não</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>