﻿<form id="form-editar-arquivo-fornecedor">
    <div class="modal fade" id="modal-editar-arquivo-fornecedor" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Adicionar arquivo (Instrumento Contratual)</h4>
                </div>
                <div class="modal-body">

                    <div id="mensagem-editar-arquivo-fornecedor">
                    </div>

                    <div class="form-group">

                        <div class="form-group">
                            <label>Arquivo</label>
                            <input class="form-control" type="file" name="File" required id="editar-arquivo-fornecedor"/>
                        </div>

                        <div class="form-group">
                            <label class="margin-top-15px">Descrição</label>
                            <input class="form-control" type="text" name="Descricao" required id="editar-descricao-arquivo-fornecedor"/>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</form>