﻿@model List<ItemLicitacao>

@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Infra.Enum 

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover" width="100%">
            <thead>
                <tr>
                    <th><b>Item</b></th>
                    <th><b>Descricao</b></th>
                    <th><b>Quantidade</b></th>
                    <th><b>Unidade</b></th>
                    <th><b>Valor unitário</b></th>                  
                <tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(i => i.Item))
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Descricao</td>
                        <td>@item.Quantidade</td>
                        <td>@item.Unidade</td>
                        <td>@item.ValorUnitario</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info text-center">Nenhum item encontrado</div>
}