﻿@model TransparenciaRO.Infra.Model.View.LicitacoesAPISUPEL.LicitacaoAPISUPELViewModel

@using TransparenciaRO.Infra.Utils

@{
    var count = 1;
}

@if (Model.Sucesso == true && Model.itens.Count() > 0)
{
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        @foreach (var item in Model.itens)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@("heading" + count)">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + count)" aria-controls="@("collapse" + count)">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">@("#" + count + " - " + item.meta.unidadeAdministrativa + " - " + item.meta.numeroProcesso + " | " + item.titulo + " | " + Convert.ToDateTime(item.data).ToString("dd/MM/yyyy") )</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="@("collapse" + count)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + count)">
                    <div class="panel-body">

                        <div class="row">

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.enfrentamentoCovid)</label>
                                <span class="d-block">@item.meta.enfrentamentoCovid</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.numeroLicitacao)</label>
                                <span class="d-block">@item.meta.numeroLicitacao</span>
                            </div>


                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.ano)</label>
                                <span class="d-block">@item.meta.ano</span>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.modalidade)</label>
                                <span class="d-block">@item.meta.modalidade</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.unidadeAdministrativa)</label>
                                <span class="d-block">@item.meta.unidadeAdministrativa</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.numeroProcesso)</label>


                                <span class="d-block">
                                    <a href="@Url.Action("HistoricoDoProcesso","LicitacoesOrdinarias", new { processo = item.meta.numeroProcesso } )" target="_blank" title="Abrir histórico do processo">
                                        <i class="fa fa-external-link" style="color:#e67e22;font-weight: 700;"></i> @item.meta.numeroProcesso
                                    </a>
                                </span>

                                <br />

                                @if (Convert.ToInt32(item.meta.ano) >= 2019 && item.meta.situacao == "Encaminhada para Homologação")
                                {
                                    <span class="d-block">
                                        <a class="btn btn-default" href="@Url.Action("Resultado","LicitacoesOrdinarias", new { processo = item.meta.numeroProcesso })" target="_blank">
                                            <i class="fa fa-external-link" style="color: #e67e22;font-weight: 700;"></i>
                                            Resultado da licitação
                                        </a>
                                    </span>
                                }
                            </div>

                        </div>


                        <div class="row">

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.projetoAtividade)</label>
                                <span class="d-block text-justify">@item.meta.projetoAtividade</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.despesa)</label>
                                <span class="d-block">@item.meta.despesa</span>
                            </div>


                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.valor)</label>
                                <span class="d-block">@item.meta.valor</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.situacao)</label>
                                <span class="d-block">@item.meta.situacao</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.dataAbertura)</label>
                                <span class="d-block">@item.meta.dataAbertura</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.horaAbertura)</label>
                                <span class="d-block">@item.meta.horaAbertura</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.fusoHorario)</label>
                                <span class="d-block">@item.meta.fusoHorario</span>
                            </div>

                            <div class="form-group col-xs-4">
                                <label>@Html.DisplayNameFor(model => item.meta.url)</label>
                                <span class="d-block">@item.meta.url</span>
                            </div>
                            <div class="form-group col-xs-4">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label>@Html.DisplayNameFor(model => item.meta.local)</label>
                                <span class="d-block text-justify">@item.meta.local</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label>@Html.DisplayNameFor(model => item.meta.maisInformacoes)</label>
                                <span class="d-block text-justify">@item.meta.maisInformacoes</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label>@Html.DisplayNameFor(model => item.conteudo)</label>
                                <span class="d-block text-justify">@Html.Raw(item.conteudo)</span>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-6">

                                <label>@Html.DisplayNameFor(model => item.meta.pregoeiro)</label>
                                <span class="d-block">@item.meta.pregoeiro</span>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">

                                <label>Arquivo/Edital</label>

                                @if (item.anexo.url != "")
                                {
                                    <a href="@item.anexo.url" target="_blank" class="btn btn-default btn-block btn-sm">
                                        <i class="fa fa-download"></i>
                                        Baixar @item.anexo.titulo
                                    </a>
                                }
                                else
                                {
                                    <div class="alert alert-info text-center">
                                        <i class="fa fa-info-circle"></i>
                                        Nenhum arquivo encontrado.
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <hr />

                                <label>Avisos</label>
                            </div>
                        </div>

                        <div class="row">
                            @if (item.avisos.Any())
                            {
                                foreach (var aviso in item.avisos)
                                {
                                    <div class="form-group col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="form-group col-xs-6 col-md-4">
                                                        <label>Tipo</label>
                                                        <span class="d-block">@aviso.tipo</span>
                                                    </div>

                                                    <div class="form-group col-xs-6 col-md-4">
                                                        <label>Data</label>
                                                        <span class="d-block">@aviso.data</span>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-md-4">
                                                        <label>Download</label>
                                                        @if (aviso.anexo.url != "")
                                                        {
                                                            <span class="d-block">
                                                                <a class="btn btn-primary btn-block btn-sm" href="@aviso.anexo.url" target="_blank">
                                                                    <i class="fa fa-download"></i>
                                                                    @aviso.anexo.titulo
                                                                </a>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-info text-center">
                                                                <i class="fa fa-info-circle"></i>
                                                                Nenhum arquivo encontrado.
                                                            </div>
                                                        }
                                                    </div>

                                                    <div class="form-group col-xs-12">
                                                        <label>Detalhes</label>
                                                        <span class="d-block">@Html.Raw(aviso.conteudo)</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="form-group col-xs-12">
                                    <div class="alert alert-info text-center">
                                        <i class="fa fa-info-circle"></i>
                                        Nenhum aviso encontrado.
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <span class="d-none">@(count++)</span>
        }
    </div>
}
else
{
    <div class="alert alert-info text-center">
        <i class="fa fa-info-circle"></i>
        @(Model.Sucesso == false? Model.Mensagem : "Nenhum resultado encontrado.")
    </div>
}
