﻿@model Licitacao

@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils

@if (Model.Fornecedores.Any())
{
    foreach (var fornecedor in Model.Fornecedores)
    {
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <p>
                            <b>CNPJ</b>
                            <br />
                            @(fornecedor.CNPJ ?? "---")
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <p>
                            <b>Razão social</b>
                            <br />
                            @(fornecedor.RazaoSocial ?? "---")
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <p>
                            <b>Valor</b>
                            <br />
                            @( fornecedor.Valor.ToString("n2") ?? "---")
                        </p>
                    </div>

                </div>

                <h4>Itens</h4>

                @Html.Partial("Partials\\_TabelaItensLicitacao", Model.ItensLicitacao.Where(i => i.FornecedorDispensaId == fornecedor.FornecedorId).ToList())

            </div>

        </div>
    }
}
else
{
    <div class="alert alert-info text-center">Nenhum fornecedor encontrado</div>
}