﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.RemuneracaoServidor

<link rel="stylesheet" href="~/Content/print.css" type="text/css" media="print">
<style>
    hr {
        border-top: 1px dashed #808080;
        color: #fff;
        background-color: #fff;
        height: 4px;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Rendimentos do Servidor</h1>
        </div>
    </div>

    <div class="row contentPrint">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <tr>
                    <th>Matrícula/Nome: </th>
                    <td>@Html.DisplayFor(model => model.Matricula) </td>
                    <td>@Html.DisplayFor(model => model.Nome) </td>
                    <th>Mês/Ano: </th>
                    <td>@Html.DisplayFor(model => model.Mes) / @Html.DisplayFor(model => model.Ano)</td>
                </tr>
                <tr>
                    <th>Situação/Cargo: </th>
                    <td colspan="2">@Html.DisplayFor(model => model.Classificacao_Func) - @Html.DisplayFor(model => model.Cargo)</td>
                    <th>Carga Horária: </th>
                    <td colspan="4">@Html.DisplayFor(model => model.CargaHoraria)</td>
                </tr>
                <tr>
                    <th>Lotação: </th>
                    <td colspan="2">@Html.DisplayFor(model => model.Lotacao) </td>
                    <th>Sublotação: </th>
                    <td colspan="2">@Html.DisplayFor(model => model.SubLotacao) </td>
                </tr>
                @if (!Model.CDSFG.IsNullOrEmpty())
                {
                    <tr>
                        <th>CDS / FG:</th>
                        <td colspan="4">@Model.CDSFG</td>
                    </tr>
                }
                <tr>
                    <td colspan="5"><hr /></td>
                </tr>
                <tr>
                    <th colspan="3">ACRÉSCIMOS</th>
                    <th colspan="2">DESCONTOS</th>
                </tr>
                <tr>
                    <th>Auxílios: </th>
                    <td colspan="2">@Model.Auxilios.Value.ToString("c2")</td>
                    <td>Previdência: </td>
                    <td>@Model.VbaPrevidencias.Value.ToString("c2") </td>
                </tr>
                <tr>
                    <th>Vantagens: </th>
                    <td id="vantagens" colspan="2">
                        @Model.Vantagens.Value.ToString("c2")
                        <a id="DetalharVantagens" title="Detalhar">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>Imposto de Renda: </td>
                    <td>@Model.VbaImpostorenda.Value.ToString("c2") </td>
                </tr>
                <tr>
                    <th>Temporárias: </th>
                    <td id="temporarios" colspan="2">
                        @Model.VbaTemporarias.Value.ToString("c2")
                        <a id="DetalharTemporarios" title="Detalhar">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>Desconto Diversos: </td>
                    <td>@Model.VbaDescontosDiversos.Value.ToString("c2") </td>
                </tr>
                <tr>
                    <th>Produtividade: </th>
                    <td colspan="4">@Model.VbaProdutividade.Value.ToString("c2")</td>
                </tr>
                <tr>
                    <td colspan="5"><hr /></td>
                </tr>
                <tr>
                    <th>Rendimentos Tributáveis: </th>
                    <td colspan="2">@Model.RendimentosTributaveis.Value.ToString("c2") </td>
                    <th>Total de Descontos: </th>
                    <td>@Model.TotalDescontosFinanceiros.Value.ToString("c2") </td>
                </tr>
                <tr>
                    <th>Vencimento: </th>
                    <td colspan="2">@Model.Vencimentos.Value.ToString("c2") </td>
                    <th>Líquido: </th>
                    <td>@Model.Liquido.Value.ToString("c2") </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Index", "Pessoal")" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>
            <button class="btn btn-default print">
                <i class="fa fa-print"></i> Imprimir
            </button>
        </div>
    </div>
</div>
@section AposFooter
{
    <script src="~/scripts/jquery.PrintArea.js"></script>
    <script>
        $(document).ready(function () {
            $(".print").click(function () {

                $(".contentPrint").printArea();

            });
            $("#DetalharTemporarios").click(function (evento) {
                $.get('@Url.Action("DetalheRendimentosTemporarios", "Pessoal")',
                    { cpf: @Model.Cpf, Ano:@Model.Ano,  Mes:@Model.Mes }, function (rendimentos) {
                        if (rendimentos.length != 0) {
                            let result = '';
                            rendimentos.map(item => result += item.NomVba + ": R$ " + JSON.stringify(item.valorverba).replace(".", ",") + "</br>");
                            document.getElementById("temporarios").innerHTML = result;
                        }
                    });
            });
            $("#DetalharVantagens").click(function (evento) {
                  $.get('@Url.Action("DetalheRendimentosVantagens", "Pessoal")',
                      { cpf: @Model.Cpf, Ano:@Model.Ano, Mes:@Model.Mes}, function (rendimentos) {
                          if (rendimentos.length != 0) {
                              let result = '';
                              rendimentos.map(item => result += item.NomVba + ": R$ " + JSON.stringify(item.valorverba).replace(".", ",") + "</br>");
                              document.getElementById("vantagens").innerHTML = result;
                          }
                    });
            });
        });
    </script>
}