﻿@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@{
    ViewBag.Title = "Gráfico - Remuneração dos Servirdores";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<script src="~/scripts/chosen.jquery.min.js"></script>
<div id="Mensagem"></div>

<div class="row">
    <div class="loadingPlaceholder">
        <h2 class="text-center">
            <i class="fa fa-cog fa-spin"></i>&nbsp;Processando gráfico...
        </h2>
    </div>

    <div id="grafico" class="grafico"></div>
</div>

<div class="row">
    <div class="col-md-3">
        <label>Ano</label>

        <select id="ano" name="ano" class="form-control">
            @for (int ano = 2012; ano <= ViewBag.Ano; ano++)
            {
                <option value="@ano" @(ano == ViewBag.Ano ? "selected" : "")>@ano</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <label>Mês</label>

        <select id="mes" name="mes" class="form-control"></select>
    </div>

    <div class="col-md-3">
        <label>Unidade Gestora</label>

        <select id="lotacoes" name="lotacoes" class="form-control col-sm-6"></select>
    </div>

    <div class="col-md-3" style="margin-top: 25px">
        <button id="filtroFaixaSalarial" name="filtroFaixaSalarial" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i> Pesquisar
        </button>
    </div>
</div>

<hr />

<div class="row">
    <div id="tabelaContainer" class="col-md-12"></div>
</div>

@section AposFooter
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

    <script id="templateFaixaSalarial" type="text/html">
        <table class="table table-hover" id="tabelaFaixaSalarial" width="100%">
            <thead>
                <tr>
                    <th>Lotações</th>
                    <th>Faixa Salárial</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="detalharClassificacoes(ano, mes, '{{FaixaSalarial}}', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{FaixaSalarial}}</td>
                    <td>{{QtdServidores}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateClassificacao" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Servidores</th>
                    <th>Classificação</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {{#data}}
                <tr>
                    <td>
                        <a href="#!" onclick="detalharFuncionario('{{guidNovatabela}}', ano, mes, faixaSalarial, '{{Classificacao}}', '' , this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{Classificacao}}</td>
                    <td>{{Qtd}}</td>
                </tr>
                {{/data}}
            </tbody>
        </table>
    </script>
    <script id="templateFuncionarios" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Servidor</th>
                    <th>Cargo</th>
                    <th>Unidade Gestora</th>
                    <th>Folha Pagamento</th>
                </tr>
            </thead>
            <tbody>
                {{#data}}
                <tr>
                    <td>{{Servidor}}</td>
                    <td>{{Cargo}}</td>
                    <td>{{UnidadeGestora}}</td>
                    <td>
                        <a href="/Pessoal/DetalheServidor?ano={{Ano}}&mes={{Mes}}&matricula={{Matricula}}" title="Folha de Pagamento" target="_blank">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/data}}
            </tbody>
        </table>
    </script>
    <script id="templateFuncionariosLotacao" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Servidor</th>
                    <th>Cargo</th>
                    <th>Classificação</th>
                    <th>Folha Pagamento</th>
                </tr>
            </thead>
            <tbody>
                {{#data}}
                <tr>
                    <td>{{Servidor}}</td>
                    <td>{{Cargo}}</td>
                    <td>{{Classificacao}}</td>
                    <td>
                        <a href="/Pessoal/DetalheServidor?ano={{Ano}}&mes={{Mes}}&matricula={{Matricula}}" title="Folha de Pagamento" target="_blank">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/data}}
            </tbody>
        </table>
    </script>
    <script id="templateLotacaoFaixasSalariais" type="text/html">
        <table class="table table-hover" id="tabelaLotacaoFaixasSalariais" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Faixa Salárial</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="detalharFuncionarioLotacao('tabelaLotacaoFaixasSalariais', ano, mes, '{{FaixaSalarial}}', '', lotacao , this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{FaixaSalarial}}</td>
                    <td>{{QtdServidores}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>

    <script>
        function carregarGrafico(dados, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' mil', ' milhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: dados
                        }
                    ]
                });
        }

        function mesPorExtenso(mes) {
            switch (mes.toString()) {
                case "1":
                    return ("Janeiro");
                case "2":
                    return ("Fevereiro");
                case "3":
                    return ("Março");
                case "4":
                    return ("Abril");
                case "5":
                    return ("Maio");
                case "6":
                    return ("Junho");
                case "7":
                    return ("Julho");
                case "8":
                    return ("Agosto");
                case "9":
                    return ("Setembro");
                case "10":
                    return ("Outubro");
                case "11":
                    return ("Novembro");
                default:
                    return ("Dezembro");
            }
        }

        var ano = @ViewBag.Ano;
        var mes = @ViewBag.Mes;
        var faixaSalarial;
        var lotacao= "@Request["ug"]";
        var classificacao;
        CarregarMes();

        $(document).ready(function() {
            if (lotacao != "") {
                lotacaoFaixasSalariais(ano, mes, lotacao);
            }
            else{
                faixasSalariais(ano, mes);
            }
        });

        function CarregarMes() {
            var options = [];
            $.get("@Url.Action("MesesAno", "Pessoal")",
                { ano: $("#ano").val() },
                function(meses) {
                    for (var i = 0; i < meses.length; i++) {
                        options += '<option value="' + meses[i].mesInt + '" selected >' + meses[i].mesString + '</option>';
                    }
                    $("#mes").html(options);
                    CarregarLotacoes($("#ano").val(),$("#mes").val())
                });
        };

        $("#mes").change(function() {
            CarregarLotacoes($("#ano").val(),$("#mes").val())
        });


        function CarregarLotacoes(pAno, pMes){
            var options = [];
            var selecionado = "";
            options = '<option value="">Selecione...</option>';
            $.get("@Url.Action("Lotacoes", "Pessoal")", { ano: pAno, mes: pMes },
        function(lotacoes) {
            for (var i = 0; i < lotacoes.length; i++) {
                selecionado = lotacao == lotacoes[i].Id ? "selected" : "";
                options += '<option value="' + lotacoes[i].Id + '" ' + selecionado + '>' + lotacoes[i].Descricao + '</option>';
            }
            $("#lotacoes").html(options);
            $("#lotacoes").chosen();
        });
        }

        $("#filtroFaixaSalarial").click(function() {
            if ($("#ano").val() !== "" && $("#mes").val()) {
                ano = $("#ano").val();
                mes = $("#mes").val();
                $("#Mensagem").remove();
                if ($("#lotacoes option:selected").val() !== "") {
                    lotacao = $("#lotacoes option:selected").val();
                    lotacaoFaixasSalariais(ano, mes, lotacao);

                }else {
                    faixasSalariais(ano, mes);
                }
            } else {
                $("#Mensagem").html('<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong><span class="fa fa-thumbs-o-down"></span></strong>Selecione o ano e mês e/ou unidade gestora que deseja consultar!</div>');
            }
        });

        function faixasSalariais(pAno, pMes) {
            $("#grafico").fadeOut('slow');
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action("FaixasSalariais", "Pessoal")",{ ano: pAno, mes: pMes },
                function(drilldown) {
                    var faixasSalariais = [];

                    for (var i in drilldown) {
                        var serie = {
                            name: drilldown[i].FaixaSalarial,
                            y: drilldown[i].QtdServidores,
                            drilldown: false
                        }
                        faixasSalariais.push(serie);
                    }

                    var tituloGrafico = "Faixas Salariais " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(faixasSalariais,"Faixa Salárial",tituloGrafico,"Faixas Salariais","Número de Servidores");

                    var templateRenderizado = Mustache.render($('#templateFaixaSalarial').html(), { "dados": drilldown });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaFaixaSalarial").dataTablePadrao();

                    $('.loadingPlaceholder > h2').fadeOut('slow');
                    $("#grafico").fadeIn('slow');
                });
        }

        function lotacaoFaixasSalariais(pAno, pMes, pLotacao) {
            ano = pAno;
            mes = pMes;

            $("#grafico").fadeOut('slow');
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action("LotacaoFaixasSalariais", "Pessoal")", { ano: pAno, mes: pMes, lotacao: pLotacao },
                function(drilldown) {
                    var faixasSalariais = [];

                    for (var i in drilldown) {
                        var serie = {
                            name: drilldown[i].FaixaSalarial,
                            y: drilldown[i].QtdServidores,
                            drilldown: false
                        }
                        faixasSalariais.push(serie);
                    }

                    var tituloGrafico = "Faixas Saláriais " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(faixasSalariais, "Faixa Salárial", tituloGrafico, "Faixas Saláriais", "Por mil servidores");

                    var templateRenderizado = Mustache.render($('#templateLotacaoFaixasSalariais').html(), { "dados": drilldown });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaLotacaoFaixasSalariais").dataTablePadrao();

                    $('.loadingPlaceholder > h2').fadeOut('slow');
                    $("#grafico").fadeIn('slow');
                });
        }

        function detalharClassificacoes(pAno, pMes, pFaixaSalarial, pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            faixaSalarial = pFaixaSalarial;

            var table = $('#tabelaFaixaSalarial').DataTable();
            var row = table.row($(pSender).closest('tr'));
            if (!row.child.isShown()) {
                $.get("@Url.Action("Classificacoes", "Pessoal")", { ano: pAno, mes: pMes, faixaSalarial: pFaixaSalarial })
                    .done(function(dados) {
                        dados.guidNovatabela = guid();
                        $(pSender).closest('tr').after();
                        var dadosTabulados = {
                            guidNovatabela: dados.guidNovatabela,
                            data: dados.map(function(d) {
                                return { Classificacao: d.Classificacao, Qtd: d.Qtd };
                            })
                        };
                        row.child(Mustache.render($('#templateClassificacao').html(), dadosTabulados)).show();
                        $('#' + dados.guidNovatabela).dataTablePadrao();

                        spin.addClass("hidden");
                        search.removeClass("hidden");
                    }, "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }

        function detalharFuncionario(pGuid, pAno, pMes, pFaixaSalarial, pClassificacao, pLotacao, pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            var table = $('#' + pGuid).DataTable();
            var row = table.row($(pSender).closest('tr'));
            if (!row.child.isShown()) {
                $.get("@Url.Action("FaixaSalarialFuncionarios", "Pessoal")", { ano: pAno, mes: pMes, faixaSalarial: pFaixaSalarial, classificacao: pClassificacao, lotacao: pLotacao})
                    .done(function(dados) {
                        var guidNovatabela = guid();
                        $(pSender).closest('tr').after();
                        row.child(Mustache.render($('#templateFuncionarios').html(), { guidNovatabela: guidNovatabela, data: dados})).show();
                        $('#' + guidNovatabela).dataTablePadrao();

                        spin.addClass("hidden");
                        search.removeClass("hidden");
                    }, "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }


        function detalharFuncionarioLotacao(pGuid, pAno, pMes, pFaixaSalarial, pClassificacao, pLotacao, pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            var table = $('#' + pGuid).DataTable();
            var row = table.row($(pSender).closest('tr'));
            if (!row.child.isShown()) {
                $.get("@Url.Action("FaixaSalarialFuncionarios", "Pessoal")", { ano: pAno, mes: pMes, faixaSalarial: pFaixaSalarial, classificacao: pClassificacao, lotacao: pLotacao})
            .done(function(dados) {
                var guidNovatabela = guid();
                $(pSender).closest('tr').after();
                row.child(Mustache.render($('#templateFuncionariosLotacao').html(), { guidNovatabela: guidNovatabela, data: dados})).show();
                $('#' + guidNovatabela).dataTablePadrao();

                spin.addClass("hidden");
                search.removeClass("hidden");
            }, "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }
    </script>
}