﻿@using TransparenciaRO.Infra.Utils
@{
    ViewBag.Title = "Importar Dados - Remuneração de Servidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
}

<label>
    Campos obrigatórios<i class="text-danger">*</i>
</label>

@using (Html.BeginForm("ImportarDados", "Pessoal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                Arquivo<i class="text-danger">*</i>
            </label>
            <div class="fileinput fileinput-new col-md-5 col-sm-12" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Selecionar</span>
                    <span class="fileinput-exists">Alterar</span>
                    <input type="file" name="file" id="file" required="required">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Ano <i class="text-danger">*</i>
            </label>
            <div class="col-md-5 col-sm-12">
                <select name="ano" id="ano" class="form-control">
                    @for (var i = 2012; i < DateTime.Now.Year + 1; i++)
                    {
                        <option value="@(i)" @(DateTime.Now.Year == i ? " selected" : "")>@(i)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Mês <i class="text-danger">*</i>
            </label>
            <div class="col-md-5 col-md-12">
                <select name="mes" id="mes" class="form-control">
                    @for (var i = 1; i <= 13; i++)
                    {
                        <option value="@i" @(DateTime.Now.Month - 1 == i ? " selected" : "")>@(i == 13 ? "Décimo Terceiro" : i.NomeMes())</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-lg fa fa-plus"></i> Adicionar
                </button>
            </div>
        </div>
    </div>
}