﻿@using TransparenciaRO.Web.HTMLHelper
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.RemuneracaoServidor
@{
    ViewBag.Title = "Rendimentos dos Servidores Públicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}


<div id="titulo"></div>
@using (Html.BeginForm("ResultadoFiltro", "Pessoal", FormMethod.Post, new { @name = "frmFiltro" }))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <label>Exercício</label>
                    <select id="@Html.IdFor(model => model.Ano)" class="form-control">
                        @for (var ano = 2012; ano <= ViewBag.Ano; ano++)
                        {
                            if (ano == ViewBag.Ano)
                            {
                                <option value="@ano" selected="selected">@ano</option>
                            }
                            else
                            {
                                <option value="@ano">@ano</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Mês</label>
                    <select id="@Html.IdFor(model => model.Mes)" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Nome</label>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-6">
                    <label>CPF</label>
                    @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @onkeyup = "mascara(this, mcpf);", @maxlength = "14" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Unidade Gestora</label>
                    <select id="@Html.IdFor(model => model.Lotacao)" class="form-control chosen-select"></select>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-2">
                    <button type="button" id="btnConsultar" class="btn btn-primary">
                        <i class="fa fa-search"></i> Consultar
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<div id="containerTabela">
    <label name="spin" class="hidden">
        <i class="fa fa-cog fa-spin fa-fw"></i> Carregando...
    </label>
</div>

@section AposFooter{
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script type="text/html" id="templateTabela">
        <div class="row">
            <div class="col-md-12">
                <table id="tabelaFolhaPagamento" class="table table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Detalhes do servidor</th>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Lotação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dados}}
                        <tr>
                            <td>
                                <a href="@(Url.Action("DetalheServidor", "Pessoal"))?ano={{Ano}}&mes={{Mes}}&matricula={{Matricula}}" title="Detalhar">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>{{Nome}}</td>
                            <td>{{Matricula}}</td>
                            <td>{{Lotacao}}</td>
                        </tr>
                        {{/dados}}
                        {{^dados}}
                        <tr>
                            <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                        </tr>
                        {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script>
        var ano = @ViewBag.Ano;
        var mes = @ViewBag.Mes;
        var pUg = "@Request["ug"]";
        $(document).ready(function() {

            carregarMeses(ano);
            carregarLotacoes(ano, mes);

            $("#@Html.IdFor(f => f.Ano)").change(function() {
                var ano = $("#@Html.IdFor(f => f.Ano)").val();
                carregarMeses(ano);
            });
            $("#@Html.IdFor(f => f.Mes)").change(function() {
                carregarLotacoes($("#@Html.IdFor(fp => fp.Ano)").val(),
                    $("#@Html.IdFor(fp => fp.Mes)").val());

            });
            $('#btnConsultar').click(function(e) {
                e.preventDefault();
                if (validaFiltro()) {
                    processarTabela($('#@Html.IdFor(m => m.Ano)').val(),
                        $('#@Html.IdFor(m => m.Mes)').val(),
                        $('#@Html.IdFor(m => m.Nome)').val(),
                        $('#@Html.IdFor(m => m.Cpf)').val(),
                        $('#@Html.IdFor(m => m.Lotacao)').val());
                }
            });
            if (pUg !== "") {
                processarTabela(ano,
                    mes,
                    $('#@Html.IdFor(m => m.Nome)').val(),
                    $('#@Html.IdFor(m => m.Cpf)').val(),
                    pUg);
            }
        });

        //Carregar os meses do ano
        function carregarMeses(pAno) {
            $("#@Html.IdFor(f => f.Mes)").html();
            var options = [];
            $.get("@Url.Action("MesesAno", "Pessoal")",
                { ano: pAno },
                function(meses) {
                    for (var i = 0; i < meses.length; i++) {
                        if (i == meses.length - 1) {
                            options += '<option value="' +
                                meses[i].mesInt +
                                '" selected="selected">' +
                                meses[i].mesString +
                                '</option>';
                        } else {
                            options += '<option value="' + meses[i].mesInt + '">' + meses[i].mesString + '</option>';
                        }
                    }
                    $("#@Html.IdFor(f => f.Mes)").html(options);
                });
        }

        //Carregar select lotação
        function carregarLotacoes(pAno, pMes) {
            var options = [];

            var selecionado = "";
            $.get("@Url.Action("Lotacoes", "Pessoal")",
                { ano: pAno, mes: pMes },
                function(lotacoes) {
                    options += '<option value="">Selecione...</option>';
                    for (var i = 0; i < lotacoes.length; i++) {
                        selecionado = pUg == lotacoes[i].Id ? "selected" : "";
                        options += '<option value="' +
                            lotacoes[i].Id +
                            '" ' +
                            selecionado +
                            '>' +
                            lotacoes[i].Descricao +
                            '</option>';
                    }
                    $("#@Html.IdFor(f => f.Lotacao)").html(options);
                    //$("#@Html.IdFor(f => f.Lotacao)").chosen();
                });
        }

        //Fim: Lógica de mês ano

        //Carregar a tabela com os valores do Json
        function processarTabela(pAno, pMes, pNome, pCpf, pLotacao) {
            if (validaFiltro()) {
                $("#containerTabela")
                    .html(
                        '<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');
                var elementoPai = $("#containerTabela").parent();
                var spin = elementoPai.find('[name="spin"]');
                spin.removeClass("hidden");

                $.get('@Url.Action("ResultadoFiltro", "Pessoal")',
                    { ano: pAno, mes: pMes, nome: pNome, cpf: pCpf, lotacao: pLotacao }).done(function(dados) {
                    var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados });
                    if (dados == "null") {
                        $('#titulo')
                            .html(
                                '<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Erro! </strong>Digite o nome ou o CPF do servidor.</div>');
                    } else {
                        spin.addClass("hidden");

                        $('#containerTabela').html(htmlRenderizado);
                        $("#tabelaFolhaPagamento").dataTablePadrao();
                    }
                });
            }
        }

        //Evitar buscar a lista completa sem selecionar uma locação
        function validaFiltro() {
            if ($("#@Html.IdFor(m => m.Nome)").val() === "" && $("#@Html.IdFor(m => m.Cpf)").val() === "" &&
                $("#@Html.IdFor(m => m.Lotacao)").val() === "") {
                $('#titulo')
                    .html(
                        '<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Erro! </strong>Digite o nome ou o CPF do servidor.</div>');
                return false;
            }
            return true;
        }
    </script>
}