﻿@model IEnumerable<TransparenciaRO.Web.Model.UnidadeGestoraApi>
@using TransparenciaRO.Web.HTMLHelper
@{
    ViewBag.Title = "Relação Cedência";
}


@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>Unidade Gestora</label>
                <select id="lotacao" class="form-control chosen-select">
                    @foreach (var i in Model)
                    {
                        <option value="@i.Id">@i.Sigla - @i.Descricao</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-2">
                <button type="button" id="btnConsultar" class="btn btn-primary" onclick="processarTabela();">
                    <i class="fa fa-search"></i> Consultar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning">
    <i class="fa fa-info-circle"></i> Informações em atualização. <strong>Fonte: Unidades Gestoras</strong>
</div>
<div id="containerTabela">
    <label name="spin" class="hidden">
        <i class="fa fa-cog fa-spin fa-fw"></i> Carregando...
    </label>
</div>
@section AposFooter{
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $('#lotacao').chosen()
    </script>
    <script type="text/html" id="templateTabela">
        <div class="row">
            <div class="col-md-12">
                <table id="tabela" class="table table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Orgão de origem</th>
                            <th>Lotação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dados}}
                        <tr>
                            <td>{{Nome}}</td>
                            <td>{{Matricula}}</td>
                            <td>{{OrgaoOrigem}}</td>
                            <td>{{Lotacao}}</td>
                        </tr>
                        {{/dados}}
                        {{^dados}}
                        <tr>
                            <td colspan="9" class="text-center">Nenhum servidor cedido ou não informado pela Unidade Gestora</td>
                        </tr>
                        {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script>
        function processarTabela() {
                $("#containerTabela")
                    .html(
                        '<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');
                var elementoPai = $("#containerTabela").parent();
                var spin = elementoPai.find('[name="spin"]');
                spin.removeClass("hidden");

                $.get('@Url.Action("ResultadoCedencia", "Pessoal")',
                    { id: $('#lotacao').val()})
                    .done(function (dados) {
                    var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados });

                        spin.addClass("hidden");

                        $('#containerTabela').html(htmlRenderizado);
                        $("#tabela").dataTablePadrao();

                });

        }
    </script>
}