﻿@using TransparenciaRO.Web.HTMLHelper
@{
    ViewBag.Title = "Relação CDS / FG";
}


@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>Unidade Gestora</label>
                <select id="lotacao" class="form-control chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-2">
                <button type="button" id="btnConsultar" class="btn btn-primary" onclick="processarTabela();">
                    <i class="fa fa-search"></i> Consultar
                </button>
            </div>
        </div>
    </div>
</div>
<div id="containerTabela">
    <label name="spin" class="hidden">
        <i class="fa fa-cog fa-spin fa-fw"></i> Carregando...
    </label>
</div>
@section AposFooter{
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script type="text/html" id="templateTabela">
        <div class="row">
            <div class="col-md-12">
                <table id="tabela" class="table table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Símbolo</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dados}}
                        <tr>
                            <td>{{Simbolo}}</td>
                            <td>{{Total}}</td>
                        </tr>
                        {{/dados}}
                        {{^dados}}
                        <tr>
                            <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                        </tr>
                        {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script>
        var pUg = "@Request["ug"]";
        $(document).ready(function () {
           carregarLotacoes(@ViewBag.Ano, @ViewBag.Mes);
        });
        function carregarLotacoes(pAno, pMes) {
            var options = [];

            var selecionado = "";
            $.get("@Url.Action("Lotacoes", "Pessoal")",
                { ano: pAno, mes: pMes },
                function(lotacoes) {
                    for (var i = 0; i < lotacoes.length; i++) {
                        selecionado = pUg == lotacoes[i].Id ? "selected" : "";
                        options += '<option value="' +
                            lotacoes[i].Id +
                            '" ' +
                            selecionado +
                            '>' +
                            lotacoes[i].Descricao +
                            '</option>';
                    }
                    $('#lotacao').html(options);
                    $('#lotacao').chosen();
                });
        }

        function processarTabela() {
                $("#containerTabela")
                    .html(
                        '<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');
                var elementoPai = $("#containerTabela").parent();
                var spin = elementoPai.find('[name="spin"]');
                spin.removeClass("hidden");

                $.get('@Url.Action("ResultadoCdsFg", "Pessoal")',
                    { ano: @ViewBag.Ano, mes: @ViewBag.Mes, lotacao: $('#lotacao').val() }).done(function(dados) {
                    var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados });

                        spin.addClass("hidden");

                        $('#containerTabela').html(htmlRenderizado);
                        $("#tabela").dataTablePadrao();

                });

        }
    </script>
}