﻿@model  List<TransparenciaRO.Infra.Model.DB.dbTransparencia.DiariasSugespe>

@{
    ViewData["Title"] = "Diária/Detalhes";
}

<div class="row contentPrint">
    @if (Model.Count() != 0)
    {
        <div class="col-md-12 ">
            <div class="">
                @foreach (var d in Model)
                {
                    if (d.CpfMotorista != null)
                    {
                        <table class="table" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Solicitação</th>
                                    <th>Matrícula</th>
                                    <th>Nome</th>
                                    <th>Cargo</th>
                                    <th>Ug</th>
                                    <th>Período</th>
                                    <th>Quantidade</th>
                                    <th>Valor diária</th>
                                    <th>Valor Recebido</th>
                                    <th>Tipo de viagem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="http://frota.sistemas.ro.gov.br/SolicitacoesViagem/transparencia_imprimir/ +  @d.Solicitacao" target="_blank">@d.Solicitacao</a> </td>
                                    <td>@d.MatriculaMotorista</td>
                                    <td>@d.Motorista</td>
                                    <td>@d.Cargo</td>
                                    <td>@d.UGMotorista</td>
                                    <td>@d.DataIda.Value.Date.ToString("dd/MM/yyyy") a @d.DataVolta.Value.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@d.QuantidadeDiarias</td>
                                    <td>@d.ValorDiarias</td>
                                    <td>@d.ValorDiariaMotorista</td>
                                    <td>@d.TipoViagem</td>
                                </tr>
                                <tr width="1">
                                    <td colspan="10"> <span style="word-break:break-word;"> <b>Motivo:</b> @d.Objetivo  </span></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                    }
                    else
                    {
                        if (d.CpfPassageiro != null)
                        {
                            <table class="table" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Solicitação</th>
                                        <th>Matrícula</th>
                                        <th>Nome</th>
                                        <th>Cargo</th>
                                        <th>Ug</th>
                                        <th>Período</th>
                                        <th>Quantidade</th>
                                        <th>Valor diária</th>
                                        <th>Valor Recebido</th>
                                        <th>Tipo de viagem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="http://frota.sistemas.ro.gov.br/SolicitacoesViagem/transparencia_imprimir/ +  @d.Solicitacao" target="_blank">@d.Solicitacao</a> </td>
                                        <td>@d.MatriculaPassageiro</td>
                                        <td>@d.Passageiro</td>
                                        <td>@d.CargoPassageiro</td>
                                        <td>@d.UGPassageiro</td>
                                        <td>@d.DataIda.Value.Date.ToString("dd/MM/yyyy") a @d.DataVolta.Value.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@d.QuantidadediariasPassageiro</td>
                                        <td>@d.ValorDiariasPassageiro</td>
                                        <td>@d.TotalDiaria</td>
                                        <td>@d.TipoViagem</td>
                                    </tr>
                                    <tr width="1">
                                        <td colspan="10"> <span style="word-break:break-word;"> <b>Motivo:</b> @d.ObjetivoPassageiro  </span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                        }
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert"><span class="sr-only">Atenção:</span><strong>Informação </strong>Nenhum registro encontrado</div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <a href="javascript:history.back()" class="btn btn-primary">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>
<br />