﻿@using TransparenciaRO.Web.HTMLHelper
@{
    ViewBag.Title = "Diárias";
    var campos = new List<CampoFormulario>()
    {
        new CampoPeriodo { Linha = 1, ColMD = 12, ValorDataInicial = DateTime.Now.AddMonths(-1), ValorDataFinal = DateTime.Now },
        new CampoSelect { Descricao = "Unidade gestora", ColMD = 12, Id = "ug", NomeParametroAction = "UG", Linha = 2, Valores = ViewBag.UnidadesGestoras, ValorPadrao = Request["UG"] ?? "" },
        new CampoTexto { Descricao = "Nome da pessoa", ColMD = 12, Id="nome", NomeParametroAction = "Nome", Linha = 3, Placeholder = "Nome da pessoa" }
    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)

}


@Html.FormularioParametros(campos)

@*@Html.MontarMetodoChamadaPostComDados(campos, "/Diaria")*@
@Html.MontarMetodoChamadaPostComDados(campos, "/Diaria/Index", "POST", "consultarDados", "templateDados", "tabelaDadosContainer", "tabelaDados", true, true, "{\"ordering\": false, \"tipoOrdenacao\": \"desc\"}")


<div id="tabelaDadosContainer">

</div>

<script id="templateDados" type="text/html">
    <table id="tabelaDados" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Data</th>
                <th>Credor</th>
                <th>Valor</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td>{{Documento}}</td>
                <td>{{DataDocumento}}</td>
                <td>{{Nome}} </td>
                <td>{{ValorDocumento}}</td>
                <td>
                    @using (Html.BeginForm("Detalhes", "Diaria", FormMethod.Post))
                    {
                        <input type="hidden" name="cpf" value="{{CPF}}" />
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    }
                </td>
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="5">Nenhum registro encontrado!</td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<script src="~/scripts/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $("#ug").chosen();
        });
    });
</script>