﻿@model  TransparenciaRO.Web.ServiceSEIRO.Andamento[]
@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Histórico do processo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="/scripts/dataTable.es5.min.js"></script>
}

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Processo Nº @Request.QueryString["processo"]</h4>
        <br />
        @if (ViewBag.Sucesso == true)
        {
            <div class="table-responsive">
                <table class="table table-hover tabela" width="100%">
                    <thead>
                        <tr>
                            <th>Data/Hora</th>
                            <th>Unidade</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var andamento in Model)
                        {
                            <tr>
                                <td>@andamento.DataHora</td>
                                <td>@andamento.Unidade.Sigla</td>
                                <td>@Html.Raw(andamento.Descricao)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info text-center">
                <i class="fa fa-info-circle"></i>
                @ViewBag.Mensagem
            </div>
        }
    </div>
</div>

@section AposFooter{
    <script>
        $(document).ready(function () {
            $('table.tabela').dataTablePadrao({ "ordering": false });
        });
    </script>
}