﻿@using TransparenciaRO.Web.HTMLHelper
@model  TransparenciaRO.Infra.Model.View.ProcessosAPISUPEL.ResultadoViewModel

@{
    ViewBag.Title = "Resultado da licitação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="/scripts/dataTable.es5.min.js"></script>
}


@*@Html.Partial("Partials\\_Informativo")*@

<div class="row">

    <div class="col-xs-12">

        @if (Model.Sucesso == true && Model.Processo != null)
        {
            <div class="panel panel-primary">
                <div class="panel-body">

                    <div class="row">

                        <div class="form-group col-xs-6 col-md-4">
                            <label>@Html.DisplayNameFor(model => model.Processo.NumeroProcesso)</label>
                            <span class="d-block">@Model.Processo.NumeroProcesso</span>
                        </div>

                        <div class="form-group col-xs-6 col-md-4">
                            <label>@Html.DisplayNameFor(model => model.Processo.Orgao.Descricao)</label>
                            <span class="d-block">@Model.Processo.Orgao.Descricao</span>
                        </div>

                        <div class="form-group col-xs-6 col-md-4">
                            <label>@Html.DisplayNameFor(model => model.Processo.Situacao)</label>
                            <span class="d-block">@Model.Processo.Situacao</span>
                        </div>

                        <div class="form-group col-xs-12">
                            <label>@Html.DisplayNameFor(model => model.Processo.ModalidadeLicitacao)</label>
                            <span class="d-block">@Model.Processo.ModalidadeLicitacao</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-xs-12">
                    <label>Certame@(Model.Processo.Certames != null && Model.Processo.Certames.Count() > 1 ? "s": "")</label>

                    @if (Model.Processo.Certames != null && Model.Processo.Certames.Count() >= 1)
                    {
                        foreach (var certame in Model.Processo.Certames)
                        {
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="form-group col-xs-6 col-md-4">
                                            <label>@Html.DisplayNameFor(model => certame.NumeroLicitacao)</label>
                                            <span class="d-block">@certame.NumeroLicitacao</span>
                                        </div>

                                        <div class="form-group col-xs-6 col-md-4">
                                            <label>@Html.DisplayNameFor(model => certame.CodigoModalidadeCertame)</label>
                                            <span class="d-block">@certame.CodigoModalidadeCertame</span>
                                        </div>

                                        <div class="form-group col-xs-6 col-md-2">
                                            <label>@Html.DisplayNameFor(model => certame.DataAbertura)</label>
                                            <span class="d-block">@certame.DataAbertura</span>
                                        </div>

                                        <div class="form-group col-xs-6 col-md-2">
                                            <label>@Html.DisplayNameFor(model => certame.Ano)</label>
                                            <span class="d-block">@certame.Ano</span>
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <hr />
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <label>@Html.DisplayNameFor(model => certame.Itens)</label>
                                        </div>

                                        <div class="form-group col-xs-12">
                                            @if (certame.Itens != null && certame.Itens.Count() >= 1)
                                            {
                                                <div class="table-responsive">
                                                    <table class="table table-hover tabela" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().Numero)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().Situacao)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().Fornecedor.RazaoSocial)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().Fornecedor.CNPJ)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().Descricao)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().UnidadeFornecimento)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().Quantidade)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().ValorUnitario)</th>
                                                                <th>@Html.DisplayNameFor(model => model.Processo.Certames.FirstOrDefault().Itens.FirstOrDefault().ValorGlobal)</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in certame.Itens.OrderBy(i => i.Numero))
                                                            {
                                                                <tr>
                                                                    <td>@item.Numero</td>
                                                                    <td>@item.Situacao</td>
                                                                    <td>@item.Fornecedor.RazaoSocial</td>
                                                                    <td>@item.Fornecedor.CNPJ</td>
                                                                    <td>@item.Descricao</td>
                                                                    <td>@item.UnidadeFornecimento</td>
                                                                    <td>@item.Quantidade</td>
                                                                    <td>@item.ValorUnitario.ToString("C")</td>
                                                                    <td>@item.ValorGlobal.ToString("C")</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-info text-center">
                                                    <i class="fa fa-info-circle"></i>
                                                    Nenhum item encontrado.
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info text-center">
                            <i class="fa fa-info-circle"></i>
                            Nenhum certame encontrado.
                        </div>
                    }

                </div>
            </div>

        }
        else
        {

            <div class="alert alert-info text-center">
                <i class="fa fa-info-circle"></i>
                @(Model.Sucesso == false ? "Houve uma falha ao conectar com a fonte de dados, tente novamente mais tarde." : "Nenhum resultado encontrado.")
            </div>
        }
    </div>
</div>

@section AposFooter{
    <script>
        $(document).ready(function () {
            $('table.tabela').dataTablePadrao();
        });
    </script>
}


