﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model PortariaResolucao
@{
    var MensagensErrosArquivos = ViewBag.MensagensErrosArquivos as List<String>;
}
@if (MensagensErrosArquivos?.Count > 0)
{
    foreach (var mensagemErro in MensagensErrosArquivos)
    {
        <div class="alert alert-danger">@mensagemErro</div>
    }
}
@if (Model.Arquivos.Count > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do arquivo</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Excluir?</th>
            }
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Arquivos.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" name="Arquivos[@i].ArquivoId" value="@Model.Arquivos.ToList()[i].ArquivoId.ToString()" />
                        <input type="hidden" name="Arquivos[@i].LicitacaoId" value="@Model.Arquivos.ToList()[i].PortariaResolucaoId.ToString()" />
                        <input type="hidden" name="Arquivos[@i].Descricao" value="@Model.Arquivos.ToList()[i].Descricao" />
                        <input type="hidden" name="Arquivos[@i].Temporario" value="@(Model.Arquivos.ToList()[i].Temporario ? "true" : "false")" />
                        <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.Arquivos.ToList()[i].ArquivoId.ToString().ToEncrypted()  })" target="_blank">@(Model.Arquivos.ToList()[i].Descricao)</a>
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.Arquivos.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.Arquivos.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Nenhum arquivo adicionado</div>
}

