﻿@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Model.DB.dbTransparencia

@model TransparenciaRO.Infra.Model.DB.dbTransparencia.PortariaResolucao

@{
    var descricaoDocumento = Model.ETipoDocumento.GetDescricao();
    var unidadesGestoras = ViewBag.UnidadesGestoras;
}

@section Head{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
}

<h2>
    @(Model.PortariaResolucaoId == new Guid() ? "Adicionar" : "Editar") @(descricaoDocumento)
</h2>

<label class="">
    Campos obrigatórios <i class="text-danger">*</i>
</label>

@using (Html.BeginForm("AdicionarEditar", "LegislacaoEspecifica", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PortariaResolucaoId)
    @Html.HiddenFor(m => m.ETipoDocumento)
    
    @Html.FormGroupEditorFor(m => m.Numero, $"Nº {descricaoDocumento}<i class=text-danger>*</i>")
    @Html.FormGroupDropDownFor(m => m.UnidadeGestoraId, new SelectList(unidadesGestoras, "Key", "Value"), "Unidade gestora <i class=text-danger>*</i>")
    
    @Html.FormGroupEditorFor(m => m.Data, "Data de Elaboração<i class=text-danger>*</i>", new[] { EClassesParaInput.CampoData })
    @Html.FormGroupEditorFor(m => m.Assunto, "Assunto<i class=text-danger>*</i>")
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#!" class="btn btn-default" onclick="$('#files').click()"><i class="fa fa-file"></i> Adicionar arquivos</a>
        </div>
        <div class="col-md-offset-2 col-md-10" id="listaArquivosContainer">
            <br />
            @Html.Partial("_ListaArquivos", Model ?? new PortariaResolucao() { Arquivos = new List<Arquivo>() })
        </div>
    </div>

    <div id="inputArquivosWrapper" style="display: none">
        <input type="file" class="multiple" name="files" id="files" multiple />
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default margin-bottom-15px" href="@Url.Action("Index")">
                <i class="fa-lg fa fa-times"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-primary margin-bottom-15px">
                <i class="fa-lg fa fa-floppy-o"></i> Salvar
            </button>
        </div>
    </div>
}

@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script> 
    <script src="~/scripts/AdicionarArquivo.es5.min.js"></script>  
}
