﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Enum

@{
    ViewBag.Title = "Legislação Especifica";
}

@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row bottomMargin">
            <div class="col-md-12">
                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.Portaria })" class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Portaria
                </a>

                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.Resolucao })" class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Resolução
                </a>

                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.Decreto })" class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Decreto
                </a>

                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.LeiComplementar })" class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Lei Complementar
                </a>

                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.InstrucaoNormativa })" class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Instrução Normativa
                </a>

                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.CriacaoOrgao })" clas class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Criação do Órgão
                </a>
                <a href="@Url.Action("AdicionarDocumento", "LegislacaoEspecifica", new { tipoDoc = ETipoDocumento.LeiOrdinaria })" clas class="btn btn-primary">
                    <i class="fa fa-file-text"></i> Lei Ordinárias
                </a>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Index", "PortariaResolucao", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label class="radio-inline">
                            <input id="portaria" name="tipoDocumento" type="radio" value="4" checked /> Portaria
                        </label>

                        <label class="radio-inline">
                            <input id="resolucao" name="tipoDocumento" type="radio" value="5" /> Resolução
                        </label>

                        <label class="radio-inline">
                            <input id="decreto" name="tipoDocumento" type="radio" value="6" /> Decreto
                        </label>

                        <label class="radio-inline">
                            <input id="leiComplementar" name="tipoDocumento" type="radio" value="7" /> Lei Complementar
                        </label>

                        <label class="radio-inline">
                            <input id="instrucaoNormativa" name="tipoDocumento" type="radio" value="8" /> Instrução Normativa
                        </label>

                        <label class="radio-inline">
                            <input id="regenciaOrgao" name="tipoDocumento" type="radio" value="9" /> Criação do Órgão
                        </label>
                        <label class="radio-inline">
                            <input id="leiOrdinaria" name="tipoDocumento" type="radio" value="10" /> Lei Ordinárias
                        </label>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label for="dataInicial">Período</label>

                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" id="dataInicial" name="dataInicial" value="01/01/@DateTime.Now.Year">

                            <div class="input-group-addon">à</div>

                            <input type="text" class="form-control" id="dataFinal" name="dataFinal" value="@DateTime.Now.Date.ToString("d")">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label for="numeroDocumento">Nº Documento</label>

                        <input class="form-control" id="numeroDocumento" name="numeroDocumento" type="number" />
                    </div>

                    <div class="col-md-12 col-sm-12 ">
                        <label for="ug" class="margin-top-15px">Unidade Administrativa</label>

                        <select class="form-control" name="ug" id="ug"></select>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <button type="button" id="btnConsultar" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    <div id="tabelaDadosContainer"></div>

    <div class="hidden" id="lglSefin">
        <a href="https://www.sefin.ro.gov.br/lista.jsp?tipo=lei&formato=108" class="btn btn-primary btn-block" target="_blank"> Clique aqui para acessa a legislação - SEFIM</a>
    </div>
</div>

<script id="templateDados" type="text/html">
    <div class="row">
        <div class="col-md-12">
            <table id="tabelaDados" class="table-condensed table-responsive" width="100%">
                {{#dados}}
                <thead class="table-striped">
                    <tr>
                        <th>{{TipoDocumento}} <small>({{OrgaoSigla}} - {{Orgao}})</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="{{LinkParaEdicao}}"> Nº {{NumeroDocumento}} / {{DataDocumento}}</a>
                            }
                            else
                            {
                                <text> Nº {{NumeroDocumento}} / {{DataDocumento}}</text>
                            }
                        </th>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <b>Assunto:</b> {{Assunto}}.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ccc">
                        <td colspan="7">
                            {{#Arquivos}}
                            <a href="{{LinkArquivo}}" class="btn btn-primary" target="_blank"><i class="fa fa-file"></i> {{NomeArquivo}}</a>
                            {{/Arquivos}}

                            {{^Arquivos}}
                            Arquivo na íntegra indisponível
                            {{/Arquivos}}
                        </td>
                    </tr>
                    {{/dados}}

                    {{^dados}}
                    <tr>
                        <td colspan="7" class="text-center">Nenhum registro encontrado!</td>
                    </tr>
                    {{/dados}}
                </tbody>
            </table>
        </div>
    </div>
</script>

@section AposFooter
{
    <script>
        var lotacao = "@Request["ug"]";
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true
        });

        CarregarLotacoes();

        function CarregarLotacoes() {
            var options = [];
            var selecionado = "";
            options = '<option value="">Selecione...</option>';
            $.get("@Url.Action("Lotacoes", "LegislacaoEspecifica")",
                function(lotacoes) {
                    for (var i = 0; i < lotacoes.length; i++) {
                        selecionado = lotacao === lotacoes[i].Id ? "selected" : "";
                        options += '<option value="' +
                            lotacoes[i].Id +
                            '" ' +
                            selecionado +
                            '>' +
                            lotacoes[i].Descricao +
                            '</option>';
                    }
                    $("#ug").html(options);
                    $("#ug").chosen();
                });
        }

        $('#btnConsultar').click(function(e) {

            if ($('#ug').val() === '4D363A3D-5806-4CAE-92F1-B70C51B421D1') {
                $('#lglSefin').removeClass('hidden');
                $('#tabelaDadosContainer').addClass('hidden');
            }
            else {
                $('#tabelaDadosContainer').removeClass('hidden');
                $('#lglSefin').addClass('hidden');
            e.preventDefault();
                processarTabela();
            }
        });

        function processarTabela() {
            var pDataInicial = $('#dataInicial').val();
            var pDataFinal = $('#dataFinal').val();
            var pNumeroDocumento = $('#numeroDocumento').val();
            var pETipoDocumento = $("input[name='tipoDocumento']:checked").val();
            var pUg = $('#ug').val();

            $("#tabelaDadosContainer")
                .html(
                    '<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');
            var elementoPai = $("#tabelaDadosContainer").parent();
            var spin = elementoPai.find('[name="spin"]');
            spin.removeClass("hidden");

            $.post('@Url.Action("Index", "LegislacaoEspecifica")',
                {
                    dataInicial: pDataInicial,
                    dataFinal: pDataFinal,
                    ug: pUg,
                    numeroDocumento: pNumeroDocumento,
                    tipoDocumento: pETipoDocumento
                }).done(function(dados) {
                var htmlRenderizado = Mustache.render($('#templateDados').html(), { "dados": dados });

                spin.addClass("hidden");

                $('#tabelaDadosContainer').html(htmlRenderizado);

            });
        }
    </script>
}