﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Infra.Model.View
@model AdicionarEditarNoticiaViewModel

@{
    ViewBag.Title = (Model ?? new AdicionarEditarNoticiaViewModel()).EncIdNoticia == new Guid().ToString("N").ToEncrypted() ? "Criar notícia" : "Editar notícia";
}

@section Head {
    <link rel="stylesheet" href="~/Content/redactor/redactor.css" />
}

@using (Html.BeginForm("AdicionarEditar", "Noticia", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EncIdNoticia)
    @Html.HiddenFor(m => m.HTMLNoticia)

    <div class="form-group">
        <label class="col-md-10 ">Título da notícia</label>

        <div class="col-md-12">
            @Html.TextBoxFor(m => m.TituloNoticia, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3">@Html.CheckBoxFor(m => m.Publicado) Disponível no portal?</label>
        <label class="col-md-4">@Html.CheckBoxFor(m => m.Popup) Aparecer no Modal PoPup?</label>
    </div>

    <div class="form-group wysiwygContainer">
        <div class="col-md-12">
            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editorNoticia">
                <div class="btn-group">
                    <a class="btn" data-edit="bold">
                        <i class="fa fa-bold"></i>
                    </a>

                    <a class="btn" data-edit="italic">
                        <i class="fa fa-italic"></i>
                    </a>
                </div>

                <div class="btn-group tamanhoFonte">
                    <a class="btn" data-edit="fontSize 2">A</a>

                    <a class="btn" data-edit="fontSize 3">A</a>

                    <a class="btn" data-edit="fontSize 5">A</a>
                </div>

                <div class="btn-group">
                    <a class="btn" data-edit="justifyleft">
                        <i class="fa fa-align-left"></i>
                    </a>

                    <a class="btn" data-edit="justifycenter">
                        <i class="fa fa-align-center"></i>
                    </a>

                    <a class="btn" data-edit="justifyright">
                        <i class="fa fa-align-right"></i>
                    </a>

                    <a class="btn" data-edit="justifyfull">
                        <i class="fa fa-align-justify"></i>
                    </a>
                </div>

                <div class="btn-group">
                    <input type="file" id="arquivoImagem" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage">
                </div>
            </div>

            <div id="editorNoticia" class="form-control"></div>
        </div>
    </div>

    <div class="col-md-12 pull-right">
        <a class="btn btn-default" href="@Url.Action("Index")">
            <i class="fa-lg fa fa-times"></i> Cancelar
        </a>

        <button type="button" class="btn btn-primary" onclick="postar()">
            <i class="fa-lg fa fa-floppy-o"></i> Salvar
        </button>
    </div>
}

@section AposFooter{
    <script src="~/scripts/bootstrap-wysiwyg.js"></script>
    <style>
        #editorNoticia {
            overflow: scroll;
            height: 300px !important;
            margin-top: 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#editorNoticia').wysiwyg();
            $('#editorNoticia').html('@(Html.Raw(Model?.HTMLNoticia))');
        });

        function postar() {
            if ($('#@Html.IdFor(m => m.TituloNoticia)').val() == '') {
                alert('O título da notícia não pode estar vazio!');
                return false;
            }
            if ($('#editorNoticia').html() == '') {
                alert('A notícia não pode estar vazia!');
                return false;
            }
            $('#@Html.IdFor(m => m.HTMLNoticia)').val($('#editorNoticia').html());
            $('form').submit();
        }



        /*1. simple initialization*/
        $("#editorNoticia").wysiwygResize({ selector: "div, td, h1, h3" });

        /*2. initialization with callbacks configuration*/
        $("#editorNoticia")
            .wysiwygResize(
            {
                /*simple jquery selector*/
                selector: "div, td, h1, h3",
                beforeElementSelect: function (img) {
                },
                afterResize: function (img) {
                },
                beforeResizeStart: function (img) {
                },
                afterElementSelect: function (img) {
                },
                afterRefresh: function () {
                    /*Fires when resize elements are refreshed*/
                },
                afterReset: function () {
                    /*Fires when resize elements are removed*/
                }
            });

        /*3. initialization with webkitresize plugin*/
        if ($.browser.webkit) {
            //make sure if it's a webkit browser you don't include the td element into the wysiwygResize selector option.
            $("#editorNoticia").wysiwygResize({
                selector: "div, h1, h3"
            }).webkitimageresize().webkittableresize().webkittdresize();
        }
        else {
            $("#editorNoticia").wysiwygResize({
                selector: "div, td, h1, h3",
            });
        }

    </script>

}