﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Web.Controllers
@{
    ViewBag.Title = "Notícias";
    var campos = new List<CampoFormulario>()
    {
        new CampoPeriodo
        {
            Linha = 1,
            ColMD = 12,
            ValorDataInicial = DateTime.Now.AddMonths(-1),
            ValorDataFinal = DateTime.Now
        }
    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
}

<div class="container-fluid">
    <div class="row bottomMargin">
        <div class="col-md-12">
            <button class="btn btn-primary" onclick="document.location = '@Url.Action(nameof(NoticiaController.AdicionarEditar))'"><span class="fa fa-file-text"></span>&nbsp;Nova notícia</button>
        </div>
    </div>
</div>

@Html.FormularioParametros(campos)
@Html.MontarMetodoChamadaPostComDados(campos, "/Noticia", "POST", "consultarDados", "templateDados", "tabelaDadosContainer", "tabelaDados", true, true, "{\"ordering\": false, \"colunaOrdenacao\": 2, \"tipoOrdenacao\": \"desc\"}")

<div id="tabelaDadosContainer">

</div>
<script id="templateDados" type="text/html">
    <table id="tabelaDados" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Título da notícia</th>
                <th>Criação</th>
                <th>Usuário editor</th>
                <th>Última atualização</th>
                <th>Publicado?</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td><a href="@(Url.Action("AdicionarEditar"))?pEncId={{EncNoticiaId}}" })">{{Titulo}}</a></td>
                <td>{{DataCriacao}}</td>
                <td>{{UsuarioEditor}}</td>
                <td>{{DataUltimaAtualizacao}}</td>
                <td>{{#Publicado}}Sim{{/Publicado}}{{^Publicado}}Não{{/Publicado}}</td>
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="3">Nenhum registro encontrado!</td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>

