﻿@using TransparenciaRO.Infra.Model.View
@model AdicionarEditarNoticiaViewModel

@{
    ViewBag.Title = Model.TituloNoticia;
}
<div class="row">
    <div class="col-md-12">
        <p><i>Última atualização: @Model.DataUltimaAtualizacao</i></p>
    </div>
</div>
<div class="row" id="containerNoticia">
    <div class="col-md-12">@Html.Raw(Model.HTMLNoticia)</div>
</div>




