﻿@model TransparenciaRO.Infra.Model.View.DadosLicitacao.IndexDadosLicitacaoViewModel

@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Contratos emergenciais - COVID 19 (Com Alterações)";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}

<html>
<head>
    <title>@ViewBag</title>
</head>

<body>
    @Html.Partial("Partials\\_Filtro", Model.Filtro)

    <div id="tabela">
        @Html.Partial("Partials\\_TabelaAditivados", Model.Licitacoes);
    </div>

    <script type="text/javascript">
        $(function Filtrar() {
            $("#formFiltro").submit(function (e) {
                e.preventDefault();

                let form = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FiltrarAditivados")",
                    data: form,
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#tabela').html(response);
                    },
                    error: function (data) {
                        console.error(data);
                        alert("Erro, ao Filtrar Dados Aditivados");
                        $('#tabela').html('<div class="alert alert-info text-center"><i class= "fa fa-info-circle" ></i > Nenhum resultado encontrado.</div >');
                    }
                });
            });
        });
    </script>
</body>
</html>

