﻿@model TransparenciaRO.Infra.Model.View.DadosLicitacao.IndexDadosLicitacaoViewModel

@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Contratos emergenciais - COVID 19";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}

<html>
<head>
    <title>@ViewBag</title>
</head>


<body>

    @Html.Partial("Partials\\_Informativo")

    <div class="row">
        <div class="col-xs-6">
            <a href="@Url.Action("Pendentes","DadosLicitacao")" class="btn btn-block btn-warning" style="margin-bottom: 15px"><i class="fa fa-clock-o" aria-hidden="true"></i> Contratos pendentes</a>
        </div>
        <div class="col-xs-6">
            <a href="@Url.Action("Aditivados","DadosLicitacao")" class="btn btn-block btn-warning" style="margin-bottom: 15px"><i class="fa fa-plus-circle" aria-hidden="true"></i> Alterações de contratos</a>
        </div>        
    </div>

    @Html.Partial("Partials\\_Filtro", Model.Filtro)

    <div id="tabela">
        @Html.Partial("Partials\\_Tabela", Model.Licitacoes);
    </div>

    <script type="text/javascript">
        $(function Filtrar() {
            $("#formFiltro").submit(function (e) {
                e.preventDefault();

                let form = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Filtrar")",
                    data: form,
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#tabela').html(response);
                    },
                    error: function (data) {
                        console.error(data);

                        alert("Erro, ao Filtrar Dados");
                    }
                });
            });
        });
    </script>
</body>
</html>

