﻿@model TransparenciaRO.Infra.Model.View.DadosLicitacao.IndexDadosLicitacaoViewModel

@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Contratos emergenciais - COVID 19 (com Pendências na Entrega e/ou Execução)";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}

<html>
<head>
    <title>@ViewBag</title>
</head>
<body>

    @Html.Partial("Partials\\_Filtro", Model.Filtro)

    <div id="tabela">
        @Html.Partial("Partials\\_TabelaPendentes", Model.Licitacoes);
    </div>

    <script type="text/javascript">
        $(function Filtrar() {
            $("#formFiltro").submit(function (e) {
                e.preventDefault();

                let form = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FiltrarPendentes")",
                    data: form,
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#tabela').html(response);
                    },
                    error: function (data) {
                        console.error(data);


                        alert("Erro, Ao realizar Filtro . Caso o problema persista entrar em contato: transparencia.cge.ro@gmail.com ");
                    }
                });
            });
        });
    </script>
</body>
</html>

