﻿@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.FornecedorImpedido>

<table id="tabelaImpedimentoFornecedores" class="table table-hover" width="100%">
    <thead>
        <tr>
            <th>Código</th>
            <th>CPF / CNPJ</th>
            <th>Nome</th>
            <th>Processo</th>
            <th>Publicação</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fornecedoImpedido in Model)
        {
            <tr>
                <td>@fornecedoImpedido.Codigo</td>
                <th>@fornecedoImpedido.Fornecedor.CpfCnpj</th>
                <th class="text-uppercase">@fornecedoImpedido.Fornecedor.RazaoSocial</th>
                <th>@fornecedoImpedido.NumeroProcesso</th>
                <th>
                    @if (fornecedoImpedido.DataPublicacao != null)
                    {
                        @fornecedoImpedido.DataPublicacao.Value.ToString("d")
                    }
                </th>
                <th>
                    <a href="@Url.Action("EditarImpedimento", "Fornecedor", new { fornecedoImpedido.FornecedorImpedidoId })" class="btn btn-warning">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                </th>
            </tr>
        }
    </tbody>
</table>