﻿@using TransparenciaRO.Infra.Utils
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.Fornecedor>

<fieldset>
    <legend>Fornecedores</legend>

    <table id="tabelaFornecedores" class="table table-hover" width="100%">
        <thead>
            <tr>
                <th>Nome / Razão Social</th>
                <th>CPF / CNPJ</th>
                <th>Cidade / UF</th>
                <th>Endereço</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fornecedor in Model)
            {
                <tr>
                    <td>@fornecedor.RazaoSocial</td>
                    <td>@fornecedor.CpfCnpj</td>
                    <td>
                        @if (fornecedor.Cidade != null)
                        {
                            @fornecedor.Cidade.Nome
                            @Html.Raw(" / ")
                            @fornecedor.Uf
                        }
                    </td>
                    <td>@fornecedor.Endereco</td>
                    <td>
                        <a href="@Url.Action("EditarFornecedor", "Fornecedor", new {fornecedorId = CriptografiaUtils.Encrypt(fornecedor.FornecedorId.ToString())})" class="btn btn-warning">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>