﻿@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.SocioFornecedor>

<fieldset>
    <legend>Sócios</legend>

    <table id="tabelaSocioFornecedor" class="table table-striped table-hover table-bordered" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th id="colunaRemoverTh">
                    Remover
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var socio in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => socio.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => socio.Cpf)
                    </td>
                    <td id="colunaRemoverTd">
                        <a class="btn btn-danger" href="@Url.Action("RemoverSocio", "Fornecedor", new { socioFornecedorId = socio.SocioFornecedorId })">
                        <i class="fa fa-trash-o"></i> Remover
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
