﻿@using TransparenciaRO.Web.HTMLHelper
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.SocioFornecedor

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Sócios</h2>

    <label>Campos obrigatórios<i class="text-danger">*</i></label>

    <fieldset>
        <legend>Fornecedor Impedido</legend>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 text-right" for="@Html.IdFor(x => x.ImpedirFornecedor.Codigo)">
                Código Impedimento<i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EditorFor(model => model.ImpedirFornecedorCodigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImpedirFornecedorCodigo, "", new { @class = "text-danger" })
            </div>

            <label class="control-label col-md-1 text-right" for="@Html.IdFor(x => x.ImpedirFornecedor.Fornecedor.RazaoSocial)">
                Razão Sócial
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EditorFor(model => model.ImpedirFornecedor.Fornecedor.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </fieldset>

    @using (Html.BeginForm("AdicionarSocio", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ImpedirFornecedorId)
        @Html.HiddenFor(x => x.ImpedirFornecedorCodigo)

        <fieldset>
            <legend>Adicionar Sócio</legend>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 text-right" for="@Html.IdFor(x => x.Nome)">
                    Nome<i class="text-danger">*</i>
                </label>

                <div class="col-md-2 col-sm-3">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>

                <label class="control-label col-md-1 col-sm-3" for="@Html.IdFor(x => x.Cpf)">
                    CPF<i class="text-danger">*</i>
                </label>

                <div class="col-md-2 col-sm-3">
                    @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-users"></i> Adicionar Sócio
                </button>

                <a id="Limpar" class="btn btn-default" href="@Url.Action("AdicionarSocio", "Fornecedor")">
                    <i class="fa fa-eraser"></i> Limpar
                </a>

                <a class="btn btn-default" href="@Url.Action("AdicionarImpedimento", "Fornecedor")">
                    <i class="fa fa-hand-paper-o"></i> Impedimentos
                </a>
            </div>
        </fieldset>
    }

    <div id="ListSocioFornecedor" class="container-fluid"></div>
</div>

@section AposFooter{
    <script src="~/scripts/jquery.mask.min.js"></script>
    <script>
        $("#@Html.IdFor(s => s.ImpedirFornecedorCodigo)").change(function () {
            var cod = $("#@Html.IdFor(s => s.ImpedirFornecedorCodigo)").val();
            carregarSocios(cod);
        });

        if ('@(TempData["CodigoImpedimento"])' != null) {
            var cod = '@(TempData["CodigoImpedimento"])';
            carregarSocios(cod);
        }

        function carregarSocios(cod) {
            if (cod != null) {
                $.get("@Url.Action("ListaSocios", "Fornecedor")", { codigoImpedimento: cod }).done(function (dados) {
                    $("#ListSocioFornecedor").html(dados);
                    $("#tabelaSocioFornecedor").dataTablePadrao({});
                });

                $.get("@Url.Action("ConverteViewModel", "Fornecedor")", { codigoImpedimento: cod }).done(function (dados) {
                    $(dados).each(function (i, v) {
                        $(@Html.IdFor(s => s.ImpedirFornecedor.Fornecedor.RazaoSocial)).val(v.RazaoSocial);
                        $(@Html.IdFor(s => s.ImpedirFornecedorId)).val(v.ImpedirFornecedorId);
                        $(@Html.IdFor(s => s.ImpedirFornecedorCodigo)).val(v.Codigo);
                    });
                });
            }
        }

        $(document).ready(function () {
            $("#@Html.IdFor(x => x.Cpf)").mask("000.000.000-00", { placeholder: "000.000.000-00" });
        });
    </script>
}


