﻿@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Web.HTMLHelper
@model TransparenciaRO.Infra.Model.View.FornecedorViewModel

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@{
    ViewBag.Title = "Adicionar Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <label>
        Campos obrigatórios <i class="text-danger">*</i>
    </label>

    @using (Html.BeginForm("AdicionarFornecedor", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.RazaoSocial)">
                Razão Social
                <i class="text-danger">*</i>
            </label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.TipoPessoa)">
                Tipo Pessoa
                <i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EnumDropDownListFor(model => model.TipoPessoa, "Selecione...", new { @class = "form-control", value = "" })
                @Html.ValidationMessageFor(model => model.TipoPessoa, "", new { @class = "text-danger" })
            </div>

            <label id="labelCpfCnpj" class="control-label col-md-1 col-sm-3" for="@Html.IdFor(f => f.CpfCnpj)"></label>

            <div class="col-md-2 col-sm-3">
                @Html.EditorFor(model => model.CpfCnpj, new { htmlAttributes = new { @class = "form-control cpf", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CpfCnpj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Uf)">
                UF <i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EnumDropDownListFor(model => model.Uf, "Selecione...", htmlAttributes: new { @class = "form-control", value = "" })
                @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
            </div>

            <label class="control-label col-md-1 col-sm-3" for="@Html.IdFor(f => f.CidadeId)" placeholder="Selecione...">
                Cidade <i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                <select id="CidadeId" name="CidadeId" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Endereco)">
                Endereço <i class="text-danger">*</i>
            </label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("AdicionarImpedimento", "Fornecedor")" class="btn btn-default">
                        <i class="fa fa-close"></i> Cancelar
                    </a>
                }
                else
                {
                    <a href="@Url.Action("EmitirCertidao", "Fornecedor")" class="btn btn-default">
                        <i class="fa fa-close"></i> Cancelar
                    </a>
                }

                <button id="salvar" class="btn btn-primary">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    }
</div>

@if (User.Identity.IsAuthenticated && ViewBag.EditarFornecedores)
{
    <hr />

    <h3>Pesquisar Fornecedores</h3>

    <div id="mensagem"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>Nome / Razão Social</label>

                <input class="form-control" id="PesquisaRazaoSocial" name="PesquisaRazaoSocial" />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>CPF / CNPJ</label>

                <input class="form-control" id="PesquisaCpfCnpj" name="PesquisaCpfCnpj" />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" class="btn btn-primary btn-block margin-top-25px margin-bottom-15px" id="btnPesquisar" name="btnPesquisar">
                    <i class="fa fa-search"></i> Pesquisar
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="tabelaContainer" class="col-md-12"></div>
        </div>
    </div>
}

@section AposFooter {
    <script id="templateFornecedores" type="text/html">
        <table class="table table-striped" id="tabelaFornecedores" width="100%">
            <thead>
                <tr>
                    <th>Nome / Razão Social</th>
                    <th>CPF / CNPJ</th>
                    <th>Cidade / UF</th>
                    <th>Endereço</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td class="text-uppercase">{{RazaoSocial}}</td>
                    <td>{{CpfCnpj}}</td>
                    <td>{{Cidade}} / {{Uf}}</td>
                    <td class="text-uppercase">{{Endereco}}</td>
                    <td>
                        <a href="/Fornecedor/EditarFornecedor?fornecedorId={{FornecedorId}}" class="btn btn-warning">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                    </td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr>
                    <td colspan="5" class="text-center">Nenhum registro encontrado!</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>

    <script>
        $(document).on("change", "#@Html.IdFor(x => x.TipoPessoa)", function () {
            var val = $("#@Html.IdFor(x => x.TipoPessoa)").val();
            if (val === "0") {
                $("#@Html.IdFor(x => x.CpfCnpj)").attr("disabled", "disabled").empty();
                $("#labelCpfCnpj").empty();
            } else if (val === "1") {
                $("#@Html.IdFor(x => x.CpfCnpj)").removeAttr("disabled");
                $("#CpfCnpj").mask('000.000.000-00', { placeholder: "000.000.000-00" });
                $("#labelCpfCnpj").html('CPF <i class="text-danger">*</i>');
            } else {
                $("#@Html.IdFor(x => x.CpfCnpj)").removeAttr("disabled");
                $("#@Html.IdFor(x => x.CpfCnpj)").mask("00.000.000/0000-00", { placeholder: "00.000.000/0000-00" });
                $("#labelCpfCnpj").html('CNPJ <i class="text-danger">*</i>');
            }
        });

        $(document).on("change", "#Uf", function () {
            var estado = $("#Uf").val();
            var options = '<option value="">Selecione...</option>';
            if (estado != null && estado !== 0) {
                $.get("@Url.Action("ListaCidade", "Fornecedor")", { estadoId: estado }).done(function (dados) {
                    $(dados)
                        .each(function (i, v) {
                            options += '<option value="' + v.CidadeId + '">' + v.Nome + '</option>';
                            console.log(v);
                        });
                    $("#CidadeId").html(options);
                });
            }
        });

        $("#btnPesquisar").click(function () {
            if ($("#PesquisaRazaoSocial").val() !== "" || $("#PesquisaCpfCnpj").val() !== "") {
                $.get("@Url.Action("Fornecedores", "Fornecedor")", { razaoSocial: $("#PesquisaRazaoSocial").val(), cpfCnpj: $("#PesquisaCpfCnpj").val() }, function (dados) {
                    var template = $('#templateFornecedores').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaFornecedores").dataTablePadrao();
                });
            } else {
                $("#mensagem").html('<div class="alert alert-danger alert-dismissible" role="alert" id="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Erro! </strong>Informe a Razão Social ou CPF / CNPJ</div>');
                $("#alert").fadeTo(1000, 500).slideUp(500, function () {
                    $("#alert").slideUp(500);
                });
            }
        });
    </script>
}