﻿@using System.Data.Entity.Core.Common.EntitySql
@using TransparenciaRO.Web.HTMLHelper
@model TransparenciaRO.Infra.Model.View.FornecedorImpedidoViewModel

@section Head{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script type="text/javascript" src="~/scripts/dataTable.es5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <a href="@Url.Action("AdicionarFornecedor", "Fornecedor")" target="_blank" class="btn btn-primary">
        <i class="fa fa-truck"></i> Adicionar Fornecedor
    </a>

    <h2>Impedir Fornecedores</h2>

    <label>
        Campos obrigatórios <i class="text-danger">*</i>
    </label>

    @using (Html.BeginForm("AdicionarImpedimento", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.FornecedorId)
        @Html.HiddenFor(x => x.FornecedorImpedidoId)
        @Html.HiddenFor(x => x.Codigo)

        <fieldset>
            <legend>Fornecedor</legend>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Fornecedor.TipoPessoa)">
                    Tipo\Documento <i class="text-danger">*</i>
                </label>

                <div class="col-md-2 col-sm-3">
                    @Html.EnumDropDownListFor(model => model.Fornecedor.TipoPessoa, "Selecione...", new { @class = "form-control", value = "" })
                </div>

                <label style="font-size: x-large" class="col-md-1 col-sm-3 text-center">\</label>

                <div class="col-md-2 col-sm-3">
                    @Html.EditorFor(model => model.Fornecedor.CpfCnpj, new { htmlAttributes = new { @class = "form-control cpf", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fornecedor.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                <div class="col-md-5 col-sm-9">
                    @Html.EditorFor(model => model.Fornecedor.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2 col-sm-3">
                    <label>Endereço</label>
                </div>

                <div class="col-md-5 col-sm-9">
                    @Html.EditorFor(model => model.Fornecedor.Endereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Penalidades</legend>

            <div id="mensagem"></div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.NumeroProcesso)">
                    Número do processo <i class="text-danger">*</i>
                </label>

                <div class="col-md-2 col-sm-3">
                    @Html.EditorFor(model => model.NumeroProcesso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumeroProcesso, "", new { @class = "text-danger" })
                </div>

                <label class="control-label col-md-1 col-sm-3" for="@Html.IdFor(f => f.Sancao)">
                    Sanção <i class="text-danger">*</i>
                </label>

                <div class="col-md-2 col-sm-3">
                    @Html.EnumDropDownListFor(model => model.Sancao, "Selecione...", new { @class = "form-control", valeu = "null" })
                    @Html.ValidationMessageFor(model => model.Sancao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Codigo)">Código Impedimento</label>

                <div class="col-md-2 col-sm-3">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>

                <label class="control-label col-md-1 col-sm-3" for="DataPublicacao">
                    Publicação<i class="text-danger">*</i>
                </label>

                <div class="col-md-2 col-sm-3 input-daterange">
                    <input type="text" class="form-control" name="DataPublicacao" id="DataPublicacao" value="@DateTime.Today.ToString("d")" />
                    @Html.ValidationMessageFor(model => model.DataPublicacao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="txtDataInicial" class="control-label col-md-2 col-sm-3">
                    Período de punição <i class="text-danger">*</i>
                </label>

                <div class="col-md-5 col-sm-9">
                    <div class="input-daterange input-group" id="periodo">
                        <input id="DataInicio" name="DataInicio" type="text" class="form-control" value="@DateTime.Today.ToString("d")" />
                        @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })

                        <span class="input-group-addon">à</span>

                        <input type="text" class="form-control" name="DataFinal" id="DataFinal" value="@DateTime.Today.ToString("d")" />
                        @Html.ValidationMessageFor(model => model.DataFinal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="PenasEventuais">Penas Eventuais</label>

                <div class="col-md-5 col-sm-9">
                    @Html.EditorFor(model => model.PenasEventuais, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Informe penas eventuais que não constam da sanção" } })
                    @Html.ValidationMessageFor(model => model.PenasEventuais, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="OrgaoSiafemId">
                    Unidade Gestora <i class="text-danger">*</i>
                </label>

                <div class="col-md-5 col-sm-9">
                    @Html.DropDownListFor(model => model.UnidadeGestoraId, (SelectList)ViewBag.UnidadeGestoraList, "Selecione...", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UnidadeGestoraId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="InformacaoPublica">Informações Públicas</label>

                <div class="col-md-5 col-sm-9">
                    @Html.EditorFor(model => model.InformacaoPublica, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Informações públicas visíveis na internet" } })
                    @Html.ValidationMessageFor(model => model.InformacaoPublica, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3" for="ObservacaoInterna">Observações Internas</label>

                <div class="col-md-5 col-sm-9">
                    @Html.EditorFor(model => model.ObservacaoInterna, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Observações visíveis internamente" } })
                    @Html.ValidationMessageFor(model => model.ObservacaoInterna, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 btn-group col-md-7">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Salvar
                </button>

                <button id="Limpar" type="reset" class="btn btn-default">
                    <i class="fa fa-eraser"></i> Limpar
                </button>

                <a class="btn btn-default" href="@Url.Action("AdicionarSocio", "Fornecedor")">
                    <i class="fa fa-users"></i> Sócios
                </a>
            </div>
        </div>
    }

    <fieldset>
        <legend>Lista Fornecedores Impedidos</legend>

        <div id="ListFornecedorImpedidos">
            @Html.Action("ListaFornecedorImpedido", "Fornecedor")
        </div>
    </fieldset>
</div>

@section AposFooter{
    <script src="~/scripts/jquery.mask.min.js"></script>
    <script>
        $(document).on("change", "#@Html.IdFor(x => x.Fornecedor.TipoPessoa)", function () {
            var val = $("#@Html.IdFor(x => x.Fornecedor.TipoPessoa)").val();
            if (val === "0") {
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").attr("readonly", "readonly");
            } else if (val === "1") {
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").removeAttr("readonly");
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").mask("000.000.000-00", { placeholder: "000.000.000-00" });
            } else {
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").removeAttr("readonly");
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").mask("00.000.000/0000-00", { placeholder: "00.000.000/0000-00" });
            }
        });

        $("#Limpar").click(function () {
            $.get("@Url.Action("AdicionarImpedimento", "Fornecedor")");
        });

        $("#@Html.IdFor(f => f.Fornecedor.CpfCnpj)").change(function () {
            var cpfCnpj = $("#@Html.IdFor(f => f.Fornecedor.CpfCnpj)").val();
            if (cpfCnpj != null) {
                $.get("@Url.Action("Fornecedor", "Fornecedor")", { cpfCnpj: cpfCnpj })
                    .done(function (dados) {
                        $(dados)
                            .each(function (i, v) {
                                $(@Html.IdFor(f => f.Fornecedor.RazaoSocial)).val(v.RazaoSocial);
                                $(@Html.IdFor(f => f.FornecedorId)).val(v.FornecedorId);
                                $(@Html.IdFor(f => f.Fornecedor.Endereco)).val(v.Endereco);
                            });
                    });
            }
        });

        var typingTimer; //timer identifier
        var doneTypingInterval = 1000; //time in ms, 5 second for example

        //On keyup, start the countdown
        $("#@Html.IdFor(f => f.NumeroProcesso)").keyup(function () {
            clearTimeout(typingTimer);
            if ($("#@Html.IdFor(f => f.NumeroProcesso)").val) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //User is "finished typing," do something
        function doneTyping() {
            $.get("@Url.Action("VerificarSeContemImpedimento", "Fornecedor")", { numeroProcecesso: $("#@Html.IdFor(f => f.NumeroProcesso)").val(), cpfCnpj: $("#@Html.IdFor(f => f.Fornecedor.CpfCnpj)").val(), fornecedorImpedidoId: $("#@Html.IdFor(f => f.FornecedorImpedidoId)").val() })
                .done(function (dados) {
                    if (dados) {
                        $("#mensagem").html('<div class="alert alert-danger alert-dismissible" role="alert" id="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Este impedimento já está registrado!</strong></div>');
                    }
                });
        }

        $(document).ready(function () {
            $('.input-daterange')
                .datepicker({
                    language: "pt-BR",
                    format: "dd-mm-yyyy"
                });

            $("#tabelaImpedimentoFornecedores").dataTablePadrao({});
        });
    </script>
}