﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.FornecedorImpedido

@{
    ViewBag.Title = "Detalhar Impedimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>Nome/Razão social</dt>
        <dd>@Model.Fornecedor.RazaoSocial</dd>

        <dt>Inicio da penalidade</dt>
        <dd>@Model.DataInicio.ToString("d")</dd>

        <dt>Termino da penalidade</dt>
        <dd>@Model.DataFinal.ToString("d")</dd>

        <dt>Número do processo</dt>
        <dd>@Model.NumeroProcesso</dd>

        <dt>Publicado</dt>
        <dd>
            @if (Model.DataPublicacao != null)
            {
                @Model.DataPublicacao.Value.ToString("d")
            }
        </dd>

        <dt>Penas eventuais</dt>
        <dd>@Model.PenasEventuais</dd>

        <dt>Unidade gestora</dt>
        <dd>@Model.UnidadeGestora.nomeUG</dd>

        <dt>Informações adicionais</dt>
        <dd>@Model.InformacaoPublica</dd>
    </dl>

    <a href="@Url.Action("DetalhesFornecedoresImpedidos", "Fornecedor")" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> Voltar
    </a>
</div>

@section AposFooter{
    <script src="~/scripts/jquery.mask.min.js"></script>
    <script>
        var cod = @Model.Codigo;
        if (cod != null) {
            $.get("@Url.Action("ConverteViewModel", "Fornecedor")", { codigoImpedimento: cod })
                .done(function(dados) {
                    $(dados);
                });
        }
    </script>
}