﻿@model TransparenciaRO.Infra.Model.View.FornecedorViewModel

@{
    ViewBag.Title = "Atualizar Dados do Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditarFornecedor", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <text>
        <input type="hidden" name="@Html.NameFor(f => f.FornecedorId)" id="@Html.IdFor(f => f.FornecedorId)" value="@Model.FornecedorId.ToString()" />
    </text>
    @Html.HiddenFor(f => f.TipoPessoa)
    @Html.HiddenFor(f => f.CpfCnpj)

    <div class="container-fluid">
        <label>
            Campos obrigatórios<i class="text-danger">*</i>
        </label>

        <div class="form-group">
            <label id="labelCpfCnpj" class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.CpfCnpj)">
                @(Model.CpfCnpj.Length <= 14 ? Html.Raw("CPF") : Html.Raw("CNPJ"))
            </label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.CpfCnpj, new { htmlAttributes = new { @class = "form-control cpf", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CpfCnpj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.RazaoSocial)">
                Razão Social<i class="text-danger">*</i>
            </label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
                @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Uf)">
                UF<i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EnumDropDownListFor(model => model.Uf, "Selecione...", htmlAttributes: new { @class = "form-control", value = "" })
                @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
            </div>

            <label class="control-label col-md-1 col-sm-3" for="@Html.IdFor(f => f.CidadeId)" placeholder="Selecione...">
                Cidade<i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                <select id="CidadeId" name="CidadeId" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Endereco)">
                Endereço <i class="text-danger">*</i>
            </label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("EmitirCertidao", "Fornecedor")" class="btn btn-default">
                    <i class="fa fa-close"></i> Cancelar
                </a>

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>
}

@section AposFooter {
    <script>
        $(document).on("change", "#Uf", function () {
            carregarCidades();
        });
        function carregarCidades(idCidade) {
            var estado = $("#Uf").val();
            var options = '<option value="">Selecione...</option>';
            if (estado != null && estado !== 0) {
                $.get("@Url.Action("ListaCidade", "Fornecedor")", { estadoId: estado }).done(function (dados) {
                    $(dados)
                        .each(function (i, v) {
                            options += '<option value="' + v.CidadeId + '">' + v.Nome + '</option>';                            
                        });
                    $("#CidadeId").html(options);
                    if (idCidade)
                    {
                        $('#CidadeId').val(idCidade);
                    }
                });
            }
        }
        $(document).ready(function () {
            carregarCidades(@Html.Raw(Model.CidadeId != null ? "'" + Model.CidadeId.ToString() + "'" : ""));
        });
    </script>
}