﻿@model TransparenciaRO.Infra.Model.View.FornecedorImpedidoViewModel

@section Head{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.standalone.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Impedir Fornecedores</h2>

<label>
    Campos obrigatórios<i class="text-danger">*</i>
</label>

@using (Html.BeginForm("EditarImpedimento", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(f => f.FornecedorId)
    @Html.HiddenFor(f => f.FornecedorImpedidoId)
    @Html.HiddenFor(f => f.Codigo)
    @Html.HiddenFor(f => f.DataInclusao)

    <div id="mensagem"></div>

    <fieldset>
        <legend>Fornecedor</legend>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Fornecedor.TipoPessoa)">
                Tipo\Documento <i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                <label class="control-label col-md-2 col-sm-3">@Html.Raw(Model.Fornecedor.CpfCnpj.Length <= 11 ? "Física" : "Jurídica")</label>
            </div>

            <label style="font-size: x-large" class="col-md-1 col-sm-3 text-center">\</label>

            <div class="col-md-2 col-sm-3">
                @Html.EditorFor(model => model.Fornecedor.CpfCnpj, new { htmlAttributes = new { @class = "form-control cpf", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fornecedor.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.Fornecedor.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2 col-sm-3">
                <label>Endereço</label>
            </div>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.Fornecedor.Endereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Penalidades</legend>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Codigo)">Código Impedimento</label>

            <div class="col-md-2 col-sm-3">
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>

            <label class="control-label col-md-1 col-sm-3" for="@Html.IdFor(f => f.NumeroProcesso)">
                Processo<i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EditorFor(model => model.NumeroProcesso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroProcesso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="@Html.IdFor(f => f.DataInicio)" class="control-label col-md-2 col-sm-3">
                Data inicial<i class="text-danger">*</i>
            </label>

            <div class="col-md-5 col-sm-9">
                <div class="input-daterange input-group" id="periodo">
                    <input id="DataInicio" name="DataInicio" type="text" class="form-control" value="@Model.DataInicio.ToString("d")" />
                    @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                    <span class="input-group-addon">à</span>
                    <input type="text" class="form-control" name="DataFinal" id="DataFinal" value="@Model.DataFinal.ToString("d")" />
                    @Html.ValidationMessageFor(model => model.DataFinal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.Sancao)">
                Sanção<i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3">
                @Html.EnumDropDownListFor(model => model.Sancao, "Selecione...", new { @class = "form-control", valeu = "null" })
                @Html.ValidationMessageFor(model => model.Sancao, "", new { @class = "text-danger" })
            </div>

            <label class="control-label col-md-1 col-sm-3" for="DataPublicacao">
                Publicação<i class="text-danger">*</i>
            </label>

            <div class="col-md-2 col-sm-3 input-daterange">
                <input type="text" class="form-control" name="DataPublicacao" id="DataPublicacao" value="@Model.DataPublicacao.ToString("d")" />
                @Html.ValidationMessageFor(model => model.DataPublicacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.PenasEventuais)">Penas Eventuais</label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.PenasEventuais, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Informe penas eventuais que não constam da sanção" } })
                @Html.ValidationMessageFor(model => model.PenasEventuais, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.UnidadeGestoraId)">
                Unidade Gestora <i class="text-danger">*</i>
            </label>

            <div class="col-md-5 col-sm-9">
                @Html.DropDownListFor(model => model.UnidadeGestoraId, (SelectList)ViewBag.UnidadeGestoraList, "Selecione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnidadeGestoraId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.InformacaoPublica)">Informações Públicas</label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.InformacaoPublica, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Informações públicas visíveis na internet" } })
                @Html.ValidationMessageFor(model => model.InformacaoPublica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(f => f.ObservacaoInterna)">Observações Internas</label>

            <div class="col-md-5 col-sm-9">
                @Html.EditorFor(model => model.ObservacaoInterna, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Observações visíveis internamente" } })
                @Html.ValidationMessageFor(model => model.ObservacaoInterna, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-7 btn-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i> Salvar
            </button>

            <button id="Limpar" type="reset" class="btn btn-default">
                <i class="fa fa-eraser"></i> Limpar
            </button>

            <a class="btn btn-default" href="@Url.Action("AdicionarSocio", "Fornecedor")">
                <i class="fa fa-users"></i> Sócios
            </a>
        </div>
    </div>
}

@section AposFooter{
    <script src="~/scripts/jquery.mask.min.js"></script>
    <script>
        $(document).on("change", "#@Html.IdFor(x => x.Fornecedor.TipoPessoa)", function () {
            var val = $("#@Html.IdFor(x=>x.Fornecedor.TipoPessoa)").val();
            if (val === "0") {
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").attr("readonly", "readonly");
            } else if (val === "1") {
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").removeAttr("readonly");
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").mask("000.000.000-00", { placeholder: "000.000.000-00" });
            } else {
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").removeAttr("readonly");
                $("#@Html.IdFor(x => x.Fornecedor.CpfCnpj)").mask("00.000.000/0000-00", { placeholder: "00.000.000/0000-00" });
            }
        });

        $("#Limpar").click(function () {
            $(location).attr("href", "@Url.Action("AdicionarImpedimento", "Fornecedor")");
        });

        $("#@Html.IdFor(f=>f.Fornecedor.CpfCnpj)").change(function () {
            var cpfCnpj = $("#@Html.IdFor(f => f.Fornecedor.CpfCnpj)").val();
            if (cpfCnpj != null) {
                $.get("@Url.Action("Fornecedor", "Fornecedor")", { cpfCnpj: cpfCnpj }).done(function (dados) {
                    $(dados).each(function (i, v) {
                        $(@Html.IdFor(f=>f.Fornecedor.TipoPessoa)).val(v.TipoPessoa);
                        $(@Html.IdFor(f=>f.Fornecedor.RazaoSocial)).val(v.RazaoSocial);
                        $(@Html.IdFor(f => f.FornecedorId)).val(v.FornecedorId);
                        $(@Html.IdFor(f => f.Fornecedor.Endereco)).val(v.Endereco);
                    });
                });
            }
        });

        var typingTimer; //timer identifier
        var doneTypingInterval = 1000; //time in ms, 5 second for example

        //On keyup, start the countdown
        $("#@Html.IdFor(f => f.NumeroProcesso)").keyup(function () {
            clearTimeout(typingTimer);
            if ($("#@Html.IdFor(f => f.NumeroProcesso)").val) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //User is "finished typing," do something
        function doneTyping() {
            $.get("@Url.Action("VerificarSeContemImpedimento", "Fornecedor")", { numeroProcecesso: $("#@Html.IdFor(f => f.NumeroProcesso)").val(), cpfCnpj: $("#@Html.IdFor(f => f.Fornecedor.CpfCnpj)").val(), fornecedorImpedidoId: $("#@Html.IdFor(f => f.FornecedorImpedidoId)").val() })
                .done(function (dados) {
                    if (dados) {
                        $("#mensagem").html('<div class="alert alert-danger alert-dismissible" role="alert" id="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Este impedimento já está registrado!</strong></div>');
                    }
                });
        }

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                language: "pt-BR",
                format: "dd-mm-yyyy"
            });
        });
    </script>
}