﻿@section Head {
    <link href="~/Content/bootstrap-datetimepicker-build.min.css" rel="stylesheet" />
    <style>.input-daterange input { text-align: left }</style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
}

@{
    ViewBag.Title = "Autenticar Certidão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AutenticarCertidao", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal container-fluid" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div id="inputRadio" class="form-group col-md-6 col-sm-9">
            <label for="Cpf">CPF</label>
            <input type="radio" id="Cpf" name="CpfCnpjRadio" value="CPF" />

            <label for="Cnpj">CNPJ</label>
            <input type="radio" id="Cnpj" name="CpfCnpjRadio" value="CNPJ" />

            <input id="CpfCnpj" name="CpfCnpj" class="form-control text-left" disabled />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label>Código</label>
            <input type="text" id="guid" name="guid" class="form-control text-uppercase text-left" required="required" minlength="36" maxlength="36" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 input-daterange">
            <label>Data e Hora da Emissão <i class="text-danger">*</i></label>

            <div class='input-group date text-left' id='datetimepicker10'>
                <input type='text' class="form-control text-left" id="dataEmissao" name="dataEmissao" required="required" placeholder="dd/mm/aaaa hh:mm:ss" />

                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-files-o"></i> Autenticar Certidão
            </button>
        </div>
    </div>
}

@section AposFooter
{
    <script>
        $(document).ready(function () {
            $("#guid").mask("AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA", { placeholder: "0000-0000-0000-0000-0000-0000-0000-0000" });

            $('#Cpf').click(function () {
                if ($(this).is(':checked')) {
                    $("#CpfCnpj").removeAttr("disabled");
                    $("#CpfCnpj").mask('000.000.000-00', { placeholder: "000.000.000-00" });
                }
            });

            $('#Cnpj').click(function () {
                if ($(this).is(':checked')) {
                    $("#CpfCnpj").removeAttr("disabled");
                    $("#CpfCnpj").mask("00.000.000/0000-00", { placeholder: "00.000.000/0000-00" });
                }
            });
        });

        $(function () {
            $('#datetimepicker10').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                locale: 'pt-BR'
            });
        });
    </script>
}
