﻿@using CaptchaMvc.HtmlHelpers
@using reCAPTCHA.MVC

@{
    ViewBag.Title = "Emissão de certidão negativa - CAGEFIMP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EmitirCertidao", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div id="inputRadio" class="col-md-6 col-sm-9">
            <label for="Cpf">CPF</label>
            <input type="radio" id="Cpf" name="CpfCnpjRadio" value="CPF" />

            <label for="Cnpj">CNPJ</label>
            <input type="radio" id="Cnpj" name="CpfCnpjRadio" value="CNPJ" />

            <input id="CpfCnpj" name="CpfCnpj" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 col-sm-9">
            @Html.Captcha("Atualizar", "Digite o código de segurança", 5, "Informe o código de segurança")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-file-text-o"></i> Emitir Certidão
            </button>
        </div>
    </div>
}

@section AposFooter
{
    <script>
        $(document).ready(function () {
            $('#Cpf').click(function () {
                if ($(this).is(':checked')) {
                    $("#CpfCnpj").removeAttr("disabled");
                    $("#CpfCnpj").mask('000.000.000-00', { placeholder: "000.000.000-00" });
                }
            });

            $('#Cnpj').click(function () {
                if ($(this).is(':checked')) {
                    $("#CpfCnpj").removeAttr("disabled");
                    $("#CpfCnpj").mask("00.000.000/0000-00", { placeholder: "00.000.000/0000-00" });
                }
            });
        });

        //x = document.getElementById('CaptchaInputText');
        //x.classList.add('form-control'); 
        //x.classList.add('text-uppercase'); 
    </script>
}