﻿@using TransparenciaRO.Web.HTMLHelper
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.FornecedorImpedido>

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@{
    ViewBag.Title = "Histórico de Impedimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3>Históricos de Encerramento de Fornecedores Impedidos de Licitar e Contratar com a Administração Pública Estadual</h3>

    <table id="ListaFornecedorImpedidos" class="table table-hover" width="100%">
        <thead>
            <tr>
                <th>Publicado</th>
                <th>Processo</th>
                <th>CPF / CNPJ</th>
                <th>Nome / Razão Social</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fornecedorImpedido in Model.OrderByDescending(f => f.DataPublicacao))
            {
                <tr>
                    <td>
                        @if (fornecedorImpedido.DataPublicacao != null)
                        {
                            @fornecedorImpedido.DataPublicacao.Value.ToString("d")
                        }
                    </td>
                    <td>
                        @fornecedorImpedido.NumeroProcesso
                    </td>
                    <td>
                        @(fornecedorImpedido.Fornecedor.CpfCnpj.Length <= 11 ? Convert.ToUInt64(fornecedorImpedido.Fornecedor.CpfCnpj).ToString(@"000\.000\.000\-00") : Convert.ToUInt64(fornecedorImpedido.Fornecedor.CpfCnpj).ToString(@"00\.000\.000\/0000\-00"))
                    </td>
                    <td class="text-uppercase">
                        @fornecedorImpedido.Fornecedor.RazaoSocial
                    </td>
                    <td>
                        <a class="btn btn-default" href="@Url.Action("DetalharImpedimento", "Fornecedor", new {impedimentoFornecedorId = fornecedorImpedido.FornecedorImpedidoId})">
                            <i class="fa fa-list-alt"></i> Detalhes
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section AposFooter
{
    <script>
        $(document).ready(function () {
            $("#ListaFornecedorImpedidos").dataTablePadrao();
        });
    </script>
}
