﻿@using TransparenciaRO.Infra.Utils
@{
    ViewBag.Title = "Importar Dados - RPV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
}

<label>
    Campos obrigatórios<i class="text-danger">*</i>
</label>

@using (Html.BeginForm("ImportarDadosRpv", "Fornecedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group mb-80">
            <div class="col-md-offset-2 col-md-10">
                <a href="~/Arq/modelo-pagamento-fornecedor-RPV.xlsx" class="btn btn-default"><i class="fa fa-download"></i> Planilha modelo</a>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                Arquivo<i class="text-danger">*</i>
            </label>
            <div class="fileinput fileinput-new col-md-5 col-sm-12" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Selecionar</span>
                    <span class="fileinput-exists">Alterar</span>
                    <input type="file" name="file" id="file" required="required">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-lg fa fa-plus"></i> Adicionar
                </button>
            </div>
        </div>
    </div>
}

@section AposFooter
{
    <script src="~/scripts/jasny-bootstrap.js"></script>
}
