﻿@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Detalhamento do Pagamento ao Credor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

<div class='panel panel-default'>
    <div class='panel-body'>
        <div class='row'>
            <div class="col-md-2 col-xs-12">
                <div class="form-group">
                    <label for="">Data</label><br />
                    <input type="text" id="data" value="@Request["pDataInicial"]" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-10 col-xs-12">
                <div class="form-group">
                    <label for="ug">Unidade Gestora</label><br />
                    <input type="hidden" id="ug" value="@Request["ug"]" />
                    <input type="hidden" id="empenho" value="@Request["empenho"]" />
                    @ViewBag.UG
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="container-fluid" id="tabelaDadosContainer">
    </div>
</div>
@section AposFooter{
    <script>
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                language: "pt-BR",
                format: "dd-mm-yyyy"
            });
            exibirComprasContratacoes(10, 1);
        });

        function exibirComprasContratacoes(pageSize, pageNumber) {

            $('#tabelaDados').html('<i class="fa fa-cog fa-spin"></i> Carregando dados...');
            $('#dataInicial').datepicker('hide'); $('#data').datepicker('hide');
            $.post('/Fornecedor/GetEmpenhoUG', {
                pEmpenho: $('#empenho').val(),
                pUg: $('#ug').val(),
                pData: $('#data').val()
            })
            .done(function (data) {
                if (data.msgErro != null) {
                    $('#tabelaDados').html('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>' + data.msgErro + '</div>');
                }
                else {
                    $('#tabelaDadosContainer').html(Mustache.render($('#templateDados').html(), data));
                    $('#tabelaDadosContainer > #tabelaDados').dataTablePadrao();
                    if (data.msgInfo != null) {
                        $('#tabelaDados').prepend('<div class="alert alert-info" role="alert"><span class="sr-only">Informação:</span><strong>Informação </strong>' + data.msgInfo + '</div>');
                    }
                }
            })
                .fail(function () {
                    $('#tabelaDados').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span><strong>Erro: </strong>Ocorreu um erro ao efetuar a pesquisa. Caso o problema persista, entre em contato com a CGE através do e-mail <a href="mailto:contato@cge.ro.gov.br">contato@cge.ro.gov.br</a>.</div>');
                });
        }
    </script>

    <script>
        function detalharEmpenho(pLinkDetalhamento, pSender) {
            var tabela = $(pSender).closest('table').DataTable();
            var linhaDataTable = tabela.row($(pSender).closest('tr'));
            if (!linhaDataTable.child.isShown()) {
                $.get('/Fornecedor/DetalhaEmpenhoFornecedor', { pEncLinkDetalhamento: pLinkDetalhamento })
                .done(function (dados) {
                    var guidNovatabela = guid();

                    linhaDataTable.child(Mustache.render($('#templateDetalhamento').html(), { guidNovatabela: guidNovatabela, dados: dados })).show();
                    $('#' + guidNovatabela).dataTablePadrao();

                    //var htmlRenderizado = Mustache.render($('#templateDetalhamento').html(), { "dados": dados }).show();
                    //linhaDataTable.child(htmlRenderizado).show();
                    $(".DTFC_ScrollWrapper").css({ "height": "100%" });
                }, "dataType");
            }
            else {
                linhaDataTable.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }
    </script>

    <script id="templateDados" type="text/html">
        <table id="tabelaDados" class="table table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Detalhar</th>
                    <th>Nº Empenho</th>
                    <th>Nº Doc.</th>
                    <th>Credor</th>
                    <th>Unidade Gestora</th>
                    <th>Processo</th>
                    <th>Data Doc.</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td><a href="#!" onclick="detalharEmpenho('{{LinkDetalhamento}}', this)"><i class="fa fa-search"></i></a></td>
                    <td>{{NumeroEmpenho}}</td>
                    <td>{{Documento}}</td>
                    <td>{{Credor}}</td>
                    <td>{{UnidadeGestora}}</td>
                    <td>{{Processo}}</td>
                    <td>{{Data}}</td>
                    <td>{{Valor}}</td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr>
                    <td colspan="7">Nenhum registro encontrado</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>

    <script id="templateDetalhamento" type="text/html">
    {{#dados}}
    <table class="table table-striped">
        <tr>
            <th style="width: 25%">Empenho</th>
            <td>{{Empenho}}</td>
        </tr>
        <tr>
            <th>Documento</th>
            <td>{{Documento}}</td>
        </tr>
        <tr>
            <th>Processo</th>
            <td>{{Processo}}</td>
        </tr>
        <tr>
            <th>Tipo de Empenho</th>
            <td>{{TipoEmpenho}}</td>
        </tr>
        <tr>
            <th>Modalidade de licitação</th>
            <td>{{ModalidadeLicitacao}}</td>
        </tr>
        <tr>
            <th>Credor</th>
            <td>{{Credor}}</td>
        </tr>
        <tr>
            <th>Data pagamento</th>
            <td>{{Data}}</td>
        </tr>
        <tr>
            <th>Fonte de Recursos</th>
            <td>{{FonteDeRecursos}}</td>
        </tr>
        <tr>
            <th>Categoria da despesa</th>
            <td>{{CategoriaDeDespesa}}</td>
        </tr>
        <tr>
            <th>Grupo de Despesa</th>
            <td>{{GrupoDeDespesa}}</td>
        </tr>
        <tr>
            <th>Mod. de aplicação</th>
            <td>{{ModDeAplicacao}}</td>
        </tr>
        <tr>
            <th>Elem. de Despesa</th>
            <td>{{ElemDeDespesa}}</td>
        </tr>
        <tr>
            <th>Natureza de Despesa</th>
            <td>{{NaturezaDeDespesa}}</td>
        </tr>
        <tr>
            <th>Função</th>
            <td>{{Funcao}}</td>
        </tr>
        <tr>
            <th>Subfunção</th>
            <td>{{SubFuncao}}</td>
        </tr>
        <tr>
            <th>Programa</th>
            <td>{{Programa}}</td>
        </tr>
        <tr>
            <th>Ação</th>
            <td>{{Acao}}</td>
        </tr>
        <tr>
            <th>Valor</th>
            <td>{{Valor}}</td>
        </tr>
    </table>
    {{/dados}}
</script>
}