﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Web.Controllers
@{
    ViewBag.Title = "Consultar pagamentos";
    var campos = new List<CampoFormulario>()
    {
        new CampoPeriodo
        {
            Linha = 1,
            ColMD = 12,
            ValorDataInicial = Request["ug"] != null ? DateTime.Now.AddYears(-1) : DateTime.Now.AddMonths(-1),
            ValorDataFinal = DateTime.Now
        },
        new CampoSelect
        {
            Linha = 2,
            ColMD = 12,
            Descricao = "Unidade Gestora",
            Id = "ug",
            NomeParametroAction = "pUG",
            ValorPadrao = Request["ug"] ?? "",
            OpcaoTodos = true,
            Valores = ((Dictionary<string,string>)ViewBag.UnidadesGestoras)
        },
        new CampoTexto
        {
            Linha = 3,
            ColMD = 6,
            Descricao = "Credor",
            Id = "credor",
            Placeholder = "Nome ou Razão social",
            NomeParametroAction = "pCredor"
        },
        new CampoTexto
        {
            Linha = 3,
            ColMD = 6,
            Descricao = "Documento do Credor",
            Id = "docCredor",
            Placeholder = "CPF ou CNPJ",
            NomeParametroAction = "pDocCredor"
        }
    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
    <script src="~/scripts/ListaEmpenhosFornecedores.es5.min.js"></script>
}

@Html.FormularioParametros(campos)
@if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
{
    <div class="container chartFooter">* Última atualização de empenhos: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> / Fonte dos dados: SIAFEM / SUPER</div>
}
@Html.MontarMetodoChamadaPostComDados(campos, "/Fornecedor/GetEmpenhosFornecedores", "GET", "consultarDados", "templateDados", "tabelaDadosContainer", "tabelaDados", true, true, "{\"ordering\": false, \"tipoOrdenacao\": \"desc\"}")

<div id="tabelaDadosContainer">

</div>
<script id="templateDados" type="text/html">
    <table id="tabelaDados" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Detalhar</th>
                <th>Nº Doc.</th>
                <th>Credor</th>
                <th>Unidade Gestora</th>
                <th>Processo</th>
                <th>Data Doc.</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td><a href="#!" onclick="detalharEmpenho('{{LinkDetalhamento}}', this)"><i class="fa fa-search"></i></a></td>
                <td>{{Documento}}</td>
                <td>{{Credor}}</td>
                <td>{{UnidadeGestora}}</td>
                <td>{{Processo}}</td>
                <td>{{Data}}</td>
                <td>{{Valor}}</td>
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="7">Nenhum registro encontrado</td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>
<script id="templateDetalhamento" type="text/html">
    {{#dados}}
    <table class="table table-striped">
        <tr>
            <th>Processo</th>
            <td>{{Processo}}</td>
        </tr>
        <tr>
            <th>Evento</th>
            <td>{{Evento}}</td>
        </tr>
        <tr>
            <th>Unidade Gestora</th>
            <td>{{UnidadeGestora}}</td>
        </tr>
        <tr>
            <th>Natureza da Despesa</th>
            <td>{{NaturezaDespesa}}</td>
        </tr>
        <tr>
            <th>Especificacao da Despesa</th>
            <td>{{EspecificacaoDespesa}}</td>
        </tr>
        <tr>
            <th>Categoria da Despesa</th>
            <td>{{CategoriaDespesa}}</td>
        </tr>
        <tr>
            <th>Grupo da Despesa</th>
            <td>{{GrupoDespesa}}</td>
        </tr>
        <tr>
            <th>Modalida de Aplicação</th>
            <td>{{ModalidadeAplicacao}}</td>
        </tr>
        <tr>
            <th>Elemento da Despesa</th>
            <td>{{ElementoDespesa}}</td>
        </tr>
        <tr>
            <th>Projeto</th>
            <td>{{Projeto}}</td>
        </tr>
        <tr>
            <th>Programa</th>
            <td>{{Programa}}</td>
        </tr>
        <tr>
            <th>Ação</th>
            <td>{{Acao}}</td>
        </tr>
        <tr>
            <th>Função</th>
            <td>{{Funcao}}</td>
        </tr>
        <tr>
            <th>Sub Funçãoo</th>
            <td>{{SubFuncao}}</td>
        </tr>
        <tr>
            <th>Fonte de Recursos</th>
            <td>{{FonteDeRecursos}}</td>
        </tr>
        <tr>
            <th>Credor</th>
            <td>{{Credor}}</td>
        </tr>
        <tr>
            <th>Modalidade da Licitação</th>
            <td>{{ModalidadeLicitacao}}</td>
        </tr>
        <tr>
            <th>Documento</th>
            <td>{{Documento}}</td>
        </tr>
        <tr>
            <th>DocumentoNE - DocumentoOB</th>
            <td>{{DocumentoNE_DocumentoOB}}</td>
        </tr>
        <tr>
            <th>Tipo de Empenho</th>
            <td>{{TipoEmpenho}}</td>
        </tr>
        <tr>
            <th>Empenho</th>
            <td>{{Empenho}}</td>
        </tr>
        <tr>
            <th>Valor Pagamento</th>
            <td>{{ValorPaga}}</td>
        </tr>

        <tr>
            <th>DocumentoDL</th>
            <td>{{NumeroDocumentoLiquidacao}}</td>
        </tr>

        <tr>
            <th>DataDL</th>
            <td>{{DataDocumentoLiquidacao}}</td>
        </tr>

        <tr>
            <th>ObjetivoDL</th>
            <td>{{ObjetivoDocumentoLiquidacao}}</td>
        </tr>
    </table>
    {{/dados}}
</script>
@section AposFooter
{
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<script src="~/scripts/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ug").chosen();
    });
</script>
}