﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Certidao

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var certidaoIdFormatada = Model.CertidaoId.ToString("N");
    certidaoIdFormatada = certidaoIdFormatada.Substring(0, 4) + "-" +
        certidaoIdFormatada.Substring(4, 4) + "-" +
        certidaoIdFormatada.Substring(8, 4) + "-" +
        certidaoIdFormatada.Substring(12, 4) + "-" +
        certidaoIdFormatada.Substring(16, 4) + "-" +
        certidaoIdFormatada.Substring(20, 4) + "-" +
        certidaoIdFormatada.Substring(24, 4) + "-" +
        certidaoIdFormatada.Substring(28, 4);
}

<div class="contentPrint text-center margin-left-right">
    <img src="~/img/Brasão_de_Rondônia.svg" class="text-center" width="100" alt="Brasão de Rondônia" />

    <div>
        <p style="font-size: 20px">
            Governo do Estado de Rondônia <br />
            <small><small>Controladoria Geral do Estado</small></small>
        </p>
    </div>

    <p class="margin-top-60px" style="font-size: 20px">
        <strong>CERTIDÃO NEGATIVA - CAGEFIMP</strong>
    </p>

    <p class="text-justify margin-top-60px">
        A Controladoria Geral do Estado de Rondônia <strong>CERTIFICA</strong> que, revendo o <strong>Cadastro de Fornecedores Impedidos de Licitar e Contratar com a Administração Pública Estadual - CAGEFIMP</strong>, até a presente data, <strong>@(Model.Impedido ? "CONSTA" : "NÃO CONSTA")</strong> restrição contra <strong class="text-uppercase">@Model.Fornecedor.RazaoSocial</strong>, inscrita no <strong>@(Model.Fornecedor.CpfCnpj.Length <= 14 ? "CPF" : "CNPJ")</strong> <strong>@Model.Fornecedor.CpfCnpj</strong>.
    </p>

    <p class="text-justify margin-top-60px">
        Esta Certidão tem validade de <strong>30 (trinta) dias.</strong> <br />
        Emitida em <strong>@Model.DataDeEmissao.ToString("d") às @Model.DataDeEmissao.ToString("T") horas</strong> <small><small>(Data e Hora de Porto Velho/RO)</small></small> <br />
        Código de Controle: <b class="text-uppercase">@certidaoIdFormatada.ToUpperInvariant()</b>
    </p>

    <p class="text-justify margin-top-60px">
        A validação desta certidão deverá ser confirmada pelo Órgão Interessado na página do Portal da Transparência do Estado de Rondônia na Internet, no endereço http://transparencia.ro.gov.br/Fornecedor/AutenticarCertidao
    </p>

    <hr class="hr-certidao margin-top-185px" />

    <div class="margin-top-25px">
        <p class="footer-certidao">
            Controladoria Geral do Estado de Rondônia <br />
            Missão: <strong><em>Zelar pela boa e regular aplicação dos recursos públicos</em></strong> <br />
            Endereço: Avenida Farquar, 2986 - Pedrinhas, CEP 76801-466 - Porto Velho/RO <br />
            Pálacio Rio Madeira, Edifício Rio Jamari - 4° andar <br />
            <strong>Sistema de Emissão de Certidão Negativa via Internet</strong>
        </p>
    </div>
</div>

<div class="text-center margin-bottom-15px">
    <button class="btn btn-default print margin-top-15px">
        <i class="fa fa-print"></i> Imprimir
    </button>

    <a href="@Url.Action("EmitirCertidao", "Fornecedor")" class="btn btn-default margin-top-15px">
        <i class="fa fa-search"></i> Nova Pesquisa
    </a>

    <a href="@Url.Action("AutenticarCertidao", "Fornecedor")" target="_blank" class="btn btn-default margin-top-15px">
        <i class="fa fa-thumbs-o-up"></i> Autenticar Certidão
    </a>
</div>

@section AposFooter
{
    <script src="~/scripts/jquery.PrintArea.js"></script>
    <script>
        $(document).ready(function () {
            $(".print").click(function () {
                $(".contentPrint").printArea();
            });
        });
    </script>
}