﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Certidao

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var certidaoIdFormatada = Model.CertidaoId.ToString("N");
    certidaoIdFormatada = certidaoIdFormatada.Substring(0, 4) + "-" +
        certidaoIdFormatada.Substring(4, 4) + "-" +
        certidaoIdFormatada.Substring(8, 4) + "-" +
        certidaoIdFormatada.Substring(12, 4) + "-" +
        certidaoIdFormatada.Substring(16, 4) + "-" +
        certidaoIdFormatada.Substring(20, 4) + "-" +
        certidaoIdFormatada.Substring(24, 4) + "-" +
        certidaoIdFormatada.Substring(28, 4);
}

@if (Model != null)
{
    <div class="contentPrint text-center margin-left-right">
        <img src="~/img/Brasão_de_Rondônia.svg" class="text-center" width="100" alt="Brasão de Rondônia" />

        <div>
            <p style="font-size: 20px">
                Governo do Estado de Rondônia <br />
                <small><small>Controladoria Geral do Estado</small></small>
            </p>
        </div>

        <p class="margin-top-60px" style="font-size: 20px">
            <strong>AUTENTICIDADE DA CERTIDÃO NEGATIVA - CAGEFIMP</strong>
        </p>

        <p class="margin-top-60px text-justify">
            A Controladoria Geral do Estado de Rondônia confirma a autenticidade da Certidão Nº <b class="text-uppercase">@certidaoIdFormatada</b> emitida via <em>Internet</em> em @Model.DataDeEmissao.ToString("d") às @Model.DataDeEmissao.ToString("T") horas.
        </p>

        <p class="margin-top-150px">
            <strong style="font-size: 20px">@(Model.Impedido ? "CONSTA" : "NÃO CONSTA") RESTRIÇÃO</strong> <br/>
            contra <strong class="text-uppercase">@Model.Fornecedor.RazaoSocial</strong> <br/>
            inscrita no <strong>@(Model.Fornecedor.CpfCnpj.Count() <= 14 ? "CPF" : "CNPJ") @(Model.Fornecedor.CpfCnpj)</strong>
        </p>

        <p class="margin-top-15px">
            Válida até: <strong>@Model.DataDeEmissao.AddDays(30).ToString("d")</strong>
        </p>

        <hr class="hr-certidao margin-top-320px" />

        <div class="margin-top-15px">
            <p class="footer-certidao">
                Controladoria Geral do Estado de Rondônia <br />
                Missão: <strong><em>Zelar pela boa e regular aplicação dos recursos públicos</em></strong> <br />
                Endereço: Avenida Farquar, 2986 - Pedrinhas, CEP 76801-466 - Porto Velho/RO <br />
                Pálacio Rio Madeira, Edifício Rio Jamari - 4° andar <br />
                <strong>Sistema de Emissão de Certidão Negativa via Internet</strong>
            </p>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <i class="fa fa-thumbs-up"></i> O código de controle informado não consta nos registros.
    </div>
}

<div class="text-center margin-bottom-15px">
    <button class="btn btn-default print">
        <i class="fa fa-print"></i> Imprimir
    </button>

    <a href="@Url.Action("EmitirCertidao", "Fornecedor")" class="btn btn-default">
        <i class="fa fa-search"></i> Nova Pesquisa
    </a>

    <a href="@Url.Action("AutenticarCertidao", "Fornecedor")" class="btn btn-default">
        <i class="fa fa-thumbs-o-up"></i> Autenticar Certidão
    </a>
</div>

@section AposFooter
{
    <script src="~/scripts/jquery.PrintArea.js"></script>
    <script>
        $(document).ready(function () {
            $(".print").click(function () {
                $(".contentPrint").printArea();
            });
        });
    </script>
}