﻿@using TransparenciaRO.Web.HTMLHelper
@{
    ViewBag.Title = "Consultar pagamentos de Sentenças Judiciais e RPV's";
    var campos = new List<CampoFormulario>()
    {
        new CampoPeriodo
        {
            Linha = 1,
            ColMD = 12,
            ValorDataInicial = DateTime.Now.AddMonths(-1),
            ValorDataFinal = DateTime.Now
        },
        new CampoTexto
        {
            Linha = 2,
            ColMD = 6,
            Descricao = "Credor",
            Id = "credor",
            Placeholder = "Nome ou Razão social",
            NomeParametroAction = "pCredor"
        },
        new CampoTexto
        {
            Linha = 2,
            ColMD = 6,
            Descricao = "Documento do Credor",
            Id = "docCredor",
            Placeholder = "CPF ou CNPJ",
            NomeParametroAction = "pDocCredor"
        }
    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
}

@Html.FormularioParametros(campos)

@if (ViewBag.DataAtualizacao != null)
{
<div class="container chartFooter">* Última atualização em: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> <!-- / Fonte dos dados: SIAFEM / SUPER--></div>
}

@Html.MontarMetodoChamadaPostComDados(campos, "/Fornecedor/GetPagamentoFornecedoresRpv", "GET", "consultarDados", "templateDados", "tabelaDadosContainer", "tabelaDados", true, true, "{\"ordering\": false, \"tipoOrdenacao\": \"desc\"}")

<div id="tabelaDadosContainer">

</div>

<script id="templateDados" type="text/html">
    <table id="tabelaDados" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Preparação pagamento</th>                
                <th>Credor</th>
                <th>Cessionário</th>
                <th>Processo</th>
                <th>Data Doc.</th>
                <th>Finalidade</th>
                <th>Status</th>
                <th>Valor</th>
                <th>Movimentação</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td>{{DocumentoOB}}</td>               
                <td>{{Credor}}</td>
                <td>{{Cessionario}}</td>
                <td>{{NumeroProcesso}}</td>
                <td>{{Data}}</td>
                <td>{{Finalidade}}</td>
                <td>{{StatusOb}}</td>
                <td>{{Valor}}</td>
                <td>{{Movimentacao}}</td>
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="7">Nenhum registro encontrado</td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>