﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.SocioFornecedor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remover Sócio</h2>

<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpedirFornecedor.Fornecedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpedirFornecedor.Fornecedor.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpedirFornecedorCodigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImpedirFornecedorCodigo)
        </dd>

    </dl>

    @using (Html.BeginForm("RemoverSocio", "Fornecedor"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.SocioFornecedorId)

        <div class="btn-group">
            <a class="btn btn-default" href="@Url.Action("AdicionarSocio", "Fornecedor")">
                <i class="fa fa-reply"></i> Voltar
            </a>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerSocio">
                <i class="fa-lg fa fa-trash-o"></i>
                Remover
            </button>
        </div>
        
         <!-- Modal -->
        <div class="modal fade" id="removerSocio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Remover Sócio</h3>
                    </div>

                    <div class="modal-body">
                        <label>
                            Deseja realmente remover este sócio?
                        </label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa-lg fa fa-times"></i>
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-danger">
                            <i class="fa-lg fa fa-trash-o"></i> Remover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
