﻿@using TransparenciaRO.Infra.Enum
<form id="formEnquete" method="post">
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title color-black">@ViewBag.Enquete.Descricao</h3>
        </div>
        <input type="hidden" name="EnqueteId" value="@ViewBag.Enquete.EnqueteId"/>
        <div class="panel-body">
            <div class="radio">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="@EAvaliacao.Otimo" onclick="EnviarAvaliacao()"/> Ótimo
                </label>
            </div>
            <div class="radio">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="@EAvaliacao.Bom" onclick="EnviarAvaliacao()"/> Bom
                </label>
            </div>
            <div class="radio">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="@EAvaliacao.Indiferente" onclick="EnviarAvaliacao()"/> Indiferente
                </label>
            </div>
            <div class="radio">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="@EAvaliacao.Ruim" onclick="EnviarAvaliacao()"/> Ruim
                </label>
            </div>
            <div class="radio">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="@EAvaliacao.Pessima" onclick="EnviarAvaliacao()"/> Péssima
                </label>
            </div>
        </div>
    </div>
</form>