﻿<style>
    .loadingPlaceholder {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title color-black">@ViewBag.Enquete.Descricao</h3>
    </div>
    <input type="hidden" name="EnqueteId" value="@ViewBag.Enquete.EnqueteId" />
    <div class="panel-body">
        <p class="color-black"><strong>Resultado dos votos</strong></p>
        <div class="loadingPlaceholder">
            <h2 class="text-center">
                <i class="fa fa-cog fa-spin"></i>&nbsp;Carregando...
            </h2>
        </div>
        <div id="resultado">
        </div>
    </div>
</div>

<script>
        ResultadoAvaliacao('@ViewBag.Enquete.EnqueteId');
</script>
