﻿
@{
    ViewBag.Title = "Acessibilidade";
}

<div class="container">
    <p>O portal de transparência de Rondônia disponibiliza atalhos de acessibilidade para o acesso aos serviços e informações aqui disponibilizadas.</p>
    <p>Os padrões de atalhos são:</p>
    <ul>
        <li>Utilizando <kbd>Alt + A</kbd> ou <kbd>Alt + Shift + A</kbd> em qualquer página, o usuário é direcionado para esta página contendo instruções de acessibilidade.</li>
        <li>Utilizando <kbd>Alt + 0</kbd> ou <kbd>Alt + Shift + 0</kbd> em qualquer página, o usuário é direcionado para a página inicial do portal.</li>
        <li>Utilizando <kbd>Alt + 1</kbd> ou <kbd>Alt + Shift + 1</kbd> em qualquer página, o usuário é direcionado para o topo da página atual.</li>
        <li>Utilizando <kbd>Alt + 2</kbd> ou <kbd>Alt + Shift + 2</kbd> em qualquer página, o usuário é direcionado para a seção Fale Conosco.</li>
        <li>Utilizando <kbd>Alt + 3</kbd> ou <kbd>Alt + Shift + 3</kbd> em qualquer página, o usuário ativa ou desativa o alto contraste.</li>
    </ul>
    <b>Leis e decretos sobre acessibilidade:</b>
    <ul>
        <li>Decreto nº 5.296 de 02 de dezembro de 2004 (<a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm">http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm</a>).</li>
        <li>Decreto nº 6.949, de 25 de agosto de 2009 - Promulga a Convenção Internacional sobre os Direitos das Pessoas com Deficiência e seu Protocolo Facultativo, assinados em Nova York, em 30 de março de 2007 (<a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm">http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm</a>).</li>
        <li>Decreto nº 7.724, de 16 de Maio de 2012 - Regulamenta a Lei No 12.527, que dispõe sobre o acesso a informações (<a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm">http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm</a>).</li>
        <li>Modelo de Acessibilidade de Governo Eletrônico (<a href="http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG">http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG</a>).</li>
        <li>Portaria nº 03, de 07 de Maio de 2007 - formato .pdf (35,5Kb) - Institucionaliza o Modelo de Acessibilidade em Governo Eletrônico – e-MAG (<a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007">http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007</a>)</li>
    </ul>
</div>

