﻿@using TransparenciaRO.Web.HTMLHelper
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.ContatoInstitucional>
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
@{
    ViewBag.Title = "Contatos Instituicionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="text-center">
            Os arquivos abaixo referem-se à competência, legislação aplicável, principais cargos e seus ocupantes, endereço e telefones das unidades, bem horários de funcionamento das instituições do Estado de Rondônia
        </h3>
    </div>
    <table id="tabelaContatoInstitucional" class="table table-hover" width="100%">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Descrição</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contatoInstitucional in Model)
            {
                <tr>
                    <td>@contatoInstitucional.Sigla</td>
                    <td>@contatoInstitucional.Descricao</td>
                    <td>
                        <a href="@contatoInstitucional.EstruturaOrganizacional">
                            <i class="fa fa-link"></i> Clique aqui!
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section AposFooter
{
    <script>
        $("#tabelaContatoInstitucional").dataTablePadrao();
    </script>
}