﻿@model TransparenciaRO.Infra.Model.View.FaleConoscoViewModel
@using CaptchaMvc.HtmlHelpers

<div class="topMargin">
    @if (TempData["Erro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>
                <span class="fa fa-thumbs-down"></span> Erro
            </strong>
            @TempData["Erro"].ToString()
        </div>
    }

    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>
                <span class="fa fa-thumbs-up"></span>Sucesso
            </strong>
            @TempData["Sucesso"].ToString()
        </div>
    }
</div>

<h3>Fale Conosco</h3>
<p>
    Em caso de dúvidas, sugestões ou reclamações, entre em contato conosco através do formulário abaixo,
    faça sua solicitação de informação através do <a href="http://esic.cge.ro.gov.br/" target="_blank"><i class="fa fa-external-link"></i>eSIC</a>,
    ou presencialmente no <b>Palácio Rio Madeira - Edifício Rio Jamari</b>.
</p>
<p>Horário de atendimento ao público: 7:30h às 13:30h segunda-feira à sexta-feira.</p>
<p>
    Telefone: <a href="tel:6932165140">(69) 3212-9412</a><br />
    Telefone: <a href="tel:6932129407">(69) 3212-9407</a><br />
    Telefone: <a href="tel:69984829718">(69) 9 8482-9718</a><br />
    Telefone: <a href="tel:69984829781">(69) 9 8482-9781</a>
</p>
<p>
    <small>Campos obrigatórios <b class="text-danger" style="font-size: large">*</b></small>
</p>
@using (Html.BeginForm("FaleConosco", "Menu", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label" for="@Html.IdFor(x => x.Nome)">
            Nome <b class="text-danger" style="font-size: large">*</b>
        </label>

        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label" for="@Html.IdFor(x => x.Telefone)">
            Telefone
        </label>

        <input class="form-control" name="@Html.NameFor(x=>x.Telefone)" id="@Html.IdFor(x=>x.Telefone)" />
        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label" for="@Html.IdFor(x => x.Email)">
            E-mail <b class="text-danger" style="font-size: large">*</b>
        </label>

        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label" for="@Html.IdFor(x => x.Assunto)">
            Assunto <b class="text-danger" style="font-size: large">*</b>
        </label>

        @Html.EditorFor(model => model.Assunto, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.Assunto, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label" for="@Html.IdFor(x => x.Mensagem)">
            Mensagem <b class="text-danger" style="font-size: large">*</b>
        </label>

        <textarea class="form-control" name="@Html.NameFor(x=>x.Mensagem)" id="@Html.IdFor(x=>x.Mensagem)" required="required" rows="5"></textarea>
        @Html.ValidationMessageFor(model => model.Mensagem, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="form-group">
            @Html.Captcha("Atualizar", "Digite o código de segurança", 5, "Informe o código de segurança")
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-default">
            <i class="fa fa-send"></i> Enviar
        </button>
    </div>
}