﻿@using TransparenciaRO.Web.HTMLHelper
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.OrgaoSiafem>
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}
@{
    ViewBag.Title = "Institucional - Órgãos e Unidades Gestoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="tabelaInstitucional" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            CNPJ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.ORGAO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMEORGAO)
                            </td>
                            <td>
                                @Convert.ToUInt64(item.CGC).ToString(@"00\.000\.000\/0000\-00")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section AposFooter{
    <script>
        $(document).ready(function () {
            $("#tabelaInstitucional").dataTablePadrao({});
        });
    </script>
}