﻿
@{
    ViewBag.Title = "Legislação - Lei de acesso à informação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body" style="text-align: justify">
                <p>
                    Com o amadurecimento da democracia, após quase uma década de tramitação no Congresso Nacional, entrou em vigor, a Lei de Acesso à Informação - LAI, que garante ampla divulgação dos interessados a dados e documentos das esferas da administração pública e de entidades privadas que recebam recursos públicos. Assim, o segredo não mais se coaduna com a coisa pública.
                </p>
                <p>
                    Em conformidade com a <a href="http://esic.cge.ro.gov.br/site/anexos/L3166.pdf" target="_blank">Lei Nº. 3.166 DE 27 DE AGOSTO DE 2013</a> c/c <a href="http://esic.cge.ro.gov.br/site/anexos/DECRETO%2017145-2012.pdf" target="_blank">Decreto Nº 17.145/2012</a>, compete à Controladoria Geral do Estado de Rondônia, coordenar e monitorar o Portal da Transparência do Estado de Rondônia.
                </p>
                <p>
                    Seguindo os ditames da LAI, com este Portal da Transparência, o Estado de Rondônia Confere o Cumprimento ao direito fundamental previsto no inciso XXXIII do art. 5º da Constituição Federal, segundo o qual “todos têm direito a receber dos órgãos públicos informações de seu interesse particular, ou de interesse coletivo ou geral”. De igual modo, busca-se implementar o § 7º do art. 37 da Constituição, no ponto em que prevê o acesso a informações privilegiadas, e o art. 216, § 2º, que atribuir à administração pública a gestão da documentação governamental e as providências para franquear sua consulta.
                </p>
                <p>
                    A Lei de Acesso às informações é uma conquista da democracia brasileira, um sinal de civilidade e de participação cidadã da sociedade na condução dos negócios públicos.
                </p>
                <p>
                    Qualquer pessoa, física ou jurídica, pode encaminhar pedidos de acesso a informação para órgãos e entidades do Poder Executivo do Governo do Estado de Rondônia. Para isso basta acessar o e-SIC (Sistema Eletrônico do Serviço de Informações ao Cidadão) no endereço eletrônico <a href="http://esic.cge.ro.gov.br">esic.cge.ro.gov.br</a> ou comparecer ao SIC que fica no TUDO AQUI, localizado na  Avenida Sete de Setembro, 836, Centro 78916-000 - Porto Velho/RO.
                </p>
                <h3>Autoridades responsáveis pelo monitoramento da LAI</h3>
                <ul>
                    <li><strong>Controlador Geral do Estado</strong> - Francisco Lopes Fernandes Netto</li>
                    <li><strong>Coordenadora Transparência Passiva / e-SIC</strong> - Maria Gorete Correa</li>
                    <li><strong>Coordenação Transparência Ativa</strong> - Gerência de Tecnologia da Informação - CGE</li>
                </ul>
            </div>
        </div>
    </div>
</div>