﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>O que é o portal</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>O Portal da Transparência é uma iniciativa do Governo do Estado de Rondônia que propicia o controle social pelos cidadãos ao disponibilizar dados e informações públicas do Estado, além de oferecer ferramenta para solicitações de informações por meio da Lei de Acesso a Informação. </p>
            <p>A transparência tem papel importante no combate à corrupção, ao induzir maior responsabilidade por parte dos gestores públicos e controle e divulgação das ações por cidadãos, pesquisadores e mídia. </p>
            <p>O Portal da Transparência contem dados e informações sobre os seguintes assuntos:</p>
            <ul>
                <li>Gastos/despesas públicos dos Poderes do Estado;</li>
                <li>Receitas ou arrecadação dos Poderes do Estado;</li>
                <li>Remuneração dos servidores do Poder Executivo;</li>
                <li>Despesa com pessoal dos Poderes do Estado;</li>
                <li>Despesas com diárias de viagem dos Poderes do Estado;</li>
                <li>Convênios;</li>
                <li>Compras, aquisições e contratos dos Poderes do Estado;</li>
                <li>Planejamento e resultados dos Poderes do Estado;</li>
                <li>Informações socioeconômicas do Estado;</li>
                <li>Prestação de contas do governador;</li>
                <li>Lei de Acesso a Informação</li>
            </ul>
            <h3>Autoridades responsáveis pelo monitoramento da LAI</h3>
            <ul>
                <li><strong>Controlador Geral do Estado</strong> - Francisco Lopes Fernandes Netto</li>
                <li><strong>Coordenadora Transparência Passiva / e-SIC</strong> - Vanessa Trindade de Melo</li>
                <li><strong>Coordenação Transparência Ativa</strong> - Gerência de Tecnologia da Informação - CGE</li>
            </ul>
            <h3>Manual do Portal da Transparência</h3>
            <ul>
                <li><a href="~/Arq/Manual Transparência RO.pdf">Clique aqui para baixar o Manual.</a> </li>
            </ul>
        </div>
    </div>
</div>

