﻿@using TransparenciaRO.Web.HTMLHelper
@{
    ViewBag.Title = "FAQ - Perguntas Frequentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
<div class="container" id="faq-container">    
</div>

@section AposFooter{

    <script id="template" type="x-tmpl-mustache">

        {{#perguntas}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{p}}</h4>
            </div>
            <div class="panel-body">{{r}}</div>
        </div>
        {{/perguntas}}
    </script>

    <script>
        var perguntas = {
            "perguntas": [
                { "p": "O que é o Portal da Transparência?", "r": "O Portal da Transparência é um site do Governo de Rondônia que contém informações acerca das ações governamentais, receitas e despesas do Estado, Lei de Diretrizes Orçamentárias, Plano Plurianual, demonstrativos exigidos pela Lei de Responsabilidade Fiscal, repasse para os Municípios, informações gerenciais, dentre outras informações de interesse dos rondonienses." },
                { "p": "Por que o Portal da Transparência foi criado?", "r": "O Portal da Transparência do Estado de Rondônia foi criado em maio de 2010, com o objetivo de dar mais transparência às ações do governo do Estado. Através dele a sociedade pode acompanhar a correta aplicação dos recursos públicos e evitar que ele seja utilizado de forma indevida. Promover o controle social e o combate à corrupção são os principais objetivos do portal da transparência. Todas as informações estão disponíveis para toda a sociedade, dispensando o uso de cadastro e senha para acessar os dados disponíveis." },
                { "p": "Quais as informações disponíveis no Portal da Transparência?", "r": "No Portal da Transparência o cidadão tem acesso as receitas arrecadas e as despesas realizadas pelo Estado, os repasses aos municípios, as Audiências Publicas realizadas, os gastos do governo por programas, os Relatórios exigidos pela Lei de Responsabilidade Fiscal, Convênios, Contratos, Compras, Licitação entre outras. Para facilitar ainda mais o entendimento, o Portal possui um glossário com a definição de vários termos relacionados à fiscalização e a execução orçamentária e financeira do Estado." },
                { "p": "De onde são obtidos os dados divulgados no portal?", "r": "Os dados orçamentários e financeiros relativos às despesas, às receitas, aos demonstrativos contábeis e fiscais são oriundos do Sistema Integrado de Administração Financeira para Estados e Municípios – SIAFEM, gerenciado pela Secretaria de Estado da Fazenda." },
                { "p": "Qual é a frequência de atualização do Portal da Transparência?", "r": "As informações com relação às receitas e às despesas são atualizadas diariamente. Os relatórios, como por exemplo, os da Lei de Responsabilidade Fiscal, o Plano Plurianual, a Lei de Diretrizes Orçamentárias, a Lei Orçamentária Anual, são atualizados por ocasião de sua divulgação, que pode ser mensal, bimestral, quadrimestral ou anual, conforme determina a legislação vigente." },
                { "p": "Como tirar dúvidas sobre termos, expressões e siglas que aparecem no Portal da Transparência?", "r": "Consulte o Glossário para esclarecimento dos termos técnicos, siglas e demais expressões utilizados nos textos explicativos do Portal da Transparência. Caso você tenha encontrado alguma palavra ou expressão sem definição, ou ainda com definição inconsistente, envie sua sugestão por meio do Fale Conosco." },
                { "p": "O Portal traz informações sobre Fornecedores inidôneos e suspensos, que não podem concorrer às licitações?", "r": "Sim. No menu da página inicial, há a opção \"Fornecedores\", que informa os fornecedores (pessoas jurídicas ou naturais) que sofreram sanções pelos órgãos e entidades da Administração Pública das diversas esferas federativas." },
                { "p": "Tenho dúvidas sobre como consultar a navegação do Portal, o que devo fazer? Como encontrar a informação que estou procurando?", "r": "Consulte o Como Navegar para facilitar a sua navegação no Portal da Transparência do Estado de Rondônia. O objetivo é orientar, de um modo rápido e simples, o cidadão e os agentes públicos a encontrarem as informações desejadas. Por meio deste manual, você recebe instruções simples sobre cada modalidade de consulta existente no Portal da Transparência." },
                { "p": "Quem é obrigado a prestar contas dos recursos públicos?", "r": "Todo aquele que guarde, administre, gerencie, arrecade ou utilize bens e valor público tem o dever constitucional e moral de prestar contas dos recursos públicos. Essa prestação de contas consiste no envio, aos órgãos responsáveis pelo Controle Externo (Assembleia Legislativa e Tribunal de Contas), do conjunto de documentos e informações, obtidos direta ou indiretamente, que permitam avaliar a conformidade e o desempenho da gestão dos responsáveis por políticas públicas, bens, valores e serviços públicos Estaduais." }
            ]
        };
        $(document).ready(function () {
            $('#faq-container').html(Mustache.render($('#template').html(), perguntas));
        });
    </script>
}