﻿@section Head
{
    <style>
        span.governador {
            font-style: italic;
            font-weight: bolder;
            font-size: x-large;
        }

        p.bolder {
            font-weight: bolder;
        }

        td.img-governador {
            width: 100px;
        }

        .width {
            width: 15%;
        }
    </style>
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3">
                <img src="~/img/coronel-marcos-rocha.jpg" class="img-thumbnail" style="width: 200px;" alt="Coronel Marcos Rocha" />
            </div>
            <div class="col-md-9">
                <span class="governador">Coronel Marcos Rocha</span>
                <span class="governador pull-right">Período: 2019 - Em exercício</span>
                <hr />
                <p class="bolder">Dados Pessoais</p>
                <dl class="dl-horizontal">
                    <dt>
                        Nome civil:
                    </dt>

                    <dd>
                        Marcos José Rocha dos Santos
                    </dd>
                    <dt>
                        Data de nascimento:
                    </dt>
                    <dd>
                        03/08/1968
                    </dd>
                    <dt>
                        Naturalidade:
                    </dt>
                    <dd>
                        Rio de Janeiro (RJ)
                    </dd>
                </dl>
            </div>
            <div>
            </div>
        </div>
    </div>

    <h4>Lista de governadores do Estado de Rondônia</h4>
    <hr />
    <table class="table tab-content">
        <thead>
            <tr>
                <th>#</th>
                <th class="width">
                    Governador
                </th>
                <th>
                    Mandato
                </th>
                <th class="width">
                    Vice-governador
                </th>
                <th class="width">
                    Cargo público anterior
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="img-governador">
                    <img src="~/img/danielpereira.jpg" class="img-thumbnail" />
                </td>
                <td>Daniel Pereira</td>
                <td>5 de abril de 2018 - 31 de Dezembro 2018</td>
                <td>vago</td>
                <td>Vice-governador de Rondônia</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/ConfusoMoura.jpg" class="img-thumbnail" />
                </td>
                <td>Confúcio Moura</td>
                <td>1° de janeiro de 2011 - 5 de abril de 2018</td>
                <td>
                    <p>Airton Gurgacz</p>

                    <p>Daniel Pereira</p>
                </td>
                <td>Prefeito de Ariquemes</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/joaoCahulla.jpg" class="img-thumbnail" />
                </td>
                <td>João Cahulla</td>
                <td>31 de março de 2010 - 1° de janeiro de 2011</td>
                <td>
                    vago
                </td>
                <td>Vice-governador de Rondônia</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/ivoCassol.jpg" class="img-thumbnail" />
                </td>
                <td>Ivo Cassol</td>
                <td>1° de janeiro de 2003 - 31 de março de 2010</td>
                <td>
                    <p>Odaisa Fernandes</p>
                    <p>João Aparecido Cahulla</p>
                </td>
                <td>Prefeito de Rolim de Moura</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/josebianco.jpg" class="img-thumbnail" />
                </td>
                <td>José Bianco</td>
                <td>1° de janeiro de 1999 - 1° de janeiro de 2003</td>
                <td>
                    Miguel de Souza
                </td>
                <td>Senador por Rondônia</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/valdirRaupp.jpg" class="img-thumbnail" />
                </td>
                <td>Valdir Raupp</td>
                <td>1° de janeiro de 1995 - 1° de janeiro de 1999</td>
                <td>
                    Aparício Carvalho
                </td>
                <td>Prefeito de Rolim de Moura</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/osvaldoPiana.jpg" class="img-thumbnail" />
                </td>
                <td>Osvaldo Piana</td>
                <td>15 de março de 1991 - 1° de janeiro de 1995</td>
                <td>
                    Assis Canuto
                </td>
                <td>Deputado estadual de Rondônia</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/Jerônimo_Santana_RO.jpg" class="img-thumbnail" />
                </td>
                <td>Jerônimo Santana</td>
                <td>15 de março de 1987 - 15 de março de 1991</td>
                <td>
                    Orestes Muniz Filho
                </td>
                <td>Prefeito de Porto Velho</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/angelo angelin.jpg" class="img-thumbnail" />
                </td>
                <td>Ângelo Angelim</td>
                <td>10 de maio de 1985 - 15 de março de 1987</td>
                <td>
                    vago
                </td>
                <td>Deputado federal por Rondônia</td>
            </tr>
            <tr>
                <td class="img-governador">
                    <img src="~/img/JorgeTeixeira.jpg" class="img-thumbnail" />
                </td>
                <td>Jorge Teixeira</td>
                <td>4 de janeiro de 1982 - 10 de maio de 1985</td>
                <td>
                    Janilene Vasconcelos de Melo
                </td>
                <td>Prefeito de Manaus</td>
            </tr>
        </tbody>
    </table>
</div>