﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.EmailNotificacao

<div class="row" style="margin-top:30px">
    <div class="col-xs-12">
        <i class="alert" id="alerta-form-notificar-email"></i>
    </div>
</div>

@using (Html.BeginForm("NotificarEmailModal", "Home", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", @id = "form-notificar-email" }))
{
    <h4>Cadastre-se para receber nossas atualizações:</h4>

    <div class="row" style="text-align:left">

        @Html.AntiForgeryToken()

        <div class="form-group col-xs-12">
            <label>@Html.DisplayNameFor(model => model.Nome)</label>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", required = "true" } })
        </div>

        <div class="form-group col-xs-12">
            <label>@Html.DisplayNameFor(model => model.Email)</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", required = "true" } })
        </div>

        <div class="form-group col-xs-12">
            <label>Quero receber notificações de</label>
            <div class="checkbox" style="margin-top: 0 !important;">
                <label>
                    @Html.CheckBoxFor(model => model.NotificarDispensaLicitacao) @Html.DisplayNameFor(model => model.NotificarDispensaLicitacao)
                </label>
                <br />
                <label>
                    @Html.CheckBoxFor(model => model.NotificarIntegraProcesso) @Html.DisplayNameFor(model => model.NotificarIntegraProcesso)
                </label>
                <br />
                <label>
                    @Html.CheckBoxFor(model => model.NotificarBoletim) @Html.DisplayNameFor(model => model.NotificarBoletim)
                </label>
            </div>
        </div>

        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-block btn-primary">Quero receber notificações</button>
        </div>
    </div>
}
