﻿
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model List<Pasta>

@{
    ViewBag.Title = "Área administrativa";
}

@if (Model.Any())
{
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Selecione a pasta que deseja gerenciar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pasta in Model.OrderBy(p => p.Descricao))
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Index", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(pasta.PastaId.ToString())})">
                                <i class="fa @pasta.IconeFa.ToString().Replace("_", "-")"></i> @pasta.Nome
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}