﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@model List<Pasta>

@{
    ViewBag.Title = "Área administrativa";
    var path = "";
    string pagina = HttpContext.Current.Request.Url.ToString();
    if (pagina.Contains("portaltransparencia"))
    {
        path = "/portaltransparencia";
    }
}

@if (Model.Any())
{
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Selecione uma das opções abaixo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pasta in Model.OrderBy(p => p.Descricao))
                {
                    <tr>
                        <td>
                            <a href="@(path + pasta.Href)">
                                <i class="fa @pasta.IconeFa.ToString().Replace("_", "-") "></i> @pasta.Descricao
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}