﻿@{
    ViewBag.Title = "Acordos de cooperação";
}

@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 12pt;
            margin-bottom: 30px;
            text-align:justify;
        }

        .link-arquivo {
            font-size: 14pt;
        }
    </style>
}

<div style="margin-bottom: 50px;">

    <div class="row">

        <hr class="col-xs-12" />

        <div class="col-xs-12">

            <img src="~/img/Logos/TransparenciaInternacionalLogo.png"  style="width: 90px;   height: 70px" align="left" />
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/Acordo de Cooperação Transparência Internacional.pdf">Acordo de Cooperação Técnica entre a TRANSPARÊNCIA INTERNACIONAL BRASIL e o GOVERNO DO ESTADO DE RONDÔNIA</a>
                <br />
                Objeto  é a união de esforços entre as Partes para criar um programa de cooperação e uma agenda técnico-institucional a fim de aprimorar o controle da corrupção, através do desenvolvimento e implementação de um Plano Estadual de Integridade.
            </p>

            <img src="~/img/Logos/logoCgu.jpg" style="width:90px; height: 75px" align="left" />
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/CGU.pdf">Acordo de Cooperação nº 29/2019</a>
                <br />
                Acordo de cooperação técnica que entre si celebrama União, por intermédio da CONTROLADORIA-GERAL DA UNIÃO - CGU e o estado de Rondônia, por intermédio da CONTROLADORIA-GERAL DO ESTADO - CGE/RO
            </p>

            <img src="~/img/Logos/LogoMinisteriosContas.png" style="width: 90px; height: 90px" align="left" />
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/MPC.pdf">Acordo de Cooperação Técnica nº 22/2019</a>
                <br />
                Acordo de e Cooperação Técnica que entre si celebram o Estado de Rondônia, por intermédio da CONTROLADORIA-GERAL DO ESTADO e o MINISTÉRIO PÚBLICO DE CONTAS do Estado de Rondônia
            </p>

            <img src="~/img/Logos/MPFLogo.png" style="width: 90px; height: 65px" align="left" />
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/MPF.pdf">Acordo de Cooperação nº 006/2019</a>
                <br />
                Acordo de Cooperação Técnica que entre si celebram o Estado de Rondônia, por intermédio da CONTROLADORIA-GERAL DO ESTADO - CGE e o MINISTÉRIO PÚBLICO FEDERAL - MPF por meio da PROCURADORIA DA REPÚBLICA em Rondônia.
            </p>

            <img src="~/img/Logos/MPROLogo.png" style="width: 90px; height: 90px" align="left" />
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/MPRO.pdf">Acordo de Cooperação Técnica nº 7/2019</a>
                <br />
                Acordo de Cooperação Técnica que entre si celebram o Estado de Rondônia, por intermédio da CONTROLADORIA-GERAL DO ESTADO, e o MINISTÉRIO PÚBLICO DO ESTADO DE RONDÔNIA, por  interveniência do Centro de Atividades Extrajudiciais, Centro de Estudos e Aperfeiçoamento Funcional, grupo de atuação especial de combate ao crime organizado e grupo de atuação especial de combate a sonegação fiscal e aos crimes contra a ordem tributária.
            </p>

            <img src="~/img/Logos/PFLogo.png"  style="width: 90px; height: 90px" align="left" /> 
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/PF.pdf">Termo de Cooperação nº 21/2019</a>
                <br />
                Acordo de Cooperação Técnica que entre si celebram o Estado de Rondônia, por intermédio da CONTROLADORIA-GERAL DO ESTADO, e a SUPERINTENDÊNCIA REGIONAL DE POLÍCIA FEDERAL DE RONDÔNIA
            </p>

            <img src="~/img/Logos/TCELogo.png" style="width: 90px; height: 110px" align="left" />
            <p>
                <a class="link-arquivo" href="~/Arq/Home/CovidCombate/AcordoDeCooperacao/TCE.pdf">Acordo de Cooperação nº 011/2019</a>
                <br />
                Acordo de Cooperação Técnica que entre si celebram a CONTROLADORIA-GERAL DO ESTADO e o TRIBUNAL DE CONTAS DO ESTADO DE RONDÔNIA com objetivo de promover a cooperação técnica e o intercâmbio de informações, experiências e tecnologias.
            </p>
        </div>
    </div>
</div>