﻿@{
    ViewBag.Title = "Área administrativa";
}

<div class="container-fluid">
    @Html.Action("Permissoes", "Home")
</div>

<div class="container-fluid">
    @Html.Action("PastasUsuario", "Home")
</div>