﻿@{
    ViewBag.Title = "Boletim de Controle Interno";
}

@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 16px;
        }

        .mt-34 {
            margin-top: 34px !important;
        }
    </style>
}

<div style="margin-bottom: 50px;">

    <div class="row">

        <div class="col-xs-12">
            <p class="text-justify text-muted mt-34">
                O Boletim de Controle Interno foi aprovado pela Portaria  89/2020-CGE, com o objetivo de informar a sociedade,
                órgãos de controle  e gestores acerca das ações de controle adotados pela Controladoria Geral do Estado em relação a pandemia Covid 19.
            </p>
        </div>

        <hr class="col-xs-12" />

        <div class="col-xs-12">
            <h3>
                <small>19/06/2020</small>
                <a href="~/Arq/boletimCGEed6.pdf">
                    Boletim de Controle Interno Edição 6
                </a>
            </h3>
        </div>
        
        <div class="col-xs-12">
            <h3>
                <small>05/06/2020</small>
                <a href="~/Arq/boletimCGEed5.pdf">
                    Boletim de Controle Interno Edição 5
                </a>
            </h3>
        </div>

        <div class="col-xs-12">
            <h3>
                <small>28/05/2020</small>
                <a href="~/Arq/boletimCGEed4.pdf">
                    Boletim de Controle Interno Edição 4
                </a>
            </h3>
        </div>

        <div class="col-xs-12">
            <h3>
                <small>21/05/2020</small>
                <a href="~/Arq/boletimCGEed3.pdf">
                    Boletim de Controle Interno Edição 3
                </a>
            </h3>
        </div>

        <div class="col-xs-12">
            <h3>
                <small>14/05/2020</small>
                <a href="~/Arq/boletimCGEed2.pdf">
                    Boletim de Controle Interno Edição 2
                </a>
            </h3>
        </div>

        <div class="col-xs-12">
            <h3>
                <small>06/05/2020</small>
                <a href="~/Arq/boletimCGE.pdf">
                    Boletim de Controle Interno Edição 1
                </a>
            </h3>
        </div>

    </div>
</div>