﻿@{
    ViewBag.DominioPersonalizado = true;
    ViewBag.title = "Transparência de Gastos - COVID-19";
}
@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <style>
        h2 {
            text-align: center;
        }

        .titulo-cards {
            text-align: center;
        }

        .size {
            font-size: 13px;
        }

        .titulo-links {
            font-size: 15px;
            font-weight: bold;
            font-family: "PT Sans Narrow";
        }

        .desc {
            font-size: 20px;
            font-weight: 900;
            font-family: "PT Sans Narrow";
        }

        .titulo-icons {
            font-size: 10px;
            font-weight: bold;
            font-family: "PT Sans Narrow";
        }

        .titulo-icons {
            font-size: 10px;
            font-weight: bold;
            font-family: "PT Sans Narrow";
        }

        img {
            max-width: 180px;
            max-height: 180px;
            width: auto;
            height: auto;
        }

        .redirec {
            float: right;
            margin-left: 4px;
        }

        h4 {
            font-family: inherit !important;
            font-weight: bold;
        }

        .pop-up {
            display: none;
            bottom: 5px;
            right: 5px;
            position: fixed;
            width: 300px;
            height: auto;
            padding: 13px;
            border-radius: 7px;
            background-color: white;
            border: 2px solid #2980b9;
            text-align: center;
            flex-wrap: nowrap;
            font-size: 14px;
            -webkit-transition: width 0.5s, height 0.5s !important; /* For Safari 3.1 to 6.0 */
            transition: width 0.5s, height 0.3s !important;
        }

            .pop-up .fechar-pop-up {
                float: right;
                margin-top: 3px;
                color: #2980b9;
            }

        .fechar-pop-up:hover {
            cursor: pointer;
        }
    </style>

}
<div class="container">
    <div style="margin-bottom: 50px;">

        <hr />

        <div class="col-xs-12">
            <p class="text-justify">
                Portal da Transparência divulga gastos Estaduais específicos para combate ao novo coronavírus conforme art. 5º da Portaria nº 63/20/CGE-GAB. Aqui podem ser acessados diariamente informações das contratações diretas sem licitação, quando estas ocorrerem, em razão da emergência e/ou calamidade pública motivadas pelo novo coronavírus (Covid - 19), acompanhamento dos chamamentos públicos, e demais informações referentes a pandemia Covid 19 no Estado de Rondônia. Seja nosso fiscal cidadão.
            </p>
        </div>


        <hr class="col-xs-12" />

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Home/LegislacaoCovid')">
                <h4 class="titulo-cards">Legislação</h4>
                <h4 class="titulo-cards">COVID-19</h4>
                <img class="img-zoom" src="~/img/legislacaoCovid.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Licitacao/ComprasEmergenciais')">
                <h4 class="titulo-cards">
                    Compras
                </h4>
                <h4 class="titulo-cards"> Emergenciais</h4>

                <img class="img-zoom" src="~/img/Licitacao.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/DadosLicitacao/Index')">
                <h4 class="titulo-cards">Contratos </h4>
                <h4 class="titulo-cards">Emergenciais</h4>
                <img class="img-zoom" src="~/img/Contratos.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Home/DespesasPowerBi')">
                <h4 class="titulo-cards">Painéis de Compras Emergênciais</h4>
                <img class="img-zoom" src="~/img/PaineisDespesas.png" />
            </div>

        </div>

        <hr class="col-xs-12" />

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Doacao/Index')">
                <h4 class="titulo-cards">Doações </h4>
                <img class="img-zoom" src="~/img/Doacoes.png" />
            </div>

            @*<div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrirLink('http://www.rondonia.ro.gov.br/supel/licitacoes/?m=Chamamento+P%C3%BAblico&situacao=&u=&a=&b=')">
                    <h4 class="titulo-cards">Chamamento Público</h4>
                    <img class="img-zoom" src="~/img/ChamamentoPublico.png" />
                </div>*@


            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/LicitacoesOrdinarias/Index')">
                <h4 class="titulo-cards">Licitações Ordinárias</h4>
                <img class="img-zoom" src="~/img/licitacoes.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrirLink('http://covid19.sesau.ro.gov.br/')">
                <h4 class="titulo-cards">Painéis COVID-19 </h4>
                <img class="img-zoom" src="~/img/Covid.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Home/AcordosCooperacao')">
                <h4 class="titulo-cards">Acordos de</h4>
                <h4 class="titulo-cards">Cooperação</h4>
                <img class="img-zoom" src="~/img/acordo-de-coooperacao.png" />
            </div>
        </div>

        <hr class="col-xs-12" />

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrirLink(window.location.origin + '/Arq/GUIA DE COMPRAS DIRETAS - PORT 21.pdf')">
                <h4 class="titulo-cards">Guia Orientativo </h4>
                <h4 class="titulo-cards">De Compras Emergenciais</h4>

                <img class="img-zoom" src="~/img/GuiaOrientativo.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Boletim/Index')">
                <h4 class="titulo-cards">Boletim De</h4>
                <h4 class="titulo-cards">Controle Interno</h4>
                <img class="img-zoom" src="~/img/BoletimControleInterno.png" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/Home/MedidasEconomicas')">
                <h4 class="titulo-cards">Medidas Econômicas</h4>
                <h4 class="titulo-cards">e Proteção Social</h4>
                <img class="img-zoom" src="~/img/medidas-economicas-e-protecao-social.jpeg" />
            </div>


        </div>
    </div>
</div>

<hr class="margin-bottom-25px" />

<div class="container">

    <div class="row">

        <div class=" col-xs-12 col-sm-6 col-md-3" style="margin-left:51px">
            <a href="~/Arq/Relatório Estatistico - e-SIC.pdf">
                <strong>
                    Relatório Estatístico e-SIC
                </strong>
            </a>
        </div>

        <div class=" col-xs-12 col-sm-6 col-md-3 redirec" )>
            <a href="~/Arq/Relatório Estatistico Ouvidoria.pdf">
                <strong>
                    Relatório Estatístico Ouvidoria
                </strong>
            </a>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrirLink('http://esic.cge.ro.gov.br/')">
            <img class="img-zoom" src="~/img/LogoEsicAzul.png" style="width: 90px;   height: 90px" />
            <div class="text-center">
                <h4 class="titulo-links">E-SIC COVID-19</h4>
                <p class="text-center size">Registre aqui seu pedido de acesso a informação sobre o COVID-19.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 img-with-title " onclick="abrirLink('http://www.transparencia.ro.gov.br#faleConosco')">
            <img class="img-zoom" src="~/img/FaleConosco.png " style="width: 100px;   height: 90px" />

            <div class="text-center">
                <h4 class="titulo-links">Fale Conosco</h4>
                <p class="text-center size">Em caso de dúvidas, sugestões ou reclamações, entre em contato conosco.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrirLink('https://sistema.ouvidorias.gov.br/publico/RO/Manifestacao/RegistrarManifestacao')">
            <img class="img-zoom" src="~/img/DadosAbertos.png" style="width: 90px;   height: 90px" />

            <div class="text-center">
                <h4 class="titulo-links">Dados Abertos/APIs/Covid-19</h4>
                <p class="text-center size"> Confira os Dados Abertos sobre o COVID-19.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 img-with-title" onclick="abrir('/ConteudoDinamico/Exibir#panel-despesas-covid19')">
            <img class="img-zoom" src="~/img/Ouvidoria.png" style="width: 140px;   height: 90px" />

            <div class="text-center">
                <h4 class="titulo-links"> Manifestação - FalaBr COVID-19</h4>
                <p class="text-center size"> Aqui você faz sugestão, elogio, reclamação e denúncia sobre COVID-19.</p>
            </div>
        </div>

    </div>

</div>

<div style="margin-bottom: 50px;">

    <hr />

    <div class="col-xs-12 col-lg-6">
        <img class="img-with-title" src="~/img/comite_transparencia.png" alt="Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia" align="left" onclick="abrir('/ComiteTransparencia')" width="50" />
        <div class="text-center">
            <p class="text-justify text-muted mt-34 desc">
                Portaria nº 100 de 03 de junho de 2020 Institui obrigatoriedade de emissão de Relatório de Transparência referentes a despesas públicas, ouvidoria e fiscalizações em enfrentamento ao COVID-19,  ao Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia.
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-lg-6">
        <img class="img-with-title" src="~/img/profocos.png" alt="Transparência Proativa (PROFOCUS)" align="left" onclick="abrir('/ParticipacaoSocial/Index')" width="50" style="margin-right: 22px;" />
        <div class="text-center">
            <p class="text-justify text-muted mt-34 desc">
                Portaria nº 106 de 15 de junho de 2020 Institui o PROFOCOS - Programa Rondoniense de Fortalecimento ao Controle Social de despesas destinadas ao enfrentamento do COVID-19.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div id="avaliacao">
            <h3 class="text-center margin-top-25px">Ei, cidadão! Avalie nossa transparência de gastos, referente ao COVID-19</h3>

            <p>
                Ajude-nos a melhorar na transparência de gastos do nosso Estado, referente ao combate ao novo coronavírus,
                avaliando sua experiência ao acessar as funcionalidades, filtrar por informações e obter dados públicos
                disponibilizadas aqui.
            </p>

            <div class="radio" style="display: inline-block;">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="5" onclick="EnviarAvaliacao()" /> Ótimo&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
            </div>

            <div class="radio" style="display: inline-block;">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="4" onclick="EnviarAvaliacao()" /> Bom&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
            </div>

            <div class="radio" style="display: inline-block;">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="3" onclick="EnviarAvaliacao()" /> Indiferente&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
            </div>

            <div class="radio" style="display: inline-block;">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="2" onclick="EnviarAvaliacao()" /> Ruim&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
            </div>

            <div class="radio" style="display: inline-block;">
                <label class="color-black">
                    <input type="radio" class="avaliacao" name="Avaliacao" value="1" onclick="EnviarAvaliacao()" /> Péssima&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
            </div>
        </div>

        <div id="pos-avaliacao" style="display: none;">
            <h3 class="text-center text-success margin-top-25px">
                <i class="fa fa-heart text-danger"></i>
                &nbsp; Obrigado por nos avaliar e assim garantir que caminharemos no rumo certo para melhorias futuras!
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-1 img-with-title redirec" onclick="abrirLink('https://www.facebook.com/cgerondoniaoficial/')">
        <img class="img-zoom" src="~/img/facebook-icon.jpg" style="width: 60px;   height: 60px" />

        <div class="text-center">
            <h4 class="titulo-icons">Facebook CGE</h4>
            @*<h4 class="text-center"></h4>*@
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-1 img-with-title redirec" onclick="abrirLink('https://www.facebook.com/governoderondonia')">
        <img class="img-zoom" src="~/img/facebook-icon.jpg" style="width: 60px;   height: 60px" />

        <div class="text-center">
            <h4 class="titulo-icons">Facebook Governador RO</h4>
            @*<h4 class="text-center"></h4>*@
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-1 img-with-title redirec" onclick="abrirLink('https://www.instagram.com/cge.ro/')">
        <img class="img-zoom" src="~/img/instagram-icon.png" style="width: 60px;   height: 60px" />

        <div class="text-center">
            <h4 class="titulo-icons">Instagram CGE</h4>
            @*<h4 class="text-center"></h4>*@
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-1 img-with-title redirec" onclick="abrirLink('https://www.instagram.com/sesau_ro/?hl=pt-br')">
        <img class="img-zoom" src="~/img/instagram-icon.png" style="width: 60px;   height: 60px" />

        <div class="text-center">
            <h4 class="titulo-icons">Instagram SESAU</h4>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-1 img-with-title redirec" onclick="abrirLink('https://www.instagram.com/sesau_ro/?hl=pt-br')">
        <img class="img-zoom" src="~/img/twitter.png" style="width: 60px;   height: 60px" />

        <div class="text-center">
            <h4 class="titulo-icons">Twitter GovernoRO</h4>
        </div>
    </div>
</div>
    </div>

@*pop-up*@

<div class="pop-up">

    <div class="row">
        <div class="col-xs-12">

            <span class="fechar-pop-up fa fa-times-circle" id="fechar-pop-up"></span>

            <div>
                <a href="~/Arq/PROFOCOS_CGE-RO.pdf" target="_blank"><img src="~/img/transparencia_proativa.png" width="100%" /></a>
                <br />
                <strong style="color:dodgerblue"><a href="~/Arq/LegislacaoCovid/SEI_ABC - 0011995979 - Portaria.pdf" target="_blank">Ação 5 - Portaria 106/CGE-GAB</a></strong>
            </div>
        </div>
    </div>

    @Html.Partial("_NotificarEmail", null)

</div>

@section AposFooter {
    <script>
        function EnviarAvaliacao() {
            $('#avaliacao').fadeOut(400);

            $('#pos-avaliacao').fadeIn(400);
        }

        function abrirLink(link) {
            window.open(link);
        }
        function abrir(tela) {
            window.location.href = tela;
        }

        $(document).ready(function () {
            $('.pop-up').fadeIn(1400);

            $('#fechar-pop-up').click(function () {
                $('.pop-up').fadeOut(400);
            });

            $('#alerta-form-notificar-email').hide();

            $('#form-notificar-email').submit(function (e) {
                e.preventDefault();
                CadastrarEmailParaNotificacoes();
            });

            function CadastrarEmailParaNotificacoes() {

                var form = $('#form-notificar-email').serialize();

                $('#form-notificar-email').hide();

                $.ajax({
                    type: "POST",
                    url: 'NotificarEmailModal',
                    data: form,
                    beforeSend: function () {

                        $('#alerta-form-notificar-email')
                            .removeClass('alert-danger')
                            .addClass('alert-info')
                            .html('Cadastrando...')
                            .css('display', 'block');
                    },
                    success: function (response) {

                        if (response.sucesso) {
                            $('#alerta-form-notificar-email')
                                .removeClass('alert-info')
                                .removeClass('alert-danger')
                                .addClass('alert-success')
                                .html(response.mensagem);
                        }
                        else {

                            $('#form-notificar-email').show();

                            $('#alerta-form-notificar-email')
                                .removeClass('alert-info')
                                .removeClass('alert-success')
                                .addClass('alert-danger')
                                .html(response.mensagem);
                        }
                    },
                    error: function () {

                        $('#form-notificar-email').show();

                        $('#alerta-form-notificar-email')
                            .removeClass('alert-info')
                            .addClass('alert-danger')
                            .html('Erro, Ao cadastrar Email');
                    }
                });
            }

        });
    </script>
}
