﻿@section Head
{
    <style>
        #mainContainer {
            margin: 0 !important;
            width: 100%;
        }
    </style>
}

<div class="row">
    <div class="col-xs-offset-10 col-xs-2">
        <a href="@Url.Action("DespesasDiretasToCSV","Grafico")" class="btn btn-default pull-right">Download CSV</a>
    </div>
</div>

<iframe width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNGI2NDQ0OWUtODZkZi00NDlmLTkyNTItMjkzNWU5YmE5NjUxIiwidCI6Ijk5Yjk4YzAxLTE4MGItNDNiMy05OTZjLWViMzVkNzNhNGEyYiJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>

