﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@{
    ViewBag.Title = "";

    var noticias = (List<ListarNoticiasViewModel>)ViewBag.Noticias;
    var mapaSite = (Pasta)ViewBag.MapaSite;
    var notPopUp = (ListarNoticiasViewModel)ViewBag.NoticiaPopUp;
}

@section Head
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
    <style>
        .bg-image {
            background: url(/img/banner-corona-background-black.png);
            height: 300px;
            background-size: cover;
            border: 2px solid #1c61ae;
            border-radius: 7px;
        }

        .btn-links {
            position: absolute;
            top: 0;
            width: 100%;
            background-color: #202120db;
        }

        .btn-covid-19 {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #202120db;
        }
    </style>
}

@*@if (Request.Cookies["ocultarpopup"] == null)
    {
        <text>
            @section popup
                {
                <img src="~/img/Controle Cidadao 2.png" alt="Controle Cidadao-RO" />
                <h1> Controle Cidadão - RO </h1>
            }
        </text>
        var cookieOcultarPopup = new HttpCookie("ocultarpopup")
        {
            Expires = DateTime.Now.AddDays(1),
            Value = "1"
        };
        Response.Cookies.Add(cookieOcultarPopup);
    }*@

<div class="section menuPrincipalSection p-t-1" id="menuPrincipal">

    <div class="container containerBusca" style="margin-bottom: 20px">
        <div class="row">
            @Html.Partial("_BuscarSite")
        </div>
    </div>

    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            @*<div class="alert alert-warning" style="background-color: #f39c12 !important; border-color: #faebcc !important; color: #fff !important;">
                    <h4 class="text-center no-margin">
                        Transparência das Compras diretas decorrentes de Estado de Calamidade Pública Estadual (COVID-19).
                        &nbsp;&nbsp;(art. 18, Decreto 24.887/20)
                        <br /><br />
                        Saiba mais <strong>

                            <a href="#!" style="color: #fff !important" onclick="showLoading($(this).parent()); requestFolderList('/api/PastaApi?pEncPastaId=nnMKGRsbo-pxcXs9DDtF2rFAOnFXf0CJrf5O5zZynz7OfgJrRIXoJrTq1Vym6Y8hlXAuwku1l7RIFrSXU6vzkca2RB-zZEMpbZNmiB6LFb43QU4L');">clicando aqui.</a>

                        </strong>
                    </h4>
                </div>*@

            <div class="col-xs-12 bg-image">
                <div class="row btn-links" id="banner-corona-virus">

                    <a class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 btn btn-lg btn-link" href="http://comprasemergenciais-covid19.ro.gov.br"><strong>Despesas COVID-19</strong></a>
                    <a class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 btn btn-lg btn-link" href="http://coronavirus.ro.gov.br/" target="_blank"><strong>Portal COVID-19</strong></a>
                    <a class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 btn btn-lg btn-link" href="http://covid19.sesau.ro.gov.br/" target="_blank"><strong>Painel interativo COVID-19</strong></a>
                    <a class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 btn btn-lg btn-link" href="http://www.odr.ro.gov.br/Covid19Painel" target="_blank"><strong>Painéis do observatório</strong></a>

                </div>

                <div class="row btn-covid-19 text-center">
                    <h4 class="no-margin" style="color: white; padding: 0 25px">
                        Fique por dentro das contratações e compras emergenciais e dos normativos publicados pelo Governo de Rondônia relacionados ao combate à COVID-19...
                    </h4>
                    <a class="btn btn-link btn-lg" href="http://comprasemergenciais-covid19.ro.gov.br">
                        <strong>
                            Saiba mais clicando aqui
                        </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="breadCrumbContainer col-md-12" id="breadCrumb"></div>
        </div>
    </div>

    <div class="container menuPrincipalContainer">
        <nav id="menu" class="nav menuFadeOut"></nav>
    </div>

</div>
<div class="section menuSecundarioSection">
    <div class="container">
        <ul>
            <a href="@Url.Action("Index", "Home", new {pEncPastaId = "076B5D8B-22D0-4D44-9DED-A2B474048F04".ToEncrypted()})">
                <li>
                    <i class="fa fa-folder-o"></i>
                    <p>P.A.F.</p>
                </li>
            </a>
            <a href="@Url.Action("Index", "Home", new {pEncPastaId = "B3A42A30-790C-4424-AA21-97FA8D6B9524".ToEncrypted()})">
                <li>
                    <i class="fa fa-folder-o"></i>
                    <p>GTCON-RO</p>
                </li>
            </a>
            <a href="@Url.Action("Index", "Home", new {pEncPastaId = "6B024CEF-206C-432B-90D7-8FC2D9B25C75".ToEncrypted()})">
                <li>
                    <i class="fa fa-folder-o"></i>
                    <p>MPCE-RO</p>
                </li>
            </a>
            <a href="@Url.Action("Index", "Home", new {pEncPastaId = "3880C877-918F-4F47-9B3A-2456797B6195".ToEncrypted()})">
                <li>
                    <i class="fa fa-folder-o"></i>
                    <p>LRF</p>
                </li>
            </a>
            <a href="@Url.Action("Index", "Home", new {pEncPastaId = "2968535F-CBC7-4E9A-B84C-AD0722CDD5C1".ToEncrypted()})">
                <li>
                    <i class="fa fa-folder-o"></i>
                    <p>Informações Socioeconômicas</p>
                </li>
            </a>

            <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm" target="_blank">
                <li>
                    <i class="fa fa-file-text"></i>
                    <p>L.A.I. Federal</p>
                </li>
            </a>
            <a href="http://esic.cge.ro.gov.br/site/anexos/L3166.pdf" target="_blank">
                <li>
                    <i class="fa fa-file-text"></i>
                    <p>L.A.I. Estadual</p>
                </li>
            </a>
            <a href="https://legislacao.casacivil.ro.gov.br/doku.php" target="_blank">
                <li>
                    <i class="fa fa-file-text"></i>
                    <p>Legislação Estadual</p>
                </li>
            </a>
            <a href="http://esic.cge.ro.gov.br/site/index.aspx#tempoReal" target="_blank">
                <li>
                    <i class="fa fa-comment"></i>
                    <p>Estatística eSIC</p>
                </li>
            </a>
            <a href="http://www.rondonia.ro.gov.br/ouvidoria/" target="_blank">
                <li>
                    <i class="fa fa-comments-o"></i>
                    <p>Ouvidoria Geral</p>
                </li>
            </a>

            <a href="~/Arq/OrganogramaPoderExecutivo.pdf" target="_blank">
                <li>
                    <i class="fa fa-sitemap"></i>
                    <p>Organograma Estadual</p>
                </li>
            </a>
            <a href="http://www.rondonia.ro.gov.br/" target="_blank">
                <li>
                    <i class="fa fa-external-link"></i>
                    <p>Site do Governo</p>
                </li>
            </a>
            <a href="@Url.Action("ContatoInstitucional", "Menu")">
                <li>
                    <i class="fa fa-university"></i>
                    <p>Contato Institucional</p>
                </li>
            </a>
            <a href="@Url.Action("Index", "DadosAbertos")">
                <li>
                    <i class="fa fa-database"></i>
                    <p>Dados Abertos/APIs</p>
                </li>
            </a>
            <a href="http://www.bancodetalentos.ro.gov.br/" target="_blank">
                <li>
                    <i class="fa fa-users"></i>
                    <p>Banco de talentos</p>
                </li>
            </a>
        </ul>
    </div>
</div>

<div class="section noticiasSection">
    <div class="container">
        <div class="row">
            <div class="noticia col-md-12">
                <a href="http://www.odr.ro.gov.br" target="_blank"><img src="~/img/observatorio.png" width="100%" /></a>
            </div>
        </div>
    </div>
</div>

@if (noticias.Count > 0)
{
    <div class="section noticiasSection">
        <div class="container">
            <div class="row">
                @foreach (var noticia in noticias)
                {
                    var linkNoticia = Url.Action("Visualizar", "Noticia", new { pEncId = noticia.EncNoticiaId });
                    <div class="noticia col-md-4">
                        <h3>
                            <a href="@linkNoticia">@noticia.Titulo</a>
                        </h3>
                        <p>
                            <i class="fa fa-calendar"></i> @noticia.DataCriacao
                        </p>
                        <p class="noticia-atualizacao-container">
                            <i class="fa fa-refresh"></i>
                            <small>Atualizado em @noticia.DataUltimaAtualizacao</small>
                        </p>
                        @if (noticia.HTMLImagem != "")
                        {
                            <a href="@linkNoticia">
                                <div class="noticia-imagem-container">
                                    @Html.Raw(noticia.HTMLImagem)
                                </div>
                            </a>
                        }
                        <p>
                            <a href="@linkNoticia">@Html.Raw(noticia.PrimeiroParagrafo)</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="section bannerVideoSection" id="banner-video">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="https://play.google.com/store/apps/details?id=cge.rondonia" target="_blank">
                    <img src="~/img/Controle Cidadao 3.jpg" alt="Controle Cidadao - RO" class="img-responsive margin-top-40px" style="max-width: 100%; height: auto" />
                </a>
            </div>
            <div class="col-md-4">
                <img src="~/img/dinheiropublico.png" alt="DinheiroPublico" class="img-responsive margin-top-40px" style="max-width: 100%; height: auto" />
            </div>
            <div class="col-md-4" align="center">
                <div align="center" class="embed-responsive embed-responsive-16by9" style="height: 350px;">
                    <video controls class="embed-responsive-item" style="padding-top: 10px;">
                        <source src="~/video/TransparenciaNota10.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section faleConoscoSection" id="faleConosco">
    <div class="container">
        <div class="row">
            <div id="faleConosco" class="col-md-4 ">
                <h3>Informação ao Cidadão</h3>
                <p>
                    O serviço de Informação ao Cidadão está disponível no <b>Palácio Rio Madeira - Edifício Rio Jamari - Térreo, Curvo III</b>,
                    que fica localizado na Av. Farquar, n° 2986 - Pedrinhas de Porto Velho / RO.<br />
                    <small>Horário de atendimento ao público: 7h30min às 13h30min, de segunda à sexta.</small><br />
                    Telefone: <a href="tel:6932165140">(69) 3212-9412</a><br />
                    Telefone: <a href="tel:6932129407">(69) 3212-9407</a><br />
                    Telefone: <a href="tel:69984829718">(69) 9 8482-9718</a><br />
                    Telefone: <a href="tel:69984829781">(69) 9 8482-9781</a>
                </p>
                <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJa0BGpipdMpIR_VMKNNW_-fI&key=AIzaSyAJaFuIFVUqaQx_PowHFFnd4H6xsENdm2s" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div id="" class="col-md-4 ">
                @Html.Action("FaleConosco", "Menu")
            </div>
            <div class="col-md-4">
                <h3>eSIC</h3>
                <p>
                    O eSIC (Sistema Eletrônico do Serviço de Informações ao Cidadão) permite que qualquer pessoa, física ou jurídica,
                    encaminhe pedidos de acesso a informação para órgãos e entidades do Poder Executivo do Governo do Estado de Rondônia.
                </p>
                <a href="http://esic.cge.ro.gov.br" target="_blank">
                    <div class="esic-link-container">
                        <div class="image-container">
                            <img src="~/img/esic_logo.png" alt="eSIC" />
                        </div>
                        <div class="text-container">
                            <p>
                                Sistema de Informações ao Cidadão<br /><small>Clique aqui</small>
                            </p>
                        </div>
                    </div>
                </a>
                <h3>Download Manual</h3>
                <a href="~/Arq/Manual Transparência RO.pdf" target="_blank">
                    <div class="esic-link-container">
                        <div class="image-container">
                            <img src="~/img/manual.png" alt="Manual" />
                        </div>
                        <div class="text-container">
                            <p>
                                Manual do Portal da Transparência<br /><small>Clique aqui</small>
                            </p>
                        </div>

                    </div>
                </a>
                <h3>Enquete</h3>
                <div id="divEnquete">
                    @Html.Action("GetEnquete", "Enquete")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section paceirosSection hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            @*<a class="col-md-1" href="http://www.rondonia.ro.gov.br" target="_blank">
                    <img src="~/img/Brasão_de_Rondônia.svg" alt="Brasão de Rondônia" />
                    <label>Governo do Estado <br /> de Rondônia</label>
                </a>*@
            <a class="col-md-2" href="http://www.tjro.jus.br" target="_blank">
                <img src="~/img/Brasão_de_Rondônia.svg" alt="Brasão de Rondônia" />
                <label>Tribunal de Justiça <br /> do Estado de Rondônia</label>
            </a>
            <a class="col-md-2" href="http://www.tce.ro.gov.br/" target="_blank">
                <img src="~/img/Brasão_de_Rondônia.svg" alt="Brasão de Rondônia" />
                <label>Tribunal de Contas <br /> do Estado de Rondônia</label>
            </a>
            <a class="col-md-2" href="http://www.mpro.mp.br" target="_blank">
                <img src="~/img/Brasão_de_Rondônia.svg" alt="Brasão do Ministério Público" />
                <label>Minitério Público <br /> do Estado de Rondônia</label>
            </a>
            <a class="col-md-2" style="margin-top: 1.5%" href="http://www.mpf.mp.br" target="_blank">
                <img src="~/img/Brasil.svg" alt="Ministério Público Federal " />
                <label>Ministério Público Federal</label>
            </a>
            <a class="col-md-2" style="margin-top: 1.5%" href="http://www.cgu.gov.br" target="_blank">
                <img src="~/img/Brasil.svg" alt="Ministério da Transparência e Controladoria Geral da União" />
                <label>Controladoria Geral da União</label>
            </a>
            <a class="col-md-2" style="margin-top: 1.5%" href="http://portal.tcu.gov.br" target="_blank">
                <img src="~/img/Brasil.svg" alt="Tribunal de Contas da União" />
                <label>Tribunal de Contas da União</label>
            </a>
        </div>
    </div>
</div>
<div class="section mapaSiteSection visible-md visible-lg">
    <div class="container">
        <div class="row" id="mapasiteContainer">
            @foreach (var pasta in mapaSite.SubPastas.Where(sp => sp.PerfilPasta == null && sp.DataRemocao == null).OrderBy(sp => sp.Ordem).ThenBy(sp => sp.Descricao))
            {
                <div class="mapaSiteSubSection col-md-3">
                    <h1>@pasta.Descricao</h1>
                    <ul>
                        @foreach (var subpasta in pasta.SubPastas.OrderBy(sp => sp.Ordem).ThenBy(sp => sp.Descricao).Where(sp => sp.DataRemocao == null))
                        {
                            var onClick = "";
                            if (subpasta.SubPastas.Count > 0 || subpasta.Arquivos.Count > 0 || subpasta.Imagens.Count > 0)
                            {
                                onClick = $"onclick=\"requestFolderList('/api/PastaApi?pEncPastaId={subpasta.PastaId.ToString("N").ToEncrypted()}'); $('html, body').animate({{scrollTop: $('#menuPrincipal').offset().top}},500);\"";
                            }
                            <li>
                                <a href="@(subpasta.Href.IsNullOrEmpty() ? "#!" : subpasta.Href)" @Html.Raw(onClick)>@subpasta.Descricao</a>
                            </li>
                        }
                        @if (!pasta.Href.IsNullOrEmpty())
                        {
                            <li>
                                <a href="@pasta.Href">Acessar</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

<!-- Dicas -->
<div class="dicas visible-md visible-lg" id="dicas">
    <div class="dicas-content">
        <span class="fechar-dicas fa fa-times-circle" id="fechar-dicas"></span>

        <strong class="dicas-title">Você sabia?</strong>

        <div class="dicas-text">
            <p id="textDialog">
                <strong>Rondônia é destaque em Transparência Regional e Nacional</strong><br />
                Estado ficou  em primeiro lugar com Nota 100 na avaliação da  Open Knowledge Brasil (OKBR), e entre os primeiros na avaliação da Transparência Internacional BR (TI BR).
            </p>

            <div id="divBtnDialog" hidden="hidden">
                <a href="/" class="btn btn-verde-marinho btn-sm" id="btnDialog">
                    <i class="fa fa-rocket"></i>
                    &nbsp;Saiba mais
                </a>
            </div>
        </div>
    </div>

    <div class="dicas-img" id="dicas-img">
        <img src="~/img/call-center-worker-with-headset.png" alt="" width="25px" height="25px" />
    </div>
</div>

<input type="hidden" value="@notPopUp.Popup" id="noticiaPopUp" name="noticiaPopUp" />

<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@notPopUp.Titulo</h4>
            </div>
            <div class="modal-body text-justify noticias">
                @Html.Raw(notPopUp.HTMLImagem)
                @Html.Raw(notPopUp.PrimeiroParagrafo)

                <div class="text-center margin-top-15px">
                    <a href="@Url.Action("Visualizar", "Noticia", new {pEncId = notPopUp.EncNoticiaId})" class="btn btn-primary text-center">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="modal-aviso" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aviso de manutenção</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12" style="padding: 30px 30px 30px 30px ">
                        <img width="100%" src="~/img/aviso_de_manutencao_20-21-06-2020.jpeg" alt="Aviso de manutenção da rede elétrica no período de 20 a 21 de junho de 2020" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>*@

@section AposFooter
{
    <script src="~/Scripts/menu.js"></script>
    <script>

        function EnviarAvaliacao() {
            $.post('@Url.Action("AddAvaliacao", "Enquete")',
                $('#formEnquete').serialize(),
                function(data) {
                    $('#divEnquete').html(data);
                });
        };

        function ResultadoAvaliacao(resultado) {
            $("#resultado").fadeOut('slow');
            $('.loadingPlaceholder > h2').fadeIn('slow');
            $.get("@Url.Action("ResultadoAvaliacao", "Enquete")",{id : resultado},
                function(drilldown) {
                    var html = [];
                    console.log(drilldown);
                    for (var i in drilldown) {

                        html.push('<p class="color-black"><span class="label label-default">' +
                            drilldown[i].Qtd +
                            '</span> ' +
                            drilldown[i].Avaliacao +
                            '</p>');
                    }

                    $("#resultado").html(html);
                });

            $('.loadingPlaceholder > h2').fadeOut('slow');
            $("#resultado").fadeIn('slow');
        }
        var dialogs = [];
        var notPop = $('#noticiaPopUp').val();

        if (notPop != 0 && (screen.width >= 1024 || screen.height >= 760)) {
            $(window).load(function() {
                $('#myModal').modal('show');
            });
        }

        $(document).ready(function () {

            //$('#modal-aviso').modal('show');

            //setTimeout(function () {
            //    $('#modal-aviso').modal('hide');
            //}, 20000);

            $('.dicas-img').fadeIn(400);
            $('.dicas-content').fadeIn(400);

            $('.dicas-img').click(function() {
                $('.dicas-content').fadeIn(400);
            });

            $('#fechar-dicas').click(function() {
                $('.dicas-content').fadeOut(400);
            });

            $(".dicas-content").mouseenter(function() {
                $('.dicas-text').fadeIn(600);
            }).mouseleave(function() {
                $('.dicas-text').hide();
            });

            if ($(window).width() < 400) {
                $("#txtBusca").attr("placeholder", "Buscar...");
            }

            $("#Fone").mask("00 00000-0000", { placeholder: "99 99999-9999" });
            $('#mapasiteContainer').masonry({
                itemSelector: '.mapaSiteSubSection'
            });

            $.get('@Url.Action("List", "Dialogs")',
                function(data) {
                    dialogs = data;
                    randonDialog();
                });
            var interval = setInterval(function() {
                    randonDialog();
                },
                600000);

            function randonDialog() {
                if (dialogs.length > 0) {
                    var dialog = dialogs[Math.floor(dialogs.length * Math.random())];
                    $('#textDialog').text(dialog.Descricao);
                    var url = dialog.url;
                    if (url != null) {
                        $('#divBtnDialog').attr('hidden', false);
                        $('#btnDialog').attr('href', dialog.url);
                    } else {
                        $('#divBtnDialog').attr('hidden', true);
                    }
                } else {
                    clearInterval(interval);
                }
            };

        });

        var pastaId =
            @Html.Raw(ViewBag.PastaId != new Guid() ? "'" + ((Guid) ViewBag.PastaId).ToString("N").ToEncrypted() + "'" : "null");

        $(document).ready(function() {
            setTimeout(function() {
                    $('#popup').fadeOut();
                },
                3 * 1000);
        });

        function abrir(tela) {
            window.location.href = '/Home/' + tela;
        }

    </script>

}
