﻿@{
    ViewBag.Title = "Legislação COVID-19";
}

@using TransparenciaRO.Web.HTMLHelper

@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 12pt;
            margin-bottom: 30px;
            text-align: justify;
        }

        .link-arquivo {
            font-size: 14pt;
        }
    </style>
}

<div style="margin-bottom: 50px;">


    <div class="row">
            
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-tema-1">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-1" aria-controls="collapse-tema-1">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">Contratações Emergenciais</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="collapse-tema-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-1">
                    <div class="panel-body">
                        <form>
                            <div class="row">

                                <div class="form-group col-xs-12">
                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Contratações emergenciais/Resolução 01 2020.pdf">Resolução 001/2020 GAB-CGE, 05 de maio 2020</a>
                                        <br />
                                        Dispõe sobre orientações para procedimentos de consultoria em gestão de riscos nas contratações emergenciais do COVID-19 - quando demandado pela alta administração de cada unidade, conforme o art. 3º da Portaria.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Contratações emergenciais/Portaria 63 2020cge-gab.pdf">PORTARIA  Nº 63 de 20 DE MARÇO DE 2020</a>
                                        <br />
                                        Orienta, traça diretrizes e alerta as unidades administrativas orçamentárias acerca de procedimentos e boas práticas de instrução, governança e transparência relacionadas a eventuais contratações diretas, por emergência ou calamidade pública, com fulcro no art. 24, IV, da Lei n. 8.666/93, bem como as motivadas pela declaração de calamidade pública dispostas no art. 18 do Decreto Estadual 24.887/2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Contratações emergenciais/Decreto 24887 2020.pdf">DECRETO Nº 24.887, DE 20 DE MARÇO DE 2020</a>
                                        <br />
                                        Este decreto declara Estado de Declara Estado de Calamidade Pública em todo o território do Estado de Rondônia, para fins de prevenção e enfrentamento à pandemia de COVID -19.
                                        <br />
                                        Em seu artigo art. 18 determinou à Controladoria Geral do Estado - CGE, para que  estabelecesse , em até 48 (quarenta e oito) horas a  orientação visando traçar diretrizes e alertar as unidades administrativas orçamentárias, acerca de procedimentos e boas práticas de instrução, governança e transparência relacionadas a eventuais contratações diretas, por emergência ou Calamidade Pública.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Contratações emergenciais/L13979-2020.pdf">LEI Nº 13979, DE  6 DE FEVEREIRO DE 2020</a>
                                        <br />
                                        Dispõe sobre as medidas para enfrentamento da emergência de saúde pública de importância internacional decorrente do Corona vírus responsável pelo surto de 2019.
                                    </p>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-tema-2">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-2" aria-controls="collapse-tema-2">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">Medidas Fiscais e de Estímulo Econômico</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="collapse-tema-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-2">
                    <div class="panel-body">
                        <form>
                            <div class="row">

                                <div class="form-group col-xs-12">

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Decreto n. 25.136, de 12 de junho de 2020.pdf">DECRETO N° 25.136, DE 12 DE JUNHO DE 2020</a>
                                        <br />
                                        Altera e acrescenta dispositivos ao Decreto
                                        nº 24.917, de 31 de março de 2020, que
                                        “Dispõe sobre a prorrogação dos prazos para
                                        recolhimento do Imposto sobre a
                                        Propriedade de Veículos Automotores -
                                        IPVA, excepcionalmente, nos casos em que
                                        se especifica, em razão da pandemia
                                        relacionada ao Coronavírus - COVID-19.”.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/DECRETO N° 25.135, DE 12 DE JUNHO DE 2020..pdf">DECRETO N° 25.135, DE 12 DE JUNHO DE 2020</a>
                                        <br />
                                        Dispõe sobre alteração de prazo para pagamento de Imposto sobre
                                        Operações Relativas à Circulação de Mercadorias e sobre
                                        Prestações de Serviços de Transporte Interestadual e
                                        Intermunicipal e de Comunicação - ICMS, em razão do estado de
                                        Calamidade Pública.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/MP n. 950-20 que altera a Lei n. 12.212-10.pdf">MEDIDA PROVISÓRIA Nº 950, DE 8 DE ABRIL DE 2020</a>
                                        <br />
                                        Dispõe sobre medidas temporárias emergenciais destinadas ao
                                        setor elétrico para enfrentamento do estado de calamidade
                                        pública reconhecido pelo Decreto Legislativo nº 6, de 20 de
                                        março de 2020, e da emergência de saúde pública de
                                        importância internacional decorrente da pandemia de
                                        coronavírus ( covid-19 ).
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Resolucao nº 14-2020-SEDI-CONDER.pdf">Resolução N. 14/2020/SEDI-CONDER, DE 9 DE ABRIL DE 2020.</a>
                                        <br />
                                        Cria o Programa de Microcrédito Social em Rondônia com o objetivo de incentivar o empreendedorismo com a medida para fins de enfrentamento dos impactos causados pelo novo coronavirus Covid-19
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Lei n. 4.728-20, de 6 de abril de 2020.pdf">LEI N° 4.728, DE 6 DE ABRIL DE 2020.</a>
                                        <br />
                                        Altera dispositivo das Leis n° 4.702 e n°
                                        4.703, ambas de 12 de dezembro de 2019.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Resol. CGSN  Nº 154  -  2020.pdf">RESOLUÇÃO CGSN Nº 154, DE 03 DE ABRIL DE 2020</a>
                                        <br />
                                        Dispõe sobre a prorrogação de prazos de pagamento de
                                        tributos no âmbito do Simples Nacional, em razão da pandemia
                                        da Covid-19
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Decreto n. 24.917-2020, de 31 de março de 2020.pdf">DECRETO Nº 24.917, DE 31 DE MARÇO DE 2020.</a>
                                        <br />
                                        Dispõe sobre a prorrogação dos prazos para
                                        recolhimento do Imposto sobre a Propriedade de
                                        Veículos Automotores - IPVA, excepcionalmente,
                                        nos casos em que se especifica, em razão da
                                        pandemia relacionada ao Coronavírus - COVID19.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/DECRETO N° 24.909, DE 27 DE MARÇO DE 2020.pdf">DECRETO N° 24.909, DE 27 DE MARÇO DE 2020</a>
                                        <br />
                                        Altera prazo de vencimento do Imposto sobre
                                        Operações Relativas à Circulação de Mercadorias
                                        e sobre Prestações de Serviços de Transporte
                                        Interestadual e Intermunicipal e de Comunicação -
                                        ICMS, em razão da pandemia do COVID - 19.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/DECRETO N. 24.908, DE 27 DE MARCO DE 2020.pdf">DECRETO N. 24.908, DE 27 DE MARCO DE 2020</a>
                                        <br />
                                        Dispõe sobre a emissão, a prorrogação do
                                        prazo de validade da Certidão Negativa,
                                        prevista no Regulamento do Imposto sobre
                                        Operações Relativas à Circulação de
                                        Mercadorias e sobre Prestações de
                                        Serviços de Transporte Interestadual e
                                        Intermunicipal e de Comunicação - RICMS,
                                        e da suspensão do cancelamento de
                                        parcelamento em decorrência da pandemia
                                        relacionada ao coronavírus (COVID-19).
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Instrução Normativa nº 0132020GABCRESEFIN.pdf">INSTRUÇÃO NORMATIVA Nº 013/2020/GAB/CRE/SEFIN</a>
                                        <br />
                                        Suspende o prazo de encerramento da
                                        designação para execução de procedimentos
                                        fiscais, em razão das medidas emergenciais
                                        para prevenção e enfrentamento da calamidade
                                        pública decorrente do novo Coronavírus
                                        COVID-19.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/RESOLUÇÃO CONJUNTA N. 0052020GABSEFINCRE.pdf">RESOLUÇÃO CONJUNTA N. 005/2020/GAB/SEFIN/CRE</a>
                                        <br />
                                        Altera, acrescenta e revoga dispositivos da Resolução Conjunta
                                        n. 002/2020/GAB/SEFIN/CRE, que dispõe sobre a suspensão de
                                        prazos em processos administrativos, inclusive em processos
                                        administrativos Tributário, no âmbito da Secretaria de Estado
                                        de Finanças - SEFIN.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Resolução Conjunta N. 0042020GABSEFINCRE2020.pdf">RESOLUÇÃO CONJUNTA N. 004/2020/GAB/SEFIN/CRE/2020</a>
                                        <br />
                                        Altera e revoga dispositivos da Resolução
                                        Conjunta n. 002/2020/GAB/SEFIN/CRE, que
                                        dispõe sobre a suspensão de prazos em
                                        processos administrativos, inclusive em
                                        processos administrativos Tributário, no
                                        âmbito da Secretaria de Estado de Finanças -
                                        SEFIN.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/RESOLUÇÃO N. 0032020GABSEFINCRE.pdf">RESOLUÇÃO N. 003/2020/GAB/SEFIN/CRE</a>
                                        <br />
                                        Acrescenta e altera dispositivos da
                                        Resolução Conjunta n.
                                        002/2020/GAB/SEFIN/CRE, que
                                        dispõe sobre a suspensão de prazos
                                        em processos administrativos,
                                        inclusive em processos administrativos
                                        Tributário, no âmbito da Secretaria de
                                        Estado de Finanças - SEFIN.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/RESOLUÇÃO CONJUNTA N. 0022020CRESEFIN.pdf">RESOLUÇÃO CONJUNTA N. 002/2020/CRE/SEFIN</a>
                                        <br />
                                        Dispõe sobre a suspensão de prazos em processos
                                        administrativos, inclusive em processos administrativos
                                        Tributário, no âmbito da Secretaria de Estado de
                                        Finanças – SEFIN, e dá outras providências.
                                    </p>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-tema-3">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-3" aria-controls="collapse-tema-3">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">Isolamento Social</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="collapse-tema-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-3">
                    <div class="panel-body">
                        <form>
                            <div class="row">

                                <div class="form-group col-xs-12">

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Isolamento social/PORTARIA CONJUNTA Nº 14, DE 13 DE JULHO DE 2020.pdf">PORTARIA CONJUNTA Nº 14, DE 13 DE JULHO DE 2020</a>
                                        <br />
                                        Enquadramento dos Municípios do Estado de Rondônia nas Fase 1,2,3 e 4, conforme critérios estabelecidos no Decreto nº 25.049, de 14 de maio de 2020 com alterações do Decreto n° 25.220, de 10 de julho de 2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Isolamento social/DECRETO N° 25.220, DE 10 DE JULHO DE 2020.pdf">DECRETO N° 25.220, DE 10 DE JULHO DE 2020</a>
                                        <br />
                                        Altera dispositivos do Decreto n° 25.049, de 14 de maio de 2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Isolamento social/PORTARIA CONJUNTA Nº 11, DE 29 DE JUNHO DE 2020..pdf">PORTARIA CONJUNTA Nº 11, DE 29 DE JUNHO DE 2020</a>
                                        <br />
                                        Enquadramento dos Municípios do Estado de Rondônia nas
                                        Fase 1,2,3 e 4, conforme critérios estabelecidos no Decreto nº
                                        25.049, de 14 de maio de 2020, com alterações do Decreto
                                        25.138 de 15 de junho de 2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Isolamento social/DECRETO N° 25.138, DE 15 DE JUNHO DE 2020.pdf">DECRETO N° 25.138, DE 15 DE JUNHO DE 2020</a>
                                        <br />
                                        Altera e acresce dispositivos ao Decreto n° 25.049, de 14 de maio de 2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Isolamento social/DECRETO N° 25.113, DE 5 DE JUNHO DE 2020.pdf">DECRETO N° 25.113, DE 5 DE JUNHO DE 2020</a>
                                        <br />
                                        Decreta medidas temporárias de isolamento social restritivo, visando a contenção do
                                        avanço da pandemia do novo Coronavírus - COVID-19, nos municípios de Porto Velho e Candeias do Jamari.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Isolamento social/DECRETO N° 25.049, DE 14 DE MAIO DE 2020.pdf">DECRETO N° 25.049, DE 14 DE MAIO DE 2020</a>
                                        <br />
                                        Institui o Sistema de Distanciamento Social Controlado para fins de prevenção e de
                                        enfrentamento à epidemia causada pelo novo Coronavírus - COVID19, no âmbito do
                                        Estado de Rondônia, reitera a declaração de Estado de Calamidade Pública em todo o
                                        território estadual e revoga o Decreto n° 24.979, de 26 de abril de 2020.
                                    </p>





                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-tema-4">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-4" aria-controls="collapse-tema-4">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">Controle Social</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="collapse-tema-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-4">
                    <div class="panel-body">
                        <form>
                            <div class="row">

                                <div class="form-group col-xs-12">

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Políticas sociais/SEI_ABC - 0011995979 - Portaria.pdf">Portaria nº 106 de 15 de junho de 2020</a>
                                        <br />
                                        Institui o PROFOCOS - Programa Rondoniense de Fortalecimento ao Controle Social de despesas destinadas ao enfrentamento do COVID-19.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Políticas sociais/SEI_ABC - 0011917970 - Portaria 103.pdf">Portaria nº 103 de 08 de junho de 2020</a>
                                        <br />
                                        Convoca a participação da sociedade civil para contribuições e sugestões no Planejamento de fiscalização voltada para inspecionar a execução da 2ª etapa da ação MAPEIA RONDÔNIA, destinada a realização de exame em teste rápido COVID-19.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Políticas sociais/SEI_ABC - 0011854751 - Portaria 100.pdf">Portaria nº 100 de 03 de junho de 2020</a>
                                        <br />
                                        Institui obrigatoriedade de reporte de informações- Relatório de Transparência  referentes a COVID 19, ao Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Políticas sociais/Portaria  89  boletim.pdf">Portaria 89/2020 GAB-CGE, 06 de maio de 2020</a>
                                        <br />
                                        Art. 1º - Instituir o Boletim Semanal da Controladoria-Geral do Estado - COVID-19, que será publicado no Portal da Transparência em periodicidade semanal a partir da vigência da presente portaria, tendo por objeto as ações de controle nas áreas de acompanhamento e monitoramento de despesas públicas, transparência e governança adotadas no enfrentamento ao COVID-19 por parte desta Controladoria Geral.
                                    </p>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-tema-5">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-5" aria-controls="collapse-tema-5">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">Definição de Serviços Essenciais</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="collapse-tema-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-5">
                    <div class="panel-body">
                        <form>
                            <div class="row">

                                <div class="form-group col-xs-12">

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Definição de serviços essenciais/DECRETO N° 25.138, DE 15 DE JUNHO DE 2020.pdf">DECRETO N° 25.138, DE 15 DE JUNHO DE 2020</a>
                                        <br />
                                        Altera e acresce dispositivos ao Decreto n° 25.049, de 14 de maio de 2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Definição de serviços essenciais/DECRETO N° 25.049, DE 14 DE MAIO DE 2020.pdf">DECRETO N° 25.049, DE 14 DE MAIO DE 2020</a>
                                        <br />
                                        Institui o Sistema de Distanciamento Social Controlado para fins de prevenção e de
                                        enfrentamento à epidemia causada pelo novo Coronavírus - COVID19, no âmbito do
                                        Estado de Rondônia, reitera a declaração de Estado de Calamidade Pública em todo o
                                        território estadual e revoga o Decreto n° 24.979, de 26 de abril de 2020.
                                    </p>

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/LegislacaoCovid/Definição de serviços essenciais/DECRETO N° 24.979, DE 26 DE ABRIL DE 2020.pdf">DECRETO N° 24.979, DE 26 DE ABRIL DE 2020</a>
                                        <br />
                                        Dispõe sobre o Estado de Calamidade Pública, regulamenta quarentena e restrição de serviços e
                                        atividades em todo o território do Estado de Rondônia e revoga o Decreto n° 24.919, de 5 de abril de
                                        2020.
                                    </p>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-tema-6">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-6" aria-controls="collapse-tema-6">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">Proteção Social</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="collapse-tema-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-6">
                    <div class="panel-body">
                        <form>
                            <div class="row">

                                <div class="form-group col-xs-12">

                                    <p>
                                        <a class="link-arquivo" href="~/Arq/Home_MedidasEconomicas/Decreto 25.053 de 15 de maio de  2020.pdf">DECRETO N° 25.053, DE 15 DE MAIO DE 2020.</a>
                                        <br />
                                        Regulamenta o Programa Estadual de
                                        Transferência de Renda Temporária
                                        denominado AmpaRO, que visa mitigar os
                                        efeitos sociais e econômicos causados pela
                                        situação de calamidade pública em razão da
                                        pandemia do COVID-19 no âmbito do Estado
                                        de Rondônia, autorizado pela Lei nº 4.760, de
                                        11 de maio de 2020.
                                    </p>                                    

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>