﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Web.HTMLHelper
@model LoginViewModel
<h2>Acesso restrito</h2>
<p>Para acessar recursos administrativos do portal de transparência, informe suas credenciais abaixo:</p>
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.FormGroupEditorFor(m => m.CPF, "CPF", new List<EClassesParaInput> { EClassesParaInput.CampoCPF })
    @Html.FormGroupPasswordFor(m => m.Senha, "Senha")
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-danger"><i class="fa fa-sign-in"></i> Entrar</button>            
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Esqueci minha senha", "RecuperarSenha", "Home")
        </div>
    </div>
}