﻿@{
    ViewBag.Title = "Medidas econômicas e proteção social";
}

@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 12pt;
            margin-bottom: 30px;
            text-align: justify;
        }

        .link-arquivo {
            font-size: 14pt;
        }
    </style>
}

<div class="row">

    <div class="panel panel-default">
        <div class="panel-body">



            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <h4 class="text-center">Medidas Econômicas</h4>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-tema-1">
                        <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-1" aria-controls="collapse-tema-1">
                            <h4 class="panel-title">
                                <table class="table table-condensed no-margin">
                                    <tr>
                                        <th class="no-padding no-border-top">Medidas Econômicas – Secretaria de Finanças - SEFIN</th>
                                        <th class="no-padding no-border-top" width="1">
                                            <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                        </th>
                                    </tr>
                                </table>
                            </h4>
                        </a>
                    </div>

                    <div id="collapse-tema-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-1">
                        <div class="panel-body">
                            <form>
                                <div class="row">

                                    <div class="form-group col-xs-12">

                                        <p><b>Mais informações:</b>  <a href="https://www.sefin.ro.gov.br/conteudo.jsp?idCategoria=612" target="_blank">https://www.sefin.ro.gov.br/conteudo.jsp?idCategoria=612</a></p>

                                        <p><a href="https://www.sefin.ro.gov.br/conteudo.jsp?idCategoria=612" target="_blank">Boletim da receita Estadual de impacto econômico COVID-19 </a></p>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>1 - <strong>PRORROGAÇÃO DO VENCIMENTO IPVA </strong></p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Decreto n. 24.917-2020, de 31 de março de 2020.pdf" target="_blank">Decreto n. 24.917/20, de 31 de março de 2020</a><br />
                                                            <a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Decreto n. 25.136, de 12 de junho de 2020.pdf" target="_blank">Decreto n. 25.136, de 12 de junho de 2020</a>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Beneficiados :</p>
                                                        <p>
                                                            ve&iacute;culos at&eacute; 1.000 cilindradas<br />
                                                            Total de 211.601 veículos
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p>Custo Estimado</p>
                                                        <p>R$ 17.0 milh&otilde;es</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>2 - <strong>PRORROGA VENCIMENTO ICMS RECEITA 1231, 1659 E 1658- </strong><strong>&nbsp;ICMS-DA/</strong> <strong>ICMS-ST/</strong> <strong>ICMS-AT</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/DECRETO N° 24.909, DE 27 DE MARÇO DE 2020.pdf" target="_blank">Decreto n. 24.909, de 27 de mar&ccedil;o de 2020</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Objetivo: </strong></p>
                                                        <p>Prorroga o vencimento do ICMS-DA/, receita 1659/ / ICMS-ST, receita 1231&nbsp;/&nbsp;ICMS-AT, receita 1658&nbsp; por 7 meses</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado</strong></p>
                                                        <p>R$ 47.8&nbsp;&nbsp; milh&otilde;es</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiados:</strong></p>
                                                        <p>Contribuintes optantes pelo Simples Nacional com grupo CNAE principal 474, 475, 476 e 478</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Impactos:</strong></p>
                                                        <p>O prazo de vencimento do ICMS-DA (receita 1659) de mar&ccedil;o e abril dos contribuintes do Simples Nacional afetados por restri&ccedil;&atilde;o de funcionamento foi prorrogado por 7 meses</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Contribuintes optantes pelo Simples Nacional e Regime Normal com grupo CNAE principal 474, 475, 476 e 478</p>
                                                    </td>
                                                    <td>
                                                        <p>O prazo de vencimento do ICMS-ST (receita 1231) de mar&ccedil;o e abril dos contribuintes afetados pela restri&ccedil;&atilde;o de funcionamento foi prorrogado 7 meses.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Contribuintes do Regime Normal com grupo CNAE principal 474, 475, 476 e 478</p>
                                                    </td>
                                                    <td>
                                                        <p>O prazo de vencimento do ICMS-AT (receita 1658) de abril e de 05 de maio dos contribuintes afetados pela restri&ccedil;&atilde;o de funcionamento foi prorrogado por 7 meses.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>3 - <strong>PRORROGA VENCIMENTO ICMS RECEITA 1231, 1659 E 1658</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/DECRETO N° 25.135, DE 12 DE JUNHO DE 2020..pdf" target="_blank">Decreto n. 25.135, de 12 de junho de 2020</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiados:</strong></p>
                                                        <p>contribuintes ICMS-RO de CNAE espec&iacute;ficos</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado</strong></p>
                                                        <p>R$ 30.0&nbsp; milh&otilde;es</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>4 - <strong>PRORROGA ICMS NO PGDAS - </strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Resol. CGSN  Nº 154  -  2020.pdf" target="_blank">Resolu&ccedil;&atilde;o do CGSN n. 154/20</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiados:</strong></p>
                                                        <p>Contribuintes ICMS-RO do Simples Nacional</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado</strong></p>
                                                        <p>R$ 15.0&nbsp; milh&otilde;es</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>5 - <strong>Ampliou isen&ccedil;&atilde;o ICMS sobre energia</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/MP n. 950-20 que altera a Lei n. 12.212-10.pdf" target="_blank">MP n. 950/20 que altera a Lei n. 12.212/10</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiados:</strong></p>
                                                        <p>Benefici&aacute;rios 529.522 unidades&nbsp; Consumidoras de baixa renda</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado</strong></p>
                                                        <p>R$ 16.0&nbsp; milh&otilde;es</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>6 - <strong>PRORROGA&Ccedil;&Atilde;O DE&nbsp; PRAZO DE VALIDADE CERTID&Otilde;ES CONTRIBUINTES DO ICMS-RO</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/DECRETO N. 24.908, DE 27 DE MARCO DE 2020.pdf" target="_blank">Decreto: 24.908, de 27 de mar&ccedil;o de 2020</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Objetivo:</strong></p>
                                                        <p>Garantir a manuten&ccedil;&atilde;o da regularidade e Impedir que parcelamentos sejam cancelados no per&iacute;odo de 90 dias a contar da decreta&ccedil;&atilde;o do estado de calamidade p&uacute;blica</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado:</strong></p>
                                                        <p>N&atilde;o se aplica</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiarios</strong></p>
                                                        <p>Contribuintes que emitiram certid&otilde;es negativas a menos de 90 dias antes da decreta&ccedil;&atilde;o do estado de calamidade p&uacute;blica.</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Impactos:<br /> </strong>Para os contribuintes que estavam regulares na data do decreto, ser&aacute; garantida a perman&ecirc;ncia desse status de regularidade por 90 (noventa) dias.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Contribuintes que n&atilde;o emitiram certid&otilde;es negativas antes da decreta&ccedil;&atilde;o do estado de calamidade p&uacute;blica, que em momento posterior a 20/03/2020 n&atilde;o apresenta condi&ccedil;&otilde;es para emiss&atilde;o</p>
                                                    </td>
                                                    <td>
                                                        <p>As certid&otilde;es ser&atilde;o emitidas normalmente para quem estava em situa&ccedil;&atilde;o regular em 20/03/2020</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Contribuintes com parcelamento em vigor.</p>
                                                    </td>
                                                    <td>
                                                        <p>Os parcelamentos normais de IPVA, ITCD e ICMS N&Atilde;O ser&atilde;o cancelados pelo per&iacute;odo de 90 dias</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>7 - <strong>PRORROGA&Ccedil;&Atilde;O DO REFAZ DE ICMS/IPVA/ITCD</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/Lei n. 4.728-20, de 6 de abril de 2020.pdf" target="_blank">Lei n. 4.728/20, de 6 de abril de 2020</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiarios </strong></p>
                                                        <p>- Contribuintes com d&eacute;bitos cujo fato gerador tenha ocorrido at&eacute; 31/12/17</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado:</strong><br /> &nbsp;n&atilde;o se aplica</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <p>8 - &nbsp; <strong>SUSPENDE PRAZOS ADMINISTRATIVOS TRIBUT&Aacute;RIOS</strong></p>
                                                        <p><strong>FISCONFORME e DET</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><a href="~/Arq/LegislacaoCovid/Medidas fiscais e de estímulo econômico/RESOLUÇÃO CONJUNTA N. 0022020CRESEFIN.pdf" target="_blank">Resolu&ccedil;&atilde;o Conjunta n. 002/2020/CRE/SEFIN</a></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Objetivo: </strong></p>
                                                        <p>Permitir&nbsp; que as empresas aplique o recurso tempo no processo de gest&atilde;o da crise como um todo</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Custo Estimado:</strong><br /> &nbsp;n&atilde;o se aplica</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><strong>Beneficiarios </strong></p>
                                                        <p>Contribuintes que necessitam de tempo para repensar o seu neg&oacute;cio em face das novas barreiras impostas pela crise</p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Impactos:<br /> </strong>Os prazos dos processos administrativos, FISCONFORME e DET est&atilde;o supensos at&eacute; o &uacute;ltimo dia do 2&ordm; m&ecirc;s subsequente que cessar a pandemia. Exce&ccedil;&atilde;o somente para a Escritura&ccedil;&atilde;o Fiscal Digital (EFD).</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-tema-2">
                        <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-2" aria-controls="collapse-tema-2">
                            <h4 class="panel-title">
                                <table class="table table-condensed no-margin">
                                    <tr>
                                        <th class="no-padding no-border-top">Medidas Econômicas - Superintendência de Desenvolvimento - SEDI</th>
                                        <th class="no-padding no-border-top" width="1">
                                            <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                        </th>
                                    </tr>
                                </table>
                            </h4>
                        </a>
                    </div>

                    <div id="collapse-tema-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-2">
                        <div class="panel-body">
                            <form>
                                <div class="row">
                                    <div class="form-group col-xs-12">

                                        <h4><a href="http://www.rondonia.ro.gov.br/sedi/institucional/covid-19-medidas-especiais/banco-do-povo-de-rondonia/" target="_blank">Microcrédito Social de Rondônia</a></h4>

                                        <p>
                                            Programa que disponibiliza linha de crédito especial, à juros zero, durante 180 dias, como medida para fins de enfrentamento dos impactos financeiros causados pelo novo Coronavírus – COVID-19,
                                            <a href="http://www.rondonia.ro.gov.br/novas-medidas-economicas-sao-elaboradas-para-atender-populacao-no-enfrentamento-a-covid-19-em-rondonia/" target="_blank">Acesse  aqui</a>
                                        </p>

                                        <p>
                                            <b>Custos:</b>  serão injetados R$ 10 milhões para financiamentos, através do Banco do Povo de Rondônia
                                            <br />
                                            <b>Beneficiarios:</b> empreendedores formais e informais, artesãos, microempreendedor individual (MEI), microempresa, empresa individual de responsabilidade limitada (Eireli), associações e cooperativas que obtêm faturamento anual de até R$360 mil, e tem como objetivo atingir cerca de 2.500 pequenos empreendedores.
                                            <br />
                                            <b>Impacto:</b>  proteção aos pequenos e microempreendedor  combatendo o superendividamento  e para que superem a situação ou que consigam sair dela sem comprometer custos relacionados à sua própria subsistência fortalecendo a economia do Estado por meio do microcrédito, proporcionando a geração de renda e ocupação de trabalho acompanhados de orientações técnicas.
                                            <br />
                                            <b>Acesso:</b> O empreendedor ou produtor interessado no Programa de Microcrédito entrar em contato com o Banco do Povo de Rondônia pela Central Porto Velho: (69) 3026-1037 e (69) 3026-4591 ou Central Ariquemes: (69) 3536-3151
                                        </p>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <h4 class="text-center">Medidas de Proteção Social</h4>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-tema-4">
                        <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-4" aria-controls="collapse-tema-4">
                            <h4 class="panel-title">
                                <table class="table table-condensed no-margin">
                                    <tr>
                                        <th class="no-padding no-border-top">Programa AmpaRO</th>
                                        <th class="no-padding no-border-top" width="1">
                                            <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                        </th>
                                    </tr>
                                </table>
                            </h4>
                        </a>
                    </div>

                    <div id="collapse-tema-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-4">
                        <div class="panel-body">
                            <form>
                                <div class="row">

                                    <div class="form-group col-xs-12">

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Programa Amparo:</b><br />
                                                        Programa Estadual de Transferência de Renda Temporária denominado AmpaRO, que visa mitigar os efeitos sociais e econômicos causados pela situação de calamidade pública em razão da pandemia do COVID-19 no âmbito do Estado de Rondônia, autorizado pela Lei nº 4.760, de 11 de maio de 2020.
                                                    </td>
                                                    <td>
                                                        <b>Publico Alvo</b>:<br />
                                                        Famílias em situação de extrema pobreza (situação de vulnerabilidade socioeconômica em Rondônia).com renda per capita familiar de até R$ 89,00 (oitenta e nove reais), que estejam nesta condição na folha de pagamento do mês de  bril de 2020 do Programa Federal Bolsa Família em Rondônia
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Custos e impacto</b>: <br />
                                                        Custo Estimado: R$37.126.368,00<br />
                                                        Impacto: Redução da  insegurança alimentar e nutricional das pessoas beneficiadas;
                                                        Estimulo ao comércio local, com a possibilidade de aquisição dos itens de alimentação e higiene nas proximidades da residência do beneficiários; Proteção a mais de  60  (sessenta mil) famílias durante 03 (três) meses.
                                                    </td>
                                                    <td>
                                                        <b>Execução:</b><br />
                                                        <a href="http://www.rondonia.ro.gov.br/seas/institucional/programa-de-transferencia-de-renda-temporaria-amparo/">Programa AMPARO</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Beneficiários</b>:<br />
                                                        <a href="~/Arq/Home_MedidasEconomicas/Beneficiados Lote 1.pdf">Benificiarios 1º Lote</a><br />
                                                        <a href="~/Arq/Home_MedidasEconomicas/Benificiados Lote 2.pdf">Beneficiarios 2º Lote</a>

                                                    </td>
                                                    <td>
                                                        <b>Consulte aqui</b>:<br />
                                                        <a href="https://amparo.sistemas.ro.gov.br">Sistema AmpaRO</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-tema-5">
                        <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-tema-5" aria-controls="collapse-tema-5">
                            <h4 class="panel-title">
                                <table class="table table-condensed no-margin">
                                    <tr>
                                        <th class="no-padding no-border-top">Projeto Previna-se</th>
                                        <th class="no-padding no-border-top" width="1">
                                            <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                        </th>
                                    </tr>
                                </table>
                            </h4>
                        </a>
                    </div>

                    <div id="collapse-tema-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-tema-5">
                        <div class="panel-body">
                            <form>
                                <div class="row">

                                    <div class="form-group col-xs-12">

                                        <p>
                                            <a href="http://www.rondonia.ro.gov.br/projeto-previna-se-vai-distribuir-mais-de-200-mil-mascaras-de-protecao-a-familias-vulneraveis-em-rondonia/" target="_blank">O Projeto Previna-se vai distribuir mais de 200 mil máscaras de proteção às Famílias vulneráveis em Rondônia</a>
                                        </p>

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Projeto Previna-se</b><br />
                                                        REVINA-SE  é um Projeto de distribuição de máscaras de tecido a famílias em situação de vulnerabilidade sócio-financeira temporária ou transitória, para provê-los na redução dos danos da pandemia do novo Coronavírus – COVID-19.
                                                    </td>
                                                    <td>
                                                        <b>Beneficiários</b>:<br />
                                                        248.110 pessoas em situação de vulnerabilidade distribuído nos 52 Municípios de Rondônia
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Custo</b>: <br />
                                                        R$ 508.625,50
                                                    </td>
                                                    <td>
                                                        <b>Impacto:</b><br />
                                                        Permitir maior segurança da população vulnerável através do uso da máscara de tecido;  Redução dos níveis de proliferação do vírus no âmbito do Estado; Difundir medidas profiláticas que deverão ser adotadas conjuntamente ao uso da máscara para que se evite contágio dentre os familiares.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>