﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.EmailNotificacao

<h2>E-mail para notificações</h2>

@using (Html.BeginForm("NotificarEmail", "Home", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    <div class="row">
        @Html.AntiForgeryToken()

        <div class="form-group col-xs-12 col-md-6">
            <label>@Html.DisplayNameFor(model => model.Nome)</label>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", required = "true" } })
        </div>

        <div class="form-group col-xs-12 col-md-6">
            <label>@Html.DisplayNameFor(model => model.Email)</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", required = "true" } })
        </div>

        <div class="form-group col-xs-12">
            <label>Quero receber notificações de</label>
            <div class="checkbox" style="margin-top: 0 !important;">
                <label>
                    @Html.CheckBoxFor(model => model.NotificarDispensaLicitacao) @Html.DisplayNameFor(model => model.NotificarDispensaLicitacao)
                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    @Html.CheckBoxFor(model => model.NotificarIntegraProcesso) @Html.DisplayNameFor(model => model.NotificarIntegraProcesso)
                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    @Html.CheckBoxFor(model => model.NotificarBoletim) @Html.DisplayNameFor(model => model.NotificarBoletim)
                </label>
            </div>
        </div>

        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary">Quero receber notificações</button>
        </div>
    </div>
}