﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Web.HTMLHelper
@model UsuarioRecuperarSenha
<h2>Recuperar Sua Conta</h2>
<p>Podemos ajudá-lo a redefinir sua senha. Primeiro, informe suas credenciais abaixo:</p>
@using (Html.BeginForm("RecuperarSenha", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.FormGroupEditorFor(m => m.CPF, "CPF", new List<EClassesParaInput> { EClassesParaInput.CampoCPF })
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2"><button type="submit" class="btn btn-danger"><i class="fa fa-sign-in"></i> Enviar</button></div>
    </div>
}

