﻿@{
    ViewBag.Title = "Edital abre inscrições para organizações civis participarem do Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia";
}

@section Head {
    <style>
        h2 {
            text-align: center;
        }
    </style>
}

<div class="mb-80">
    <hr />

    <h4 class="text-muted text-center">
        Entidades devem ter experiência comprovada em projetos de acesso à informação, governo aberto, combate à corrupção, fiscalização de recursos,
        ética organizacional e integridade
    </h4>

    <hr />

    <p class="text-center text-muted">
        Publicado: 10/02/2020
    </p>

    <hr />

    <p class="text-justify">
        A Controladoria Geral do Estado de Rondônia (CGE) informa a abertura das inscrições para preenchimento, por entidades e organizações da sociedade civil,
        de três vagas no Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia (CTPGA-RO), para mandato de três anos. O edital nº 01/2020/CGE-GAB, com todas as informações
        sobre o processo seletivo.@*, está publicado na data de 28 de Novembro de 2019, Edição 223 - 2019 do Diário Oficial do Estado (DIOF).*@
    </p>

    <p class="text-justify">
        As organizações e entidades poderão escolher uma ou mais categorias para participar da seleção e deverão cadastrar seus projetos – limite de 10 por categoria,
        sendo que cada projeto só pode concorrer em uma única categoria. A nota final será composta pelo somatório das avaliações individualizadas de cada projeto,
        na respectiva categoria.
    </p>

    <hr />

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Abrangência do projeto</th>
                    <th width="30%" class="text-center">Pontuação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Até 3 municípios</td>
                    <td class="no-break text-center">1 ponto</td>
                </tr>

                <tr>
                    <td>Entre 4 e 7 municípios</td>
                    <td class="no-break text-center">3 pontos</td>
                </tr>

                <tr>
                    <td>Acima de 7 municípios</td>
                    <td class="no-break text-center">5 pontos</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Duração do projeto</th>
                    <th width="30%" class="text-center">Pontuação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Até 1 ano</td>
                    <td class="no-break text-center">1 ponto</td>
                </tr>

                <tr>
                    <td>Acima de 1 ano</td>
                    <td class="no-break text-center">1.5 pontos por ano completo</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Resultados do projeto</th>
                    <th width="30%" class="text-center">Pontuação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alcance parcial dos resultados previstos</td>
                    <td class="no-break text-center">5 pontos</td>
                </tr>

                <tr>
                    <td>Alcance integral dos resultados previstos</td>
                    <td class="no-break text-center">10 pontos</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />
    <h3>Cronograma de atividades</h3>
    <br />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Data</th>
                    <th class="text-center">Atividades</th>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>10/02/2020</td>
                    <td>Abertura das inscrições das entidades da sociedade civil</td>
                </tr>
                <tr>
                    <td>10/03/2020</td>
                    <td>Data de encerramento das inscrições das entidades da sociedade civil</td>
                </tr>
                <tr>
                    <td>17/03/2020</td>
                    <td>Data da divulgação das entidades selecionadas - Resultado Provisório</td>
                </tr>
                <tr>
                    <td>24/03/2020</td>
                    <td>Data limite para o envio de recursos</td>
                </tr>
                <tr>
                    <td>31/03/2020</td>
                    <td>Divulgação do resultado definitivo do processo seletivo</td>
                </tr>
                <tr>
                    <td>07/04/2020</td>
                    <td>Indicação dos representantes pelas entidades selecionadas</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />

    <h3>Arquivos</h3>

    <p class="text-justify">
        &nbsp;10/02/2020 - Edital nº 001/2020/CGE-GAB <a href="~/Arq/Edital Chamamento Público 2020.pdf" target="_blank"> Edital de abertura
        </a>
    </p>

    <p class="text-justify">
        &nbsp;02/12/2019 - Retificação: Anexo I do Edital nº 1/2019/CGE-GAB – Calendário de Atividades <a href="~/Arq/anexoI_Comite_Transparencia_Retificado.pdf" target="_blank">Anexo I Retificado</a>
    </p>

    <p class="text-justify">
        &nbsp;29/11/2019 - Edital nº 1/2019/CGE-GAB  <a href="~/Arq/Edital_Comite_Transparencia.pdf" target="_blank">Edital de abertura</a>
    </p>

    <h3>Inscrições</h3>

    <p class="text-justify text-primary">
        &nbsp;Passos para fazer a inscrição em cada categoria selecionada:
    </p>

    <div class="row" style="margin-right: 0;">
        <ol>
            <li>Faça uma leitura do <a href="~/Arq/Edital Chamamento Público 2020.pdf" target="_blank">edital</a></li>
            <li>Baixe o <a href="~/Arq/Formulário_de_Inscrição_Original_2020.docx">formulário de inscrição da entidade</a></li>
            <li>Baixe o <a href="~/Arq/Formulário_do_Projeto_Original_2020.docx">formulário de inscrição do projeto</a></li>
            <li>
                Prepare os seguintes documentos para serem enviados.
                <ul>
                    <li>Cópia do Cadastro Nacional da Pessoa Jurídica (CNPJ);</li>
                    <li>Cópia de documento de constituição ou indicação da diretoria, da presidência ou da coordenação-geral atual da entidade ou organização;</li>
                    <li>
                        Formulários de inscrição e de projeto(Anexos II e III do Edital) preenchidos e assinados pelo(a) representante legal da entidade ou organização da
                        sociedade civil ou coordenador(a) do grupo de pesquisa.
                    </li>
                </ul>
            </li>
            <li>Acesse o <a href="@Url.Action("Inscricao","ComiteTransparencia")">link</a> para efetuar a sua inscrição</li>
        </ol>
    </div>

    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        &nbsp; A análise dos documentos ficará a cargo de comissão formada por três servidores da Controladoria Geral do Estado de Rondônia.<br />
        Em caso de dúvidas, entre em contato pelo telefone <a href="tel:6932129407">(69) 3212-9407</a> ou pelo e-mail
        <a href="mailto:comite.transparencia@cge.gov.ro.br">comite.transparencia@cge.gov.ro.br</a>.
    </div>

    <hr />

    <h3>Competência e composição</h3>

    <p class="text-justify">
        O CTPGA tem por finalidade debater e sugerir medidas de aperfeiçoamento e fomento de políticas e estratégias, no âmbito da administração pública federal,
        no que se refere aos assuntos listados no artigo 1º do
        <a href="~/Arq/DECRETO COMITE J.pdf" target="_blank">
            Decreto nº 23.906/2019
        </a>:
        I - enfrentamento da corrupção e da impunidade;
        II - fomento da transparência e do acesso à informação pública;
        III - promoção de medidas do Governo Aberto;
        IV - integridade e ética nos setores público e privado;
        e V - controle social para acompanhamento e fiscalização da aplicação dos recursos públicos.
    </p>

    <p class="text-justify">
        O Comitê será formado por membros do Governo Estadual – CGE, Casa Civil, Procuradoria Geral do Estado - PGE, Secretaria de Estado de Planejamento, Orçamento e
        Gestão - SEPOG, Secretaria de Estado de Finanças - SEFIN, Ouvidoria Geral do Estado, Secreataria Executiva do Gabinete do Governador e da sociedade civil organizada
        – instituições com experiência comprovada em projetos nas diferentes áreas de atuação citadas no Decreto nº 23.906/2019.
    </p>

    <p class="text-justify">
        Também poderão integrar o CTPGA, na condição de convidados permanentes, sem direito a voto, representantes do Ministério Público (MP) e do Tribunal de Contas
        do Estado (TCE). O Colegiado irá realizar reuniões ordinárias semestrais ou extraordinárias, presenciais ou por videoconferência, com a participação da
        maioria absoluta de seus membros.
    </p>

    <hr />

    <button class="btn btn-lg btn-primary btn-block" onclick="abrirFormularioInscricao()">
        INSCREVA-SE AQUI
    </button>
</div>

<script>
    function abrirFormularioInscricao() {
        window.open('/ComiteTransparencia/Inscricao');
    }
</script>