﻿@{
    ViewBag.Title = "Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia";
}

@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 16px;
        }

        .mt-34 {
            margin-top: 34px !important;
        }
        .center {
           text-align: center;
        }
        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    </style>
}

<div style="margin-bottom: 50px;">
    <hr />

    <div class="col-xs-12">
        <img class="displayed" src="~/img/comite_transparencia.png" alt="Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia" width="180" align="left" />

        <p class="text-justify text-muted mt-34">
            O <strong style="color: #34495e;">Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia</strong>, órgão consultivo integrante da estrutura básica da Controladoria Geral do Estado,
            tem por finalidade debater e sugerir medidas de aperfeiçoamento e fomento de políticas e estratégias, no âmbito da administração pública estadual.
        </p>

        <p class="text-justify text-muted">
            Além disso, tem o papel de planejar estratégias de combate à corrupção e à impunidade. Nesta seção, consulte as atas e pautas de reuniões,
            a legislação específica e saiba mais sobre o trabalho do comitê.
        </p>
    </div>

    <hr class="col-xs-12" />

    <div class="row">
        <div class="col-xs-12 col-md-3 img-with-title" onclick="abrir('/ComiteTransparencia/RelatorioCovid')">
            <h2>Relatório</h2>
            <img class="img-zoom" src="~/img/RelatorioCovid.png"/>
        </div>
    </div>


    <hr class="col-xs-12" />

    <div class="row">
        <div class="col-xs-12 col-md-3 img-with-title" onclick="abrir('/ComiteTransparencia/Integrantes')">
            <h2>Integrantes</h2>

            <img class="img-zoom" src="~/img/composiçao.png" alt="Composição" />
        </div>

        <div class="col-xs-12 col-md-3 img-with-title" onclick="abrir('/ComiteTransparencia/Publicacoes')">
            <h2>Publicações</h2>

            <img class="img-zoom" src="~/img/reunião.png" alt="Documentos e reuniões" />
        </div>

        <div class="col-xs-12 col-md-3 img-with-title" onclick="abrir('/ComiteTransparencia/Normativos')">
            <h2>Normativos</h2>

            <img class="img-zoom" src="~/img/legislaçao.png" alt="Legislação específica" />
        </div>

        <div class="col-xs-12 col-md-3 img-with-title" onclick="abrir('/ComiteTransparencia/Inscricao')">
            <h2>Inscrição</h2>

            <img class="img-zoom" src="~/img/inscricao.png" alt="Inscrição" />
        </div>
    </div>
</div>

@section AposFooter {
    <script>
        function abrir(tela) {
            window.location.href = tela;
        }
    </script>
}