﻿@model TransparenciaRO.Infra.Model.View.ComiteTransparencia.InscricaoComiteTransparenciaViewModel

@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Inscrição para participação do Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia";
}

<hr />

@using (Html.BeginForm("Inscricao", "ComiteTransparencia", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", @id = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(i => i.InscricaoId)

    @Html.FormGroupEditorFor(i => i.RazaoSocial, Html.LabelFor(i => i.RazaoSocial).ToHtmlString())

    @Html.FormGroupEditorFor(i => i.Cnpj, Html.LabelFor(i => i.Cnpj).ToHtmlString(), new[] { EClassesParaInput.CampoCNPJCPF })

    @Html.FormGroupEditorFor(i => i.RepresentanteLegal, Html.LabelFor(i => i.RepresentanteLegal).ToHtmlString())

    @Html.FormGroupEditorFor(i => i.Telefone, Html.LabelFor(i => i.Telefone).ToHtmlString())

    <div class="form-group">
        <label class="control-label col-md-2" for="InscricaoComiteTransparenciaViewModel">
            <label for="FormularioInscricao">Formulário de inscrição</label>
        </label>

        <div class="col-md-6">
            <input type="file" name="FormularioInscricao" id="FormularioInscricao" required>
            <span class="field-validation-valid text-danger" data-valmsg-for="FormularioInscricao" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="InscricaoComiteTransparenciaViewModel">
            <label for="FormularioProjeto">Formulário do projeto</label>
        </label>

        <div class="col-md-6">
            <input type="file" name="FormularioProjeto" id="FormularioProjeto" required>
            <span class="field-validation-valid text-danger" data-valmsg-for="FormularioProjeto" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="InscricaoComiteTransparenciaViewModel">
            <label for="CopiaCnpj">Cópia do CNPJ</label>
        </label>

        <div class="col-md-6">
            <input type="file" name="CopiaCnpj" id="CopiaCnpj" required>
            <span class="field-validation-valid text-danger" data-valmsg-for="CopiaCnpj" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="InscricaoComiteTransparenciaViewModel">
            <label for="DocumentoConstituicionalEmpresa">Documento constitucional da empresa</label>
        </label>

        <div class="col-md-6">
            <input type="file" name="DocumentoConstituicionalEmpresa" id="DocumentoConstituicionalEmpresa" required>
            <span class="field-validation-valid text-danger" data-valmsg-for="DocumentoConstituicionalEmpresa" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default margin-bottom-15px" href="@Url.Action("EditalInscricoes", "ComiteTransparencia")">
                <i class="fa fa-times"></i> Cancelar
            </a>

            <button type="button" class="btn btn-primary margin-bottom-15px" onclick="adicionarArquivo()">
                <i class="fa fa-floppy-o"></i> Inscrever
            </button>
        </div>
    </div>
}

@section AposFooter
{
    <script>
        function adicionarArquivo() {
            let arquivos = ["FormularioInscricao", "FormularioProjeto", "CopiaCnpj", "DocumentoConstituicionalEmpresa"];

            let temArquivoFaltando = false;

            // Verifica se há algum arquivo faltando
            arquivos.map((key) => {
                if ($('#' + key)[0].files[0] == undefined || $('#' + key)[0].files[0] == null)
                    temArquivoFaltando = true;
            })

            if (temArquivoFaltando)
                return alert("Por favor, adicione todos os arquivos necessários e tente novamente.");

            let items = ($("#form").serializeArray());

            let form = new FormData();

            for (let i = 0; i < items.length; i++) {
                form.append(items[i].name.toLocaleLowerCase(), items[i].value);
            }

            arquivos.map((key) => {
                items.push({
                    name: $('#' + key)[0].files[0].name,
                    value: $('#' + key)[0].files[0]
                });

                form.append(key, $('#' + key)[0].files[0]);
            });

        }
    </script>
}