﻿@model IEnumerable<TransparenciaRO.Infra.Model.View.ComiteTransparencia.InscricaoComiteTransparenciaViewModel>

@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Inscrições no Comitê de Transparência";
    var campos = new List<CampoFormulario>()
{
        new Cnpj()
        {
            ColMD = 3,
            Id = "Cnpj",
            NomeParametroAction = "Cnpj",
            Descricao = "CNPJ"
        },
        new RazaoSocial()
        {
            ColMD = 9,
            Id = "RazaoSocial",
            NomeParametroAction = "RazaoSocial",
            Descricao = "Razão social"
        },
        new CampoTexto()
        {
            ColMD = 9,
            Id = "RepresentanteLegal",
            NomeParametroAction = "RepresentanteLegal",
            Descricao = "Representante legal"
        },
        new CampoTexto()
        {
            ColMD = 3,
            Id = "Telefone",
            NomeParametroAction = "Telefone",
            Descricao = "Telefone"
        }
    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

<div class="row">
    @Html.FormularioParametros(campos)

    @Html.MontarMetodoChamadaPostComDados(campos, "/ComiteTransparencia/FiltrarInscricoes")
</div>

<div id="tabelaDados">
    @Html.Partial("Partials\\_TabelaInscritos", Model)
</div>
