﻿
@{
    ViewBag.Title = "Composição";
}

@section Head {
    <style>
        h2 {
            text-align: center;
        }
    </style>
}

<div style="margin-bottom: 50px;">
    <hr />

    <h3>Decretos</h3>
    
    <br />

    <h4>
        <ul style="margin-left: -15px;">
            <li>
                <a href="~/Arq/ComiteTransparencia_Integrantes/Decreto 25.246.pdf" target="_blank">DECRETO N° 25.246, DE 24 DE JULHO DE 2020.</a>
                <p>Altera e acresce dispositivos do Decreto n° 24.151, de 19 de agosto de 2019.</p>
            </li>
        </ul>
        <br />
        <ul style="margin-left: -15px;">
            <li>
                <a href="~/Arq/ComiteTransparencia_Integrantes/Decreto 24.151-2019.pdf" target="_blank">DECRETO N. 24.151, DE 19 DE AGOSTO DE 2019.</a>
                <p>Designa membros para compor o Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia.</p>
            </li>
        </ul>
    </h4>
</div>