﻿
@{
    ViewBag.Title = "Legislação específica";
}

@section Head {
    <style>
        h2 {
            text-align: center;
        }
    </style>
}

<div class="mb-80">
    <hr />
    <p class="text-center text-muted">Leis, atos e decretos sobre composição, organização e competências do Comitê de Transparência.</p>
    <hr />

    <h3>Decretos</h3>
    <ul style="margin-left: -15px;">
        <li><a href="~/Arq/DECRETO COMITE J.pdf" target="_blank">DECRETO N. 23.906, DE 15 DE MAIO DE 2019</a></li>
    </ul>

    <div style="margin-bottom:20px"></div>

    <p>
        Institui no âmbito da Administração Pública Estadual, o Comitê
        de Transparência Pública e Governo Aberto do Estado de
        Rondônia e dá outras providências.
    </p>

    <hr style="margin-bottom: 60px">
</div>


<div class="mb-80">

    <h3>Portarias</h3>

    <ul style="margin-left: auto;">
        <li><a href="~/Arq/SEI_ABC - 0011854751 - Portaria 100 03062020.pdf" target="_blank">Portaria n° 100 de 03 de junho de 2020</a></li>
    </ul>

    <div style="margin-bottom:20px"></div>

    <p>
        Institui obrigatoriedade de reporte de informações ao Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia
    </p>

    <hr />

</div>
