﻿@{
    ViewBag.Title = "Atas de Reuniões";
}

@section Head {
    <style>
        h2 {
            text-align: center;
        }
    </style>
}

<div class="row margin-top-40px">
    <div class="table table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>                    
                    <th scope="col">Documento</th>
                    <th scope="col">Data</th>
                    <th scope="col">Formato</th>
                </tr>
            </thead>
            <tbody>
                <tr>                   
                    <td> <a href="~/Arq/ComiteTransparencia_Publicacoes/Ata 2º Reunião Ordinária CTPGA-RO.pdf" target="_blank">Ata 2º Reunião Ordinária CTPGA-RO </a> </td>
                    <td>03/07/2020</td>
                    <td>PDF</td>
                </tr>
                
                <tr>                   
                    <td> <a href="~/Arq/ComiteTransparencia_Publicacoes/Ata 1º reuniao.pdf" target="_blank">Ata 1º Reunião Ordinária CTPGA-RO </a> </td>
                    <td>16/12/2019</td>
                    <td>PDF</td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>