﻿@{
    ViewBag.Title = " Relatórios  de Transparência";
}

@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 12pt;
            margin-bottom: 30px;
            text-align: justify;
        }

        .link-arquivo {
            font-size: 14pt;
        }
    </style>
}

<div style="margin-bottom: 50px;">

    <div class="row">

        <div class="col-xs-12">
            <p class="text-justify text-muted mt-34">
                Nesta área são publicados os relatórios quinzenais  emitidos  ao Comitê de Transparência Pública e Governo Aberto do Estado de Rondônia, cientificando-o a respeito  dos fatos relevantes na área de transparência, despesas públicas, ouvidoria e fiscalizações em enfrentamento ao COVID-19, com a finalidade de subsidiar, por meio de dados e informações, a atuação ordinária e extraordinária em suas funções deliberativas conforme art. 1° da Portaria nº 100 de 03 de junho de 2020.
            </p>
        </div>

        <hr class="col-xs-12" />

        <div class="col-xs-12">           

            <p>
                <small>19/06/2020</small>
                <a class="link-arquivo" href="~/Arq/RelatorioCovid/Relatorio Comite 1.pdf">Relatório de TRANSPARÊNCIA  Covid-19 - edição 1</a>
                <br />
                Reporte de informações Relevantes ao Comitê de Transparência e Governo Aberto – Covid-19.
            </p>

        </div>
    </div>
</div>