﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Enum
@using System.Linq
@model List<Indice>
@{
    ViewBag.Title = $"Resultados da busca para '{Request["pTermosBusca"]}'";
}

@Html.Partial("_BuscarSite")
<div class="col-md-12 resultadosBusca">
    @if (Model.Count == 0)
    {
        <p>Nenhum resultado encontrado para o termo <b>'@Request["pTermosBusca"]'</b>!</p>
    }
    else if (Model.Count == 1)
    {
        <p>Um resultado encontrado para o termo <b>'@Request["pTermosBusca"]'</b>:</p>
    }
    else
    {
        <p>@Model.Count resultados encontrados para o termo <b>'@Request["pTermosBusca"]'</b>:</p>
    }
    @foreach (var agrupamento in Model.GroupBy(m => m.Agrupamento))
    {
        <div class="panel panel-default">
            <div class="panel-heading">@(agrupamento.Key)</div>
            <div class="panel-body">
                @foreach (var item in agrupamento)
                {
                    <div class="itemIndice">
                        <a href="@item.Href">@item.Titulo</a>
                        @*<p>@item.PreviaResultado</p>*@
                    </div>
                }
            </div>
        </div>
    }
</div>