﻿@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.FundoEmpresa>
<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>Detalhar</th>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEstimado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorecido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#@item.FundoId"><i class="fa fa-search toggle"></i></a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Processo)
                    </td>
                    <td>
                        @item.ValorEstimado.ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Favorecido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CnpjCpf)
                    </td>
                    <td>
                        @item.DataPagamento.ToString("d")
                    </td>
                </tr>
                <tr id="@item.FundoId" class="collapse ">
                    <td colspan="6">
                        <p>
                            <strong>Objeto:</strong>
                            @Html.DisplayFor(modelItem => item.Objeto)
                        </p>
                        <p>
                            <strong>Fundamento Geral:</strong>
                            @Html.DisplayFor(modelItem => item.FundamentoGeral)
                        </p>
                        <p>
                            <strong>Vigência:</strong>
                            @Html.DisplayFor(modelItem => item.Vigencia)
                        </p>
                        <p>
                            <strong>Situação:</strong>
                            @Html.DisplayFor(modelItem => item.Situacao)
                        </p>
                        <p>
                            <strong>Data entrada:</strong>
                            @item.DataEntrada.ToString("d")
                        </p>
                        <p>
                            <strong>Data decisão:</strong>
                            @item.DataDecisao.ToString("d")
                        </p>
                        <p>
                            <strong>Data publicação:</strong>
                            @item.DataDecisao.ToString("d")
                        </p>
                        <p>
                            <strong>Data contabilizada:</strong>
                            @item.DataContabilizada.ToString("d")
                        </p>
                        <p>
                            <strong>Data de arquivamento:</strong>
                            @item.DataArquivamento.ToString("d")
                        </p>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6" class="text-center">Nenhum resultado encontrado!</td></tr>
        }
    </tbody>
</table>
