﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.DiariasEmpresa
@{
    ViewBag.Title = "Importar Dados - Fundos Fio";
}
@section Head
{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
}
<label>
    Campos obrigatórios <i class="text-danger">*</i>
</label>
@using (Html.BeginForm("ImportarDados", "FundoEmpresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="empresa" name="empresa" value="@ViewBag.Empresa" />

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                Novo modelo de darias
            </label>
            <div class="col-md-5 col-md-12">
                <a href="~/Arq/Modelo Fundo.xlsx" class="btn btn-warning"><i class="fa-lg fa fa-download"></i> Download</a>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                Arquivo <i class="text-danger">*</i>
            </label>
            <div class="fileinput fileinput-new col-md-5 col-sm-12" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Selecionar</span>
                    <span class="fileinput-exists">Alterar</span>
                    <input type="file" name="file" id="file" required="required">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-lg fa fa-plus"></i> Adicionar
                </button>
            </div>
        </div>
    </div>
}


