﻿@using TransparenciaRO.Web.HTMLHelper
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.FundoEmpresa>
@{
    ViewBag.Title = "Fundo Fixo";

    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="divConsulta">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12 form-group">
                    <label>Data de pagamento</label>
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control consultar" id="dataInicial" name="dataInicial" value="01/01/2017">
                        <div class="input-group-addon">a</div>
                        <input type="text" class="form-control consultar" id="dataFinal" name="dataFinal" value="@System.DateTime.Now.Date.ToString("d")">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="favorecido">Favorecido</label>
                    <input type="text" id="favorecido" name="favorecido" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                    <label for="cfpCnpj">CPF/CNPJ</label>
                    <input type="text" id="cfpCnpj" name="cfpCnpj" class="form-control CampoCNPJCPF consultar" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary btn-block">Consultar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive" id="fundo">
        @Html.Partial("_ResultadoFundo", Model)
    </div>
</div>

@section AposFooter
{
    <script>
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true
        });
        $('.consultar').on('change', function() {
            $('#fundo').load('@Url.Action("Cosultar")', { dataInicial: $('#dataInicial').val(), dataFinal: $('#dataFinal').val(), cnpjCpf: $('#cfpCnpj').val(), favorecido: $('#favorecido').val()});
        });
    </script>
}
