﻿@model TransparenciaRO.Infra.Model.View.DividaAtivaSEFIN.DividaAtivaViewModel

@{
    ViewBag.Title = "Detalhes da dívida ativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">

            <div class="form-group col-xs-3">
                <label>Nome</label><br />
                <label class="text-primary">@Model.NomePessoa</label>
            </div>

            <div class="form-group col-xs-3">
                <label>CPF/CNPJ</label><br />
                <label class="text-primary">@Model.CnpjCpf</label>
            </div>

            <div class="form-group col-xs-3">
                <label>Valor total da dívida</label><br />
                <label class="text-primary">R$ @Model.ValorTotalLancamento</label>
            </div>

            <div class="form-group col-xs-3">
                <label>Valor pago</label><br />
                <label class="text-primary">R$ @Model.ValorTotalPagamentoEfetuado</label>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-xs-3">
                <label>Valor à pagar</label><br />
                <label class="text-primary">R$ @Model.ValorAPagar</label>
            </div>
            <div class="form-group col-xs-3">
                <label>Inscrição estdual</label><br />
                <label class="text-primary">@Model.InscricaoEstadual</label>
            </div>

            <div class="form-group col-xs-3">
                <label>Inscrição CDA</label><br />
                <label class="text-primary">@Model.InscricaoCDA</label>
            </div>

            <div class="form-group col-xs-3">
                <label>Cartório</label><br />
                <label class="text-primary">@(Model.Cartorio ?? "---")</label>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-xs-3">
                <label>Documento cartório</label><br />
                <label class="text-primary">@(Model.DocumentoCartorio ?? "---")</label>
            </div>
            <div class="form-group col-xs-3">
                <label>Data de confirmação do cartório</label><br />
                <label class="text-primary">@Model.DataConfirmacaoCartorio</label>
            </div>

            <div class="form-group col-xs-3">
                <label>Ação</label><br />
                <label class="text-primary">@Model.Acao</label>
            </div>

            <div class="form-group col-xs-3">
                <label>Situação</label><br />
                <label class="text-primary">@Model.Situacao</label>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-xs-3">
                <label>Código da receita</label><br />
                <label class="text-primary">@Model.CodigoReceita</label>
            </div>
            <div class="form-group col-xs-3">
                <label>Código da receita</label><br />
                <label class="text-primary">@Model.GuiaLancamento</label>
            </div>

        </div>
    </div>
</div>