﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.DividaAtiva

@{
    ViewBag.Title = "Detalhes da dívida ativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="row">
    <div class="form-group col-xs-3">
        <label>Nome</label><br />
        <label class="text-primary">@Model.Nome</label>
    </div>

    <div class="form-group col-xs-3">
        <label>CPF / CNPJ</label><br />
        <label class="text-primary"><span id="CpfCnpj">@Model.CpfCnpj</span></label>
    </div>

    <div class="form-group col-xs-3">
        <label>Valor total da dívida</label><br />
        <label class="text-primary">R$ @Model.ValorTotal</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Valor pago</label><br />
        <label class="text-primary">R$ @Model.ValorPago</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Valor à pagar</label><br />
        <label class="text-primary">R$ @Model.ValorAPagar</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Inscrição estdual</label><br />
        <label class="text-primary">@Model.InscricaoEstadual</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Inscrição CDA</label><br />
        <label class="text-primary">@Model.InscricaoCDA</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Cartório</label><br />
        <label class="text-primary">@(Model.Cartorio ?? "---")</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Documento cartório</label><br />
        <label class="text-primary">@(Model.DocumentoCartorio ?? "---")</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Data de confirmação do cartório</label><br />
        <label class="text-primary">@Model.DataConfirmacaoCartorio.Date</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Ação</label><br />
        <label class="text-primary">@Model.Acao</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Situação</label><br />
        <label class="text-primary">@Model.Situacao</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Código da receita</label><br />
        <label class="text-primary">@Model.CodigoReceita</label>
    </div>

    <div class="form-group col-xs-3">
        <label>Código da receita</label><br />
        <label class="text-primary">@Model.GuiaLancamento</label>
</form>