﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Web.Controllers
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.DividaAtiva>

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@{
    ViewBag.Title = "Dívida ativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>CPF/CNPJ</label>
                            <input type="text" id="cpfCnpj" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Nome/Razão Social</label>
                            <input type="text" id="nomeRazaoSocial" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" id="btnConsultar" class="btn btn-primary">
                                <i class="fa fa-search"></i> Consultar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning hidden">
                <i class="fa fa-hand-o-right"></i> * Valor sem correções monetárias.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="tabelaContainer"></div>
        </div>
    </div>
</div>

@section AposFooter
{
    <script src="~/scripts/dataTable.es5.min.js"></script>

    <script id="templateDividasAtiva" type="text/html">
        <table class="table table-striped" id="tabelaDividasAtiva" width="100%">
            <thead>
                <tr>
                    <th width="1" class="text-center">Detalhar</th>
                    <th>Nome / Razão social</th>
                    <th>CPF/CNPJ</th>
                    <th>* Valor total</th>
                    <th>* Valor pago</th>
                    <th>* Valor à pagar</th>
                </tr>
            </thead>
            <tbody>
                {{ #dados }}
                <tr>
                    <td class="text-center"><i class="fa fa-search text-primary cursor-pointer" onclick="detalharDividaAtiva({{ Id }})"></i></td>
                    <td class="text-uppercase">{{ NomePessoa }}</td>
                    <td class="text-uppercase">{{ CnpjCpf }}</td>
                    <td>R$ {{ ValorTotalLancamento }}</td>
                    <td>R$ {{ ValorTotalPagamentoEfetuado }}</td>
                    <td>R$ {{ ValorAPagar }}</td>
                </tr>
                {{ /dados }}
            </tbody>
        </table>
    </script>

    <script>
        $("#btnConsultar").click(function () { getDividaAtiva() });

        function getDividaAtiva() {
            $("#tabelaContainer").empty();

            var pNomeRazaoSocial = $('#nomeRazaoSocial').val();
            var pCpfCnpj = $('#cpfCnpj').val();

            $('#tabelaContainer').html('<div class="text-center"><i class="fa fa-cog fa-spin"></i> Consultando...</div>');

            $.get("@Url.Action(nameof(DividaAtivaController.Filtrar))",
                { nomeRazaoSocial: pNomeRazaoSocial, cpfCnpj: pCpfCnpj },
                function (response) {
                    if (response.Sucesso) {
                        var template = $('#templateDividasAtiva').html();
                        var templateRenderizado = Mustache.render(template, { "dados": response.Dados });
                        $('#tabelaContainer').html(templateRenderizado);
                        $("#tabelaDividasAtiva").dataTablePadrao();
                    }
                    else {
                        $('#tabelaContainer').html('<div class="alert alert-danger"><i class="fa fa-hand-o-right"></i> Ocorreu um problema ao realizar a consulta</div>');
                    }

                }).fail(function () {
                    $('#tabelaContainer').html('<div class="alert alert-danger"><i class="fa fa-hand-o-right"></i> Ocorreu um problema ao realizar a consulta</div>');
                });

            $('.alert').removeClass("hidden");
        }

        function detalharDividaAtiva(id) {
            window.open('/DividaAtiva/Detalhes/' + id);
        }
    </script>
}
