﻿@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Web.HTMLHelper
@{
    var actionAtual = ViewContext.RouteData.Values["Action"].ToString();
    var controllerAtual = ViewContext.RouteData.Values["Controller"].ToString();
}
<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pt-br">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S7CGRTZMQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2S7CGRTZMQ');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>
        @(ViewBag.DominioPersonalizado != null && ViewBag.DominioPersonalizado == true ? null : "Portal da Transparência do Estado de Rondônia - ") @ViewBag.Title
    </title>
    <script>
        var path = location.pathname.split('/');
        var _constPath = "";
        if (path[1] === "portaltransparencia") { _constPath = "/" + path[1]; }

        console.log(_constPath);
    </script>
    @* Referências CSS *@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.standalone.min.css">

    <link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css" />

    @* Referências JS *@
    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/Utils.es5.min.js"></script>
    <script src="~/scripts/modernizr-2.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>

    @RenderSection("Head", false)
</head>

<body class="@(ViewBag.CustomBodyClass ?? "")">
    @if (IsSectionDefined("popup"))
    {
        <div id="popup" class="popup">
            @RenderSection("popup", false)
        </div>
    }
    <header class="portal container-fluid">
        <div class="container">
            <div class="row principal">
                <nav class="navbar no-bottom-margin navbar-default topmenu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Mostrar menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="navbar-brand" href="/">
                            <img src="~/img/cge.png" alt="Governo de Rondônia">
                            <!--<img src="~/img/outubro rosa 2.png" alt="Outubro Rosa">-->
                        </a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse text-center-mobile">
                        <ul class="nav navbar-nav menuTopo navbar-right">
                            <li class="@(actionAtual == "Index" && controllerAtual == "Home" ? "active" : "")">
                                <a href="@Url.Action("Index", "Home")" accesskey="0">
                                    <i class="fa fa-home"></i>&nbsp;Início
                                </a>
                            </li>

                            <li class="@(actionAtual == "Institucional" ? "active" : "")">
                                <a href="@Url.Action("Institucional", "Menu")">
                                    <i class="fa fa-university"></i> Institucional
                                </a>
                            </li>

                            <li class="@(actionAtual == "Legislacao" ? "active" : "")">
                                <a href="@Url.Action("Legislacao", "Menu")">
                                    <i class="fa fa-book"></i> Legislação
                                </a>
                            </li>

                            <li class="@(actionAtual == "PerguntasFrequentes" ? "active" : "")">
                                <a href="@Url.Action("PerguntasFrequentes", "Menu")">
                                    <i class="fa fa-question"></i> Perguntas
                                </a>
                            </li>

                            <li class="@(controllerAtual == "Glossario" ? "active" : "")">
                                <a href="@Url.Action("Index", "Glossario")">
                                    <i class="fa fa-list"></i> Glossário
                                </a>
                            </li>

                            <li class="@(actionAtual == "OPortal" ? "active" : "")">
                                <a href="@Url.Action("OPortal", "Menu")">
                                    <i class="fa fa-question"></i> Sobre
                                </a>
                            </li>

                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">
                                    <a href="@Url.Action("Login", "Home")">
                                        <i class="fa fa-sign-in"></i> Entrar
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="@(Url.Action("Acessibilidade", "Menu"))" accesskey="a">
                                    <i class="fa fa-wheelchair"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="dec-font">A-</a>
                            </li>

                            <li>
                                <a href="#!" class="res-font">A</a>
                            </li>

                            <li>
                                <a href="#!" class="inc-font">A+</a>
                            </li>
                            <li>
                                <a href="#!" id="altoContraste" accesskey="3">
                                    <i class="fa fa-adjust"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        var fraseSaudacao = DateTime.Now.Hour < 12 ? "Bom dia" : DateTime.Now.Hour >= 18 ? "Boa noite" : "Boa tarde";
        <div class="usuarioLogadoContainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar">
                            <span class="hidden-xs">
                                @fraseSaudacao, <b>@User.Identity.Name</b>!
                            </span>
                            <span class="float-right">
                                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "AreaAdministrativa" ? "active" : "")" href="@Url.Action("AreaAdministrativa", "Home")">
                                    <i class="fa fa-lock"></i> Área administrativa
                                </a>
                                <a href="@Url.Action("Logoff", "Home")">
                                    <i class="fa fa-sign-out"></i> Sair
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <a href="#mainContainer" accesskey="1" title="Ir para o topo da página - [Alt + 1]" style="display: none"></a>
    <a href="@(Url.Action("Index","Home"))#faleConosco" accesskey="2" title="Ir para o Fale Conosco" style="display: none"></a>

    <div class="@((ViewBag.PaginaInicial ?? false) ? "section" : "container") mainContainer" id="mainContainer">
        @if ((ViewBag.PaginaInicial ?? false) == false)
        {
            @Html.BreadCrumb()
        }

        @if (ViewBag.Title != "")
        {
            <h2>@ViewBag.Title</h2>
        }

        @if (TempData["Erro"] != null && !TempData["Erro"].ToString().IsNullOrEmpty() && (ViewBag.PaginaInicial ?? false) == false)
        {
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i> @TempData["Erro"].ToString()
            </div>
        }

        @if (TempData["Sucesso"] != null && !TempData["Sucesso"].ToString().IsNullOrEmpty() && (ViewBag.PaginaInicial ?? false) == false)
        {
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> @TempData["Sucesso"].ToString()
            </div>
        }

        @RenderBody()
    </div>

    <footer class="container-fluid hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-3 container-footer-odp visible-md visible-lg">
                    <img src="~/img/logotipo-odp-flat.png" alt="ODP" style="max-width: 100%; height: auto" />
                </div>

                <div class="col-md-6 text-center container-endereco col-sm-12">
                    <a href="javascript: void(0);" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://transparencia.ro.gov.br/', 'ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">
                        <i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a data-layout="button_count" href="javascript: void(0);" onclick="window.open('http://twitter.com/intent/tweet?&amp;text=http://transparencia.ro.gov.br/', 'ventanacompartir', 'toolbar=0, status=0, width=650, height=450');"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a>
                    <a class="a2a_button_linkedin" href="javascript: void(0);" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=http://transparencia.ro.gov.br/', 'ventanacompartir', 'toolbar=0, status=0, width=650, height=450');"><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i></a><br />
                    <b>Palácio Rio Madeira</b> - Av. Farquar, 2986<br />Bairro Pedrinhas<br>
                    CEP 76.801-470 - Porto Velho, RO<br />
                    <strong> &copy; Gerência de Tecnologia e Informação - CGE</strong>
                </div>

                <div class="col-md-3 container-footer-palacio hidden-xs  visible-md visible-lg">
                    <img src="~/img/logoPalacioRM-branco.png" alt="Palácio Rio Madeira" />
                </div>
            </div>
        </div>
    </footer>

    <script src="~/scripts/bootstrap-slider.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.mask.min.js"></script>
    @RenderSection("AposFooter", false)
    
<script>
        (function () {

            var options = {
                onKeyPress: function (cpf, ev, el, op) {
                    var masks = ['000.000.000-000', '00.000.000/0000-00'];
                    $('.@(EClassesParaInput.CampoCNPJCPF)').mask((cpf.length > 14) ? masks[1] : masks[0], op);
                }
            }

            var opcao = {
                onComplete: function (numero) {
                    
                    $.ajax({
                        url: 'LicitacaoExiste',
                        data: { NumeroProcesso: numero },
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.Sucesso == true) {
                                alert(response.Mensagem);
                            }
                            else { }
                        }
                    });
                }
            };

            var cpfCnpj = $('.CampoCNPJCPF').val();
            if (cpfCnpj != null) {
                $('.@(EClassesParaInput.CampoCNPJCPF)').mask((cpfCnpj.length > 14) ? '00.000.000/0000-00' : '000.000.000-00', options);
            }
            $('.@(EClassesParaInput.CampoCNPJ)').mask('00.000.000/0000-00', { reverse: true });

            $('.@(EClassesParaInput.CampoCPF)').mask('000.000.000-00', { reverse: true });
            $('.@(EClassesParaInput.CampoDinheiro)').mask('000.000.000.000.000,00', { reverse: true });
            $('.@(EClassesParaInput.CampoData)')
                .datepicker({
                    language: "pt-BR",
                    format: "dd/mm/yyyy"
                });
            $('.@(EClassesParaInput.CampoData)').prop('readonly', true);

            $('#Telefone').mask('(00) 00000-0000', { reverse: true });

            $('.@(EClassesParaInput.CampoProcessoSEI)').mask('0000.000000/0000-00', opcao);
             

            var altoContraste = getCookie("altoContraste");
            if (altoContraste === "true") {
                $("body").addClass("altoContraste");
            }
        })();

        $(document)
            .scroll(function () {
                if ($(document).scrollTop() >= 60) {
                    if (!$('header').hasClass('header-flutuante'))
                        $('header').addClass('header-flutuante');

                } else {
                    $('header').removeClass('header-flutuante');
                }
            });

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) === 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $("#altoContraste")
            .on('click',function () {
                if (getCookie("altoContraste") === "true") {
                    document.cookie = "altoContraste=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                    $("body").removeClass("altoContraste");
                } else {
                    document.cookie = "altoContraste=true";
                    $("body").addClass("altoContraste");
                }
            });
</script>
</body>
</html>