﻿@import 'variaveis.scss';


.popup {
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: url('../img/cpa.jpg');
            background-size: cover                ;
            background-position: center;*/
    background-color: darken($corfundo, 15%);

    img {
        margin: 0 auto;
        left: 20%;
        width: 60%;
    }


    @-moz-keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    h1 {
        font-family: $ptsansnarrowfontfamily;
        color: $cor-offbranco;
        font-weight: bold;
        font-size: x-large;
        text-align: center;
        animation-name: fadein;
        animation-duration: 3s;

        @media screen and (min-width: 768px) {
            font-size: 40pt;
        }
    }
}

@-moz-keyframes pulsar {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes pulsar {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulsar {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}



.pulsar {
    -moz-animation: pulsar 1s infinite both;
    -o-animation: pulsar 1s infinite both;
    -webkit-animation: pulsar 1s infinite both;
    animation: pulsar 1s infinite both;
}

.breadCrumbContainer {
    .breadcrumb {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;

        &.fundoEscuro {
            li, a {
                color: #ccc;
            }
        }

        li {

            @media screen and (max-width: $tamanho-md - 1px) {
                &:nth-child(1n+2):before {
                    content: '\f054';
                    color: #333;
                    font-size: smaller;
                    margin-left: 3px;
                    margin-right: 2px;
                    width: 20px;
                }

                a {
                    color: #333;
                }
            }

            @media screen and (min-width: $tamanho-md) {
                a {
                    color: white;
                    text-decoration: none;
                    padding: 10px 10px 10px 20px;
                    background: $cor-breadcrumb;
                    position: relative;
                    display: block;
                    margin-right: 5px;
                    padding-right: 20px;
                    margin-left: 20px;
                    height: 40px;

                    &:hover {
                        background-color: lighten($cor-breadcrumb,5%);

                        &:after {
                            border-left-color: lighten($cor-breadcrumb,5%);
                        }

                        &:before {
                            border-top-color: lighten($cor-breadcrumb,5%);
                            border-bottom-color: lighten($cor-breadcrumb,5%);
                        }
                    }

                    &:after, &:before {
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 50%;
                    }
                    //float: left;
                    &:after {
                        content: "";
                        border-top: 20px solid transparent; /* Go big on the size, and let overflow hide */
                        border-bottom: 20px solid transparent;
                        border-left: 20px solid $cor-breadcrumb;
                        margin-left: 20px;
                        margin-top: -20px;
                        z-index: 0;
                        background-color: transparent;
                    }


                    &:before {
                        content: "";
                        // display: block;
                        border-top: 20px solid $cor-breadcrumb;
                        border-bottom: 20px solid $cor-breadcrumb;
                        border-left: 20px solid transparent;
                        position: absolute;
                        top: 50%;
                        margin-top: -20px;
                        margin-left: -40px;
                        // left: 100%;
                        z-index: 0;
                    }
                }
            }
        }
    }
}

@mixin aspecto-botao($corBotao, $border, $shadow) {
    @if $border {
        border-radius: 15px;
    }

    background-color: $corBotao;

    @if $shadow {
        box-shadow: 5px 5px darken($corBotao,5%);
    }

    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all .3s;

    .icone {
        flex-grow: 1;
        margin-right: 20px;
        font-size: 40px;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
        color: white;
    }

    .texto {
        flex-grow: 4;
        font-family: $ptsansnarrowfontfamily;
        font-size: 18px;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
        color: white;
        font-weight: bold;
    }

    &.lg {
        @media screen and (min-width: 768px) {
            padding: 20px;

            .icone {
                font-size: 40px;
            }

            .texto {
                font-size: 30px;
            }
        }
    }




    &:hover {
        text-decoration: none;
        background-color: $cor-offbranco;

        .icone, .texto {
            color: $corBotao;
        }
    }
}

@mixin configuracao-botao($corBotao) {
    -moz-transition: background-color $tempotransicao, border $tempotransicao * 2;
    -o-transition: background-color $tempotransicao, border $tempotransicao * 2;
    -webkit-transition: background-color $tempotransicao, border $tempotransicao * 2;
    transition: background-color $tempotransicao, border $tempotransicao * 2;
    vertical-align: top;
    // Propriedades exclusivas para telas grandes
    width: 20%;

    @media screen and (max-width:($tamanho-md)-1px) {
        width: 33%;
    }

    padding: 15px;
    display: inline-block;
    text-align: center;

    a {
        display: block;
        width: 100%;
        text-align: center;

        .icon {
            display: table;
            background-color: $corBotao;
            position: relative;
            margin: 0 auto;
            width: 120px;
            height: 120px;
            border-radius: 40px;
            box-shadow: 5px 5px darken($corBotao,10%);

            @media screen and (max-width:($tamanho-md)-1px) {
                width: 60px;
                height: 60px;
                border-radius: 20px;
                box-shadow: 3px 3px darken($corBotao,10%);
            }

            transition: background-color .3s;

            &:hover {
                background-color: $cor-offbranco;
            }

            i {
                display: table-cell;
                vertical-align: middle;
                color: white;
                font-size: 60px;
                text-shadow: 2px 2px rgba(0,0,0,0.3);

                @media screen and (max-width:($tamanho-md)-1px) {
                    font-size: 30px;
                }

                &:hover {
                    color: darken($corBotao,10%);
                }
            }

            img {
                width: 80px;
                height: 80px;
                position: absolute;
                left: calc(50%-40px);
                top: calc(50%-40px);

                @media screen and (max-width:($tamanho-md)-1px) {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: calc(50%-20px);
                    top: calc(50%-20px);
                }
            }
        }

        span + span {
            margin-top: 15px;
            display: block;
            color: white;
            font-family: $ptsansnarrowfontfamily;
            font-size: 20px;

            @media screen and (max-width:($tamanho-md)-1px) {
                font-size: 15px;
                line-height: 15px;
            }
        }

        text-decoration: none;
        -webkit-transition: color .5s, background .5s, height .5s;
        -moz-transition: color .5s, background .5s, height .5s;
        -o-transition: color .5s, background .5s, height .5s;
        transition: color .5s, background .5s, height .5s;
    }
}

.banner-topo-container {
    //background-color: #111;
    width: 100%;
    text-align: center;

    img {
        transform: .3s all;
        width: 240px !important;
    }
}

.menuPrincipalSection {
    background-color: transparentize(darken($corfundo, 5%),.1);
    padding-top: 20px;
    min-height: 350px;
    position: relative;

    &:after {
        content: '';
        background-image: url('../img/cpa.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .menuPrincipalContainer {
        align-items: center;
        vertical-align: middle;
        padding-bottom: 20px;
        height: 100%;
        text-align: center;
        min-height: 500px;
        perspective: 800px;
        position: relative;

        #menu {
            -moz-transition: all $tempotransicao;
            -o-transition: all $tempotransicao;
            -webkit-transition: all $tempotransicao;
            transition: all $tempotransicao;
            text-align: center !important;
            transform: none;



            &.menuFadeOut {
                transform: scale(0.2);
                opacity: 0;
            }

            ul {
                padding: 0;
            }
        }
        //Contexto: <li>
        .imagemMenu {
            padding: 20px;
            border: 1px solid $cor-offbranco;
            border-radius: 40px;
            box-shadow: 5px 5px darken($cor-offbranco,15%);
            background-color: white;
            margin-bottom: 10px;

            @media screen and (max-width: 767px) {
                border-radius: 2px;
                box-shadow: 1px 1px darken($cor-offbranco,15%);
            }

            img {
                width: 100% !important;
            }

            .imagemTitulo {
                font-size: 40px;

                @media screen and (max-width: 767px) {
                    font-size: 15px;
                    font-weight: bold;
                }

                color: black;
                font-family: $ptsansnarrowfontfamily;
                margin-bottom: 15px;
            }

            .descricao {
                text-align: justify;
                padding-left: 15px;
                padding-right: 15px;

                @media screen and (max-width: 767px) {
                    font-size: x-small;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            &.tamanho-12 {
                width: 100%;
            }

            &.tamanho-11 {
                width: 91.67%;
            }

            &.tamanho-10 {
                width: 83.33%;
            }

            &.tamanho-9 {
                width: 75%;
            }

            &.tamanho-8 {
                width: 66.67%;
            }

            &.tamanho-7 {
                width: 58.33%;
            }

            &.tamanho-6 {
                width: 50%;
            }

            &.tamanho-5 {
                width: 41.67%;
            }

            &.tamanho-4 {
                width: 33.33%;
            }

            &.tamanho-3 {
                width: 25%;
            }

            &.tamanho-2 {
                width: 16.67%;
            }

            &.tamanho-1 {
                width: 8.33%;
            }
        }

        .temaPadrao li {
            &:nth-child(5n+1) {
                @include configuracao-botao($corbotao1);
            }

            &:nth-child(5n+2) {
                @include configuracao-botao($corbotao2);
            }

            &:nth-child(5n+3) {
                @include configuracao-botao($corbotao3);
            }

            &:nth-child(5n+4) {
                @include configuracao-botao($corbotao4);
            }

            &:nth-child(5n+5) {
                @include configuracao-botao($corbotao5);
            }
        }

        .temaAmarelo li {
            &:nth-child(5n+1) {
                @include configuracao-botao(darken($corbotao1, 5%));
            }

            &:nth-child(5n+2) {
                @include configuracao-botao(darken($corbotao1, 10%));
            }

            &:nth-child(5n+3) {
                @include configuracao-botao(darken($corbotao1, 15%));
            }

            &:nth-child(5n+4) {
                @include configuracao-botao(darken($corbotao1, 10%));
            }

            &:nth-child(5n+5) {
                @include configuracao-botao(darken($corbotao1, 5%));
            }
        }

        .temaVermelho li {
            &:nth-child(5n+1) {
                @include configuracao-botao(darken($corbotao2, 5%));
            }

            &:nth-child(5n+2) {
                @include configuracao-botao(darken($corbotao2, 10%));
            }

            &:nth-child(5n+3) {
                @include configuracao-botao(darken($corbotao2, 15%));
            }

            &:nth-child(5n+4) {
                @include configuracao-botao(darken($corbotao2, 10%));
            }

            &:nth-child(5n+5) {
                @include configuracao-botao(darken($corbotao2, 5%));
            }
        }

        .temaAzul li {
            &:nth-child(5n+1) {
                @include configuracao-botao(darken($corbotao3, 5%));
            }

            &:nth-child(5n+2) {
                @include configuracao-botao(darken($corbotao3, 10%));
            }

            &:nth-child(5n+3) {
                @include configuracao-botao(darken($corbotao3, 15%));
            }

            &:nth-child(5n+4) {
                @include configuracao-botao(darken($corbotao3, 10%));
            }

            &:nth-child(5n+5) {
                @include configuracao-botao(darken($corbotao3, 5%));
            }
        }

        .temaPreto li {
            &:nth-child(5n+1) {
                @include configuracao-botao(darken($corbotao4, 5%));
            }

            &:nth-child(5n+2) {
                @include configuracao-botao(darken($corbotao4, 10%));
            }

            &:nth-child(5n+3) {
                @include configuracao-botao(darken($corbotao4, 15%));
            }

            &:nth-child(5n+4) {
                @include configuracao-botao(darken($corbotao4, 10%));
            }

            &:nth-child(5n+5) {
                @include configuracao-botao(darken($corbotao4, 5%));
            }
        }

        .temaVerde li {
            &:nth-child(5n+1) {
                @include configuracao-botao(darken($corbotao5, 5%));
            }

            &:nth-child(5n+2) {
                @include configuracao-botao(darken($corbotao5, 10%));
            }

            &:nth-child(5n+3) {
                @include configuracao-botao(darken($corbotao5, 15%));
            }

            &:nth-child(5n+4) {
                @include configuracao-botao(darken($corbotao5, 10%));
            }

            &:nth-child(5n+5) {
                @include configuracao-botao(darken($corbotao5, 5%));
            }
        }
    }
}

.menuSecundarioSection {
    background-color: $corfundo;
    padding-top: 25px;
    padding-bottom: 25px;

    ul {
        box-sizing: border-box;
        width: 100%;
        padding-left: 0;

        a {
            margin: 10px;
            padding: 5px;
            display: table;

            &:hover {
                text-decoration: none;
            }

            i, li {
                color: white;
            }

            li {
                list-style: none;
                display: table-cell;
                vertical-align: central;
            }

            p {
                display: inline-block;
                font-family: $ptsansnarrowfontfamily;
                font-weight: bold;
                font-size: 15px;
            }

            h3 {
                min-height: 80px;
            }

            @media screen and (min-width: 1024px) {
                width: calc(20%-20px);

                &:hover {
                    border-radius: 32px;
                }

                li {
                    display: table;

                    i {
                        display: table-cell;
                        vertical-align: middle;
                        width: 64px;
                        height: 64px;
                        border-radius: 32px;
                        font-size: xx-large;
                        text-align: center;
                    }

                    p {
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 15px;

                        &:hover {
                            text-shadow: 1px 1px rgba(0,0,0,0.6);
                        }
                    }
                }




                &:nth-child(5n+1) {
                    i {
                        background-color: $corbotao1;
                    }

                    &:hover {
                        background-color: darken($corbotao1,5%);
                        box-shadow: 3px 3px darken($corbotao1,20%);
                    }
                }

                &:nth-child(5n+2) {
                    i {
                        background-color: $corbotao2;
                    }

                    &:hover {
                        background-color: darken($corbotao2,5%);
                        box-shadow: 3px 3px darken($corbotao2,20%);
                    }
                }

                &:nth-child(5n+3) {
                    i {
                        background-color: $corbotao3;
                    }

                    &:hover {
                        background-color: darken($corbotao3,5%);
                        box-shadow: 3px 3px darken($corbotao3,20%);
                    }
                }

                &:nth-child(5n+4) {
                    i {
                        background-color: $corbotao4;
                    }

                    &:hover {
                        background-color: darken($corbotao4,5%);
                        box-shadow: 3px 3px darken($corbotao4,20%);
                    }
                }

                &:nth-child(5n+5) {
                    i {
                        background-color: $corbotao5;
                    }

                    &:hover {
                        background-color: darken($corbotao5,5%);
                        box-shadow: 3px 3px darken($corbotao5,20%);
                    }
                }

                display: inline-block;
                float: left;
            }

            @media screen and (max-width: 1023px) {
                width: calc(33%-6px);
                margin: 2px;
                display: inline-block;
                border-radius: 10px;
                padding: 10px !important;
                text-align: center;
                vertical-align: top;

                li {
                    display: block;

                    i {
                        width: 100%;
                        font-size: 32px;
                        display: block;
                        text-align: center;
                    }

                    p {
                        margin-top: 10px;
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                }


                &:nth-child(5n+1) {
                    i {
                        color: $corbotao1;
                    }
                }

                &:nth-child(5n+2) {
                    i {
                        color: $corbotao2;
                    }
                }

                &:nth-child(5n+3) {
                    i {
                        color: $corbotao3;
                    }
                }

                &:nth-child(5n+4) {
                    i {
                        color: lighten($corbotao4,20%);
                    }
                }

                &:nth-child(5n+5) {
                    i {
                        color: $corbotao5;
                    }
                }
            }
        }
    }
}

.noticiasSection {
    background-color: lighten($corfundo,5%);

    .noticia {
        p:first-of-type {
            margin-bottom: -2px;

            & + p {
                color: darken($cor-texto-claro,15%);
                margin-bottom: -2px;

                & + p {
                    color: darken($cor-texto-claro,15%);
                }
            }
        }

        position: relative;

        .noticia-imagem-container {
            width: 100% !important;
            max-height: 200px;
            padding: 5px;
            border: rgba(255,255,255,0.3) 1px solid;
            border-radius: 3px;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            height: 200px;

            img {
                width: calc(100%-10px);
                position: absolute;
            }
        }
    }
}

.bannerVideoSection {
    background-color: darken($corfundo,5%);
    color: white;
}

.faleConoscoSection {
    background-color: $corfundo;
}

.noticiasSection, .faleConoscoSection {
    padding-top: $padding-secao;
    padding-bottom: $padding-secao;

    label, p, h1, h2, h3 {
        color: $cor-texto-claro;
    }

    h3 {
        font-weight: bold;
    }

    a {
        color: darken($cor-texto-claro,15%);
    }

    .error {
        color: darken($cor-texto-claro,15%);
    }

    p {
        text-align: justify;
    }

    .esic-link-container {
        background-color: rgba(255,255,255,0.1);
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

        .image-container, .text-container {
            display: inline-block;
            padding: 5px;
            vertical-align: middle;
        }

        .image-container {
            padding: 15px;
            width: 30%;

            img {
                width: 100%;
            }
        }

        .text-container {
            width: 68%;
            font-family: $ptsansnarrowfontfamily;
            padding-top: 15px;

            p {
                text-align: right;
                font-weight: bold;
                font-size: large;
            }
        }
    }

    ul {
        padding-left: 0;

        &.titulo-noticia-desktop {
            @media screen and (max-width:989px) {
                display: none;
            }
        }

        &.dados-noticia {
            @media screen and (min-width:990px) {
                .tituloMobile {
                    display: none;
                }
            }
        }


        li {
            color: $cor-texto-claro;
            list-style: none;

            a {
                color: darken($cor-texto-claro,10%);
            }
        }
    }
}

.mapaSiteSection {
    background-color: darken($corfundo, 5%);
    padding-top: 20px;
    padding-bottom: 20px;

    .mapaSiteSubSection {
        border-left: 1px dotted darken($cor-offbranco,50%);
        padding-left: 5px;
        margin-top: 10px;
        vertical-align: top;
        margin-bottom: 10px;

        h1 {
            font-family: $ptsansnarrowfontfamily;
            color: $cor-offbranco;
            margin-top: 0px;
            font-size: x-large;
            margin-bottom: 2px;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;
            margin-top: 0;

            li {
                list-style: none;
                font-size: 10px;

                a {
                    color: darken($cor-offbranco,20%);
                }
            }
        }
    }
}

.paceirosSection {
    background-color: lighten($corfundo,5%);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10pt;

    a {
        color: darken($cor-offbranco,20%);
        cursor: pointer;
        text-align: center;
    }

    label {
        cursor: pointer;
    }

    img {
        width: 28%;
        height: auto;
    }
}
