﻿@font-face {
    font-family: 'Open Sans';
    src: url('opensans-bold.eot');
    src: url('opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold.woff') format('woff'),
        url('opensans-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700
}
@font-face {
    font-family: 'Open Sans';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-style: normal;
    font-weight: 600
}
@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular.eot');
    src: url('opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular.woff') format('woff'),
         url('opensans-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400

}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/pt_sans-narrow-web-bold.eot');
    src: url('../fonts/pt_sans-narrow-web-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-narrow-web-bold.woff') format('woff'),
         url('../fonts/pt_sans-narrow-web-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700

}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/pt_sans-narrow-web-regular.eot');
    src: url('../fonts/pt_sans-narrow-web-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-narrow-web-regular.woff') format('woff'),
         url('../fonts/pt_sans-narrow-web-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400

}