﻿@import 'variaveis.scss';
@import 'component.scss';

.first-letter-paragraph {
    font-size: 65px;
    line-height: 60px;
    float: left;
    margin-right: 9px;
    font-weight: 600;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.no-break, td .no-break {
    white-space: nowrap !important;
}

.img-with-title {
    display: block;
}

.img-with-title:hover {
    cursor: pointer;
}

.img-with-title > h2 {
    margin: 0;
    color: #34495e;
    text-align: center;
    transition: all ease .2s;
}

.img-with-title > .img-zoom {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    padding: 20px;
    transition: all ease .5s;
    width: 200px;
}

.img-with-title:hover .img-zoom:hover {
    padding: 10px;
    margin-top: 3px;
}

.margin-bottom-13 {
    margin-bottom: 13px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-text-decoration {
    text-decoration: none !important;
}

.no-border-top {
    border-top: none !important;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.noticias {
    overflow: auto;
}

.noticias img {
    float: left;
    width: 45%;
    margin-top: 4px;
    margin-right: 10px;
}

.dicas {
    bottom: 30px;
    width: 260px;
    height: 50px;
    position: fixed;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: rgb(0, 0, 0);
    z-index: 9999;
    cursor: pointer;
    right: 30px;
}

.dicas-img {
    display: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 44px;
    border: 2px solid #2980b9;
    background: white;
    transition: background 0.5s ease;
    float: right
}

.dicas-img:hover {
    background: #c3dbe6;
}

.dicas-content {
    display: none;
    bottom: 0;
    right: 65px;
    position: absolute;
    /*width: 240px;
    height: auto;*/
    width: 300px;
    height: auto;
    padding: 13px;
    border-radius: 7px;
    background-color: white;
    border: 2px solid #2980b9;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 14px;
    -webkit-transition: width 0.5s, height 0.5s !important; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.3s !important;
}

.dicas-text {
    /*display: none;*/
    margin: 5px 0 0 !important;
    height: 91%;
}

/*.dicas-content:hover {
    width: 300px;
    height: auto;

    .dicas-text {
        margin: 5px 0 0 !important;
        height: 91%;
    }
}*/

.dicas-content .fechar-dicas {
    float: right;
    margin-top: 3px;
    color: #2980b9;
}

.btn-verde-marinho {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #2980b9;
    color: #2980b9;
    transition: background 0.5s ease;
    box-shadow: 0px 1px rgba(41, 128, 185, 0.32);
}

.btn-verde-marinho:hover {
    background: #2980b9;
    border-color: #2980A9;
    color: white;
}

.color-white {
    color: white;
}


.color-black {
    color: black !important;
}

.tooltipMenu {
    position: relative;
    display: inline-block;
}

.tooltipMenu .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #154982;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 84%;
}

.tooltipMenu:hover .tooltiptext {
    visibility: hidden;
}

@media (min-width: 758px) {
    .tooltipMenu:hover .tooltiptext {
        visibility: visible !important;
    }
}

.mainContainer {
    min-height: $containerheight !important;
    position: relative;
}


.noticiasContainer {
    background-color: lighten($corfundo,100%);
}

.resultadosBusca {
    margin-top: 15px !important;
}

.usuarioLogadoContainer {
    padding: 5px 0;
    background-color: darken($cor-azulgoverno,10%);
    border-bottom: $corlinhafootergoverno 1px solid;

    .navbar {
        min-height: 10px;
        height: 10% !important;
        margin-bottom: 0;

        a {
            padding-top: 2px;
            padding-bottom: 2px;
            color: $cor-offbranco !important;
            border-radius: 2px;

            &:hover {
                background-color: rgba($cor-offbranco,.2) !important;
            }

            &.active {
                background-color: $cor-offbranco !important;
                color: $corcinzaclaro !important;

                i {
                    color: $corcinzaclaro !important;
                }
            }
        }
    }

    .row {
        * {
            color: $cor-offbranco;
        }
    }
}

.float-right {
    float: right;
}


.trDetalhe {
    .table {
        border: #ccc 1px solid;
    }
}

.tableLicitacao {
    thead {
        margin-top: 10px;
        border-top: 1px solid #ccc;
    }

    tbody {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
}

#containerNoticia {
    div {
        font-size: 16px;
    }

    img {
        float: left;
        margin: 15px;

        @media screen and (max-width:$tamanho-md - 1px) {
            width: 100%;
            margin: 0;
            display: block;
        }
    }
}

nav .nav {
    @media screen and (max-width:$tamanho-md - 1px) {
        background-color: $corfundoheader !important;
    }

    .active {
        background-color: $corfundo;
    }
}

.chartContainer {
    text-align: center;
    position: relative;
    overflow: auto;
    width: 100%;

    .grafico {
        margin: 0 auto;
        -moz-transition: top 2s;
        -o-transition: top 2s;
        -webkit-transition: top 2s;
        transition: top 2s;
        min-width: 560px;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .loadingPlaceholder {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .slider-selection {
        background-color: $corslider-faixaselecionada;
    }

    .slider-track-low {
        background-color: $corslider-faixasexternas;
    }

    .slider-track-high {
        background-color: $corslider-faixasexternas;
    }
}

.chartFooter {
    margin: 20px;
    text-align: center;
    font-size: small;
}

header {
    background-color: $corfundoheader !important;
    min-height: $headerheight;
    border-bottom: $corlinhafootergoverno 1px solid;
    z-index: 9000;
    width: 100%;
    transition: background-color .3s;

    &.header-flutuante {
        background-color: transparentize($corfundoheader,.3) !important;
        position: fixed;
    }
}

#brasao-portal img {
    height: calc(#{$headerheight} - 20px);
    margin-top: 10px;
}

.topmenu {
    background-color: transparent !important;
    margin-top: 5px;

    span {
        color: white;
    }

    #navbar-brand > img {
        height: 45px;
    }

    li {
        border-radius: 2px;
        margin-right: 2px;
        transition: background-color .3s;

        a {
            color: $cor-offbranco !important;
        }

        &:hover {
            background-color: rgba($cor-offbranco,.2) !important;
        }

        &.active {
            background-color: $cor-offbranco !important;


            a {
                color: $corcinzaclaro !important;
            }
        }
    }


    a {
        color: $corbase !important;
        background-color: transparent !important;
    }
}

h3 {
    font-family: $ptsansnarrowfontfamily;
}

header .row.principal h3 {
    margin: 0;
    font-size: 20pt;
    line-height: 46px;
    text-align: right;
    margin-top: 30px;
}

header .row.principal h3 a {
    color: $corcinzaclaro;
    text-decoration: none;
    cursor: auto;
}

footer {
    //min-height: $footerheight;
    padding-top: 2px;
    background-color: darken($corfundo,10%);

    a {
        color: white;
        margin: 0px 5px;
    }

    .container-footer-odp {
        img {
            width: 100%;
        }
    }

    .container-endereco {
        padding-top: 20px;
        font-size: smaller;
    }

    .container-footer-palacio {

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    div {
        color: white;
    }

    @media screen and (max-width:$tamanho-md - 1px) {
        div {
            text-align: center;
        }

        .copyright {
            margin-top: 5px;
            font-size: smaller;
        }
    }
}

footer:before {
    content: ' aaaa';
    display: block;
    line-height: 1px;
    border-top: 1px $corlinhafootergoverno solid;
    padding: 2px 0;
}

footer .row.copyright {
    height: 32px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
}

footer .row.acessibilidade {
    height: 28px;
    margin-top: 4px;
    line-height: 30px;
}

.pt-sans-narrow {
    font-family: $ptsansnarrowfontfamily !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

@media (max-width: $tamanho-md - 1px) {
    // Propriedades exclusivas para telas pequenas
    header h3 {
        font-size: medium !important;
        text-align: center !important;
        margin-top: 0 !important;
    }

    .containerBrasao {
        text-align: center !important;
    }
}

a {
    color: #6495ed;
}

//Breadcrump2
#breadcrumb2 {
    list-style: none;
    display: inline-block;

    li {
        float: left;

        a {
            color: #FFF;
            display: block;
            background: $breadcrumb2-blue;
            text-decoration: none;
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
        }

        &:nth-child(even) {
            a {
                background-color: $breadcrumb2-blue-darken;

                &:before {
                    border-color: $breadcrumb2-blue-darken;
                    border-left-color: transparent;
                }

                &:after {
                    border-left-color: $breadcrumb2-blue-darken;
                }
            }
        }

        &:first-child {
            a {
                padding-left: 15px;

                &:before {
                    border: none;
                }
            }
        }

        &:last-child {
            a {
                padding-right: 15px;

                &:after {
                    border: none;
                }
            }
        }

        a {
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid $breadcrumb2-blue;
                border-width: 20px 10px;
                width: 0;
                height: 0;
            }

            &:before {
                left: -20px;
                border-left-color: transparent;
            }

            &:after {
                left: 100%;
                border-color: transparent;
                border-left-color: $breadcrumb2-blue;
            }

            &:hover {
                background-color: $breadcrumb2-green;

                &:before {
                    border-color: $breadcrumb2-green;
                    border-left-color: transparent;
                }

                &:after {
                    border-left-color: $breadcrumb2-green;
                }
            }

            &:active {
                background-color: $breadcrumb2-green-darken;

                &:before {
                    border-color: $breadcrumb2-green-darken;
                    border-left-color: transparent;
                }

                &:after {
                    border-left-color: $breadcrumb2-green-darken;
                }
            }
        }
    }
}

//Modal esta a frente do menu
.modal {
    z-index: 10000;
}



.margin {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.img-responsive.img-center {
    margin: 0 auto;
}

@media(max-width: $tamanho-md - 1px) {
    .navbar-default .navbar-nav > li > a {
        color: #555555;
    }
}

@media(max-width: $tamanho-md - 1px) {
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background-color: #1c61ae;
        color: white;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #fec10e;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #1c61ae;
        background-color: transparent;
    }
}

@media(min-width: $tamanho-md) {
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #808080;
        background-color: transparent;
    }
}

.noticia {
    h3 {
        display: flex;
        vertical-align: middle;
        min-height: 100px;
    }
}

#tabelaInstituicao .td {
    width: 12%;
}

.margin-top-15px {
    margin-top: 15px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-25px {
    margin-top: 25px;
}

.margin-top-40px {
    margin-top: 40px;
}

.margin-top-60px {
    margin-top: 60px;
}

.margin-top-80px {
    margin-top: 80px;
}

.margin-top-100px {
    margin-top: 100px;
}

.margin-top-150px {
    margin-top: 150px;
}

.margin-top-185px {
    margin-top: 185px;
}

.margin-top-320px {
    margin-top: 300px;
}

.margin-left-right {
    margin-left: 80px;
    margin-right: 60px;
}

.contentPrint p {
    line-height: 1.5em;
    font-family: Courier New, Courier;
    font-size: 15px;
}

.contentPrint .footer-certidao {
    line-height: 1.5em;
    font-family: Courier New, Courier;
    font-size: 12px;
}

.hr-certidao {
    border-top: 1px double #000;
}

.altoContraste {
    background-color: black !important;

    *, a {
        background-color: black !important;
        color: $cor-offbranco !important;

        &:before, &:after {
            background-color: black !important;
            border-color: black !important;
        }
    }

    .header-flutuante {
        background-color: black !important;
    }

    .navbar-toggle {
        .icon-bar {
            background-color: white !important;
        }
    }

    .icon {
        color: white !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        border: white 1px solid;
    }

    .menuPrincipalSection {
        li:hover {
            span + span {
                background-color: white !important;
                color: black !important;
            }
        }
    }

    .menuSecundarioSection {
        a:hover {
            box-shadow: none !important;

            p {
                background-color: white !important;
                color: black !important;
                text-shadow: none !important;
            }
        }
    }
}

.margin-bottom-15px {
    margin-bottom: 15px;
}


// Fiscal Cidadao
.CorVermelhoCidadao {
    background-color: $corbotao2;
}

.CorVerdeCidadao {
    background-color: $corbotao5;
}

.bs-callout-info {
    border-left-color: #1b809e !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


.bs-callout-info h4 {
    color: #1b809e;
    font-size: 12pt;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}


.fb-primary {
    color: #fff !important;
    background-color: #368edb !important;
    border-color: #2e6da4 !important;
}

.fb-success {
    color: #fff !important;
    background-color: #008000 !important;
    border-color: #4cae4c !important;
}

.fb-danger {
    color: #fff !important;
    background-color: #B22222 !important;
    border-color: #be2c2c !important;
}

.fb-warning {
    color: #000 !important;
    background-color: #FFD700 !important;
    border-color: #FFFF00 !important;
}
.font-size{
    font-size: 200px;
}