﻿//Variáveis

//Variáveis bootstrap
$tamanho-md: 768px;
$tamanho-sm: 544px;
$tamanho-lg: 992px;
$tamanho-xlg: 1200px;

//Cores menu principal
$corbotao1: #f39c12;
$corbotao2: #c0392b;
$corbotao3: #2980b9;
$corbotao4: #2c3e50;
$corbotao5: #16a085;
$corbotaopadrao: $corbotao3;
$corbotaovoltar: #96281b;
$corslider-faixasexternas: rgba(0,0,0,0.2);
$corslider-faixaselecionada: rgba(0,255,255,0.5);
$corbase: #333;

$padding-secao: 15px;

$tempotransicao: 0.2s;

$corcinzaclaro: #444;

$cor-azulgoverno: #1C61AE; //Original
//$cor-azulgoverno: #AE3C61;
$cor-amarelogoverno: #FEC10E;
$cor-offbranco: darken(white,10%);



$corfootergoverno: $cor-azulgoverno;
$corlinhafootergoverno: $cor-amarelogoverno;


//$corfundo: darken(rgb(22, 61, 82),5%);
$corfundo: darken($cor-azulgoverno,20%);
$corfundoheader: $cor-azulgoverno;
$cor-texto-claro: darken(white,10%);

$cor-breadcrumb: lighten($corfundo,5%);

$headerheight: 60px;
$topmenuheight: 50px;
$footerheight: 40px;
$containerheight: calc(100vh - #{$headerheight} - #{$footerheight} - #{$topmenuheight} - 1px);
$containerbuscaheight: 80px;
$menuprincipalcontainerheight: #{$containerheight} - #{$containerbuscaheight};

$ptsansnarrowfontfamily: "PT Sans Narrow";

//Breadcrumb2
$breadcrumb2-blue-gray: #34495e;
$breadcrumb2-blue-gray-darken: #2c3e50;
$breadcrumb2-blue: #3498db;
$breadcrumb2-blue-darken: #2980b9;
$breadcrumb2-green: #1abc9c;
$breadcrumb2-green-darken: #16a085;