﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
@{
    ViewBag.Title = "Gráfico - Receita da Empresa " + ViewBag.Empresa;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="loadingPlaceholder">
        <h2 class="text-center">
            <i class="fa fa-cog fa-spin"></i> Processando gráfico...
        </h2>
    </div>
    <div id="grafico" class="grafico"></div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <label>
            Tipo Consulta <strong class="text-danger">*</strong>
        </label>
        <select id="tipoConsulta" name="tipoConsulta" class="form-control" onchange="carregarMeses('@ViewBag.Empresa')">
            <option value="1">Por Ano</option>
            <option value="2">Por Mês</option>
            <option value="3">Receita Detalhada</option>
        </select>
    </div>
    <div id="divAno" class="col-md-3 col-sm-6 hidden">
        <label>
            Ano <strong class="text-danger">*</strong>
        </label>
        <select id="ano" name="ano" class="form-control" onchange="carregarMeses('@ViewBag.Empresa')">
            @for (var ano = ViewBag.AnoMax; ano >= ViewBag.AnoMin; ano--)
            {
                <option value="@ano" @(ano == ViewBag.AnoMax ? "selected" : "")>@ano</option>
            }
        </select>
    </div>
    <div id="divMes" class="col-md-3 col-sm-6 hidden">
        <label>
            Mês <strong class="text-danger">*</strong>
        </label>
        <select id="mes" name="mes" class="form-control"></select>
    </div>
    <div class="col-md-3 col-sm-6" style="margin-top: 25px">
        <button id="filtro" name="filtro" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i> Pesquisar
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div id="tabelaContainer" class="col-md-12"></div>
</div>
@section AposFooter
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @*<script src="~/scripts/ai.0.15.0-build58334.min.js"></script>*@
    <script id="templateReceitaAnual" type="text/html">
        <table class="table table-hover" id="tabelaReceitaAnual" width="100%">
            <thead>
                <tr>
                    <th>Detalhes</th>
                    <th>Ano</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="carregarDadosReceitaMensal2('{{Ano}}', '@ViewBag.Empresa', 'tabelaReceitaAnual', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{Ano}}</td>
                    <td>{{ValorFormatado}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateReceitaMensal" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Detalhes</th>
                    <th>Mês</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="carregarDadosReceitaDetalhada2('{{Ano}}', '{{MesInt}}', '@ViewBag.Empresa', '{{guidNovatabela}}', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{MesInt}} - {{MesString}}</td>
                    <td>{{ValorFormatado}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateReceitaDetalhada" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nota Fiscal</th>
                    <th class="hidden">CPF / CPNJ</th>
                    <th>Cliente</th>
                    <th>Receita</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>{{Data}}</td>
                    <td>{{NotaFiscal}}</td>
                    <td class="hidden">{{CpfCnpj}}</td>
                    <td>{{Cliente}}</td>
                    <td>{{ValorFormatado}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script>
        function carregarGrafico(dados, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: ',',
                    thousandsSep: '.',
                    numericSymbols: [' mil', ' milhões', ' bilhões', ' trilhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        },
                        labels: {
                            //format: '{value:.2f}'

                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: dados
                        }
                    ]
                });
        }

        function mesPorExtenso(mes) {
            switch (mes.toString()) {
                case "1":
                    return ("Janeiro");
                case "2":
                    return ("Fevereiro");
                case "3":
                    return ("Março");
                case "4":
                    return ("Abril");
                case "5":
                    return ("Maio");
                case "6":
                    return ("Junho");
                case "7":
                    return ("Julho");
                case "8":
                    return ("Agosto");
                case "9":
                    return ("Setembro");
                case "10":
                    return ("Outubro");
                case "11":
                    return ("Novembro");
                default:
                    return ("Dezembro");
            }
        }
    </script>
    <script>
        carregarDadosReceitaAnual('@ViewBag.Empresa');

        $("#filtro").click(function () {
            var tipoConsulta = $("#tipoConsulta option:selected").val();
            var empresa = '@ViewBag.Empresa';
            var ano = $("#ano option:selected").val();
            var mes = $("#mes option:selected").val();

            switch (tipoConsulta) {
                case "1":
                    carregarDadosReceitaAnual(empresa);
                    break;
                case "2":
                    carregarDadosReceitaMensal(ano, empresa);
                    break;
                case "3":
                    carregarDadosReceitaDetalhada(ano, mes, empresa);
                    break;
                default:
                    carregarDadosReceitaAnual();
            }
        });

        function carregarMeses(pEmpresa) {
            var tipoConsulta = $("#tipoConsulta option:selected").val();
            switch (tipoConsulta) {
                case "1":
                    $("#mes").empty();
                    $("#divAno").addClass("hidden");
                    $("#divMes").addClass("hidden");
                    break;
                case "2":
                    $("#mes").empty();
                    $("#divAno").removeClass("hidden");
                    $("#divMes").addClass("hidden");
                    break;
                case "3":
                    var options = [];
                    $.get("@Url.Action(nameof(ReceitaEmpresaController.Meses))", { ano: $("#ano option:selected").val(), empresa: pEmpresa },
                        function (meses) {
                            for (var i = 0; i < meses.length; i++) {
                                if (meses[i].mesInt === meses.length)
                                    options += '<option value="' + meses[i].MesInt + '" selected>' + meses[i].MesString + '</option>';
                                else
                                    options += '<option value="' + meses[i].MesInt + '">' + meses[i].MesString + '</option>';
                            }
                            $("#mes").html(options);
                        });

                    $("#divAno").removeClass("hidden");
                    $("#divMes").removeClass("hidden");
                    break;
            }
        }

        function carregarDadosReceitaAnual(pEmpresa) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(ReceitaEmpresaController.ReceitaAnual))", { empresa: pEmpresa },
                function (dados) {
                    var receitasAnuais = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 11) {
                            var serie = { name: dados[i].Ano, y: dados[i].Valor, drilldown: false }
                            receitasAnuais.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(receitasAnuais, "Ano", "Receitas Consolidadas Por Ano", "Ano", "Valor");

                    var template = $('#templateReceitaAnual').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaReceitaAnual").dataTablePadrao();
                });
        }

        function carregarDadosReceitaMensal(pAno, pEmpresa) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(ReceitaEmpresaController.ReceitaMensal))", { ano: pAno, empresa: pEmpresa },
                function (dados) {
                    var receitasMensais = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 11) {
                            var serie = { name: dados[i].MesString, y: dados[i].Valor, drilldown: false }
                            receitasMensais.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(receitasMensais, "Mês", "Receitas Consolidadas por mês do ano de " + pAno, "Mês", "Valor");

                    var guidNovatabela = guid();
                    $('#tabelaContainer').html(Mustache.render($('#templateReceitaMensal').html(), { "guidNovatabela": guidNovatabela, "dados": dados }));
                    $('#' + guidNovatabela).dataTablePadrao();
                });
        }

        function carregarDadosReceitaDetalhada(pAno, pMes, pEmpresa) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(ReceitaEmpresaController.ReceitaDetalhada))", { ano: pAno, mes: pMes, empresa: pEmpresa },
                function (dados) {
                    var receitasDetalhadas = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 11) {
                            var serie = { name: dados[i].Cliente + ' - ' + dados[i].NotaFiscal, y: dados[i].Receita, drilldown: false }
                            receitasDetalhadas.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(receitasDetalhadas, "Mês", "Detalhes das receitas do mês de " + mesPorExtenso(pMes) + " do ano de " + pAno, "Mês", "Valor");

                    var guidNovatabela = guid();
                    $('#tabelaContainer').html(Mustache.render($('#templateReceitaDetalhada').html(), { "guidNovatabela": guidNovatabela, "dados": dados }));
                    $('#' + guidNovatabela).dataTablePadrao();
                });
        }

        function carregarDadosReceitaMensal2(pAno, pEmpresa, pGuid, pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            var table = $('#' + pGuid).DataTable();
            var row = table.row($(pSender).closest('tr'));

            if (!row.child.isShown()) {
                $.get("@Url.Action(nameof(ReceitaEmpresaController.ReceitaMensal))", { ano: pAno, empresa: pEmpresa })
                    .done(function (receitaMensal) {
                        var guidNovatabela = guid();
                        $(pSender).closest('tr').after();

                        row.child(Mustache.render($('#templateReceitaMensal').html(), { guidNovatabela: guidNovatabela, dados: receitaMensal })).show();
                        $('#' + guidNovatabela).dataTablePadrao();

                        spin.addClass("hidden");
                        search.removeClass("hidden");
                    }, "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }

        function carregarDadosReceitaDetalhada2(pAno, pMes, pEmpresa, pGuid, pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            var table = $('#' + pGuid).DataTable();
            var row = table.row($(pSender).closest('tr'));

            if (!row.child.isShown()) {
                $.get("@Url.Action(nameof(ReceitaEmpresaController.ReceitaDetalhada))", { ano: pAno, mes: pMes, empresa: pEmpresa })
                    .done(function (receitaMensal) {
                        var guidNovatabela = guid();
                        $(pSender).closest('tr').after();
                        row.child(Mustache.render($('#templateReceitaDetalhada').html(), { guidNovatabela: guidNovatabela, dados: receitaMensal })).show();
                        $('#' + guidNovatabela).dataTablePadrao();

                        spin.addClass("hidden");
                        search.removeClass("hidden");
                    }, "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }
    </script>
}