﻿@model TransparenciaRO.Infra.Model.View.DadosLicitacao.FiltroDadosLicitacaoViewModel

<div class="well">
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-6">
            <h3 class="no-margin" style="margin-bottom: 13px !important;">
                <i class="fa fa-filter"></i>
                Filtrar
            </h3>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-6">
            <h4 class="no-margin  pull-right" style="margin-bottom: 13px !important; margin-right: 15px">Data última atualização @DateTime.Now.ToString("dd/MM/yyyy")</h4>
        </div>

    </div>

    <form id="formFiltro">
        <div class="row">
            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.NumeroProcessoAdministrativo)</label>
                @Html.EditorFor(model => model.NumeroProcessoAdministrativo, new { htmlAttributes = new { @class = "form-control CampoProcessoSEI" } })
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.CNPJ)</label>
                @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control CampoCNPJ" } })
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.RazaoSocial)</label>
                @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.Objeto)</label>
                @Html.EditorFor(model => model.Objeto, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.QuantidadeResultados)</label>
                <select name="@Html.NameFor(model => model.QuantidadeResultados)" class="form-control" required>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="10000000">Exibir tudo</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label class="visible-md-block visible-lg-block">&nbsp;</label>
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i>
                    Consultar
                </button>
            </div>
        </div>
    </form>
</div>