﻿<div class="alert alert-info margin-bottom-13">
    <p class="text-justify">
        <i class="fa fa-info-circle text-primary"></i>
        Nesta página estão publicados os  contratos emergenciais amparados pela Lei Federal nº 13.979, de 6 de fevereiro de 2020, Decreto Nº 24.887, de 20 de março de 2020 e a Portaria 063 nº 63/20/CGE-GAB,  que possibilitam a dispensa de licitação, entre outros critérios de flexibilização da Lei  Geral de Licitações e contratos Nº 8.666/1993, para aquisição de bens, serviços, inclusive de engenharia, obras, alienações e locações necessários ao enfrentamento da calamidade de saúde pública e estado de emergência decorrentes do novo coronavírus (COVID-19).
        Visando a ampliação de controle e transparência das contratações emergenciais em atendimento aos instrumentos legais supracitados e ao § 3º do art. 8º da Lei Federal nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à informação), são publicadas nesta área   os instrumentos contratuais  obrigatórios conforme art. 62 da Lei 8.666/1993 e os instrumentos facultativos tais como Nota de Empenho, autorização de compra ou ordem de execução dos serviços, contendo as seguintes informações: Órgão Contratante, Número do Processo de Contratação, Número e Ano do instrumento contratual, Nome do Contratado, CNPJ do Contratado Objeto, Valor Global, Valor Unitário, Data de assinatura, Prazo de vigência, local de execução,  além da íntegra dos Instrumentos contratuais e integra do Processo Administrativo.
        Termos de referência, extratos de Homologação, Notas de empenho, entre outros documentos podem ser acessados nos respectivos processos.
        Observação: as informações   referentes às contratações emergenciais são publicadas nesta página, tão logo a  homologação da contratação seja publicada no Diário Oficial do Estado.
    </p>
</div>

<a href="@Url.Action("ContratosEmergenciaisCOVID19ToCSV", "ContratoConvenio")" target="_blank" class="btn btn-default btn-block margin-bottom-13">
    <i class="fa fa-download"></i>

    <span class="visible-xs-inline-block visible-sm-inline-block">
        Baixar dados abertos
    </span>

    <span class="visible-md-inline-block visible-lg-inline-block">
        Clique aqui para baixar os dados abertos dos contratos emergenciais
    </span>
</a>

<a href="http://comprasemergenciais-covid19.ro.gov.br/Home/DespesasPowerBi" target="_blank" class="btn btn-default btn-block margin-bottom-13">
    <i class="fa fa-bar-chart"></i>
    Gráficos e painéis
</a>

