﻿@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.DadosLicitacao>

@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Infra.Utils

@{
    var count = 1;
}

@if (Model.Count() > 0)
{
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var licitacao in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@("heading" + licitacao.ItemLicitacaoId)">
                    <a class="no-text-decoration" role="button" data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + licitacao.ItemLicitacaoId)" aria-controls="@("collapse" + licitacao.ItemLicitacaoId)">
                        <h4 class="panel-title">
                            <table class="table table-condensed no-margin">
                                <tr>
                                    <th class="no-padding no-border-top">@("#" + count + " - " + licitacao.UnidadeGestoraSigla + " - " + licitacao.NumeroProcessoAdministrativo + " | " + licitacao.RazaoSocial)</th>
                                    <th class="no-padding no-border-top" width="1">
                                        <i class="glyphicon glyphicon-collapse-down" title="Clique para expandir/ocultar detalhes"></i>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </a>
                </div>

                <div id="@("collapse" + licitacao.ItemLicitacaoId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + licitacao.ItemLicitacaoId)">
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.UnidadeGestora)</label>
                                    <span class="d-block">@licitacao.UnidadeGestora</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>
                                        @Html.DisplayNameFor(model => model.NumeroProcessoAdministrativo)
                                        <a href="@Url.Action("VisualizarDispensaLicitacao", "Licitacao", new { pEncLicitacaoId = licitacao.LicitacaoId.ToString().ToEncrypted() })" target="_blank"
                                           title="Visualizar detalhes desta dispensa de licitação">
                                            <i class="fa fa-external-link" style="color: #e67e22; font-weight: 700;"></i>
                                        </a>
                                    </label>
                                    <span class="d-block">
                                        <a href="@Url.Action("HistoricoDoProcesso", "LicitacoesOrdinarias", new { processo = @licitacao.NumeroProcessoAdministrativo })" target="_blank" title="Clique para visualizar o histórico deste processo.">
                                            @licitacao.NumeroProcessoAdministrativo
                                            <i class="fa fa-history"></i>
                                        </a>
                                    </span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.ModalidadeLicitacao)</label>
                                    <span class="d-block">@licitacao.ModalidadeLicitacao.GetDescription()</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.NumeroLicitacao)</label>
                                    <span class="d-block">
                                        @if (licitacao.NumeroLicitacao != null)
                                        {
                                            licitacao.NumeroLicitacao.ToString();
                                        }
                                        else
                                        {
                                            <span class="text-warning">Não informado</span>
                                        }
                                        / @(licitacao.Ano != null ? licitacao.Ano.ToString() : "---")
                                    </span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.Contrato)</label>
                                    <span class="d-block">@licitacao.Contrato</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.DataAssinatura)</label>
                                    <span class="d-block">@licitacao.DataAssinatura.ToString("dd/MM/yyyy")</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.CNPJ)</label>
                                    <span class="d-block">@licitacao.CNPJ</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.RazaoSocial)</label>
                                    <span class="d-block">@licitacao.RazaoSocial</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.Vigencia)</label>
                                    <span class="d-block">@licitacao.Vigencia</span>
                                </div>                                

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.Unidade)</label>
                                    <span class="d-block">@licitacao.Unidade</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.Quantidade)</label>
                                    <span class="d-block">@licitacao.Quantidade</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.ValorUnitario)</label>
                                    <span class="d-block">R$ @licitacao.ValorUnitario.Value.ToString("n2")</span>
                                </div>

                                <div class="form-group col-xs-12 col-md-6">
                                    <label>@Html.DisplayNameFor(model => model.ValorGlobal)</label>
                                    <span class="d-block">R$ @licitacao.ValorGlobal.Value.ToString("n2")</span>
                                </div>

                                <div class="form-group col-xs-12">
                                    <label>@Html.DisplayNameFor(model => model.LocalExecucao)</label>
                                    <span class="d-block">@licitacao.LocalExecucao</span>
                                </div>

                                <div class="form-group col-xs-12">
                                    <label>@Html.DisplayNameFor(model => model.Objeto)</label>
                                    <span class="d-block">@licitacao.Objeto</span>
                                </div>
                            </div>
                        </form>


                        <hr class="col-12" style="margin-bottom:15px" />


                        @if (licitacao.ContratacaoAditivadas.Any() || licitacao.ContratacaoAditivadas != null)
                        {
                            <div class="row text-center">
                                <label>Aditivos</label>
                            </div>

                            <div class="row" style="margin-bottom:15px">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Tipo formalização</th>
                                                    <th>Tipo alteração</th>
                                                    <th>Data alteração</th>
                                                    <th>Data vigência</th>
                                                    <th>Quantidade</th>
                                                    <th>Valor acrescido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var contratacaoAditivada in licitacao.ContratacaoAditivadas)
                                                {
                                                    <tr>
                                                        <td>@contratacaoAditivada.TipoFormalizacao</td>
                                                        <td>@contratacaoAditivada.TipoAlteracao</td>
                                                        <td>@contratacaoAditivada.DataAlteracao</td>
                                                        <td>@contratacaoAditivada.DataVigencia</td>
                                                        <td>@contratacaoAditivada.Quantidade</td>
                                                        <td>@contratacaoAditivada.ValorAcrescido</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr class="col-12" style="margin-bottom:15px" />

                        @if (licitacao.ArquivosTermosAditivos.Any() || licitacao.ArquivosTermosAditivos != null)
                        {
                            <div class="row text-center">
                                <label>Arquivos</label>
                            </div>

                            <div class="row" style="margin-bottom:15px">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Data</th>
                                                    <th>Nome do arquivo</th>
                                                    <th>Tipo de anexo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var countArquivos = 1;
                                                }

                                                @foreach (var arquivo in licitacao.ArquivosTermosAditivos)
                                                {
                                                    <tr>
                                                        <td>
                                                            @countArquivos
                                                        </td>
                                                        <td>@arquivo.DataUpload</td>
                                                        <td> <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = arquivo.ArquivoId.ToString().ToEncrypted()  })" target="_blank">@arquivo.Descricao</a></td>
                                                        <td>@arquivo.TipoAnexo.GetDescription()</td>
                                                    </tr>
                                                    countArquivos++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="visible-xs visible-sm">
                            <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = licitacao.FornecedorArquivoId.ToString().ToEncrypted() })" target="_blank" class="btn btn-primary btn-block btn-sm">
                                <i class="fa fa-download"></i>
                                Baixar @licitacao.FornecedorTipoAnexo.GetDescription()
                            </a>

                            <a href="@Url.Action("VisualizarDispensaLicitacao", "Licitacao", new { pEncLicitacaoId = licitacao.LicitacaoId.ToString().ToEncrypted() })" target="_blank" class="btn btn-default btn-block btn-sm">
                                <i class="fa fa-external-link"></i>
                                Ir para detalhes da dispensa de licitação
                            </a>

                            <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = licitacao.LicitacaoArquivoId.ToString().ToEncrypted() })" target="_blank" class="btn btn-success btn-block btn-sm">
                                <i class="fa fa-download"></i>
                                Baixar @licitacao.LicitacaoTipoAnexo.GetDescription()
                            </a>
                        </div>

                        <div class="visible-md visible-lg btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = licitacao.FornecedorArquivoId.ToString().ToEncrypted() })" target="_blank" class="btn btn-primary btn-sm">
                                    <i class="fa fa-download"></i>
                                    Baixar @licitacao.FornecedorTipoAnexo.GetDescription()
                                </a>
                            </div>

                            <div class="btn-group" role="group">
                                <a href="@Url.Action("VisualizarDispensaLicitacao", "Licitacao", new { pEncLicitacaoId = licitacao.LicitacaoId.ToString().ToEncrypted() })" target="_blank" class="btn btn-default btn-sm">
                                    <i class="fa fa-external-link"></i>
                                    Ir para detalhes da dispensa de licitação
                                </a>
                            </div>

                            <div class="btn-group" role="group">
                                <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = licitacao.LicitacaoArquivoId.ToString().ToEncrypted() })" target="_blank" class="btn btn-success btn-sm">
                                    <i class="fa fa-download"></i>
                                    Baixar @licitacao.LicitacaoTipoAnexo.GetDescription()
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="d-none">@(count++)</span>
        }
    </div>
}
else
{
    <div class="alert alert-info text-center">
        <i class="fa fa-info-circle"></i>
        Nenhum resultado encontrado.
    </div>
}
