﻿@using TransparenciaRO.Infra.Utils
@model List<TransparenciaRO.Infra.Model.View.RegistroBoletimViewModel>
@{
    ViewBag.Title = "Boletins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <a href="@Url.Action("RegistrarBoletim","Boletim")" class="btn btn-primary pull-right">Adicionar boletim</a>
    </div>
</div>

<table id="tabelaDados" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Arquivo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var boletim in Model)
        {
            <tr>
                <td>@boletim.Data.ToString("dd/MM/yyyy")</td>
                <td>@boletim.Descricao</td>
                <td><a href="@Url.Action("VisualizarArquivo","Arquivo", new { pEncArquivoId = boletim.Arquivo.ArquivoId.ToString().ToEncrypted() })" target="_blank"> @boletim.Arquivo.Descricao</a></td>
            </tr>
        }
    </tbody>
</table>