﻿@using TransparenciaRO.Infra.Utils
@model List<TransparenciaRO.Infra.Model.View.RegistroBoletimViewModel>
@{
    ViewBag.Title = "Boletim de Controle Interno";
}

@section Head {
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <style>
        h2 {
            text-align: center;
        }

        p {
            font-size: 16px;
        }

        .mt-34 {
            margin-top: 34px !important;
        }
    </style>
}

<div style="margin-bottom: 50px;">

    <div class="row">

        <div class="col-xs-12">
            <p class="text-justify text-muted mt-34">
                O Boletim de Controle Interno foi aprovado pela Portaria  89/2020-CGE, com o objetivo de informar a sociedade,
                órgãos de controle  e gestores acerca das ações de controle adotados pela Controladoria Geral do Estado em relação a pandemia Covid 19.
            </p>
        </div>

        <hr class="col-xs-12" />


        @foreach (var boletim in Model)
        {
            <div class="col-xs-12">
                <h3>
                    <small>@boletim.Data.ToString("dd/MM/yyyy")</small>
                    <a href="@Url.Action("VisualizarArquivo","Arquivo", new { pEncArquivoId = boletim.Arquivo.ArquivoId.ToString().ToEncrypted() })" target="_blank"> @boletim.Descricao</a>
                </h3>
            </div>
        }

    </div>
</div>