﻿@using TransparenciaRO.Infra.Utils

@model TransparenciaRO.Infra.Model.View.RegistroBoletimViewModel

@{
    ViewBag.Title = "Adicionar Boletim de Controle Interno ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
}

<label>
    Campos obrigatórios <i class="text-danger">*</i>
</label>

@using (Html.BeginForm("RegistrarBoletim", "Boletim", FormMethod.Post, new { enctype = "multipart/form-data", id="form-registro" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-top:30px">        

        @Html.HiddenFor(m => m.BoletimId)

        <div class="form-group col-lg-12">
            <label for="Data">Data <i class="text-danger">*</i></label>
            <input class="form-control date" type="date" name="Data" required/>
        </div>

        <div class="form-group col-lg-12">
            <label class="control-label" for="file">
                Arquivo <i class="text-danger">*</i>
            </label>

            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Selecionar</span>
                    <span class="fileinput-exists">Alterar</span>
                    <input type="file" name="file" id="file" required="required">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-success pull-right" id="btn-post">
                <i class="fa-lg fa fa-save"></i> Salvar
            </button>
        </div>

    </div>
}

@section AposFooter
{
    <script src="~/scripts/jasny-bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#form-registro').submit(function () {                
                $('#btn-post').attr('disabled', true).html('salvando...');                
            });
        });
    </script>
}