﻿@using TransparenciaRO.Infra.Utils
@model IList<TransparenciaRO.Infra.Model.DB.dbTransparencia.Pasta>

<div class="breadCrumbContainer" id="breadCrumb">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Pasta")"><i class="fa-lg fa fa-home"></i> Inicio</a>
        </li>

        @for (var i = 0; i < Model.Count(); i++)
        {
            <li>
                <a href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(@Model[i].PastaId.ToString())})">
                    @if (@Model[i].IconeImagem != null)
                    {
                        var imageBase64 = Convert.ToBase64String(@Model[i].IconeImagem);
                        var tipoImg = Model[i].TipoImagem == ".svg" ? $"{Model[i].TipoImagem}+xml" : $"{Model[i].TipoImagem}";
                        var imageSrc = $"data:image/{tipoImg.Replace(".", "")};base64,{imageBase64}";
                        <img src="@imageSrc" width="17" height="17" alt="Icone" />
                    }
                    else
                    {
                        <i class="@($"fa-lg fa {Model[i].IconeFa.ToString().Replace("_", "-")}")"></i>
                    }@Model[i].Nome</a>
            </li>
        }
    </ol>
</div>