﻿@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Infra.Enum
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Pasta

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.IconeFa = EFontAwesome.fa_folder_o;
}

@section Head
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
}

<div class="text-center">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaOrigemId.ToString()) })
</div>

<h2>Adicionar Pasta</h2>

<label class="">
    Campos obrigatórios <i class="text-danger">*</i>
</label>

@using (Html.BeginForm("Adicionar", "Pasta", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PastaOrigemId)

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x => x.Nome)">
            Nome <i class="text-danger">*</i>
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ex: GTCON" } })
            @Html.ValidationMessageFor(pasta => pasta.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Nome)">
            Descrição <i class="text-danger">*</i>
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Descricao, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ex: Grupo de Trabalho e Procedimentos Contábeis de Rondônia" } })
            @Html.ValidationMessageFor(pasta => pasta.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Ordem)">
            Ordem<i class="text-danger">*</i>
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Ordem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(pasta => pasta.Ordem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Href)">
            Link
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Href, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(pasta => pasta.Href, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Ícone</label>

        <div class="col-md-5 col-sm-7 col-xs-9">
            @Html.EnumDropDownListFor(pasta => pasta.IconeFa, new { @class = "form-control chosen-select" })
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3 text-center">
            <i id="FontAwesome" aria-hidden="true"></i>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default" href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaOrigemId.ToString())})">
                <i class="fa-lg fa fa-times"></i> Cancelar
            </a>

            <button type="submit" class="btn btn-primary">
                <i class="fa-lg fa fa-plus"></i> Adicionar
            </button>
        </div>
    </div>
}

@section AposFooter {
    <script src="~/scripts/jasny-bootstrap.js"></script>
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        function refreshIcon() {
            var fontAwesome = $(".chosen-single > span").text();
            if (fontAwesome !== "Selecione...") {
                $("#FontAwesome").removeClass();
                $("#FontAwesome").addClass("fa-lg fa-3x fa fa-" + fontAwesome);
            } else {
                $("#FontAwesome").removeClass();
            }
        }

        $(document).on("change", "#IconeFa", function () {
            refreshIcon();
        });

        $(document).ready(function () {
            $("#@Html.IdFor(x=>x.IconeFa)").chosen();
            refreshIcon();
        });
    </script>
}