﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Pasta

@{
    //ViewBag.Title = "Editar Pasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
}

<div class="text-center">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString()) })
</div>

<h2>Editar Pasta</h2>

<label class="">
    Campos obrigatórios<i class="text-danger">*</i>
</label>

@using (Html.BeginForm("Editar", "Pasta", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(pasta => pasta.PastaId)
    @Html.HiddenFor(pasta => pasta.PastaOrigemId)
    @Html.HiddenFor(pasta => pasta.IconeImagem)
    @Html.HiddenFor(pasta => pasta.TipoImagem)
    @Html.HiddenFor(pasta => pasta.Agrupamento)
    @Html.HiddenFor(pasta => pasta.Publica)
    @Html.HiddenFor(pasta => pasta.Administravel)
    //@Html.HiddenFor(pasta => pasta.Href)
    @Html.HiddenFor(pasta => pasta.TemaCss)

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x => x.Nome)">
            Nome<i class="text-danger">*</i>
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ex: GTCON" } })
            @Html.ValidationMessageFor(pasta => pasta.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Descricao)">
            Descrição<i class="text-danger">*</i>
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Descricao, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ex: Grupo de Trabalho e Procedimentos de Contábeis de Rondônia" } })
            @Html.ValidationMessageFor(pasta => pasta.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Ordem)">
            Ordem<i class="text-danger">*</i>
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Ordem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(pasta => pasta.Ordem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Href)">
            Link
        </label>

        <div class="col-md-5 col-sm-9">
            @Html.EditorFor(pasta => pasta.Href, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(pasta => pasta.Href, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Ícone</label>

        <div class="col-md-5 col-sm-7 col-xs-9">
            @Html.EnumDropDownListFor(pasta => pasta.IconeFa, new { @class = "form-control chosen-select" })
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3 text-center">
            <i id="FontAwesome" aria-hidden="true"></i>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default" href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaOrigemId.ToString())})">
                <i class="fa-lg fa fa-times"></i> Cancelar
            </a>

            <button type="submit" class="btn btn-warning">
                <i class="fa-lg fa fa-floppy-o"></i> Salvar
            </button>
        </div>
    </div>
}

@section AposFooter {
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var fontAwesome = document.getElementById("IconeFa").options[document.getElementById("IconeFa").selectedIndex].text.replace(/_/gi, "-");
            //var fontAwesome = $(".chosen-single > span").text();
            if (fontAwesome !== "Selecione...") {
                $("#FontAwesome").removeClass();
                $("#FontAwesome").addClass("fa-lg fa-3x fa fa-" + fontAwesome);
            } else {
                $("#FontAwesome").removeClass();
            }
        });

        $(document).on("change", "body", "#IconeFa", function () {
            //var fontAwesome = document.getElementById("IconeFa").options[document.getElementById("IconeFa").selectedIndex].text.replace(/_/gi, "-");
            var fontAwesome = $(".chosen-single > span").text();
            if (fontAwesome !== "Selecione...") {
                $("#FontAwesome").removeClass();
                $("#FontAwesome").addClass("fa-lg fa-3x fa fa-" + fontAwesome);
            } else {
                $("#FontAwesome").removeClass();
            }
        });

        $(document).ready(function () {
            $("#@Html.IdFor(x=>x.IconeFa)").chosen();
        });
    </script>
}
