﻿@using TransparenciaRO.Infra.Utils
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.Pasta>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

}

<div>
    <h3>Pastas</h3>
    @if (ViewBag.PastaGuid != null)
    {
        @Html.ActionLink(" Adicionar Pasta", "Adicionar", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid) }, new { @class = "btn btn-primary fa-lg fa fa-folder-open" })

        @Html.ActionLink(" Adicionar Arquivo", "Adicionar", "Arquivo", new { pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid) }, new { @class = "btn btn-primary fa-lg fa fa-file" })
    }
</div>

<table id="tabelaPastasRaiz" class="table table-hover" width="100%" role="grid" aria-describedby="tabelaPastasRaiz_info">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var pasta in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(pasta.PastaId.ToString())})">
                        <i class="fa-lg fa fa-folder-open"></i> @pasta.Nome
                    </a>
                </td>
                <td>@pasta.Descricao</td>
            </tr>
        }
    </tbody>
</table>

@section AposFooter
{
    <script>
        $(document).ready(function () {
            $("#tabelaPastasRaiz").DataTable({
                "language": {
                    "decimal": ",",
                    "emptyTable": "Sem dados disponíveis",
                    "info": "Mostrando de _START_ à _END_ do total de _TOTAL_ registros",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "infoPostFix": "",
                    "thousands": ".",
                    "lengthMenu": "Exibir _MENU_ registros/página",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Procurar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para ordenar por ordem crescente",
                        "sortDescending": ": ativar para ordenar por ordem decrescente"
                    }
                },
                "scrollX": true
            });
        });
    </script>
}
