﻿@using TransparenciaRO.Infra.Utils

@model  TransparenciaRO.Infra.Model.DB.dbTransparencia.Pasta

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.css" />
}

<div class="text-left">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString()) })
</div>

<h3>@Model.Nome - @Model.Descricao</h3>

@if (ViewBag.PastaGuid != null && ViewBag.Administravel)
{
    <a class="btn btn-primary" href="@Url.Action("Adicionar", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid) })">
        <i class="fa fa-folder-open"></i> Pasta
    </a>
    <a class="btn btn-primary" href="@Url.Action("Adicionar", "Arquivo", new {pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid)})">
        <i class="fa fa-file"></i> Arquivo
    </a>
}

@if (Model.SubPastas.Count == 0 && Model.Arquivos.Count == 0)
{
    <div class="row margin">
        <div class="col-md-8 col-md-push-4"></div>
        <div class="col-md-4 col-md-pull-8">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <b>
                    <i class="fa fa-thumbs-down"></i> Essa pasta está vazia
                </b>
            </div>
        </div>
    </div>
}

@if (Model.SubPastas.Count > 0)
{
    <h3>Pastas</h3>

    <table id="tabelaSubPastas" class="table table-hover" width="100%" role="grid" aria-describedby="tabelaSubPastas_info">
        <thead>
        <tr>
            <th>Ordem</th>
            <th class="hidden">NomeOrdem</th>
            <th>Nome</th>
            <th>Descrição</th>
            @if (ViewBag.Administravel)
            {
                <th class="text-center">Ações</th>
            }
        </tr>
        </thead>
        <tbody>
            @foreach (var subPasta in Model.SubPastas)
            {
                if (subPasta.Publica)
                {
                    <tr>
                        <td>@subPasta.Ordem</td>
                        <td class="hidden">@subPasta.Nome</td>
                        <td>
                            @if (string.IsNullOrEmpty(subPasta.Href))
                            {
                                <a href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(subPasta.PastaId.ToString())})">
                                    @if (subPasta.IconeImagem != null)
                                    {
                                        var imageBase64 = Convert.ToBase64String(subPasta.IconeImagem);
                                        var tipoImg = subPasta.TipoImagem == ".svg" ? $"{subPasta.TipoImagem.Replace(".", "")}+xml" : $"{subPasta.TipoImagem.Replace(".", "")};";
                                        var imageSrc = $"data:image/{tipoImg};base64,{imageBase64}";
                                        <img src="@imageSrc" width="17" height="17" alt="Icone"/>
                                    }
                                    else
                                    {
                                        <i class="@($"fa {subPasta.IconeFa.ToString().Replace("_", "-")}")"></i>
                                    }
                                    @subPasta.Nome
                                </a>
                            }
                            else
                            {
                                if (subPasta.IconeImagem != null)
                                {
                                    var imageBase64 = Convert.ToBase64String(subPasta.IconeImagem);
                                    var tipoImg = subPasta.TipoImagem == ".svg" ? $"{subPasta.TipoImagem.Replace(".", "")}+xml" : $"{subPasta.TipoImagem.Replace(".", "")};";
                                    var imageSrc = $"data:image/{tipoImg};base64,{imageBase64}";
                                    <img src="@imageSrc" width="17" height="17" alt="Icone"/>
                                }
                                else
                                {
                                    <i class="@($"fa {subPasta.IconeFa.ToString().Replace("_", "-")}")"></i>
                                }
                                @subPasta.Nome
                            }
                        </td>
                        <td>@subPasta.Descricao</td>
                        @if (ViewBag.Administravel)
                        {
                            <td class="text-center" style="min-width: 186px">
                                <a class="btn btn-warning" href="@Url.Action("Editar", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(subPasta.PastaId.ToString())})">
                                    <i class="fa fa-edit"></i> Editar
                                </a>

                                <a class="btn btn-danger" href="@Url.Action("Remover", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(subPasta.PastaId.ToString())})">
                                    <i class="fa fa-trash-o"></i> Remover
                                </a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.Arquivos.Count > 0)
{
    <h3>Arquivos</h3>

    <table id="tabelaArquivos" class="table table-hover" width="100%" role="grid" aria-describedby="tabelaSubPastas_info">
        <thead>
        <tr>
            <th>Ordem</th>
            <th>Descrição</th>
            @if (ViewBag.Administravel)
            {
                <th class="text-center">Ações</th>
            }
        </tr>
        </thead>
        <tbody>
            @foreach (var arquivo in Model.Arquivos)
            {
                <tr>
                    <td>@arquivo.Ordem</td>
                    <td>
                        <a href="@Url.Action("VisualizarArquivo", "Arquivo", new {pEncArquivoId = @CriptografiaUtils.Encrypt(arquivo.ArquivoId.ToString())})" target="_blank">
                            @if (arquivo.Extensao == ".pdf" || arquivo.Extensao == "pdf")
                            {
                                <i class="fa fa-file-pdf-o"></i>
                            }
                            else if (arquivo.Extensao == ".xls" || arquivo.Extensao == ".xlsx" || arquivo.Extensao == "xlsx" || arquivo.Extensao == "xls")
                            {
                                <i class="fa fa-file-excel-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-file-word-o"></i>
                            }
                            @arquivo.Descricao
                        </a>
                    </td>
                    @if (ViewBag.Administravel)
                    {
                        <td class="text-center">
                            <a class="btn btn-warning" href="@Url.Action("Editar", "Arquivo", new {pEncArquivoId = CriptografiaUtils.Encrypt(arquivo.ArquivoId.ToString())})">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("Remover", "Arquivo", new {pEncArquivoId = CriptografiaUtils.Encrypt(arquivo.ArquivoId.ToString())})">
                                <i class="fa fa-trash-o"></i> Remover
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}



@if (Model.PastaOrigemId == GuidUtils.GuidMenuPrincipal())
{
    <a class="btn btn-default margin-bottom" href="@Url.Action("Index", "Home")">
        <i class="fa fa-arrow-left"></i>
        Voltar
    </a>
}
else if (Model.PastaOrigemId != null)
{
    <a class="btn btn-default margin-bottom" href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaOrigemId.ToString())})">
        <i class="fa fa-arrow-left"></i>
        Voltar
    </a>
}

@section AposFooter
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tabelaSubPastas").DataTable({
                "language": {
                    "decimal": ",",
                    "emptyTable": "Sem dados disponíveis",
                    "info": "Mostrando de _START_ à _END_ do total de _TOTAL_ registros",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "infoPostFix": "",
                    "thousands": ".",
                    "lengthMenu": "Exibir _MENU_ registros/página",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Procurar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para ordenar por ordem crescente",
                        "sortDescending": ": ativar para ordenar por ordem decrescente"
                    }
                },
                "scrollX": true,
                "order": [[0, "asc"], [1, "asc"]]
            });

            $("#tabelaArquivos").DataTable({
                "language": {
                    "decimal": ",",
                    "emptyTable": "Sem dados disponíveis",
                    "info": "Mostrando de _START_ à _END_ do total de _TOTAL_ registros",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "infoPostFix": "",
                    "thousands": ".",
                    "lengthMenu": "Exibir _MENU_ registros/página",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Procurar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para ordenar por ordem crescente",
                        "sortDescending": ": ativar para ordenar por ordem decrescente"
                    }
                },
                "scrollX": true,
                "order": [[0, "asc"], [1, "asc"]]
            });
        });
    </script>
}