﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Pasta

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString()) })
</div>

<h2>Remover Pasta</h2>

<h3>Deseja realmente remover esta pasta?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Model.Nome
        </dd>

        <dt>
            Descrição
        </dt>
        <dd>
            @Model.Descricao
        </dd>

    </dl>

    @using (Html.BeginForm("Remover", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString()) }, FormMethod.Post))
    {
        @Html.HiddenFor(x => x.PastaOrigemId)
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaOrigemId.ToString())})">
                <i class="fa-lg fa fa-times"></i>
                Cancelar
            </a>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerPasta">
                <i class="fa-lg fa fa-trash-o"></i>
                Remover
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="removerPasta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Remover Pasta</h3>
                    </div>

                    <div class="modal-body">
                        <h3>
                            Deseja realmente remover esta pasta?
                        </h3>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa-lg fa fa-times"></i>
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-danger">
                            <i class="fa-lg fa fa-trash-o"></i> Remover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
