﻿@model IList<TransparenciaRO.Infra.Model.DB.dbTransparencia.TextoFiscalCidadao>

<table id="tabelaModeloResposta" class="table">
    <thead>
        <tr>
            <th>Modelos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var i in Model)
            {
                <tr>
                    <td>@i.Texto</td>
                    <td class="right "><a href="#" data-Mensagem="@i.Texto">Selecione</a></td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="10" class="center">Nenhum modelo de reposta foi encontrado</td>
            </tr>
        }
    </tbody>
</table>
