﻿@using System.Collections.Specialized
@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.FiscalCidadao
@{
    ViewBag.Title = "Consultar Protocolo";
}
<style>
    .spanFiscal {
        font-size: 8pt;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12 bs-callout bs-callout-info">
        <h4>@Html.DisplayNameFor(x => x.ProtocoloId)</h4>
        <p>@Html.DisplayFor(x => x.ProtocoloId)</p>
        <h4>@Html.DisplayNameFor(x => x.Mensagem)</h4>
        <p>@Html.DisplayFor(x => x.Mensagem)</p>

        @if (Model.RespostaFiscalCidadao.Count > 0)
        {<h4>
            Resposta
        </h4>
            foreach (var i in Model.RespostaFiscalCidadao)
            {

                <p>@i.Resposta</p>
                <span class="spanFiscal">Data Resposta : @i.DataResposta</span>
                <br />
                <span class="spanFiscal">@i.UnidadeGestora.sigla - @i.UnidadeGestora.nomeUG</span>
                <br/>
                <br/>
            }

        }
        <br />
        <br />
        <h4>Movimentação</h4>
        <div class="table-responsive">
            <table id="tableConsulta" class="table">
                <thead>
                    <tr>
                        <th>Data Movimentação</th>
                        <th>Órgão Origem</th>
                        <th>Órgão Destino</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.FluxoFiscalCidadaos.Count > 0)
                    {
                        foreach (var i in Model.FluxoFiscalCidadaos)
                        {
                            <tr>
                                <td>@i.DataMovimentacao</td>
                                <td>@(i.OrgaoOrigem.sigla ?? i.OrgaoOrigem.nomeUG)</td>
                                <td>@(i.OrgaoDestino.sigla ?? i.OrgaoDestino.nomeUG)</td>
                                <td>@(i.Observacao.IsNullOrEmpty() ? "Em Análise..." : i.Observacao)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="10">Nenhuma Movimentação foi feita</td></tr>
                    }

                </tbody>
            </table>
        </div>

        <br />
        <a href="javascript:history.back()" class="btn btn-default hidden-xs hidden-sm">Voltar</a>
    </div>
</div>
@section AposFooter{

}
