﻿@using TransparenciaRO.Web.HTMLHelper

@{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@section Head
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Controle Cidadão</h3>
    </div>
    <div class="panel-body">
        <div id="divConsulta">
            <div class="col-md-4">
                <div class="col-md-12 col-sm-12 form-group">
                    <label>Período</label>
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control" id="dataInicial" name="dataInicial" value="01/01/2017">
                        <div class="input-group-addon">a</div>
                        <input type="text" class="form-control" id="dataFinal" name="dataFinal" value="@System.DateTime.Now.Date.ToString("d")">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <label>Categoria</label>
                    <select class="form-control" id="categoria" name="categoria">
                        <option value="">Todos </option>
                        <option>Acesso à Informação</option>
                        <option>Assistência Social </option>
                        <option>Corrupção </option>
                        <option>Educação </option>
                        <option>Esportes e Lazer </option>
                        <option>Fisco </option>
                        <option>Meio Ambiente </option>
                        <option>Obras Pública </option>
                        <option>Rercursos Humanos </option>
                        <option>Saúde </option>
                        <option>Segurança Pública </option>
                        <option>Transporte </option>
                        <option>Turismo e Cultura </option>
                        <option>Dúvidas ou Sugestões</option>
                    </select>
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <label>Secretaria</label>
                    @Html.DropDownList("secretaria", new SelectList(ViewBag.UnidadeGestora, "Key", "Value"), "Todos", new { @class = "form-control" })

                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="loadingPlaceholder">
                        <h2 class="text-center">
                            <i class="fa fa-cog fa-spin"></i>&nbsp;Processando gráfico...
                        </h2>
                    </div>

                    <div id="grafico" class="grafico col-md-12" style="height: 250px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="containerTabela"></div>

@section AposFooter
{
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true
        });

        $(document).ready(() => {
            $("#secretaria").chosen();
        });

    </script>


    <script type="text/html" id="templateTabela">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="tabelaDemandas" class="table">
                    <thead>
                        <tr>
                            <th>Nº Protocolo</th>
                            <th>Categoria</th>
                            <th>Órgão Vinculado</th>
                            <th>Data de Abertura</th>
                            <th>Prazo</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dados}}
                        <tr class="{{CorLinha}}">
                            <td>{{Protocolo}}</td>
                            <td>{{Categoria}}</td>
                            <td>{{OrgaoVinculado}}</td>
                            <td>{{DataAbertura}}</td>
                            <td>{{Prazo}} de 20 dias</td>
                            <td>{{Status}}</td>
                            <td>
                                <a href="/FiscalCidadao/Visualizar/{{Protocolo}}" class="btn btn-warning btn-block">Visualizar</a>
                                <a href="/FiscalCidadao/ConsultarProtocolo/{{Protocolo}}" class="btn btn-primary btn-block">Detalhar</a>
                            </td>
                        </tr>
                        {{/dados}}
                        {{^dados}}
                        <tr>
                            <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                        </tr>
                        {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>



    <script>

        function carregarGrafico(categorias, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' mil', ' milhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        },
                        labels: {
                            //format: '{value:.2f}'

                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: categorias
                        }
                    ]
                });
        }

    </script>
    <script>

        $(document).ready(() => {
            processarTabela();
            processarGrafico();
        });

        $('#dataFinal, #categoria, #secretaria').on('change',
            () => {
                processarTabela();
                processarGrafico();
            });

        function processarTabela() {
            $("#containerTabela")
                .html('<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');

            $.get('@Url.Action("ConsultarFiscalizacao", "FiscalCidadao")',
                {
                    categoria: $('#categoria').val(),
                    dateInicial: $('#dataInicial').val(),
                    dateFinal: $('#dataFinal').val(),
                    unidadeGestora: $('#secretaria').val()
                }).done(function (dados) {


                var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados });

                $('#containerTabela').html(htmlRenderizado);
                $("#tabelaDemandas").dataTablePadrao({
                    colunaOrdenacao: 0,
                    tipoOrdenacao : "desc"
                });
            });
        }

        function processarGrafico() {
            $.get('@Url.Action("DadosGrafico", "FiscalCidadao")',
                {
                    categoria: $('#categoria').val(),
                    dateInicial: $('#dataInicial').val(),
                    dateFinal: $('#dataFinal').val(),
                    unidadeGestora: $('#secretaria').val()
                }).done(function (dados) {
                var categorias = [];
                for (var i = 0; i < dados.length; i++) {

                    if (dados.length > i) {
                        var serie = { name: dados[i].Key, y: dados[i].Value, drilldown: false };
                        categorias.push(serie);
                    }

                };

                carregarGrafico(categorias, "Categoria", "Top Categorias", "", "");
                $('.loadingPlaceholder > h2').fadeOut('slow');
                $("#grafico").fadeIn('slow');
            });
        }
    </script>


    <script>
        //$(document).ready(function () {
        //    $('#tabelaDemandas').dataTablePadrao(
        //        {
        //            "order": [2, "desc"]
        //        }
        //    );
        //});
    </script>

}
