﻿@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.FiscalCidadao
@{
    ViewBag.Title = "Fiscalização";
    var base64Img = Model.Imagem;

    var protocoloId = Model.ProtocoloId;
    var ugOrigem = Model.UnidadeGestora.unidadeGestoraID;
}
@section Head
 {
  <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}
<div class="row">
  <div class="col-md-12 bs-callout bs-callout-info">
    <div id="divDados" class="col-md-6">
      <h4>@Html.DisplayNameFor(x => x.ProtocoloId)</h4>
      <p>@Html.DisplayFor(x => x.ProtocoloId)</p>

      @if (Model.SigiloDaInformacoes != "Sim")
            {
          <h4>@Html.DisplayNameFor(x => x.Nome)</h4>
          <p>@Html.DisplayFor(x => x.Nome)</p>
          <h4>@Html.DisplayNameFor(x => x.Email)</h4>
                <p>@Html.DisplayFor(x => x.Email)</p>
                <h4>@Html.DisplayNameFor(x => x.Telefone)</h4>
                <p>@Html.DisplayFor(x => x.Telefone)</p>
      }
      else
      {
          <h4>@Html.DisplayNameFor(x => x.SigiloDaInformacoes)</h4>
          <p>O Cidadão solicitou sigilo de suas informações, por este motivo não será possivel visualizar o dados do cidadão</p>
      }
      <h4>@Html.DisplayNameFor(x => x.UnidadeGestora)</h4>
      <p>@Html.DisplayFor(x => x.UnidadeGestora.nomeUG)</p>
      <h4>@Html.DisplayNameFor(x => x.DataFiscalizacao)</h4>
      <p>@Html.DisplayFor(x => x.DataFiscalizacao)</p>
      <h4>@Html.DisplayNameFor(x => x.Categoria)</h4>
      <p>@Html.DisplayFor(x => x.Categoria)</p>

      <h4>@Html.DisplayNameFor(x => x.Mensagem)</h4>
      <p class="text-justify">@Html.DisplayFor(x => x.Mensagem)</p>
    </div>
    <div id="divImage" class="col-md-6">
      @if (base64Img == null)
            {
            }
            else
            {
                var imageSrc = $"data:image/jpeg;base64,{base64Img}";
          <img src="@imageSrc" class="img-thumbnail" />
      }
    </div>
    <div class="col-md-12 margin-top-15px">
      <div class="pull-left form-group">
        <a href="/FiscalCidadao/ConsultarProtocolo/@Model.ProtocoloId" class="btn btn-primary">Detalhar</a>
        @if (Model.EStatus != ETipoStatus.Finalizado)
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalResposta">Responder</button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Encaminhar</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalFinalizar">Finalizar Fiscalização</button>


        }
        <br />
        <a href="javascript:history.back()" class="btn btn-default margin-top-15px hidden-xs">Voltar</a>

      </div>
    </div>
  </div>
</div>
@if (Model.EStatus != ETipoStatus.Finalizado)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Encaminhar Fiscalização</h4>
          </div>
          @using (Html.BeginForm("Encaminhar", "FiscalCidadao", FormMethod.Post))
                {
              @Html.AntiForgeryToken()
              <div class="modal-body">
                @Html.HiddenFor(x => x.ProtocoloId, new { @Name = "protocoloId" })
                @Html.HiddenFor(x => x.UnidadeGestoraId, new { @Name = "ugOrigem" })
                <label>Secretaria</label>
                @Html.DropDownList("ugDestino", new SelectList(ViewBag.UnidadeGestora, "Key", "Value"), "Selecione...", new { @class = "form-control" })

                <div class="form-group">
                  <label for="observacao">Observação</label>
                  <textarea rows="3" name="observacao" id="observacao" class="form-control"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Enviar</button>
              </div>
          }
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  <!-- /.modal -->
}
@if (Model.EStatus != ETipoStatus.Finalizado)
{
    <div class="modal fade" id="myModalResposta" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Responder Fiscalização</h4>
          </div>
          @using (Html.BeginForm("Resposta", "FiscalCidadao", FormMethod.Post))
                {
              @Html.AntiForgeryToken()
              <div class="modal-body">
                <div class="pull-right margin-bottom-15px">
                  <button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#myModalModelResposta">Modelo Resposta</button>
                </div>
                @Html.HiddenFor(x => x.ProtocoloId, new { @Name = "ProtocoloId" })
                @Html.HiddenFor(x => x.UnidadeGestoraId, new { @Name = "OrgaoVinculado" })
                <div class="form-group">
                  <label for="resposta">Resposta</label>
                  <textarea rows="8" name="resposta" id="resposta" class="form-control"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Enviar</button>
              </div>
          }
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  <!-- /.modal -->
}

@if (Model.EStatus != ETipoStatus.Finalizado)
{
    <div class="modal fade" id="myModalFinalizar" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Responder Fiscalização</h4>
          </div>
          @using (Html.BeginForm("Finalizar", "FiscalCidadao", FormMethod.Post))
                {
              @Html.AntiForgeryToken()
              <div class="modal-body">
                @Html.HiddenFor(x => x.ProtocoloId, new { @Name = "ProtocoloId" })
                @Html.HiddenFor(x => x.UnidadeGestoraId, new { @Name = "OrgaoVinculado" })
                <div class="form-group">
                  <p>Deseja Finalizar está Fiscalização?</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Sim</button>
              </div>
          }
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}

@if (Model.EStatus != ETipoStatus.Finalizado)
{
    <div class="modal fade" id="myModalModelResposta" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Responder Fiscalização</h4>
          </div>
          <div class="modal-body">
            <a class="btn btn-primary" id="AbriColapseModeloReposta" role="button" data-toggle="collapse" href="#collapseAdicionarModelo" aria-expanded="false" aria-controls="collapseAdicionarModelo">Adicionar Modelo</a>
          </div>
          <div class="collapse" id="collapseAdicionarModelo">
            <div class="modal-body">
              <div class="form-group">
                <label for="texto">Modelo</label>
                <textarea rows="8" name="texto" id="texto" class="form-control" placeholder="Digite aqui..."></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" id="btnModeloResposta" class="btn btn-success">Cadastrar</button>
            </div>
          </div>

          <hr />
          <div class="modal-body" id="modelosResposta">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
        <!-- /.modal -->
}
@section AposFooter{
  <script src="~/scripts/chosen.jquery.min.js"></script>
  <script>
        $(document).ready(() => {
            $("#ugDestino").chosen({ width: "100%" });
            CarregarMensagens();
        });

        function CarregarMensagens() {
            $('#modelosResposta').load('@Url.Action("ModeloResposta", "FiscalCidadao")');
        }

        $('#btnModeloResposta').on('click',
            function() {
                $('#modelosResposta').load('@Url.Action("ModeloResposta", "FiscalCidadao")',
                    {
                        texto: $('#texto').val()
                    });
            });

        $('#modelosResposta').on('click',
            'td a',
            function () {
                $('#resposta').val($(this).attr('data-Mensagem'));
                $('#myModalModelResposta').modal('hide');
                $('#texto').val("");
            });

        $('#AbriColapseModeloReposta').on('click', function () {
          var tipo = $(this).text();
          if (tipo == 'Adicionar Modelo') {
            $(this).text('Ocultar');
          } else {
            $(this).text('Adicionar Modelo');
          }
        });
  </script>

}