﻿@model IEnumerable<TransparenciaRO.Infra.Model.View.SuprimentoDeFundosViewModel>

<table class="table table-striped table-hover no-margin text-dark" id="consulta" style="width:100%" data-order="[]">

    <thead>
        <tr class="sucess">
            <th scope="col">Credor</th>
            <th scope="col">Especificação da Despesa</th>
            <th scope="col">Descrição da Despesa</th>
            <th scope="col">Unidade Gestora</th>
            <th scope="col">Numero do Empenho </th>
            <th scope="col">Valor da Despesa</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var suprimento in Model.OrderBy(s =>s.Credor))
        {
            <tr>
                <td>@(string.IsNullOrEmpty(suprimento.Credor)? "---" : suprimento.Credor)</td>
                <td>@(suprimento.EspecificacaoDespesa == null ? "---" : suprimento.EspecificacaoDespesa.ToString())</td>
                <td>@(string.IsNullOrEmpty(suprimento.NomDespesa)? "---" : suprimento.NomDespesa)</td>
                <td>@suprimento.NomOrgao</td>
                <td>@suprimento.NumEmpenho</td>
                <td class="no-break">R$ @suprimento.ValorDespesa.Value.ToString("n2")</td>
            </tr>
        }
    </tbody>

</table>
