﻿@model  TransparenciaRO.Infra.Model.View.IndexSuprimentoDeFundosViewModel

@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Consultar os suprimentos de fundos";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}

<html>
<head>
    <title>@ViewBag</title>
</head>

<body>
    <form id="formFiltro">
        <div class="no-break row">
            <div class="col-xs-12 col-md-6 form-group">
                <label for="UG" class="control-label"> Unidade Gestora </label>
                <select id="unidadeGestora" name="unidadeGestora" class="form-control">
                    @foreach (var UnidadeGestora in Model.UG)
                    {
                        <option value="@UnidadeGestora">@UnidadeGestora</option>
                    }
                </select>
            </div>

            <div class="col-xs-12 col-md-5 form-group">
                <label for="txtAno">Ano</label><br />
                <select id="exercicio" name="exercicio" class="form-control">
                    @foreach (var ano in Model.Ano)
                    {
                        <option value="@ano.Value">@ano.Value</option>
                    }
                </select>
            </div>

            <div class="col-xs-12 col-md-1 form-group ">
                <button type="button" class="margin-top-25px btn btn-block btn-primary btn-sm" onclick="exibirSuprimentoDeFundos();">Consultar</button>
            </div>
        </div>
    </form>

    <div id="idTabela">
        @Html.Partial("_Tabela", Model.SuprimentoDeFundos);
    </div>

    @section AposFooter{
        <script>
            function exibirSuprimentoDeFundos()
                {
                var form = new FormData();
                form.append('unidadeGestora', $('#unidadeGestora').val());
                form.append('exercicio', $('#exercicio').val());

                $.ajax({
                    type: "POST",
                    data: form,
                    cache: false,
                    enctype:'multipart/form-data',
                    contentType: false,
                    processData: false,
                    url:'@Url.Action("Filtrar")',

                    success: function (response) {
                    $('#idTabela').html(response);
                    $('#consulta').dataTablePadrao({ "colunasFixas": 1 });
                    },
                    error: function () {
                    alert('erro');
                    }
                    })
            }
            $(document).ready(function () {
                $('#consulta').dataTablePadrao({ "colunasFixas": 1 });
            });
        </script>
    }
</body>
</html>

