﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ControleDoumentoExterno

<div>
    <h4>Detalhes do Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroProcessoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroProcessoDocumento)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Prazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prazo) dias
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOrigem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOrigem)
        </dd>

        <dt>
            Orgão de Origem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeGestora.nomeUG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>


    <div class="col-md-12" id="listaArquivosContainer">
        <br />
        @Html.Partial("_ListaArquivos", Model ?? new ControleDoumentoExterno() { Arquivos = new List<Arquivo>() })
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ControleDoumentoExternoId }, new { @class = "btn btn-warning" }) | @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>


@section AposFooter
{
    <script>
        $(document).ready(() => {
            $(".btn-excluir-arquivo").addClass("hidden");
            $("#thExcluir").addClass("hidden");
        });
    </script>
}