﻿@using TransparenciaRO.Web.HTMLHelper

@{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

@section Head
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}
<div class="row margin-bottom-15px">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="@Url.Action("Novo")" class="btn btn-lg btn-primary">Novo</a>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Controle de Prazo</h3>
    </div>
    <div class="panel-body">
        <div id="divConsulta">
            <div class="col-md-5">
                <div class="col-md-12 col-sm-12 form-group">
                    <label>Nº Processo / Documento</label>
                    <input type="text" name="numeroDocumento" id="numeroDocumento" class="form-control" />
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <label>Secretaria</label>
                    @Html.DropDownList("secretaria", new SelectList(ViewBag.UnidadeGestora, "Key", "Value"), "Todos", new { @class = "form-control" })

                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="loadingPlaceholder">
                        <h2 class="text-center">
                            <i class="fa fa-cog fa-spin"></i>&nbsp;Processando gráfico...
                        </h2>
                    </div>

                    <div id="grafico" class="grafico col-md-12" style="height: 250px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button id="btnConsultar" class="btn btn-primary">Consultar</button>
    </div>
</div>

<div id="containerTabela"></div>


<div class="modal fade" id="myModalFinalizar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Responder Fiscalização</h4>
            </div>
            @using (Html.BeginForm("Finalizar", "ControleDocumentoExterno", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" id="documentoExternoId" name="documentoExternoId" value="" />
                    <div class="form-group">
                        <p>Deseja Finalizar este Documento?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Sim</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="myModalProrrogado" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Responder Fiscalização</h4>
            </div>
            @using (Html.BeginForm("ProrrogarPrazo", "ControleDocumentoExterno", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" id="documentoExternoIdProrrogado" name="documentoExternoIdProrrogado" value="" />
                    <div class="form-group">
                        <label>Dias Para Prorrogar o Prazo</label>
                        <input type="text" name="diasProrrogado" id="diasProrrogado" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section AposFooter
{
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true
        });

        $(document).ready(() => {
            $("#secretaria").chosen();
        });

    </script>


    <script type="text/html" id="templateTabela">
        <div class="row">
            <div class="col-md-12 col-lg-12 table-responsive">
                <table id="tabelaDemandas" class="table" width="100%">
                    <thead>
                        <tr>
                            <th>Nº Processo / Documento</th>
                            <th>Orgão de Origem</th>
                            <th>Data de Abertura</th>
                            <th>Prazo</th>
                            <th>Dias Prorrogado</th>
                            <th>Data de Finalização</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dados}}
                        <tr class="{{CorLinha}}">
                            <td>{{NumeroProcessoDocumento}}</td>
                            <td>{{OrgaoOrigem}}</td>
                            <td>{{DataAbertura}}</td>
                            <td>{{Prazo}}</td>
                            <td>{{ProrrogacaoPrazo}}</td>
                            <td>{{DataFinalizacao}}</td>
                            <td>{{Status}}</td>
                            <td>
                                <a href="@Url.Action("Detalhar")?documentoId={{documentoId}}" class="btn btn-default btn-block">Detalhes</a>
                                <button id="btnFinalizar" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModalFinalizar" onclick="PreencherIdNoModal('{{documentoId}}')">Finalizar</button>
                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModalProrrogado" onclick="PreencherIdNoModalProrrogar('{{documentoId}}')">Prorrogar</button>
                                <a href="@Url.Action("Editar")?documentoId={{documentoId}}" class="btn btn-warning btn-block">Editar</a>
                            </td>
                        </tr>
                        {{/dados}}
                        {{^dados}}
                        <tr>
                            <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                        </tr>
                        {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>



    <script>

        function carregarGrafico(categorias, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' mil', ' milhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        },
                        labels: {
                            //format: '{value:.2f}'

                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: categorias
                        }
                    ]
                });
        }

    </script>
    <script>

        $(document).ready(() => {
            processarTabela();
        });

        $('#btnConsultar').on('click',
            () => {
                processarTabela();
                processarGrafico();
            });

            function PreencherIdNoModal(id) {
                    $('#documentoExternoId').val(id);
            };
            function PreencherIdNoModalProrrogar(id) {
                $('#documentoExternoIdProrrogado').val(id);
            };

        function processarTabela() {
            $("#containerTabela")
                .html('<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');

            $.get('@Url.Action("Consultar", "ControleDocumentoExterno")',
                {
                    numeroDocumento: $('#numeroDocumento').val(),
                    unidadeGestora: $('#secretaria').val()
                }).done(function (dados) {


                    var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados.tabela });

                    processarGrafico(dados.grafico);
                    $('#containerTabela').html(htmlRenderizado);
                    $("#tabelaDemandas").dataTablePadrao();
            });
        }

        function processarGrafico(grafico) {
                var status = [];
                for (var i = 0; i < grafico.length; i++) {

                    if (grafico.length > i) {
                        var serie = { name: grafico[i].Descricao, y: grafico[i].Qtd, color: grafico[i].color, drilldown: false };
                        status.push(serie);
                    }

                carregarGrafico(status, "Status", "Documentos", "", "");
                $('.loadingPlaceholder > h2').fadeOut('slow');
                $("#grafico").fadeIn('slow');
            };
        }
    </script>
}
