﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ControleDoumentoExterno

@section Head
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Novo Documento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumeroProcessoDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroProcessoDocumento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroProcessoDocumento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Orgão de Origem</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UnidadeGestoraId, new SelectList(ViewBag.UnidadeGestora, "Key", "Value"), new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prazo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prazo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prazo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataOrigem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataOrigem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataOrigem, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descricao,  new { @class = "form-control col-md-2", rows = "6" } )
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#!" class="btn btn-default" onclick="$('#files').click()"><i class="fa fa-file"></i> Adicionar arquivos</a>
            </div>
            <div class="col-md-offset-2 col-md-10" id="listaArquivosContainer">
                <br />
                @Html.Partial("_ListaArquivos", Model ?? new ControleDoumentoExterno() { Arquivos = new List<Arquivo>() })
            </div>
        </div>

        <div id="inputArquivosWrapper" style="display: none">
            <input type="file" class="multiple" name="files" id="files" multiple />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a href="javascript:history.back()" class="btn btn-default">Voltar</a>
            </div>
        </div>
    </div>
}

@section AposFooter
{
    <script src="~/scripts/AdicionarArquivo.es5.min.js"></script>
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#UnidadeGestoraId").chosen();
        });
    </script>
}