﻿@using TransparenciaRO.Web.HTMLHelper
@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.Dialog>

@{
    ViewBag.Title = "Cadastro de dialog";
}
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })

}

<div class="row bottomMargin">
    <div class="col-md-12">
        <button class="btn btn-primary" onclick="document.location = '@Url.Action("Novo")'"><span class="fa fa-comment"></span>&nbsp;Novo dialog</button>
    </div>
</div>
<table class="table table-striped" id="tabela" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th  style="width: 150px">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @if (item.url != null)
                    {
                        <a href="@item.url"> Link </a>
                    }
                    else
                    {

                    }
                </td>
                <td>
                    @Html.ActionLink("Atualizar", "Atualizar", new { id = item.DialogId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Remover", "Delete", new { id = item.DialogId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section AposFooter
{
    <script>
        $(document).ready(function () {
            $('#tabela').dataTablePadrao();
        });
    </script>
}
