﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@{
    ViewBag.Title = "Doações";
    <h3>
        <small>Data de Atualização: @DateTime.Now.ToString("dd/MM/yyyy")</small>
    </h3>
}

<style>
    div.espaco {
        padding: 20px;
        margin: 20px;
    }
</style>
<p>

</p>
<div style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-12 col-md-12 ">
        <p>
            <strong style=" font-size: 20px;">
                O Governo de Rondônia  está disponível para receber doações que ajudem no combate à pandemia do novo coronavírus (COVID-19), podem ser realizadas doações de bens moveis e imóveis, serviços, insumos e equipamentos de proteção individual (EPIS)  entre outros.
            </strong>
            <hr style="border-top: 2px solid blue; background-color: #1c61ae" />
        </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
            <p>
                <strong style=" color: #0061ae; font-size: 20px;  ">
                    O QUE DOAR?
                </strong>
            </p>
            <p style="text-align: justify; margin-bottom: %;">

            </p>
            <li style="font-size: 18px;">
                Bens móveis e imóveis;
            </li>
            <p style="text-align: justify; margin-bottom: 1%;">

            </p>
            <li style="        font-size: 18px;">
                Serviços diversos;
            </li>
            <p style="text-align: justify; margin-bottom: 1%;">

            </p>
            <li style="        font-size: 18px;">
                Equipamentos;

            </li>
            <p style="text-align: justify; margin-bottom: 1%;">

            </p>
            <li style="        font-size: 18px;">
                Insumos;
            </li>
        </ul>
    </div>

    <div class="espaco">

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <hr style="border-top: 2px solid blue; background-color: #1c61ae" />
        <p>
            <strong style=" color: #0061ae; font-size: 20px;  ">
                COMO DOAR?
            </strong>
        </p>
        <p>
            <strong style="font-size: 17px;">
                As doações podem ser realizadas e entregues  de segunda a sexta-feira, no período de 7h30 a 13h30, nos endereços abaixo:
            </strong>
        </p>
        <p style="text-align: justify; font-size: 15px">
            Secretaria de Estado da Assistência e do Desenvolvimento  Social-SEAS
        </p>

        <p style="text-align: justify; font-size: 15px">
            <strong>
                Contato: 69-98482-2280
            </strong>
        </p>

        <p style="text-align: justify; font-size: 15px;">
            Av. Farquar, 2986- Bairro Pedrinhas
        </p>

        <p style="text-align: justify; font-size: 15px">
            Palácio Rio Madeira, Edifício Rio Pacaás Novos, 6º Andar
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho, RO
        </p>

        <p style="text-align: justify;  font-size: 15px">
            CEP:76801470
        </p>

        <p style="text-align: justify; font-size: 15px">
            Horario de Atendimento: 7h30 às 13h30, de segunda a sexta-feira
        </p>

        <hr style="border-top: 1px solid; " />

        <p style="text-align: justify; font-size: 15px">
            Secretaria de Estado da Saúde
        </p>

        <p style="text-align: justify; font-size: 15px">
            Coordenadoria de Almoxarifado e Patrimônio - CAP/SESAU
        </p>

        <p style="text-align: justify; font-size: 15px">
            <strong>
                Telefone: (69) 3216–5475.
            </strong>

        </p>
        <p style="text-align: justify; font-size: 15px;">
            Rua Aparício de Moraes, nº 4348
        </p>

        <p style="text-align: justify; font-size: 15px">
            Setor Industrial
        </p>

        <p style="text-align: justify; font-size: 15px">
            Porto Velho/RO
        </p>

        <p style="text-align: justify;  font-size: 15px">
            CEP: 76.801-460.
        </p>

        <p style="text-align: justify; font-size: 15px">
            Horário de atendimento Segunda a Sexta-Feira das 07h30min  às 13h30min,
        </p>
        <hr style="border-top: 1px solid; " />

        <p>
            <strong style="font-size: 17px;">
                Doações em dinheiro podem ser realizadas através das contas abaixo: <br />
                Banco Brasil
            </strong>
        </p>
        <p style="text-align: justify; font-size: 15px">
            Agência: 2757-x
        </p>
        <p style="text-align: justify; font-size: 15px">
            Conta Corrente: 10.791-3
        </p>

        <p style="text-align: justify; font-size: 15px">

            Nome:<strong>
                Doacoes-Enfrent.COVID-19
            </strong>
        </p>


    </div>


    <div class="col-xs-12 col-sm-12 col-md-12">
        <p style="text-align: justify; margin-bottom: 5%;">

        </p>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <p>
                <strong style="font-size: 20px; ">
                    Relatórios de Doações
                </strong>
            </p>
            <hr style="border-top: 2px solid blue; background-color: #1c61ae" />
        </div>
        <p style="text-align: justify; margin-bottom: 5%;">

        </p>
        <iframe width="1200" height="1100" src="https://app.powerbi.com/view?r=eyJrIjoiODZiOGQwYWUtOWEyMi00Zjc2LTk2NTktMDFhODI5YmQ1NDljIiwidCI6Ijk5Yjk4YzAxLTE4MGItNDNiMy05OTZjLWViMzVkNzNhNGEyYiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</div>



