﻿
@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.EmpresaRemuneracao

<style>
    hr {
        border-top: 1px dashed #808080;
        color: #fff;
        background-color: #fff;
        height: 4px;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Rendimentos do Servidor</h1>
        </div>
    </div>

    <div class="row contentPrint">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <tr>
                    <th>Matrícula/Nome: </th>
                    <td>@Html.DisplayFor(model => model.Matricula) </td>
                    <td>@Html.DisplayFor(model => model.Nome) </td>
                    <th>Mês/Ano: </th>
                    <td>@Html.DisplayFor(model => model.Mes) / @Html.DisplayFor(model => model.Ano)</td>
                </tr>
                <tr>
                    <th>Situação/Cargo: </th>
                    <td colspan="2">@Html.DisplayFor(model => model.CategoriaSituacao) - @Html.DisplayFor(model => model.Cargo) </td>
                    <th>Carga Horária: </th>
                    <td colspan="4">@Html.DisplayFor(model => model.CargaHoraria)</td>
                </tr>
                <tr>
                    <th>Admissão</th>
                    <td colspan="2">@Model.Admissao.ToString("d")</td>

                    <th>Tipo de jornada</th>
                    <td>@Model.TipoJornada</td>
                </tr>
                <tr>
                    <th>Lotação: </th>
                    <td colspan="4">@Model.EEmpresa </td>
                </tr>
                <tr>
                    <td colspan="5"><hr /></td>
                </tr>
                <tr>
                    <th colspan="2">Descrição</th>
                    <th colspan="1">Vencimentos</th>
                    <th colspan="2">Descontos</th>
                </tr>
                <tr>
                    <th colspan="2">Salário</th>
                    <td colspan="1">@Model.Salario.ToString("C")</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th colspan="2">Outros proventos</th>
                    <td colspan="1">@Model.OutrosProventos.ToString("C")</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th colspan="2">Total provento</th>
                    <td colspan="1">@Model.TotalProventos.ToString("C")</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th colspan="2">INSS</th>
                    <td colspan="1"></td>
                    <td colspan="2">@Model.Inss.ToString("C")</td>
                </tr>
                <tr>
                    <th colspan="2">IRRF</th>
                    <td colspan="1"></td>
                    <td colspan="2">@Model.Irrf.ToString("C")</td>
                </tr>
                <tr>
                    <th colspan="2">FGTS</th>
                    <td colspan="1"></td>
                    <td colspan="2">@Model.Fgts.ToString("C")</td>
                </tr>
                <tr>
                    <th colspan="2">Outros descontos</th>
                    <td colspan="1"></td>
                    <td colspan="2">@Model.OutrosDescontos.ToString("C")</td>
                </tr>
                <tr>
                    <th colspan="2">Total descontos</th>
                    <td colspan="1"></td>
                    <td colspan="2">@Model.TotalDescontos.ToString("C")</td>
                </tr>
                <tr style="background-color: #E6E8FA">
                    <th colspan="2">Total Líquido</th>
                    <td colspan="1" style="font-weight: bold">@Model.TotalLiquido.ToString("C")</td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Grafico", "RemuneracaoEmpresa", new {empresa = Model.EEmpresa})" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>
            <button class="btn btn-default print">
                <i class="fa fa-print"></i> Imprimir
            </button>
        </div>
    </div>
</div>
@section AposFooter
{
    <script src="~/scripts/jquery.PrintArea.js"></script>
    <script>
        $(document).ready(function () {
            $(".print").click(function () {

                $(".contentPrint").printArea();

            });
        });
    </script>
}