﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
@{
    ViewBag.Title = "Gráfico - Remuneração e Relação da Empresa " + ViewBag.Empresa;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="loadingPlaceholder">
        <h2 class="text-center">
            <i class="fa fa-cog fa-spin"></i> Processando gráfico...
        </h2>
    </div>
    <div id="grafico" class="grafico"></div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <label>
            Tipo Consulta <strong class="text-danger">*</strong>
        </label>
        <select id="tipoConsulta" name="tipoConsulta" class="form-control" onchange="abilitarBotaoPesquisa()">
            <option value="0">Selecione...</option>
            <option value="1">Relação por Cargo</option>
            <option value="2">Relação por Tipo de Cargo</option>
            <option value="3">Relação por Departamento</option>
            <option value="4">Faixas Salarias</option>
            <option value="5">Relação por Funcionário</option>
        </select>
    </div>
    <div id="divAno" class="col-md-3 col-sm-6">
        <label>
            Ano <strong class="text-danger">*</strong>
        </label>
        <select id="ano" name="ano" class="form-control">
            @for (var ano = ViewBag.AnoMax; ano >= ViewBag.AnoMin; ano--)
            {
                <option value="@ano">@ano</option>
            }
        </select>
    </div>
    <div id="divMes" class="col-md-3 col-sm-6">
        <label>
            Mês <strong class="text-danger">*</strong>
        </label>
        <select id="mes" name="mes" class="form-control"></select>
    </div>
    <div class="col-md-3 col-sm-6" style="margin-top: 25px">
        <button id="filtro" name="filtro" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i> Pesquisar
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div id="tabelaContainer" class="col-md-12"></div>
</div>
@section AposFooter
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @*<script src="~/scripts/ai.0.15.0-build58334.min.js"></script>*@
    <script id="templateRelacaoCargo" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
            <tr>
                <th>Detalhes</th>
                <th>Cargo</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            {{#dados}}
            <tr>
                <td>
                    <a href="#!" onclick="carregarFuncionario(ano, mes, '@ViewBag.Empresa', '{{Cargo}}', null, null, null, '{{guidNovatabela}}', this)">
                        <i name="search" class="fa fa-search"></i>
                        <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                    </a>
                </td>
                <td>{{Cargo}}</td>
                <td>{{QtdServidores}}</td>
            </tr>
            {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateRelacaoTipoCargo" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
            <tr>
                <th>Detalhes</th>
                <th>Setor</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            {{#dados}}
            <tr>
                <td>
                    <a href="#!" onclick="carregarRelacaoCargo('@ViewBag.Empresa', ano, mes, '{{TipoCargo}}', '{{guidNovatabela}}', this)">
                        <i name="search" class="fa fa-search"></i>
                        <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                    </a>
                </td>
                <td>{{TipoCargo}}</td>
                <td>{{QtdPorCargo}}</td>
            </tr>
            {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateRelacaoDepartamento" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
            <tr>
                <th>Detalhes</th>
                <th>Departamento</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            {{#dados}}
            <tr>
                <td>
                    <a href="#!" onclick="carregarFuncionario(ano, mes, '@ViewBag.Empresa', null, null, '{{Classificacao}}', null, '{{guidNovatabela}}', this)">
                        <i name="search" class="fa fa-search"></i>
                        <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                    </a>
                </td>
                <td>{{Classificacao}}</td>
                <td>{{QtdServidores}}</td>
            </tr>
            {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateLotacaoFaixasSalariais" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
            <tr>
                <th>Funcionários</th>
                <th>Faixa Salárial</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            {{#dados}}
            <tr>
                <td>
                    <a href="#!" onclick="carregarFuncionario(ano, mes, '@ViewBag.Empresa', null, null, null, '{{FaixaSalarial}}', '{{guidNovatabela}}', this)">
                        <i name="search" class="fa fa-search"></i>
                        <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                    </a>
                </td>
                <td>{{FaixaSalarial}}</td>
                <td>{{QtdServidores}}</td>
            </tr>
            {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateFuncionarios" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Salario</th>
                    <th>Total Provento</th>
                    <th>Outro Provento</th>
                    <th>Total Liquido</th>
                    <th class="hidden">Cpf</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>{{NomeEmpregado}}</td>
                    <td>{{Cargo}}</td>
                    <td>{{Departamento}}</td>
                    <td>{{Salario}}</td>
                    <td>{{TotalProvento}}</td>
                    <td>{{OutroProvento}}</td>
                    <td>{{TotalLiquido}}</td>
                    <td class="hidden">{{Cpf}}</td>
                    <td>
                        <a href="/RemuneracaoEmpresa/DetalheServidor?ano={{Ano}}&mes={{Mes}}&matricula={{Matricula}}" title="Folha de Pagamento" target="_blank">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateFuncionariosSoph" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Salario</th>
                <th>Total Provento</th>
                <th>Outro Provento</th>
                <th>INSS</th>
                <th>IRRF</th>
                <th>FGTS</th>
                <th>Total Desconto</th>
                <th>Outro Desconto</th>
                <th>Total Liquido</th>
                <th class="hidden">Cpf</th>
            </tr>
            </thead>
            <tbody>
            {{#dados}}
            <tr>
                <td>{{NomeEmpregado}}</td>
                <td>{{Cargo}}</td>
                <td>{{Departamento}}</td>
                <td>{{Salario}}</td>
                <td>{{TotalProvento}}</td>
                <td>{{OutroProvento}}</td>
                <td>{{INSS}}</td>
                <td>{{IRRF}}</td>
                <td>{{FGTS}}</td>
                <td>{{TotalDesconto}}</td>
                <td>{{OutroDesconto}}</td>
                <td>{{TotalLiquido}}</td>
                <td class="hidden">{{Cpf}}</td>
            </tr>
            {{/dados}}
            </tbody>
        </table>
    </script>

    <script id="templateFuncionarios2018" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Salario</th>
                <th>Total Provento</th>
                <th>Outro Provento</th>
                <th>Total Liquido</th>
                <th class="hidden">Cpf</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tbody>
            {{#dados}}
            <tr>
                <td>{{NomeEmpregado}}</td>
                <td>{{Cargo}}</td>
                <td>{{Departamento}}</td>
                <td>{{Salario}}</td>
                <td>{{TotalProvento}}</td>
                <td>{{OutroProvento}}</td>
                <td>{{TotalLiquido}}</td>
                <td class="hidden">{{Cpf}}</td>
                <td><a href="/RemuneracaoEmpresa/DetalheServidor?ano={{Ano}}&mes={{Mes}}&matricula={{Matricula}}" title="Folha de Pagamento" target="_blank">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </a></td>
            </tr>
            {{/dados}}
            </tbody>
        </table>
    </script>
    <script>
        function carregarGrafico(dados, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: ',',
                    thousandsSep: '.',
                    numericSymbols: [' mil', ' milhões', ' bilhões', ' trilhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        },
                        labels: {
                            //format: '{value:.2f}'
                        
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: dados
                        }
                    ]
                });
        }

        function mesPorExtenso(mes) {
            switch (mes.toString()) {
            case "1":
                return ("Janeiro");
            case "2":
                return ("Fevereiro");
            case "3":
                return ("Março");
            case "4":
                return ("Abril");
            case "5":
                return ("Maio");
            case "6":
                return ("Junho");
            case "7":
                return ("Julho");
            case "8":
                return ("Agosto");
            case "9":
                return ("Setembro");
            case "10":
                return ("Outubro");
            case "11":
                return ("Novembro");
            default:
                return ("Dezembro");
            }


        }
    </script>
    <script>

        var empresa = '@ViewBag.Empresa';
        var ano = '@ViewBag.AnoMax';

        abilitarBotaoPesquisa();
        carregarMeses(empresa, ano);

        $('#ano').on('change', function() {
            carregarMeses(empresa, $('#ano').val());
        });


        $("#filtro").click(function() {
            var tipoConsulta = $("#tipoConsulta option:selected").val();

            ano = $("#ano option:selected").val();
            mes = $("#mes option:selected").val();
            var tipoCargo = "";

            switch (tipoConsulta) {
            case "1":
                carregarRelacaoCargo(empresa, ano, mes, tipoCargo);
                break;
            case "2":
                carregarRelacaoTipoCargo(empresa, ano, mes);
                break;
            case "3":
                carregarRelacaoDepartamento(empresa, ano, mes);
                break;
            case "4":
                carregarFaixasSalariais(empresa, ano, mes);
                break;
            case "5":
                carregarRelacaoFuncionario(ano, mes, empresa, "", "", "", "");
                break;
            default:
                carregarRelacaoCargo(empresa, ano, mes);
            }
        });

        function abilitarBotaoPesquisa() {
            var tipoConsulta = $("#tipoConsulta option:selected").val();
            switch (tipoConsulta) {
            case '0':
                $("#filtro").addClass("disabled");
                break;
            default:
                $("#filtro").removeClass("disabled");

            }
        }

        function carregarMeses(pEmpresa, pAno) {
            var options = [];
            $.get("@Url.Action(nameof(RemuneracaoEmpresaController.Meses))",
                { ano: pAno, empresa: pEmpresa },
                function(meses) {
                    for (var i = 0; i < meses.length; i++) {
                        if (meses[i].mesInt === meses.length)
                            options += '<option value="' +
                                meses[i].MesInt +
                                '" selected>' +
                                meses[i].MesString +
                                '</option>';
                        else
                            options += '<option value="' + meses[i].MesInt + '">' + meses[i].MesString + '</option>';

                        mes = meses[i].MesInt;
                    }
                    $("#mes").html(options);
                    carregarRelacaoCargo(empresa, ano, mes, "", "", "");
                });

            $("#divAno").removeClass("hidden");
            $("#divMes").removeClass("hidden");
        }


        function carregarRelacaoCargo(pEmpresa, pAno, pMes, pTipoCargo, pGuid, pSender) {
            if (pTipoCargo == "" || pTipoCargo == null) {
                $("#grafico").empty();
                $("#tabelaContainer").empty();
                $('.loadingPlaceholder > h2').fadeIn('slow');

                $.get("@Url.Action(nameof(RemuneracaoEmpresaController.RelacaoCargo))",
                    { ano: pAno, mes: pMes, empresa: pEmpresa, tipoCargo: pTipoCargo },
                    function(dados) {
                        var relacoesCargos = [];
                        var count = 0;

                        for (var i in dados) {
                            if (count <= 4) {
                                var serie = { name: dados[i].Cargo, y: dados[i].QtdServidores, drilldown: false }
                                relacoesCargos.push(serie);
                                count += 1;
                            }
                        }

                        $('.loadingPlaceholder > h2').fadeOut('slow');

                        carregarGrafico(relacoesCargos,
                            "Cargo",
                            "Relação de Cargos " + mesPorExtenso(pMes) + " de " + pAno,
                            "Cargo",
                            "Quantidade");

                        var guidNovatabela = guid();
                        $('#tabelaContainer').html(Mustache.render($('#templateRelacaoCargo').html(),
                            { "guidNovatabela": guidNovatabela, "dados": dados }));
                        $('#' + guidNovatabela).dataTablePadrao();

                        $('.loadingPlaceholder > 2').fadeOut('show');
                        $("#grafico").fadeIn('show');
                    });
            } else {
                var elementoPai = $(pSender).parent();
                var search = elementoPai.find('[name="search"]');
                var spin = elementoPai.find('[name="spin"]');

                search.addClass("hidden");
                spin.removeClass("hidden");

                var table = $('#' + pGuid).DataTable();
                var row = table.row($(pSender).closest('tr'));

                if (!row.child.isShown()) {
                    $.get("@Url.Action(nameof(RemuneracaoEmpresaController.RelacaoCargo))",
                            { empresa: pEmpresa, ano: pAno, mes: pMes, tipoCargo: pTipoCargo })
                        .done(function(relacoesCargo) {
                                var guidNovatabela = guid();
                                $(pSender).closest('tr').after();

                                row.child(Mustache.render($('#templateRelacaoCargo').html(),
                                    { guidNovatabela: guidNovatabela, dados: relacoesCargo })).show();
                                $('#' + guidNovatabela).dataTablePadrao();

                                spin.addClass("hidden");
                                search.removeClass("hidden");
                            },
                            "dataType");
                } else {
                    spin.addClass("hidden");
                    search.removeClass("hidden");

                    row.child.hide();
                    $(".DTFC_ScrollWrapper").css({ "height": "100%" });
                }
            }
        }

        function carregarRelacaoTipoCargo(pEmpresa, pAno, pMes) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RemuneracaoEmpresaController.RelacaoTipoCargo))",
                { ano: pAno, mes: pMes, empresa: pEmpresa },
                function(dados) {
                    var relacoesTipoCargos = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 4) {
                            var serie = { name: dados[i].TipoCargo, y: dados[i].QtdPorCargo, drilldown: false }
                            relacoesTipoCargos.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(relacoesTipoCargos,
                        "Setor",
                        "Relação dos Tipos de Cargos " + mesPorExtenso(pMes) + " de " + pAno,
                        "Setor",
                        "Quantidade");

                    var guidNovatabela = guid();
                    $('#tabelaContainer').html(Mustache.render($('#templateRelacaoTipoCargo').html(),
                        { "guidNovatabela": guidNovatabela, "dados": dados }));
                    $('#' + guidNovatabela).dataTablePadrao();
                });
        }

        function carregarRelacaoDepartamento(pEmpresa, pAno, pMes) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RemuneracaoEmpresaController.RelacaoDepartamento))",
                { empresa: pEmpresa, ano: pAno, mes: pMes },
                function(dados) {
                    var relacoesDepartamentos = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 11) {
                            var serie = { name: dados[i].Classificacao, y: dados[i].QtdServidores, drilldown: false }
                            relacoesDepartamentos.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(relacoesDepartamentos,
                        "Departamento",
                        "Relações dos Departamentos " + mesPorExtenso(pMes) + " de " + pAno,
                        "Departamento",
                        "Quantidade");

                    var guidNovatabela = guid();
                    $('#tabelaContainer').html(Mustache.render($('#templateRelacaoDepartamento').html(),
                        { "guidNovatabela": guidNovatabela, "dados": dados }));
                    $('#' + guidNovatabela).dataTablePadrao();
                });
        }

        function carregarFaixasSalariais(pEmpresa, pAno, pMes) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RemuneracaoEmpresaController.FaixasSalariais))",
                { empresa: pEmpresa, ano: pAno, mes: pMes },
                function(dados) {
                    var faixasSalarias = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 11) {
                            var serie = { name: dados[i].FaixaSalarial, y: dados[i].QtdServidores, drilldown: false }
                            faixasSalarias.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(faixasSalarias,
                        "Faixa Salarial",
                        "Faixas salarias do mês de " + mesPorExtenso(pMes) + " do ano de " + pAno,
                        "Faixa Salarial",
                        "Valor");

                    var guidNovatabela = guid();
                    $('#tabelaContainer').html(Mustache.render($('#templateLotacaoFaixasSalariais').html(),
                        { "guidNovatabela": guidNovatabela, "dados": dados }));
                    $('#' + guidNovatabela).dataTablePadrao();
                });
        }

        function carregarRelacaoFuncionario(pAno, pMes, pEmpresa, pCargo, pTipoCargo, pDepartamento, pFaixaSalarial) {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RemuneracaoEmpresaController.Funcionarios))",
                {
                    ano: pAno,
                    mes: pMes,
                    empresa: pEmpresa,
                    Cargo: pCargo,
                    TipoCargo: pTipoCargo,
                    Departamento: pDepartamento,
                    FaixaSalarial: pFaixaSalarial
                }).done(
                function(funcionarios) {
                    var relacoesFuncionario = [];


                    for (var i = 0; i < 9; i++) {
                        var serie = {
                            name: funcionarios[i].NomeEmpregado,
                            y: funcionarios[i].TotalProvento,
                            drilldown: false
                        }
                        relacoesFuncionario.push(serie);
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    carregarGrafico(relacoesFuncionario,
                        "Funcionario",
                        "Relação dos Funcionario " + mesPorExtenso(pMes) + " de " + pAno,
                        "Funcionario",
                        "Provento");

                    var guidNovatabela = guid();
                    if (pEmpresa === 'SOPH' && pMes >= 10 && pAno >= 2017) {
                        $('#tabelaContainer').html(Mustache.render($('#templateFuncionariosSoph').html(),
                            { "guidNovatabela": guidNovatabela, "dados": funcionarios }));
                    } else {
                        if (pMes >= 8 && pAno >= 2018 || pEmpresa === 'CMR' && pMes >= 1 && pAno >= 2018 ) {
                            $('#tabelaContainer').html(Mustache.render($('#templateFuncionarios2018').html(),
                                { "guidNovatabela": guidNovatabela, "dados": funcionarios }));
                        } else {
                            $('#tabelaContainer').html(Mustache.render($('#templateFuncionarios').html(),
                                { "guidNovatabela": guidNovatabela, "dados": funcionarios }));
                        }
                    }
                    $('#' + guidNovatabela).dataTablePadrao();
                });
        }

        function carregarFuncionario(pAno,
            pMes,
            pEmpresa,
            pCargo,
            pTipoCargo,
            pDepartamento,
            pFaixaSalarial,
            pGuid,
            pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            var table = $('#' + pGuid).DataTable();
            var row = table.row($(pSender).closest('tr'));

            if (!row.child.isShown()) {
                $.get("@Url.Action(nameof(RemuneracaoEmpresaController.Funcionarios))",
                        {
                            ano: pAno,
                            mes: pMes,
                            empresa: pEmpresa,
                            Cargo: pCargo,
                            TipoCargo: pTipoCargo,
                            Departamento: pDepartamento,
                            FaixaSalarial: pFaixaSalarial
                        })
                    .done(function(funcionarios) {
                            var guidNovatabela = guid();
                            $(pSender).closest('tr').after();

                            if (pEmpresa == 'SOPH' && pMes >= 10 && pAno >= 2017) {
                                row.child(Mustache.render($('#templateFuncionariosSoph').html(),
                                    { guidNovatabela: guidNovatabela, dados: funcionarios })).show();
                                $('#' + guidNovatabela).dataTablePadrao();
                            } else {
                                if (pMes >= 8 && pAno >= 2018 || pEmpresa === 'CMR' && pMes >= 1 && pAno >= 2018) {
                                    row.child(Mustache.render($('#templateFuncionarios2018').html(),
                                        { guidNovatabela: guidNovatabela, dados: funcionarios })).show();
                                    $('#' + guidNovatabela).dataTablePadrao();
                                } else {
                                    row.child(Mustache.render($('#templateFuncionarios').html(),
                                        { guidNovatabela: guidNovatabela, dados: funcionarios })).show();
                                    $('#' + guidNovatabela).dataTablePadrao();
                                }
                            }


                            spin.addClass("hidden");
                            search.removeClass("hidden");
                        },
                        "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }
    </script>
}