﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.HTMLHelper
@model List<TermoGlossario>
@{
    ViewBag.Title = "Glossário";
}
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}
<div class="panel">
    <div class="panel-body">
        Esta seção traz conceitos básicos sobre diversos temas correlatos ao Portal da Transparência. O objetivo é facilitar a compreensão dos assuntos abordados no Portal para que os cidadãos e os agentes públicos tenham condições de exercer o controle social e fiscalizar o correto uso dos recursos públicos.
    </div>
    <div class="panel-footer">Fontes: Constituição Federal de 1988, Lei 4.320/64,  Lei 101/00  e  Lei 8666/93</div>
</div>
<div class="container">

    <table id="tabelaGlossario" style="width:100%" class="table table-striped">
        <thead>
            <tr>
                <th>Termo</th>
                <th>Significado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var termo in Model)
            {
                <tr>
                    <td width="40%">@termo.Termo</td>
                    <td>
                        @termo.Definicao
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section AposFooter{
    <script>
        $(document).ready(function () {
            $('#tabelaGlossario').dataTablePadrao();
        });
    </script>
}
