﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Web.Controllers
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ServidoresDesligadosExonerados
@{
    ViewBag.Title = "Servidores Desligados ou Exonerados";
}
@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

    @using (Html.BeginForm("ResultadoFiltro", "ServidoresDesligadosExonerados", FormMethod.Post, new { @name = "frmFiltro" }))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Exercício</label>
                        <select id="@Html.IdFor(model => model.Ano)" class="form-control">
                            @for (var ano = 2012; ano <= ViewBag.Ano; ano++)
                            {
                                if (ano == ViewBag.Ano)
                                {
                                    <option value="@ano" selected="selected">@ano</option>
                                }
                                else
                                {
                                    <option value="@ano">@ano</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Mês</label>
                        <select id="@Html.IdFor(model => model.Mes)" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Nome</label>
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        <label>CPF</label>
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @onkeyup = "mascara(this, mcpf);", @maxlength = "14" } })
                    </div>
                </div>                
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" id="btnConsultar" class="btn btn-primary">
                            <i class="fa fa-search"></i> Consultar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="containerTabela">
        <label name="spin" class="hidden">
            <i class="fa fa-cog fa-spin fa-fw"></i> Carregando...
        </label>
    </div>

    @section AposFooter{
        <script src="~/scripts/chosen.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script type="text/html" id="templateTabela">
            <div class="row">
                <div class="col-md-12">
                    <table id="tabelaResultado" class="table table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Matrícula</th>
                                <th>Lotação</th>
                                <th>Causa Do Desligamento ou Exonerado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#dados}}
                            <tr>
                                <td>{{Nome}}</td>
                                <td>{{Matricula}}</td>
                                <td>{{Lotacaox}}</td>
                                <td>{{Causa}}</td>
                            </tr>
                            {{/dados}}
                            {{^dados}}
                            <tr>
                                <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                            {{/dados}}
                        </tbody>
                    </table>
                </div>
            </div>
        </script>

    <script>
        var ano = @ViewBag.Ano;
        var mes = @ViewBag.Mes;
        $(document).ready(function () {
            carregarMeses();
            $("#@Html.IdFor(f => f.Ano)").change(function () {
                var ano = $("#@Html.IdFor(f => f.Ano)").val();
                carregarMeses(ano);
            });
            $('#btnConsultar').click(function (e) {
                e.preventDefault();                
                    processarTabela();                
            });
        });
        //Carregar os meses do ano
        function carregarMeses() {
            var options = [];
            $.get("@Url.Action(nameof(ServidoresDesligadosExoneradosController.Meses))", { ano: $("#Ano").val() },
                function(meses) {
                    for (var i = 0; i < meses.length; i++) {
                        if (meses[i].mesInt === meses.length)
                            options += '<option value="' + meses[i].MesInt + '" selected>' + meses[i].MesString + '</option>';
                        else
                            options += '<option value="' + meses[i].MesInt + '">' + meses[i].MesString + '</option>';
                    }
                    $("#Mes").html(options);
                });
        }

        //Fim: Lógica de mês ano

        //Carregar a tabela com os valores do Json
        function processarTabela() {
            if (true) {
                $("#containerTabela").html('<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');
                var elementoPai = $("#containerTabela").parent();
                var spin = elementoPai.find('[name="spin"]');
                spin.removeClass("hidden");

                $.get('@Url.Action("ResultadoFiltro","ServidoresDesligadosExonerados")', { ano: Number($('#@Html.IdFor(m => m.Ano)').val()), mes: Number($('#@Html.IdFor(m => m.Mes)').val()), nome: $('#@Html.IdFor(m=>m.Nome)').val(), cpf: $('#@Html.IdFor(m=>m.Cpf)').val() }).done(function (dados) {
                    var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados });
                    if (dados == "null") {
                        $('#titulo').html('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Erro! </strong>Digite o nome ou o CPF do servidor.</div>');
                    } else {
                        spin.addClass("hidden");

                        $('#containerTabela').html(htmlRenderizado);
                        $("#tabelaResultado").dataTablePadrao();
                    }
                });
            }
        }        
    </script>
    }