﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Arquivo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
}

<div class="text-center">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid.ToString()) })
</div>

<h2>Adicionar Arquivo</h2>

<label>
    Campos obrigatórios<i class="text-danger">*</i>
</label>

@using (Html.BeginForm("Adicionar", "Arquivo", new { pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid.ToString()) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                Arquivo<i class="text-danger">*</i>
            </label>
            <div class="fileinput fileinput-new col-md-5 col-sm-12" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Selecionar</span>
                    <span class="fileinput-exists">Alterar</span>
                    <input type="file" name="file" id="file" required="required">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Descricao">
                Descrição<i class="text-danger">*</i>
            </label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control text-capitalize", required = "required" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="Ordem">
                Ordem<i class="text-danger">*</i>
            </label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Ordem, new { htmlAttributes = new { @class = "form-control text-capitalize", required = "required" } })
                @Html.ValidationMessageFor(model => model.Ordem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("Index", "Pasta", new {pEncPastaId = CriptografiaUtils.Encrypt(ViewBag.PastaGuid.ToString())})">
                    <i class="fa-lg fa fa-times"></i>
                    Cancelar
                </a>

                <button type="submit" class="btn btn-primary">
                    <i class="fa-lg fa fa-plus"></i>
                    Adicionar
                </button>
            </div>
        </div>
    </div>
}