﻿@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Arquivo
@using TransparenciaRO.Infra.Utils

@{

}
<div class="text-center">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString()) })
</div>
<h2>Editar Arquivo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Campos obrigatórios<i class="text-danger">*</i></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArquivoId)

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3" for="@Html.IdFor(x=>x.Descricao)">
                Descrição<i class="text-danger">*</i>
            </label>
            <div class="col-md-4">
                @Html.EditorFor(x => x.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="ordem">
                Ordem<i class="text-danger">*</i>
            </label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Ordem, new { htmlAttributes = new { @class = "form-control text-capitalize", required = "required" } })
                @Html.ValidationMessageFor(model => model.Ordem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("Index", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString())})">
                    <i class="fa-lg fa fa-times"></i>
                    Cancelar
                </a>
                <button type="submit" class="btn btn-warning">
                    <i class="fa-lg fa fa-floppy-o"></i> Salvar
                </button>
            </div>
        </div>
    </div>
}