﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Arquivo


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @Html.Action("Breadcrumbs", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString()) })
</div>

<h2>Remover Arquivo</h2>

<h3>Deseja remover este arquivo?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            Descrição
        </dt>
        <dd>
            @Model.Descricao
        </dd>

        <dt>
            Arquivo
        </dt>
        <dd>
            <a href="@Url.Action("VisualizarArquivo", "Arquivo", new {pEncArquivoId = CriptografiaUtils.Encrypt(Model.ArquivoId.ToString())})" target="_blank">
                @if (Model.Extensao == ".pdf" || Model.Extensao == "pdf")
                {
                    <i class="fa-lg fa fa-file-pdf-o"></i>
                }
                else
                {
                    <i class="fa-lg fa fa-file-excel-o"></i>
                }
                @Model.Descricao
            </a>
        </dd>
    </dl>

    @using (Html.BeginForm("Remover", "Arquivo", new { pEncArquivoId = CriptografiaUtils.Encrypt(Model.ArquivoId.ToString()) }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href="@Url.Action("Index", "Pasta", new { pEncPastaId = CriptografiaUtils.Encrypt(Model.PastaId.ToString())})">
                <i class="fa-lg fa fa-times"></i>
                Cancelar
            </a>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerArquivos">
                <i class="fa-lg fa fa-trash-o"></i>
                Remover
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="removerArquivos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Remover Arquivo</h3>
                    </div>

                    <div class="modal-body">
                        <h3>Deseja realmente remover esta arquivo?</h3>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa-lg fa fa-times"></i>
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-danger">
                            <i class="fa-lg fa fa-trash-o"></i>
                            Remover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
