﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@model ConteudoDinamico
@{
    ViewBag.Title = "Dados Abertos e APIs";
    <link href="~/Content/DadosAbertos/DadosAbertos.css" rel="stylesheet" />
}
<div class='panel-body'>
    <p>
        Nesta página são disponibilizadas, para o público em geral, informações  em formato aberto, com o intuito de aumentar a Transparência e o Controle Social.
        São permanentemente atualizadas e novos conteúdos serão acrescidos gradativamente.<br />
        As informações apresentadas seguem o conceito de Dados Abertos: são dados públicos representados em meio digital, estruturados, processáveis por máquina, referenciados na rede mundial
        de computadores e disponibilizados sob licença aberta que permita sua livre utilização, consumo ou cruzamento.<br />
        Aqui estão disponivel dados referentes a:<b> Despesas, Receitas, Compras e Contratações, Licitações e Repasses para Municípios</b>.
    </p>
    <p>Para acessar a documentação via API <a href="http://www.transparencia.cge.ro.gov.br/swagger/ui/index">Clique Aqui</a></p>
</div>

@*<p>Abaixo está a descrição detalha das APIs de receitas e despesas</p>*@
<div class='panel panel-default'>
    <div class='panel-heading'>Despesas</div>
    <div class='panel-body'>
        Pesquisa despesas por empenho, CNPJ, nome do credor, ano ou mês<br />
        Todos os parâmetros são opcionais, e o número máximo de registros retornados é de <b>1000</b>.
        <br />
        <b>Método: </b>GET
        <br />
        <b>URL: </b><a href='http://transparencia.ro.gov.br/Api/DespesaApi'>http://transparencia.ro.gov.br/Api/DespesaApi</a>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td><b>Parâmetros de entrada</b></td>
                    <td><b>Descrição</b></td>
                    <td><b>Exemplo</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>ano</b></td>
                    <td>O ano para qual o detalhamento da despesa deverá ser retornado.</td>
                    <td>2016</td>
                </tr>
                <tr>
                    <td><b>mes</b></td>
                    <td>O mês para qual o detalhamento da despesa deverá ser retornado.</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><b>empenho</b></td>
                    <td>O número de empenho para qual o detalhamento da despesa deverá ser retornado <b>(a consulta é canse-insensitive)</b></td>
                    <td>2010NE01979</td>
                </tr>
                <tr>
                    <td><b>credor</b></td>
                    <td>O nome do credor para qual o detalhamento da despesa deverá ser retornado. <b>Poderá ser preechido parcialmente</b>.</td>
                    <td>NET<small> (retorna todas as despesas cujo credor contém NET no nome)</small></td>
                </tr>
                <tr>
                    <td><b>cnpj</b></td>
                    <td>O CNPJ do credor para qual o detalhamento da despesa deverá ser retornado. <b>Poderá ser preenchido ou não com pontos e traços, o sistema ignorará tudo o que não for numérico</b>.</td>
                    <td>11111111111111 ou 11.111.111/0001-00<small></small></td>
                </tr>
            </tbody>
        </table>
        <b>Exemplo de chamada: </b><a href='http://transparencia.ro.gov.br/Api/DespesaApi?ano=2016&mes=12'>http://transparencia.ro.gov.br/Api/DespesaApi?ano=2016&mes=12</a><br />
        <b>Exemplo de chamada intervalo entre anos: </b><a href='http://transparencia.ro.gov.br/api/despesaApi/getintervaloano?anoIni=2010&anoFim=2011'>http://transparencia.ro.gov.br/Api/DespesaApi/GetIntervaloAno?anoIni=2010&anoFim=2011</a><br />
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Receitas</div>
    <div class='panel-body'>
        <b>Ano</b><br />
        Método para detalhar as receitas do governo referentes a um ano específico
        <br />
        <b>Método: </b>GET
        <br />
        <b>URL: </b><a href='http://transparencia.ro.gov.br/Api/ReceitaApi?anoInicial=2010&anoFinal=2016&consolidacao=0&ug=0'>http://transparencia.ro.gov.br/Api/ReceitaApi?anoInicial=2010&anoFinal=2016&consolidacao=0&ug=0</a>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td><b>Parâmetros de entrada</b></td>
                    <td><b>Descrição</b></td>
                    <td><b>Exemplo</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>ano</b></td>
                    <td>O ano para qual o detalhamento da receita deverá ser retornado.</td>
                    <td>2016</td>
                </tr>
                <tr>
                    <td><b>tipoconsulta</b></td>
                    <td>
                        O tipo de consulta a ser efetuado.
                        <ul>
                            <li><b>0: </b>Total - A somatória de todas as receitas, ignorando os descontos</li>
                            <li><b>1: </b>Líquida - A somatória de todas as receitas, contemplando também os descontos</li>
                            <li><b>2: </b>Receita corrente</li>
                            <li><b>3: </b>Receita capital</li>
                            <li><b>4: </b>Receita intra-orçamentária</li>
                        </ul>
                    </td>
                    <td>0 à 4</td>
                </tr>
            </tbody>
        </table>
        <b>Exemplo de chamada: </b><a href="/api/receitaapi/mes/12/2016/0/0">http://transparencia.ro.gov.br/api/receitaapi/mes/12/2016/0/0</a><br />
        <hr />
        <b>Mes</b><br />
        Método para detalhar as receitas do governo referentes a um ano e mês específico<br />
        <b>Método: </b>GET<br />
        <b>URL: </b><a href="/api/receitaapi/mes/12/2016/0/0">http://transparencia.ro.gov.br/api/receitaapi/mes/12/2016/0/0</a>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td><b>Parâmetros de entrada</b></td>
                    <td><b>Descrição</b></td>
                    <td><b>Exemplo</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>ano</b></td>
                    <td>O ano para qual o detalhamento da receita deverá ser retornado.</td>
                    <td>2016</td>
                </tr>
                <tr>
                    <td><b>mes</b></td>
                    <td>O mês para qual o detalhamento da receita deverá ser retornado.</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><b>tipoconsulta</b></td>
                    <td>
                        O tipo de consulta a ser efetuado.
                        <ul>
                            <li><b>0: </b>Total - A somatória de todas as receitas, ignorando os descontos</li>
                            <li><b>1: </b>Líquida - A somatória de todas as receitas, contemplando também os descontos</li>
                            <li><b>2: </b>Receita corrente</li>
                            <li><b>3: </b>Receita capital</li>
                            <li><b>4: </b>Receita intra-orçamentária</li>
                        </ul>
                    </td>
                    <td>0 à 4</td>
                </tr>
            </tbody>
        </table>
        <b>Exemplo de chamada: </b><a href="/api/receitaapi/mes/12/2016/0/0">http://transparencia.ro.gov.br/api/receitaapi/mes/12/2016/0/0</a><br />
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Compras e Contratações</div>
    <div class='panel-body'>
        Pesquisar compras e contratações por unidades gestora, modalidade de compra, data inicial, data final, cnpj,quantidade de registros por página e escolha da página.<br />
        Todos os parâmetros são opcionais@*, e o número máximo de registros retornados é de <b>1000</b>*@.
        <br />
        <b>Método: </b>GET
        <br />
        <b>URL: </b><a href="/Api/ComprasContratacoesApi">http://transparencia.ro.gov.br/Api/ComprasContratacoesApi</a>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td><b>Parâmetros de entrada</b></td>
                    <td><b>Descrição</b></td>
                    <td><b>Exemplo</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>dataInicial</b></td>
                    <td>A data inicial para qual o detalhamento de compras e contratações deverá ser retornado.</td>
                    <td>01/01/2017</td>
                </tr>
                <tr>
                    <td><b>dataFinal</b></td>
                    <td>A data final para qual o detalhamento de compras e contratações deverá ser retornado.</td>
                    <td>31/12/2017</td>
                </tr>
                <tr>
                    <td><b>unidadeGestora</b></td>
                    <td>O código da unidade gestora para qual o detalhamento de compras e contratações deverá ser retornado.</td>
                    <td>QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L</td>
                </tr>
                <tr>
                    <td><b>codModalidadeCompra</b></td>
                    <td>O código da modalidade de compra para qual o detalhamento de compras e contratações deverá ser retornado.</td>
                    <td>QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L</td>
                </tr>
                <tr>
                    <td><b>cnpj</b></td>
                    <td>O CNPJ do credor para qual o detalhamento de compras e contratações deverá ser retornado. Caso queira retornar todos os CNPJs, deverá deixar o valor nulo ou o campo em branco.</td>
                    <td>29979036001201</td>
                </tr>
                <tr>
                    <td><b>qtdRegistros</b></td>
                    <td>A quantidade de registros por página para qual o detalhamento de compras e contratações deverá ser retornado. Valor padrão = 100.</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><b>pagina</b></td>
                    <td>A página para qual o detalhamento de compras e contratações deverá ser retornado. Valor padrão = 1.</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>

        <b>Exemplo de chamada: </b> <a style="overflow-wrap: anywhere;" href='http://transparencia.ro.gov.br/Api/ComprasContratacoesApi?dataInicial=01/01/2017&dataFinal=31/12/2017&unidadeGestora=QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L&modalidadeCompra=QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L&cnpj=29979036001201&qtdRegistros=10&pagina=1'>http://transparencia.ro.gov.br/Api/ComprasContratacoesApi?dataInicial=01/01/2017&dataFinal=31/12/2017&unidadeGestora=QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L&modalidadeCompra=QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L&cnpj=29979036001201&qtdRegistros=10&pagina=1</a>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Contratos</div>
    <div class='panel-body'>
        <p>
            Informações em formato aberto sobre Contratos firmados no âmbito do Poder Executivo do Governo do Estado de Rondônia.
        </p>
        <p>
            A API abaixo apresenta as seguintes informações: Unidade gestora, número do documento, número do processo, licitação origem, data de elaboração, data de assinatura, data de vigência descritiva, empresa, CNPJ, objeto e descrição do valor.
        </p>
        <p> <b>Método: </b>GET</p>

        <p><b>URL: </b><a href="/Api/ContratosApi">http://transparencia.ro.gov.br/Api/ContratosApi</a></p>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Licitações</div>
    <div class='panel-body'>
        <p>Informações em formato aberto sobre licitações realizadas no âmbito do Poder Executivo do Governo do Estado de Rondônia.</p>

        <p>
            Os arquivos abaixos apresentam as seguintes informações: número da licitação, ano, modalidade, unidade gestora, objeto, valor, data de abertura, local, situação, anexo.<br />

        </p>

        <p>
            <a href="@Url.Action("DownloadLicitacoesCSV","Licitacao", new { ano = 2021 })">Licitações 2021.csv</a> <br />

        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Licitacoes/Licitacoes2020.csv">Licitações 2020.csv</a> <br />

        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Licitacoes/Licitacoes2019.csv">Licitações 2019.csv</a> <br />

        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Licitacoes/Licitacoes2018.csv">Licitações 2018.csv</a> <br />

        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Licitacoes/Licitacoes2017.csv">Licitações 2017.csv</a> <br />

        </p>

        <hr />

        <p>
            O arquivo abaixo apresenta as seguintes informações: número da licitação, modalidade, unidade gestora, objeto, item, valor unitário, valor global, CNPJ, empresa vencedora.<br />
        </p>

        <p>
            <b>Baixar arquivo >>: </b><a href="~/Arq/DadosAbertos/Licitacoes/ResultadoLicitacoes.csv" class="">Resultado das licitações</a>
        </p>

        <h6>*Dados atualizados mensalmente</h6>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Repasses de Recursos para os Municípios Referentes a IPVA e ICMS</div>
    <div class='panel-body'>
        Informações em formato aberto sobre repasses de recusos realizadas no âmbito do Poder Executivo do Governo do Estado de Rondônia para os Municípios.
        <br />
        <br />
        Os arquivos abaixo apresentam informações dos repasses referentes a IPVA: ano, mês, valor e municípios.<br />

        <b>Baixar arquivo >>: </b><a href="@Url.Action("DownloadRepassesICMSIPVA", "ConteudoDinamico", new { _icmsipva = "RepassesIPVA2019.xlsx" })" class="">IPVA-Repasses para os municípios 2019</a>
        <br />
        <br />

        <b>Baixar arquivo >>: </b><a href="@Url.Action("DownloadRepassesICMSIPVA", "ConteudoDinamico", new { _icmsipva = "RepassesIPVA2018.xlsx" })" class="">IPVA-Repasses para os municípios 2018</a>
        <br />
        <br />

        @*<a href="@Url.Action("DownloadLicitacoesCSV","Licitacao")" class="btn btn-primary btn-block margin-top-15px">Licitações</a>*@

        O arquivo abaixo apresenta informações de Repasses referentes a ICMS: ano, mês, valor e municípios.<br />
        <b>Baixar arquivo >>: </b><a href="@Url.Action("DownloadRepassesICMSIPVA", "ConteudoDinamico", new { _icmsipva = "RepassesICMS2019.xlsx" })" class="">ICMS-Repasses para municípios 2019</a>
        <br />
        <br />
        <b>Baixar arquivo >>: </b><a href="@Url.Action("DownloadRepassesICMSIPVA", "ConteudoDinamico", new { _icmsipva = "RepassesICMS2018.xlsx" })" class="">ICMS-Repasses para municípios 2018</a>
        <br />
        <br />

        <h6>*Atualização Trimestral</h6>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default' id="panel-despesas-covid19">
    <div class='panel-heading'>Despesas COVID-19</div>
    <div class='panel-body'>

        @{
            var urlApiComprasMateriais = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port, "/Api/ComprasMateriaisApi");

            var urlContratosEmergenciaisCOVID19ToCSV = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port, "/ContratoConvenio/ContratosEmergenciaisCOVID19ToCSV");

            var urlDespesasDiretasToCSV = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port, "/Grafico/DespesasDiretasToCSV");

            var urlDespesasDetalhadasCOVID19 = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port, "/Grafico/DespesasDetalhadasCOVID19");
        }


        Despesas com a COVID19
        Os arquivos e APIS  disponibilizados aqui trazem o detalhamento dos valores referentes as DESPESAS realizadas no combate à COVID-19,  no estado de Rondônia
        as informações disponiveis são atualizadas diariamente;
        <br />
        <br />
        <b>Baixar arquivo de dicionário de dados >>: </b><a href="~/Arq/dicionario-dados-covid19.pdf">Dicionário de dados</a>
        <br />
        <br />
        <b>Método: </b>GET<br />
        <b>URL: </b><a href="/Api/ComprasMateriaisApi">@urlApiComprasMateriais</a>
        <br />
        <br />
        <b>Baixar arquivo com todos os contratos relacionadas ao COVID-19>>: </b><a href="@Url.Action("ContratosEmergenciaisCOVID19ToCSV", "ContratoConvenio")">ContratosEmergenciaisCOVID19.CSV</a>
        <br />
        <b>URL: </b><a href="@Url.Action("ContratosEmergenciaisCOVID19ToCSV", "ContratoConvenio")">@urlContratosEmergenciaisCOVID19ToCSV</a>
        <br />
        <br />
        <b>Baixar arquivo com todas as despesas relacionadas ao COVID-19>>: </b><a href="@Url.Action("DespesasDiretasToCSV", "Grafico")">Despesas.CSV</a>
        <br />
        <b>URL: </b><a href="@Url.Action("DespesasDiretasToCSV", "Grafico")">@urlDespesasDiretasToCSV</a>
        <br />
        <br />
        <b>Baixar arquivo com todas as despesas detalhadas relacionadas ao COVID-19>>: </b><a href="@Url.Action("DespesasDetalhadasCOVID19", "Grafico")">DespesasDetalhadasCOVID19.CSV</a>
        <br />
        <b>URL: </b><a href="@Url.Action("DespesasDetalhadasCOVID19", "Grafico")">@urlDespesasDetalhadasCOVID19</a>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Compras de materiais de consumo e permantente COVID-19</div>
    <div class='panel-body'>
        Informações sobre compras de materiais de consumo e permamente para atender a demanda causada pelo corona vírus(COVID-19) realizadas no âmbito do Poder Executivo do Governo do Estado de Rondônia para os Municípios.
        <br />
        <b>Método: </b>GET<br />
        <br />
        <b>URL: </b><a href="/Api/ComprasMateriaisApi">http://transparencia.ro.gov.br/Api/ComprasMateriaisApi</a>
        <br />
        <h6>*Atualização diária</h6>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Obras públicas</div>
    <div class='panel-body'>

        <p>Informações em formato aberto sobre Obras Públicas no âmbito do Poder Executivo do Governo do Estado de Rondônia.</p>

        <p>
            O arquivo abaixo apresenta as seguintes informações: categoria código, categoria, ano, contrato, processo, empresa, dem. financeiro,
            link dem.financeiro, município, objeto, data inicio, data conclusão, prazo,
            valor do contrato (R$), valor medido (R$), saldo (R$), progresso, situação, data situação
        </p>

        <p><b>Baixar arquivo de obras públicas: </b><a href="~/Arq/DadosAbertos/Obras/Mapa Contratos -DER.csv">Obras Publicas.csv</a></p>

        <h6>*Dados atualizados mensalmente</h6>

        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Pessoal - Servidores</div>
    <div class='panel-body'>

        <p>Informações em formato aberto sobre Servidores ativos e inativos do Poder Executivo do Governo do Estado de Rondônia.</p>

        <p>
            Os arquivos abaixos apresentam as seguintes informações: ano, mes, matrícula, nome, cargo, classificação, lotação, vencimentos,
            auxílios, vantagens, vba temporárias, vba produtividade, vba previdências, vba imposto de renda, vba descontos diversos,
            rendimentos tributáveis, total descontos financeiros, líquido, carga horária, CDSFG, sublotação.
        </p>

        <p>
            <a href="@Url.Action("DownloadSalariosDosServidoresCSV","Pessoal")">Salarios dos Servidores 2021.csv</a>
        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Servidores/SalariosServidores2020.csv">Salarios dos Servidores 2020.csv</a>
        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Servidores/SalariosServidores2019.csv">Salarios dos Servidores 2019.csv</a>
        </p>

        <h6>*Dados atualizados mensalmente</h6>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'>Diárias</div>
    <div class='panel-body'>

        <p>Informações em formato aberto sobre diárias do Poder Executivo do Governo do Estado de Rondônia.</p>

        <p>
            Os arquivos abaixos apresentam as seguintes informações: solicitação, matrícula, nome, cargo, unidade gestora, data de ida, data de volta, quantidade de diárias, valor da diária, valor total das diárias, tipo de viagem e objetivo.
        </p>

        <p>
            <a href="@Url.Action("ObterDiariasPorAnoFormatoCSV", "Diaria", new { ano = 2021 })">diárias 2021.csv</a>
        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Diarias/Diarias-2020.csv">diárias 2020.csv</a>
        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Diarias/Diarias-2019.csv">diárias 2019.csv</a>
        </p>

        <p>
            <a href="~/Arq/DadosAbertos/Diarias/Diarias-2018.csv">diárias 2018.csv</a>
        </p>

        <h6>*Dados atualizados diariamente</h6>
        <div class="row licenca">
            <b>Licença:</b> <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Atribuição</a>
        </div>
    </div>
</div>