﻿
@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Compras e contratações";
    var unidadesGestoras = (List<SelectOptionModel>)ViewBag.UnidadesGestoras;
    var modalidadesCompras = (List<SelectOptionModel>)ViewBag.ModalidadesCompra;
    var parametros = (GraficoController.ParametrosComprasContratacoesModel)ViewBag.Parametros;
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

<div class="alert alert-default alert-dismissible text-primary" role="alert" style="background-color:#f5f5f5; border-color:#cccccc">
    <i class="fa fa-info-circle"></i>
    <strong>Atenção: </strong> Os asteriscos (<span class="text-danger">*</span>) referem-se aos campos de preenchimento obrigatório.
</div>

<div>
    <form>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboUnidadeGestora"><em class="text-danger">* </em>Unidade gestora:</label><br />
                            <select id="cboUnidadeGestora" class="form-control cboSelectFiltro">
                                @foreach (var ug in unidadesGestoras)
                                {
                                    <option value="@ug.Codigo" @(Request["ug"] != null && Request["ug"].PadLeft(6, '0') == ug.Codigo.ToDecrypted().PadLeft(6, '0') ? "selected" : "")>@ug.Descricao</option>
                                }
                            </select>
                            <input type="hidden" id="empenho" name="empenho" value="@Request["pEmpenho"]" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboModalidadeCompra"><em class="text-danger">* </em>Modalidade da compra:</label><br />
                            <select id="cboModalidadeCompra" class="form-control cboSelectFiltro">
                                @foreach (var mc in modalidadesCompras)
                                {
                                    <option value="@mc.Codigo">@mc.Descricao</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDataInicial">Data inicial:</label><br />
                            <div class="input-daterange input-group" id="periodo">
                                <input id="dataInicial" name="dataInicial" type="text" class="form-control" value="" />
                                <span class="input-group-addon">a</span>
                                <input type="text" class="form-control" name="end" id="dataFinal" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" onclick="exibirComprasContratacoes(10,1);">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
    {
        <div class="container chartFooter">* Última atualização de compras e contratações: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> / Fonte dos dados: SIAFEM / SUPER</div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid" id="tabelaDadosContainer">
            </div>
        </div>

    </div>
</div>
@section AposFooter{
    <script>
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                language: "pt-BR",
                format: "dd-mm-yyyy"
            });
            //exibirComprasContratacoes(10, 1);
        });

        function exibirComprasContratacoes(pageSize, pageNumber) {
            let dataInicial = $('#dataInicial').datepicker('getDate'),
                dataFinal = $('#dataFinal').datepicker('getDate');

            $('#tabelaDadosContainer').html('<i class="fa fa-cog fa-spin"></i> Carregando dados...');
            $('#dataInicial').datepicker('hide');
            $('#dataFinal').datepicker('hide');
            $.post('/Grafico/ComprasContratacoes', {
                pDataInicial: dataInicial == null ? dataInicial : dataInicial.toYMD(),
                pDataFinal: dataFinal == null ? dataFinal : dataFinal.toYMD(),
                pEncListaUnidadeGestora: $('#cboUnidadeGestora').val(),
                pEncCodModalidadeCompra: $('#cboModalidadeCompra').val(),
                pEmpenho: $('#empenho').val(),
                pPageSize: pageSize,
                pPageNumber: pageNumber
            })
                .done(function (data) {
                    if (data.msgErro != null) {
                        $('#tabelaDadosContainer').html('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>' + data.msgErro + '</div>');
                    }
                    else {
                        data.dados = data.dados.map((item) => {
                            item.DataDocumento = parseDate(item.DataDocumento);
                            item.ValorTotal = "R$ " + parseFloat(item.ValorEmpenhada).toFixed(2).replace(".", ",");
                            return item;
                        });
                        $('#tabelaDadosContainer').html(Mustache.render($('#templateDados').html(), data));
                        $('#tabelaDadosContainer > #tabelaDados').dataTablePadrao({ "colunasFixas": 1 });
                        if (data.msgInfo != null) {
                            $('#tabelaDadosContainer').prepend('<div class="alert alert-info" role="alert"><span class="sr-only">Informação:</span><strong>Informação </strong>' + data.msgInfo + '</div>');
                        }
                    }
                })
                .fail(function () {
                    $('#tabelaDadosContainer').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span><strong>Erro: </strong>Ocorreu um erro ao efetuar a pesquisa. Caso o problema persista, entre em contato com a CGE através do e-mail <a href="mailto:contato@cge.ro.gov.br">contato@cge.ro.gov.br</a>.</div>');
                });
        }
    </script>
    <script id="templateDados" type="text/html">
        <table class="table table-striped" id="tabelaDados">
            <thead>
                <tr>
                    <th> Detalhar</th>
                    <th>Nº empenho</th>
                    <th>Credor</th>
                    <th>Processo</th>
                    <th>Tipo</th>
                    <th>Mod. Compra</th>
                    <th>Data Empenho</th>
                    <th>Vlr. Total</th>
                    <th> Status</th>

                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="javascript:void(0);" onclick="detalhesEmpenho('@(Url.Action("DetalhesEmpenho", "Grafico"))?NumeroEmpenho={{ NumeroEmpenho }}')">
                            <i class="glyphicon glyphicon-search"> </i>
                        </a>
                    </td>
                    <td><b>{{NumeroEmpenho}}</b></td>
                    <td>{{Credor}}</td>
                    <td>{{NumeroProcesso}}</td>
                    <td>{{TipoEmpenho}}</td>
                    <td>{{ModalidadeCompra}}</td>
                    <td>{{DataDocumento}}</td>
                    <td>{{ValorTotal}}</td>
                    <td>{{Status}}</td>
                </tr>
                {{/dados}}
            </tbody>

            <tfoot>
                <tr>
                    <th>Detalhar</th>
                    <th>Nº empenho</th>
                    <th>Credor</th>
                    <th>Processo</th>
                    <th>Tipo</th>
                    <th>Mod. Compra</th>
                    <th>Data Empenho</th>
                    <th>Vlr. Total</th>
                    <th>Status</th>
                </tr>
            </tfoot>
        </table>
    </script>

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>

       
        function parseDate(date) {
            return new Date(Number(date.match(/(\d)+/)[0])).toLocaleString().split(" ")[0];
        }

        $(document).ready(function () {
            $(document).ready(function () {
                $(".cboSelectFiltro").chosen();

                if ($('#cboUnidadeGestora').val() !== 'QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L' && $('#cboModalidadeCompra').val() !== 'QMR4ZdomqcS83Fb3ZT3aeA3QU4L3QU4L') {
                    exibirComprasContratacoes(10, 1);
                }
            });
        });

        function detalhesEmpenho(url) {
            window.location.href = window.location.origin + url + '&unidadeGestora=' + $('#cboUnidadeGestora').val();
        }
    </script>
}