﻿
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Compras de materiais de consumo e permanente";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

<form>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cboUnidadeGestora">Unidade gestora:</label><br />
                        <select id="cboUnidadeGestora" class="form-control cboSelectFiltro">
                            <option value="0">Todas</option>
                            @foreach (var UG in ((List<UnidadeGestora>)ViewBag.UnidadesGestoras).OrderBy(ug => ug.unidadeGestoraIDSIAFEM))
                            {
                                <option value="@UG.unidadeGestoraIDSIAFEM" @(Request["ug"] != null && Request["ug"] == UG.unidadeGestoraIDSIAFEM ? "selected" : "")>@UG.unidadeGestoraIDSIAFEM - @UG.nomeUG</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="tipoMaterial">Tipo de material</label><br />
                        <select id="tipoMaterial" class="form-control cboSelectFiltro">
                            <option value="0" selected>Selecione</option>
                            <option value="33903000">Consumo</option>
                            <option value="44905200">Permanente</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtDataInicial">Período</label><br />
                        <div class="input-daterange input-group" id="periodo">
                            <input id="dataInicial" name="dataInicial" type="text" class="form-control" value="" />
                            <span class="input-group-addon">a</span>
                            <input type="text" class="form-control" name="end" id="dataFinal" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" onclick="exibirComprasMateriais();">Consultar</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
{
    <div class="container chartFooter">* Última atualização de compras: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> / Fonte dos dados: SIAFEM / SUPER</div>
}
<div class="row">
    <div class="container-fluid" id="tabelaDadosContainer">
    </div>
</div>

@section AposFooter{
    <script>
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                language: "pt-BR",
                format: "dd-mm-yyyy"
            });
            exibirComprasMateriais();
        });

            function parseDate(date) {
                    return new Date(Number(date.match(/(\d)+/)[0])).toLocaleString().split(" ")[0];
            }

        function exibirComprasMateriais() {

            let dataInicial = $('#dataInicial').datepicker('getDate'), dataFinal = $('#dataFinal').datepicker('getDate');

            $('#tabelaDadosContainer').html('<i class="fa fa-cog fa-spin"></i> Carregando dados...');
            $('#dataInicial').datepicker('hide');
            $('#dataFinal').datepicker('hide');
            $.post('@Url.Action("ComprasMateriais")', {
                codUnidadeGestora: $('#cboUnidadeGestora').val(),
                tipoMaterial: $('#tipoMaterial').val(),
                dataInicial: dataInicial == null ? dataInicial : dataInicial.toYMD(),
                dataFinal: dataFinal == null ? dataFinal : dataFinal.toYMD()
            })
                .done(function (data) {
                    if (data.msgErro != null) {
                        $('#tabelaDadosContainer').html('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>' + data.msgErro + '</div>');
                    }
                    else {

                        data.dados = data.dados.map((item) => {
                            item.DataDocumento = parseDate(item.DataDocumento);
                            //item.valorDespesa = "R$ " + parseFloat(item.ValorEmpenhada).toFixed(2).replace(".", ",");
                            return item;
                        });


                        $('#tabelaDadosContainer').html(Mustache.render($('#templateDados').html(), data));
                        $('#tabelaDadosContainer > #tabelaDados').dataTablePadrao({ "colunasFixas": 1 });
                        if (data.msgInfo != null) {
                            $('#tabelaDadosContainer').prepend('<div class="alert alert-info" role="alert"><span class="sr-only">Informação:</span><strong>Informação </strong>' + data.msgInfo + '</div>');
                        }
                    }
                })
                .fail(function () {
                    $('#tabelaDadosContainer').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span><strong>Erro: </strong>Ocorreu um erro ao efetuar a pesquisa. Caso o problema persista, entre em contato com a CGE através do e-mail <a href="mailto:contato@cge.ro.gov.br">contato@cge.ro.gov.br</a>.</div>');
                });
        }
    </script>
    <script id="templateDados" type="text/html">
        <table class="table table-striped" id="tabelaDados">
            <thead>
                <tr>
                    <th>Detalhar</th>
                    <th>Exercício</th>
                    <th>Cod. UG</th>
                    <th>Num. Empenho</th>
                    <th>Data do documento</th>
                    <th>Credor</th>
                    <th>Especificação Despesa</th>
                    <th>Valor Despesa</th>
                    <th hidden>Documento</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td><a href="@(Url.Action("DetalhesCompra", "Grafico"))?exercicio={{ Exercicio }}&ug={{UG}}&numEmpenho={{NumEmpenho}}&especificacaoDespesa={{EspecificacaoDespesa}}&valorDespesa={{valorDespesa}}&documento={{Documento}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td><b>{{Exercicio}}</b></td>
                    <td>{{UG}}</td>
                    <td>{{NumEmpenho}}</td>
                    <td>{{DataDocumento}}</td>
                    <td>{{Credor}}</td>
                    <td>{{EspecificacaoDespesa}}</td>
                    <td>{{valorDespesa}}</td>
                    <td hidden>{{Documento}}</td>
                </tr>
                {{/dados}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Detalhar</th>
                    <th>Exercício</th>
                    <th>Cod. UG</th>
                    <th>Num. Empenho</th>
                    <th>Data do documento</th>
                    <th>Credor</th>
                    <th>Especificação Despesa</th>
                    <th>Valor Despesa</th>
                    <th hidden>Documento</th>
                </tr>
            </tfoot>
        </table>
    </script>

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $(".cboSelectFiltro").chosen();
            });
        });
    </script>
}