﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@model List<DespesaProgramaAcaoModel>
@{
    ViewBag.Title = "Despesa";
}

@section Head{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.standalone.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="~/scripts/Utils.js"></script>
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}

<div class="container">

    <div class="chartContainer">
        <h2 class="loadingPlaceholder">
            <i class="fa fa-cog fa-spin"></i>&nbsp;Processando gráfico...
        </h2>

        <div id="grafico" class="grafico"></div>
    </div>
    @if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
    {
        <div class="chartFooter">Última atualização de despesas: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> / Fonte dos dados: SIAFEM / SUPER</div>
    }
    <div class="row">
        <div class="chartControls col-md-12 container">
            <form>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cboUnidadeGestora">Unidade gestora:</label><br />

                        <select id="cboUnidadeGestora" class="form-control">
                            <option value="0">Todas</option>
                            @foreach (var UG in ((List<UnidadeGestora>)ViewBag.UnidadesGestoras).OrderBy(ug => ug.unidadeGestoraIDSIAFEM))
                            {
                                <option value="@UG.unidadeGestoraIDSIAFEM" @(Request["ug"] != null && Request["ug"] == UG.unidadeGestoraIDSIAFEM ? "selected" : "")>@UG.unidadeGestoraIDSIAFEM - @UG.nomeUG</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="numeroEmpenho">Nº empenho:</label><br />
                        <input type="text" class="input-sm form-control" name="numeroEmpenho" id="numeroEmpenho" value="" />
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="credor">Fornecedor:</label><br />
                        <input type="text" class="input-sm form-control" name="credor" id="credor" value="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="doccredor">CNPJ:</label><br />
                        <input type="text" class="input-sm form-control @(EClassesParaInput.CampoCNPJ)" name="doccredor" id="doccredor" value="" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <br /><button id="btnPesquisar" type="button" class="btn btn-primary" value="Pesquisar">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="tabelaDespesasContainer">
        </div>
    </div>
</div>
@section AposFooter{
    <script src="~/scripts/despesa.es5.min.js"></script>
    <style>
        .table tr {
            -moz-transition: height 0.3s;
            -o-transition: height 0.3s;
            -webkit-transition: height 0.3s;
            transition: height 0.3s;
        }
    </style>
    <script>

    </script>
    <script id="templateProcessando" type="text/html">
        <div style="text-align: center">
            <i style="margin: 0 auto" class="fa fa-cog fa-spin fa-fw" />{{MensagemOpcional}}
        </div>
    </script>
    <script id="templateAno" type="text/html">
        <table class="table table-striped" id="tabelaAno" style="width: 100%">
            <thead>
                <tr>
                    <th>Detalhar</th>
                    <th>Ano</th>
                    <th>Valor empenhado</th>
                    <th>Valor liquidado</th>
                    <th>Valor pago</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td><a href="#!" onclick="detalharGenerico('{{LinkDetalhamento}}', this, '/Grafico/DetalharDespesa', 'templateMes','Despesas para o ano {{Exercicio}}');"><i class="fa fa-search"></i></a></td>
                    <th scope="row">{{Exercicio}}</th>
                    <td style="min-width: 150px">{{StrValorEmpenhada}}</td>
                    <td style="min-width: 150px">{{StrValorLiquidada}}</td>
                    <td style="min-width: 150px">{{StrValorPaga}}</td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr>
                    <td colspan="5"><div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.</div></td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>

    <script id="templateMes" type="text/html">

        <table class="table table-striped" id="{{guid}}">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="5">{{Titulo}}</th>
                </tr>
                <tr>
                    <th>Detalhar</th>
                    <th>Mês</th>
                    <th>Valor empenhado</th>
                    <th>Valor liquidado</th>
                    <th>Valor pago</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td><a href="#!" onclick="detalharGenerico('{{LinkDetalhamento}}', this, '/Grafico/DetalharDespesa', 'templateProgramaAcao');"><i class="fa fa-search"></i></a></td>
                    <th scope="row">{{NomeMes}}</th>
                    <td style="min-width: 150px">{{StrValorEmpenhada}}</td>
                    <td style="min-width: 150px">{{StrValorLiquidada}}</td>
                    <td style="min-width: 150px">{{StrValorPaga}}</td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr><td colspan="5"><div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.</div></td></tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateProgramaAcao" type="text/html">
        <table class="table table-striped" id="{{guid}}" width="100%">
            <thead class="thead-inverse">
                <tr>
                    <th>Detalhar</th>
                    <th>Programa</th>
                    <th>Ação</th>
                    <th>Valor empenhado</th>
                    <th>Valor liquidado</th>
                    <th>Valor pago</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr class="linhaProgramaAcao">
                    <td><a href="#!" onclick="detalharGenerico('{{LinkDetalhamento}}', this, '/Grafico/DetalharDespesa', 'templateProgramaAcaoFuncao');"><i class="fa fa-search"></i></a></td>
                    <td>{{Programa}}</td>
                    <td>{{Acao}}</td>
                    <td style="min-width: 150px">{{StrValorEmpenhada}}</td>
                    <td style="min-width: 150px">{{StrValorLiquidada}}</td>
                    <td style="min-width: 150px">{{StrValorPaga}}</td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr><td colspan="6"><div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.</div></td></tr>
                {{/dados}}
            </tbody>
        </table>

    </script>

    <script id="templateProgramaAcaoFuncao" type="text/html">
        <table class="table table-condensed table-striped" id="{{guid}}" width="100%">
            <thead>
                <tr>
                    <th>Detalhar</th>
                    <th>Função</th>
                    <th>Subfunção</th>
                    <th>Fonte de recursos</th>
                    <th style="min-width: 150px">Valor empenhado</th>
                    <th style="min-width: 150px">Valor liquidado</th>
                    <th style="min-width: 150px">Valor pago</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td><a href="#!" onclick="detalharGenerico('{{LinkDetalhamento}}', this, '/Grafico/DetalharDespesa', 'templateDespesaNatureza');"><i class="fa fa-search"></i></a></td>
                    <td>{{DescricaoFuncao}}</td>
                    <td>{{DescricaoSubFuncao}}</td>
                    <td>{{DescFonteRecursos}}</td>
                    <td style="white-space: nowrap">{{StrValorEmpenhada}}</td>
                    <td>{{StrValorLiquidada}}</td>
                    <td>{{StrValorPaga}}</td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr><td colspan="6"><div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.</div></td></tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateDespesaNatureza" type="text/html">
        <table class="table table-condensed table-striped" id="{{guid}}" width="100%">
            <thead>
                <tr>
                    <th>Detalhar</th>
                    <th>Natureza da Despesa</th>
                    <th style="min-width: 150px">Valor empenhado</th>
                    <th style="min-width: 150px">Valor liquidado</th>
                    <th style="min-width: 150px">Valor pago</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td><a href="#!" onclick="detalharGenerico('{{LinkDetalhamento}}', this, '/Grafico/DetalharDespesa', 'templateDespesaEmpenho');"><i class="fa fa-search"></i></a></td>
                    <td>{{NaturezaDaDespesa}}</td>
                    <td style="white-space: nowrap">{{StrValorEmpenhada}}</td>
                    <td>{{StrValorLiquidada}}</td>
                    <td>{{StrValorPaga}}</td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr><td colspan="5"><div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.</div></td></tr>
                {{/dados}}
            </tbody>
        </table>

    </script>
    <script id="templateDespesaEmpenho" type="text/html">
        <table class="table table-condensed table-striped" id="{{guid}}" width="100%">
            <thead>
                <tr>
                    <th>Credor</th>
                    <th style="min-width: 150px" title="Número de empenho e Unidade Gestora">Nº Empenho <br /> U.G.</th>
                    @*<th>Data</th>*@
                    <th style="min-width: 150px">Valor Empenhado <br/> Data</th>
                    <th style="min-width: 150px">Valor Liquidado <br /> Data</th>
                    <th style="min-width: 150px">Valor Pago <br /> Data</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>

                    <td>{{Credor}}</td>
                    <td>
                        {{#IsLinkEmpenho}}
                        <a href="/Grafico/ComprasContratacoes?pEmpenho={{NumeroEmpenho}}&pEncListaUnidadeGestora={{UnidadeGestora}}&pDataInicial={{DataDocumentoFormatada}}&pDataFinal={{DataDocumentoFormatada}}">{{NumeroEmpenho}} <br /> {{UnidadeGestora}}</a>
                        {{/IsLinkEmpenho}}
                        {{^IsLinkEmpenho}}
                        {{NumeroEmpenho}} <br /> {{UnidadeGestora}}
                        {{/IsLinkEmpenho}}
                    </td>
                    @*<td></td>*@
                    <td style="white-space: nowrap">{{StrValorEmpenhada}} <br /> {{DataEmpenho}}</td>
                    <td>{{StrValorLiquidada}} <br /> {{DataLiquidacao}}</td>
                    <td>
                        {{#IsLinkItem}}
                        <a href="/Fornecedor/ListaItemEmpenhoUG?empenho={{NumeroEmpenho}}&ug={{UnidadeGestora}}&pDataInicial={{DataDocumentoFormatada}}">{{StrValorPaga}} <br /> {{DataPagamento}}</a>
                        {{/IsLinkItem}}
                        {{^IsLinkItem}}
                        {{StrValorPaga}} <br /> {{DataPagamento}}
                        {{/IsLinkItem}}
                    </td>
                </tr>
                {{/dados}}
                {{^dados}}
                <tr><td colspan="7"><div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.</div></td></tr>
                {{/dados}}
            </tbody>
        </table>
    </script>

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $("#cboUnidadeGestora").chosen();

            });
        });
    </script>
}

