﻿@using TransparenciaRO.Web.HTMLHelper
@model  List<TransparenciaRO.Infra.Model.DB.dbTransparencia.Materiais>

@{
    ViewData["Title"] = "Detalhes da compra";
}
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
}


<div class="row contentPrint">
    @if (Model.Count() != 0)
    {
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th style="vertical-align:top;">Exercício:</th>
                        <td> @Model.FirstOrDefault().Exercicio </td>

                        <th style="vertical-align:top;">Unidade Gestora:</th>
                        <td colspan="3"> @ViewBag.UgNome </td>

                        <th style="vertical-align:top;">Numero do empenho:</th>
                        <td> @Model.FirstOrDefault().NumEmpenho </td>

                    </tr>
                    <tr>
                        <th style="vertical-align:top;">Documento:</th>
                        <td> @Model.FirstOrDefault().Documento </td>

                        <th style="vertical-align:top;">Data documento:</th>
                        <td>@Model.FirstOrDefault().DataDocumento.Value.ToString("dd/MM/yyyy")</td>

                        <th style="vertical-align:top;">Credor:</th>
                        <td colspan="3"> @Model.FirstOrDefault().Credor </td>

                    </tr>
                    <tr>
                        <th style="vertical-align:top;">Valor empenhada</th>
                        <td> @Model.FirstOrDefault().ValorEmpenhada.Value.ToString("n2") </td>

                        <th style="vertical-align:top;">Valor Liquidada:</th>
                        <td>@Model.FirstOrDefault().ValorLiquidada.Value.ToString("n2") </td>

                        <th style="vertical-align:top;">Valor paga:</th>
                        <td colspan="3"> @Model.FirstOrDefault().ValorPaga.Value.ToString("n2") </td>                        
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="col-md-12">
            <table class="table table-striped" id="tabelaDetalhesCompras" width="100%">
                <thead>
                    <tr>
                        <th>Descricao</th>
                        <th>UnidadeMedida</th>
                        <th>Qtde</th>
                        <th>VlrUnitario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.OrderBy(m => m.Descricao))
                    {
                        <tr>
                            <td>@m.Descricao</td>
                            <td>@m.UnidadeMedida</td>
                            <td>@m.Qtde</td>
                            <td>@m.VlrUnitario.ToString("n2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert"><span class="sr-only">Atenção:</span><strong>Informação </strong>Nenhum registro encontrado</div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <a href="javascript:history.back()" class="btn btn-primary">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>
<br />

@section AposFooter
{
    <script>
        $(document).ready(function () {
            $('#tabelaDetalhesCompras').dataTablePadrao({ "colunasFixas": 1 });
            $('#tabelaDetalhes').dataTablePadrao({ "colunasFixas": 1 });
        });
    </script>
}