﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.DetalheEmpenho


@{
  

    ViewData["Title"] = "Detalhes Empenho";

}


<div class="container">
    <div class="row contentPrint">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered">
                <tr>
                    <th width="1" style="white-space: nowrap;">Unidade Gestora</th>
                    <td> @ViewBag.UnidadesGestora.NomOrgao</td>
                    <th width="1" style="white-space: nowrap;">Numero do Documento:</th>
                    <td>@Html.DisplayFor(model => model.DocumentoNE)</td>

                    <th width="1" style="white-space: nowrap;">Data:</th>
                    <td>@Html.DisplayFor(model => model.DataNE, "{0:dd/MM/yyyy}")</td>
                </tr>
                <tr>
                    <th style="white-space: nowrap;">Unidade:</th>
                    <td>

                        @if (Model.UnidadeMedida == null)
                        {
                            <span> ----</span>
                        }
                        @Html.DisplayFor(model => model.UnidadeMedida)

                    </td>

                    <th style="white-space: nowrap;">Valor Unitário:</th>
                    <td>
                        @if (Model.ValorUnitario == null)
                        {
                            <span> ----</span>
                        }
                        @Html.DisplayFor(model => model.ValorUnitario)
                    </td>

                    <th style="white-space: nowrap;">Quantidade:</th>
                    <td>
                        @if (Model.Quantidade == null)
                        {
                            <span> ----</span>
                        }
                        @Html.DisplayFor(model => model.Quantidade)

                    </td>
                </tr>
                <tr>
                    <th style="white-space: nowrap;">Descrição:</th>
                    <td colspan="6">
                        @if (Model.Descricao == null)
                        {
                            <span> ----</span>
                        }
                        @Html.DisplayFor(model => model.Descricao)
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="javascript:history.back()" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Voltar
                </a>

                <button class="btn btn-default print">
                    <i class="fa fa-print"></i> Imprimir
                </button>

            </div>
        </div>
    </div>
</div>

@section AposFooter
{
    <script src="~/scripts/jquery.PrintArea.js"></script>
    <script>
        $(document).ready(function () {
            $(".print").click(function () {

                $(".contentPrint").printArea();

            });
        });
    </script>
}