﻿@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.DotacaoInicial>
@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Dotação inicial";
    var unidadesGestoras = (Dictionary<string, string>)ViewBag.UnidadesGestoras;
    var camposFormulario = new List<CampoFormulario>
    {    new CampoSelect { Descricao="Exercício", ColMD=2, Id="cmdExercicio", NomeParametroAction = "pExercicio", Linha = 1, Valores = Enumerable.Range(DateTime.Now.Year-5,6).Reverse().ToDictionary(k=>k.ToString(), v=>v.ToString())}
        ,new CampoSelect { Descricao = "Unidade gestora", ColMD = 10, Id = "cmbSexo", NomeParametroAction = "pUG", Linha = 1, Valores = ViewBag.UnidadesGestoras }
    };
}


@section Head{
    @Html.RenderizarReferenciasPorCampo(camposFormulario)
}

<div class="container-fluid">
    @Html.FormularioParametros(camposFormulario)
    @Html.MontarMetodoChamadaPostComDados(camposFormulario, "/Grafico/DotacaoInicial", "POST")
    @Html.RenderizarTemplateDadosPadrao(new Dictionary<string, string>{
    { "Orgao","Órgão"}
    , { "ProgramaTrabalho","Programa" }
    , { "NaturezaDespesa","Natureza" }
    , { "DescricaoDespesa","Descrição da despesa" }
    , { "SaldoInicial","Valor Autorizado" }
    }, true
    )
    @if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
    {
        <div class="container chartFooter">* Última atualização: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> / Fonte dos dados: SIAFEM / SUPER</div>
    }
    <div class="row">
        <div class="container-fluid" id="tabelaDadosContainer"></div>
    </div>
</div>

<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<script src="~/scripts/chosen.jquery.min.js"></script>
