﻿@using TransparenciaRO.Web.Controllers
@model List<GraficoController.HighchartsSeriesEntry>
@section Head{
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
}
@{
    if (ViewBag.Title == "")
    {
        ViewBag.Title = "Gráfico";
    }
}
<div class="chartContainer">
    <h2>Receita Total</h2>
    <div id="grafico" class="grafico"></div>
</div>

@section AposFooter
{
    <script>
        var chartData = @Html.Raw(Json.Encode(Model));
        var categorias = @(ViewBag.Categories != null ? Html.Raw(Json.Encode(ViewBag.Categories))  : "null");
        var dadosDrilldown =  @(ViewBag.DrilldownSeries != null ? Html.Raw(Json.Encode(ViewBag.DrilldownSeries)) : "null");

        var sliderAno = null;
        var chart;

        function atualizaGrafico()
        {
            chart.xAxis[0].setCategories(nomesValores, true, true);
            chart.series[0].setData(valores, true, true);
            chart.series[1].setData(valoresPrevista, true, true);
        }

        $(document).ready(function () {
            preparaGrafico('@ViewBag.Title', 'grafico', chartData, categorias, dadosDrilldown);
        });
    </script>
}