﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@section Head{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="~/scripts/Utils.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
@{
    ViewBag.Title = "Receita";
}
<div class="chartContainer">
    <div id="grafico" class="grafico"></div>

</div>
@if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
{
    <div class="chartFooter">Última atualização: <b>@DateTime.Parse(ViewBag.DataAtualizacao.ToString()).ToString("dd/MM/yyyy")</b> / Fonte dos dados: SIAFEM / SUPER</div>
}
<div class="row">
    <div class="chartControls col-md-12">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="cboUnidadeGestora">Unidade gestora:</label><br />
                    <select id="cboUnidadeGestora" class="form-control">
                        <option value="0">Todas</option>
                        @foreach (var UG in ((List<UnidadeGestora>)ViewBag.UnidadesGestoras).OrderBy(ug => ug.unidadeGestoraIDSIAFEM))
                        {
                            <option value="@UG.unidadeGestoraIDSIAFEM" @(Request["ug"] != null && Request["ug"] == UG.unidadeGestoraIDSIAFEM ? "selected" : "")>@UG.unidadeGestoraIDSIAFEM - @UG.nomeUG</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Ano:</label><br />
                    <input id="sliderAno" type="text" class="span2" value="" data-slider-min="2010" data-slider-max="@(DateTime.Now.Year)" data-slider-step="1" data-slider-value="[2011,@(DateTime.Now.Year)]" />
                </div>
                <label>Consolidar por:</label>
                <div class="radio">
                    <label><input type="radio" name="optconsolidarpor" id="optconsolidarpor" value="2" checked>Por ano <small>(incluir receita prevista)</small></label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optconsolidarpor" id="optconsolidarpor" value="0">Por ano</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optconsolidarpor" id="optconsolidarpor" value="1">Por mês</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optconsolidarpor" id="optconsolidarpor" value="3">Por Quadrimestre</label>
                </div>
            </div>
            <div class="col-md-6">
                <label>Tipo de gráfico:</label>
                <div class="radio">
                    <label><input type="radio" name="opttipografico" value="0" checked>Total</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="opttipografico" value="1">Líquida</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="opttipografico" value="2">Corrente</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="opttipografico" value="3">Capital</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="opttipografico" value="4">Intra-orçamentária</label>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12" id="tabelaReceitaContainer">
        </div>
    </div>
</div>

<script id="templateReceita" type="text/html">
    <table class="table table-striped" id="tabelaReceita" style="width: 100%">
        <thead>
            <tr>
                <th>Detalhar</th>
                <th>Referência</th>
                <th>Receita arrecadada</th>
                {{#mostrarReceitaPrevista}}
                <th>Receita prevista</th>{{/mostrarReceitaPrevista}}
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td><a href="#!" onclick="{{onclick}}"><i class="fa fa-search"></i></a></td>
                <td>{{Referencia}}</td>
                <td>{{StrValorArrecadado}}</td>
                {{#mostrarReceitaPrevista}}
                <td>{{StrValorPrevisto}}</td>
                {{/mostrarReceitaPrevista}}
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="4">
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.
                    </div>
                </td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>
<script id="templateDetalhe" type="text/html">
    <table class="table table-striped" id="{{guid}}" style="width: 100%">
        <thead>
            <tr>
                <th>Referência</th>
                <th>Receita arrecadada</th>

                <th>Receita prevista</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td>{{Referencia}}</td>
                <td>{{StrValorArrecadado}}</td>
                <td>{{StrValorPrevisto}}</td>
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="3">
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>Nenhum registro retornado.
                    </div>
                </td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>

@section AposFooter
{
    <script src="~/scripts/receita.es5.js"></script>
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $("#cboUnidadeGestora").chosen();

            });
        });
    </script>
}