﻿@section Head{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
}

@{
    ViewBag.Title = "Teste";
}
<div class="chartContainer">
    <h2>Receita Total</h2>
    <canvas id="grafico" class="grafico"></canvas>
    <div class="chartControls col-md-12">
        <form>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Ano:</label><br />
                    <input id="sliderAno" type="text" class="span2" value="" data-slider-min="2010" data-slider-max="2015" data-slider-step="1" data-slider-value="[2011,2014]" />
                </div>
                <label>Consolidar por:</label>
                <div class="radio">
                    <label><input type="radio" name="optradio" checked>Por ano</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Por mês</label>
                </div>
            </div>
            <div class="col-md-6">

                <label>Exibir:</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked />Receita total
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked />Receita líquida
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked />Receita corrente
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked />Receita de capital
                    </label>
                </div>
            </div>
        </form>

    </div>
</div>



@section AposFooter
{
    <script>

        var nomesValores = ["2011", "2012", "2013", "2014", "2015"];

        var valores = [5934468719.70, 6036850320.08, 7095738143.25, 7848302351.00, 8273877178.16];
        var valoresPrevista = [5299903000, 6259406052.04, 8580447083.41, 8507048262.72, 8745632813.27];


        function getDataset(arrayValores, pTituloDataset, pCorBorda, pCorPreenchimento) {
            return {
                label: pTituloDataset,
                fill: true,
                lineTension: 0.3,
                backgroundColor: pCorPreenchimento,
                borderColor: pCorBorda,
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                //pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 10,
                //pointHoverBackgroundColor: "rgba(75,192,192,1)",
                //pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: arrayValores,
            };
        }

        function adicionarDataset(arrayValores, pTituloDataset, pCorBorda, pCorPreenchimento) {
            myChart.data.datasets.push(getDataset(arrayValores, pTituloDataset, pCorBorda, pCorPreenchimento));
            myChart.update();
        }

        var ctx = document.getElementById("grafico");
        var lastValue = null;
        var myChart = new Chart(ctx, {
            type: 'line',
            responsive: false,
            maintainAspectRatio: true,
            data: {
                labels: nomesValores,
                datasets: [getDataset(valores, "Receita total", "rgba(41, 128, 185,1.0)", "rgba(41, 128, 185, 0.5)"), getDataset(valoresPrevista, "Receita prevista", "rgba(127, 140, 141,1.0)", "rgba(127, 140, 141,0.3)")]
            },
            options: {
                tooltips: {
                    callbacks:
                        {
                            label: function (tooltipItems, data) {
                                return numeroParaMoeda(tooltipItems.yLabel);
                            }
                        }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            userCallback: function (value, index, values) {
                                return numeroParaMoeda(value);
                            }
                        }
                    }]
                }
            }
        });

        var sliderAno = $("#sliderAno").slider().on('slide', debounce(recarregarGrafico, 250)).data('slider');

        function recarregarGrafico() {

            console.log('mudouSlider');

        }

        function getDadosReceita() {
            $.post('/Grafico/GetDadosReceita',
                {
                    pAnoInicial: 2011,
                    pAnoFinal: 2015,
                    pConsolidarPor: 1,
                    pReceitaIntraorcamentaria: true,
                    pReceitaLiquida: true,
                    pReceitaCorrente: true,
                    pReceitaDeCapital: true
                })
                .done(function (data) {
                    console.log(data);
                });
        }

    </script>
}