﻿@model TransparenciaRO.Infra.Model.View.LicitacoesAPISUPEL.FiltroLicitacaoAPISUPELViewModel

<div class="well">
    <h3 class="no-margin" style="margin-bottom: 13px !important;">
        <i class="fa fa-filter"></i>
        Filtrar
    </h3>

    <form id="formFiltro">
        <div class="row">

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.Modalidade)</label>
                <select name="@Html.NameFor(model => model.Modalidade)" class="form-control">
                    <option value="">Selecione..</option>
                    <option value="Pregão Eletrônico" selected>Pregão Eletrônico</option>
                    <option value="Pregão Presencial">Pregão Presencial</option>
                    <option value="Tomada de Preços">Tomada de Preços</option>
                    <option value="Concurso">Concurso</option>
                    <option value="Convite">Convite</option>
                    <option value="Concorrência Pública">Concorrência Pública</option>
                    <option value="Dispensa de Licitação">Dispensa de Licitação</option>
                    <option value="Chamamento Público">Chamamento Público</option>
                    <option value="Contratação Direta">Contratação Direta</option>
                    <option value="RDC">RDC</option>
                </select>
            </div>


            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.Situacao)</label>
                <select name="@Html.NameFor(model => model.Situacao)" class="form-control">
                    <option value="">Selecione..</option>
                    <option value="Aberta">Aberta</option>
                    <option value="Em Andamento">Em Andamento</option>
                    <option value="Encaminhada para Homologação">Encaminhada para Homologação</option>
                    <option value="Deserta">Deserta</option>
                    <option value="Fracassada">Fracassada</option>
                    <option value="Revogada">Revogada</option>
                    <option value="Cancelada">Cancelada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.UnidadeAdministrativa)</label>
                <select name="@Html.NameFor(model => model.UnidadeAdministrativa)" class="form-control">
                    <option value="">Selecione..</option>
                    <option value="ACRIAR">ACRIAR</option>
                    <option value="AGEVISA">AGEVISA</option>
                    <option value="CGE">CGE</option>
                    <option value="CMR">CMR</option>
                    <option value="CONEN">CONEN</option>
                    <option value="DECOM">DECOM</option>
                    <option value="DEOSP">DEOSP</option>
                    <option value="DER">DER</option>
                    <option value="DETI">DETI</option>
                    <option value="DETRAN">DETRAN</option>
                    <option value="FAPERO">FAPERO</option>
                    <option value="FEASE">FEASE</option>
                    <option value="FESPREN">FESPREN</option>
                    <option value="FHEMERON">FHEMERON</option>
                    <option value="FITHA">FITHA</option>
                    <option value="FUMRESPOM">FUMRESPOM</option>
                    <option value="FUNESBOM">FUNESBOM</option>
                    <option value="IDARON">IDARON</option>
                    <option value="Instituto Abaitará">Instituto Abaitará</option>
                    <option value="IPEM">IPEM</option>
                    <option value="IPERON">IPERON</option>
                    <option value="JUCER">JUCER</option>
                    <option value="PGE">PGE</option>
                    <option value="SEAD">SEAD</option>
                    <option value="SEAE">SEAE</option>
                    <option value="SEAGRI">SEAGRI</option>
                    <option value="SEAS">SEAS</option>
                    <option value="SECEL">SECEL</option>
                    <option value="SEDAM">SEDAM</option>
                    <option value="SEDES">SEDES</option>
                    <option value="SEDUC">SEDUC</option>
                    <option value="SEFIN">SEFIN</option>
                    <option value="SEJUS">SEJUS</option>
                    <option value="SEPAT">SEPAT</option>
                    <option value="SEPAZ">SEPAZ</option>
                    <option value="SEPLAN">SEPLAN</option>
                    <option value="SESAU">SESAU</option>
                    <option value="SESDEC">SESDEC</option>
                    <option value="SETUR">SETUR</option>
                    <option value="SOPH">SOPH</option>
                    <option value="SUGESPE">SUGESPE</option>
                    <option value="SUPEL">SUPEL</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.Ano)</label>
                @Html.EditorFor(model => model.Ano, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.QuantidadeResultados)</label>
                <select name="@Html.NameFor(model => model.QuantidadeResultados)" class="form-control" required>
                    <option selected value="15">15</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="10000000">Exibir tudo</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-md-4">
                <label>@Html.DisplayNameFor(model => model.EnfrentamentoAoCovid)</label>
                <select name="@Html.NameFor(model => model.EnfrentamentoAoCovid)" class="form-control">
                    <option value="">Selecione..</option>
                    <option value="true" selected>Sim</option>
                </select>
            </div>

            <div class="form-group col-xs-12">
                <label class="visible-md-block visible-lg-block">&nbsp;</label>
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i>
                    Consultar
                </button>
            </div>
        </div>
    </form>
</div>