﻿@*<div class="alert alert-info margin-bottom-13">
    <p class="text-justify">
        <i class="fa fa-info-circle text-primary"></i>
        </p>
</div>*@

<a href="@Url.Action("DownloadLicitacoesCSV", "Licitacao")" class="btn btn-default btn-block margin-bottom-13">
    <i class="fa fa-download"></i>

    <span class="visible-xs-inline-block visible-sm-inline-block">
        Baixar dados abertos
    </span>

    <span class="visible-md-inline-block visible-lg-inline-block">
        Clique aqui para baixar os dados abertos das licitações
    </span>
</a>