﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.DiariasEmpresa
<label>Mês</label>
<select id="@Html.IdFor(model => model.Mes)" class="form-control">
    <option>Selecione...</option>
    @for (var i = 1; i <= ViewBag.Mes; i++)
    {
        <option value="@i" @*@(ViewBag.Mes == i ? " selected" : "")*@>@(i.NomeMes())</option>
    }
</select>
