﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.DiariasEmpresa
@{
    ViewBag.Title = "Viagens e Diárias - " + ViewBag.Empresa;
}
@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

<div id="titulo"></div>
@using (Html.BeginForm("ResultadoFiltro", "DiariasEmpresa", FormMethod.Post, new { @name = "frmFiltro" }))
{
    <input type="hidden" id="empresa" name="empresa" value="@ViewBag.Empresa" />

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <label>Exercício</label>
                    <select id="@Html.IdFor(model => model.Ano)" class="form-control">
                        @for (var ano = 2012; ano <= ViewBag.Ano; ano++)
                        {
                            if (ano == ViewBag.Ano)
                            {
                                <option value="@ano" selected="selected">@ano</option>
                            }
                            else
                            {
                                <option value="@ano">@ano</option>
                            }
                        }
                    </select>
                </div>
                <div id="mes" class="col-md-6">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Nome</label>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" id="btnConsultar" class="btn btn-primary">
                        <i class="fa fa-search"></i> Consultar
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<div id="containerTabela">
    <label name="spin" class="hidden">
        <i class="fa fa-cog fa-spin fa-fw"></i> Carregando...
    </label>
</div>

@section AposFooter{
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script type="text/html" id="templateTabela">
        <div class="row">
            <div class="col-md-12">
                <table id="tabelaFolhaPagamento" class="table table-hover" width="100%">
                    <thead>
                    <tr>
                        <th>Detalhar</th>
                        <th>Nº Do Processo</th>
                        <th>Nome</th>
                        <th>Cargo/Função</th>
                        <th>Destino Viagem</th>
                        <th>Nº Diárias</th>
                        <th>Valor Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dados}}
                    <tr>
                        <td><a href="#!" onclick="detalharDiaria('{{NumeroProcesso}}', '{{Nome}}', '@ViewBag.Empresa', this)"><i class="fa fa-search"></i></a></td>
                        <td>{{NumeroProcesso}}</td>
                        <td>{{Nome}}</td>
                        <td>{{Cargo}}</td>
                        <td>{{DestinoViagem}}</td>
                        <td>{{TotalDiarias}}</td>
                        <td>R${{ValorTotal}}</td>
                    </tr>
                    {{/dados}}
                    {{^dados}}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                    </tr>
                    {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script id="templateDetalhamento" type="text/html">
        {{#dados}}
        <table class="table table-striped">

            <thead>
            <tr>
                <th style="width: 25%">Número Processo</th>
                <td>{{NumeroProcesso}}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td colspan="6">{{Nome}}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td colspan="6">{{Cargo}}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td colspan="6">{{Destino}}</td>
            </tr>
            <tr>
                <th>Data Saída</th>
                <td colspan="6">{{Ida}}</td>
            </tr>
            <tr>
                <th>Data Retorno</th>
                <td colspan="6">{{Volta}}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td colspan="6">{{Motivo}}</td>
            </tr>
            <tr>
                <th>Transporte</th>
                <td colspan="6">{{Transporte}}</td>
            </tr>
            <tr>
                <th>Dados Veiculo</th>
                <td colspan="6">{{DadosVeiculo}}</td>
            </tr>
            <tr>
                <th>Valor Passagem</th>
                <td colspan="6">{{ValorPassagem}}</td>
            </tr>
            <tr>
                <th>Valor Diaria</th>
                <td colspan="6">{{ValorDiaria}}</td>
            </tr>
            <tr>
                <th>Número Diarias</th>
                <td colspan="6">{{TotalDiarias}}</td>
            </tr>
            <tr>
                <th>Valor Total</th>
                <td colspan="6">{{ValorTotal}}</td>
            </tr>
            <tr>
                <th>Fonte Recurso</th>
                <td colspan="6">{{FonteRecurso}}</td>
            </tr>
            <tr class="text-center"><td colspan="7" style="font-weight: bold">DADOS DOS DEMAIS PASSAGEIROS & FONTE DE CUSTEIO DE SUAS DIÁRIAS</td></tr>
            <tr>
                <th>Servidor</th>
                <th>Cargo</th>
                <th>Nº Diarias</th>
                <th>Valor Diaria</th>
                <th>Valor Total</th>
                <th>Fonte Recurso</th>
            </tr>
            </thead>
            <tbody id="dadosDemaisServidores"></tbody>
        </table>
        {{/dados}}
        {{^dados}}
        {{/dados}}
    </script>


    <script id="templateDetalhamentoNovo" type="text/html">
        {{#dados}}
        <table class="table table-striped">

            <thead>
            <tr>
                <th style="width: 25%">Número Processo</th>
                <td>{{NumeroProcesso}}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td colspan="6">{{Nome}}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td colspan="6">{{Cargo}}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td colspan="6">{{Destino}}</td>
            </tr>
            <tr>
                <th>Data Saída</th>
                <td colspan="6">{{Ida}}</td>
            </tr>
            <tr>
                <th>Data Retorno</th>
                <td colspan="6">{{Volta}}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td colspan="6">{{Motivo}}</td>
            </tr>
            <tr>
                <th>Transporte</th>
                <td colspan="6">{{Transporte}}</td>
            </tr>
            <tr>
                <th>Dados Veiculo</th>
                <td colspan="6">{{DadosVeiculo}}</td>
            </tr>
            <tr>
                <th>Valor Passagem</th>
                <td colspan="6">{{ValorPassagem}}</td>
            </tr>
            <tr>
                <th>Valor Diaria</th>
                <td colspan="6">{{ValorDiaria}}</td>
            </tr>
            <tr>
                <th>Número Diarias</th>
                <td colspan="6">{{TotalDiarias}}</td>
            </tr>
            <tr>
                <th>Valor Total</th>
                <td colspan="6">{{ValorTotal}}</td>
            </tr>
            <tr>
                <th>Fonte Recurso</th>
                <td colspan="6">{{FonteRecurso}}</td>
            </tr>
            <tr>
                <th>Data Publicacao</th>
                <td colspan="6">{{DataPublicacao}}</td>
            </tr>
            <tr>
                <th>Ordem Bancaria</th>
                <td colspan="6">{{OrdemBancaria}}</td>
            </tr>
            <tr>
                <th>Data Pagamento</th>
                <td colspan="6">{{DataPagamento}}</td>
            </tr>
            <tr class="text-center"><td colspan="7" style="font-weight: bold">DADOS DOS DEMAIS PASSAGEIROS & FONTE DE CUSTEIO DE SUAS DIÁRIAS</td></tr>
            <tr>
                <th>Servidor</th>
                <th>Cargo</th>
                <th>Nº Diarias</th>
                <th>Valor Diaria</th>
                <th>Valor Total</th>
                <th>Fonte Recurso</th>
            </tr>
            </thead>
            <tbody id="dadosDemaisServidores"></tbody>
        </table>
        {{/dados}}
        {{^dados}}
        {{/dados}}
    </script>
    <script>
        $('#btnConsultar').click(function(e) {
            e.preventDefault();
            processarTabela();
        });

        $(document).ready(function() {
            $('#mes').load('@Url.Action("CarregarMes", "DiariasEmpresa")', { ano: $('#Ano').val() });
        });

        $('#Ano').on('change',
            function() {
                var pAno = $(this).val();
                $('#mes').load('@Url.Action("CarregarMes", "DiariasEmpresa")', { ano: pAno });

            });


        function processarTabela() {
            $("#containerTabela")
                .html(
                    '<label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label>');
            var elementoPai = $("#containerTabela").parent();
            var spin = elementoPai.find('[name="spin"]');
            spin.removeClass("hidden");

            $.get('@Url.Action("ResultadoFiltro", "DiariasEmpresa")',
                {
                    ano: Number($('#@Html.IdFor(m => m.Ano)')
                        .val()),
                    mes: Number($('#@Html.IdFor(m => m.Mes)').val()),
                    nome: $('#@Html.IdFor(m => m.Nome)').val(),
                    empresa: $('#empresa').val()
                }).done(function(dados) {
                var htmlRenderizado = Mustache.render($('#templateTabela').html(), { "dados": dados });
                if (dados == "null") {
                    $('#titulo')
                        .html(
                            '<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Erro! </strong>Digite o nome ou o CPF do servidor.</div>');
                } else {
                    spin.addClass("hidden");

                    $('#containerTabela').html(htmlRenderizado);
                    $("#tabelaFolhaPagamento").dataTablePadrao();
                }
            });
        }

        function detalharDiaria(pNumeroProcesso, pNome, pEmpresa, pSender) {
            var tabela = $(pSender).closest('table').DataTable();
            var linhaDataTable = tabela.row($(pSender).closest('tr'));
            if (!linhaDataTable.child.isShown()) {
                $.get('/DiariasEmpresa/DetalharDiarias',
                        { numeroProcesso: pNumeroProcesso, nome: pNome, empresa: pEmpresa })
                    .done(function (data) {

                        var indMes = $('#Mes').val();
                        var htmlRenderizado;
                        if (indMes <= 6) {
                            htmlRenderizado = Mustache.render($('#templateDetalhamento').html(), { "dados": data });
                            linhaDataTable.child(htmlRenderizado).show();
                        } else {
                            htmlRenderizado = Mustache.render($('#templateDetalhamentoNovo').html(), { "dados": data });
                            linhaDataTable.child(htmlRenderizado).show();
                        }

                        $(".DTFC_ScrollWrapper").css({ "height": "100%" });

                        var servidores = [];
                        if (data.Servidores.length !== 0) {

                            for (var i = 0; i < data.Servidores.length; i++) {
                                servidores += '<tr>' +
                                    '<td>' +
                                    data.Servidores[i].Nome +
                                    '</td>' +
                                    '<td>' +
                                    data.Servidores[i].Cargo +
                                    '</td>' +
                                    '<td>' +
                                    data.Servidores[i].TotalDiarias +
                                    '</td>' +
                                    '<td>' +
                                    data.Servidores[i].ValorDiaria +
                                    '</td>' +
                                    '<td>' +
                                    data.Servidores[i].ValorTotal +
                                    '</td>' +
                                    '<td>' +
                                    data.Servidores[i].FonteRecurso +
                                    '</td>' +
                                    '</tr>';
                            }
                        } else {
                            servidores +=
                                '<tr class="text-center"><td colspan="7"> Nenhum Resultado Encontrado </td></tr>';
                        }

                        $('#dadosDemaisServidores').html(servidores);
                    })
                    .fail(
                    );
            } else {
                linhaDataTable.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }


    </script>


}
