﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Web.Controllers
@{
    ViewBag.Title = "Presença nos municípios";
    var campos = new List<CampoFormulario> {

        new CampoInlineRadio
        {
            Linha = 1,
            Descricao = "Exercício",
            NomeParametroAction = "pExercicio",
            Valores = Enumerable.Range(DateTime.Now.Year - 5, 6).ToDictionary(k => k.ToString(), v => v.ToString()),
            ValorPadrao = DateTime.Now.Year.ToString(),
            Id = "exercicio",
            ColMD = 12
        }
    };
}

@section Head{
    
    @Html.RenderizarReferenciasPorCampo(campos)

}
    
<script>

    function detalharMunicipio(pEncCodMunicipio, pSender) {
        var table = $('#tabelaDados').DataTable();
        var row = table.row($(pSender).closest('tr'));
        if (!row.child.isShown()) {

            $.post("@Url.Action(nameof(PresencaMunicipiosController.DetalharMunicipio))", { pExercicio: $('#exercicio:checked').val(), pEncCodMunicipio: pEncCodMunicipio })
                .done(function (data) {
                    data.guidNovatabela = guid();
                    console.log(Mustache.render($('#templateDadosPorFuncao').html(), data));
                    row.child(Mustache.render($('#templateDadosPorFuncao').html(), data)).show();
                    $('#' + data.guidNovatabela).dataTablePadrao();
                    if (data.dados.length == 0)
                        alert('Não há dados disponíveis para o município escolhido!');
                }, "dataType");

        }
        else {
            row.child.hide();
            $(".DTFC_ScrollWrapper").css({ "height": "100%" });
        }
    }
</script>
@Html.FormularioParametros(campos, "Consultar", "consultarPorMunicipio();")
@Html.MontarMetodoChamadaPostComDados(campos, "/PresencaMunicipios", "POST", "consultarPorMunicipio", "templateDadosPorMunicipio", "tabelaDadosContainer", "tabelaDados", true, true)
@if (!String.IsNullOrWhiteSpace(ViewBag.DataAtualizacao))
{
    <div class="chartFooter">Última atualização de despesas dos municípios: <b>@ViewBag.DataAtualizacao.ToString()</b> / Fonte dos dados: SIAFEM / SUPER</div>
}


<div id="tabelaDadosContainer" class="container-fluid">

</div>

<script id="templateDadosPorMunicipio" type="text/html">
    <table id="tabelaDados" class="table" style="width: 100%">
        <thead>
            <tr>
                <th>Detalhar</th>
                <th>Município</th>
                <th>Empenhado</th>
                <th>Empenhado a liquidar</th>
                <th>Empenhado a pagar</th>
                <th>Liquidado</th>
                <th>Liquidado a Pagar</th>
                <th>Pago</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td><a href="#!" onclick="detalharMunicipio('{{pEncCodMunicipio}}', this)"><i class="fa fa-search"></i></a></td>
                <td>{{Municipio}}</td>
                <td>{{StrEmpenhado}}</td>
                <td>{{StrEmpenhadoALiquidar}}</td>
                <td>{{StrEmpenhadoAPagar}}</td>
                <td>{{StrLiquidado}}</td>
                <td>{{StrLiquidadoAPagar}}</td>
                <td>{{StrPago}}</td>
            </tr>
            {{/dados}}
            {{^dados}}
            <tr>
                <td colspan="8">
                    <div class='alert alert-warning' role='alert'><span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span><span class='sr-only'>Erro:</span>Nenhum registro encontrado</div>
                </td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>
<script id="templateDadosPorFuncao" type="text/html">
    <table class="table" id="{{guidNovatabela}}" style="width: 100%">
        <thead>
            <tr>
                <th>Investimento</th>
                <th>Empenhado</th>
                <th>Empenhado a liquidar</th>
                <th>Empenhado a pagar</th>
                <th>Liquidado</th>
                <th>Liquidado a Pagar</th>
                <th>Pago</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td>{{Investimento}}</td>
                <td>{{StrEmpenhado}}</td>
                <td>{{StrEmpenhadoALiquidar}}</td>
                <td>{{StrEmpenhadoAPagar}}</td>
                <td>{{StrLiquidado}}</td>
                <td>{{StrLiquidadoAPagar}}</td>
                <td>{{StrPago}}</td>
            </tr>
            {{/dados}}
        </tbody>
    </table>
</script>