﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Web.Controllers

@{
    ViewBag.Title = "Log";
    var campos = new List<CampoFormulario>()
    {
        new CampoPeriodo
        {
            Linha = 1,
            ColMD = 12,
            ValorDataInicial = DateTime.Now.AddDays(-7),
            ValorDataFinal = DateTime.Now
        }
    };
}
@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
}

@Html.FormularioParametros(campos)
@Html.MontarMetodoChamadaPostComDados(campos, "/Log", "POST", "consultarDados", "templateDados", "tabelaDadosContainer", "tabelaDados", true, true, "{\"ordering\": false, \"colunaOrdenacao\": 2, \"tipoOrdenacao\": \"desc\"}")

<div id="tabelaDadosContainer">

</div>

<script id="templateDados" type="text/html">
    <table id="tabelaDados" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Data/Hora evento</th>
                <th>Usuário</th>
                <th>Descrição</th>
            </tr>
        </thead>
        {{#dados}}
        <tbody>
            <tr>
                <td>{{DataHoraEvento}}</td>
                <td>{{Usuario}}</td>
                <td>{{Descricao}}</td>
            </tr>
        </tbody>
        {{/dados}}
        {{^dados}}
        <tr>
            <td colspan="3">Nenhum registro encontrado</td>
        </tr>
        {{/dados}}
    </table>
</script>