﻿@model Licitacao

@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils

@{
    var MensagensErrosArquivos = ViewBag.MensagensErrosArquivos as List<String>;
}

@if (MensagensErrosArquivos?.Count > 0)
{
    foreach (var mensagemErro in MensagensErrosArquivos)
    {
        <div class="alert alert-danger">@mensagemErro</div>
    }
}
@if (Model.Arquivos.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Data</th>
                        <th>Nome do arquivo</th>
                        <th>Tipo de anexo</th>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <th width="1" class="text-center">Ações</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Arquivos.Count; i++)
                    {
                        <tr>
                            <td>
                                @(i+1)
                            </td>
                            <td>
                                @Model.Arquivos.ToList()[i].DataUpload.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <input type="hidden" name="Arquivos[@i].ArquivoId" value="@Model.Arquivos.ToList()[i].ArquivoId.ToString()" />
                                <input type="hidden" name="Arquivos[@i].LicitacaoId" value="@Model.Arquivos.ToList()[i].LicitacaoId.ToString()" />
                                <input type="hidden" name="Arquivos[@i].Descricao" value="@Model.Arquivos.ToList()[i].Descricao" />
                                <input type="hidden" name="Arquivos[@i].Temporario" value="@(Model.Arquivos.ToList()[i].Temporario ? "true" : "false")" />
                                <input type="hidden" name="Arquivos[@i].TipoAnexo" value="@(Model.Arquivos.ToList()[i].TipoAnexo)" />
                                <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.Arquivos.ToList()[i].ArquivoId.ToString().ToEncrypted()  })" target="_blank">@(Model.Arquivos.ToList()[i].Descricao)</a>
                            </td>
                            <td>
                                @if (Model.Arquivos.ToList()[i].TipoAnexo != null)
                                {
                                    <span>@(Model.Arquivos.ToList()[i].TipoAnexo.GetDescription() != null ? Model.Arquivos.ToList()[i].TipoAnexo.GetDescription() : "---")</span>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td width="1" class="text-center"><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.Arquivos.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.Arquivos.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">Nenhum arquivo adicionado</div>
}

