﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper

@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacao

@{
    ViewBag.Title = "Compra emergencial";
    var unidadesGestoras = ViewBag.UnidadesGestoras;
}

@section Head {
    <link href="~/Content/bootstrap-datetimepicker-build.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
}

<form id="form">
    @*@Html.AntiForgeryToken()*@

    @Html.HiddenFor(x => x.LicitacaoId)

    @Html.HiddenFor(x => x.ModalidadeLicitacao)

    @Html.HiddenFor(x => x.DataDaPublicacao)

    @Html.HiddenFor(x => x.Ano)

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">
                Modalidade
            </label>

            <div class="col-md-6 col-sm-12">
                @Html.EnumDropDownListFor(x => x.ModalidadeLicitacao, htmlAttributes: new { @class = "form-control required" })
            </div>
        </div>

        @Html.FormGroupDropDownFor(m => m.UnidadeGestoraId, new SelectList(unidadesGestoras, "Key", "Value"), "Unidade gestora")

        <div class="form-group">
            <label class="control-label col-md-2">
                Ano
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="number" name="@Html.IdFor(x => x.Ano)" id="ano" value="@Model.Ano" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="numeroLicitacao">
                Nº Licitação (Certame)
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="number" name="@Html.IdFor(x => x.NumeroLicitacao)" id="numeroLicitacao" value="@Model.NumeroLicitacao" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Nº Processo SEI
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control CampoProcessoSEI" type="text" name="@Html.IdFor(x => x.NumeroProcessoAdministrativo)" id="numeroProcessoAdministrativo" placeholder="0000.000000/0000-00" pattern=".{19,19}" value="@Model.NumeroProcessoAdministrativo" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Fonte de recurso
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.FonteDeRecurso)" id="fonteDeRecurso" value="@Model.FonteDeRecurso" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Projeto/Atividade
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.ProjetoAtividade)" id="projetoAtividade" value="@Model.ProjetoAtividade" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Elemento despesa
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.ElementoDespesa)" id="elementoDespesa" value="@Model.ElementoDespesa" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Objeto
            </label>
            <div class="col-md-6 col-sm-12">
                <textarea class="form-control" cols="0" rows="4" name="@Html.IdFor(x => x.Objeto)" id="objeto" value="" required>@Model.Objeto</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Mais Informações <span class="text-muted">(opicional)</span>
            </label>
            <div class="col-md-6 col-sm-12">
                <textarea class="form-control" rows="4" cols="0" name="@Html.IdFor(x => x.MaisInformacoes)" id="maisInformacoes">@Model.MaisInformacoes</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <a href="#!" class="btn btn-primary margin-bottom-15px" onclick="AbrirModalAdicionarFornecedor()"><i class="fa fa-id-card"></i> Adicionar fornecedor</a>
        </div>

        <div class="col-sm-12 col-lg-offset-1 col-lg-11" id="tabelaFornecedores"></div>

        <div class="col-md-offset-1 col-md-11">
            <a href="#!" class="btn btn-primary margin-bottom-15px" data-toggle="modal" data-target="#modal-adicionar-arquivo" onclick="AtualizarSelectFornecedores()">
                <i class="fa fa-file"></i>
                Adicionar arquivo
            </a>
        </div>

        <div class="col-md-offset-1 col-md-11" id="listaArquivosContainer">
            <br />
            @Html.Partial("_ListaArquivos", Model ?? new Licitacao { Arquivos = new List<Arquivo>() })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default margin-bottom-15px" href="@Url.Action("Index")">
                    <i class="fa-lg fa fa-times"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-success margin-bottom-15px" id="submit">
                    <i class="fa-lg fa fa-floppy-o"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</form>

@Html.Partial("Partials\\_ModalAdicionarFornecedor")

@Html.Partial("Partials\\_ModalEditarFornecedor")

@Html.Partial("Partials\\_ModalAdicionarItem")

@Html.Partial("Partials\\_ModalEditarItem")

@Html.Partial("Partials\\_ModalAdicionarArquivo", Model)

@Html.Partial("Partials\\_ModalAdicionarArquivoFornecedor")

@Html.Partial("Partials\\_ModalEditarArquivoFornecedor")



@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="~/scripts/AdicionarArquivo.es5.min.js"></script>
    <script>

        var arquivosFornecedores = [];

        var fornecedores = [];

        var fornecedorKeys = [
            'FornecedorId',
            'CNPJ',
            'RazaoSocial',
            'NumeroEmpenho',
            'Valor',
            'LocalExecucao',
            'Vigencia',
            'Cancelado',
            'DataAssinatura',
            'LicitacaoId'
        ];

        var itensLicitacao = [];

        var itemLicitacaoKeys = [
            'ItemLicitacaoId',
            'Item',
            'NumeroEmpenho',
            'Descricao',
            'Quantidade',
            'Unidade',
            'ValorUnitario',
            'LicitacaoId',
            'FornecedorDispensaId',
            'Status'
        ];

        var arquivoKeys = ['Descricao', 'TipoAnexo', 'RazaoSocialFornecedor', 'FornecedorDispensaId'];

        $(document).ready(function () {

            ObterDadosJsonDaModel();

            AtualizarTabelaFornecedores(fornecedores);

            AtualizarSelectFornecedores();
        });

        $('#form').submit(function (e) {
            e.preventDefault();
            ConfirmarEnvioDeDados();
        });

        $('#form-fornecedor').submit(function (e) {
            e.preventDefault();
            AdicionarFornecedor();
        });

        $('#form-editar-fornecedor').submit(function (e) {
            e.preventDefault();
            EditarFornecedor();
        });

        $('#form-item').submit(function (e) {
            e.preventDefault();
            AdicionarItemLicitacao();
        });

        $('#form-editar-item').submit(function (e) {
            e.preventDefault();
            EditarItemLicitacao();
        });

        $('#form-arquivo').submit((event) => {
            event.preventDefault();

            AdicionarArquivo();
        });

        $('#form-arquivo-fornecedor').submit((event) => {
            event.preventDefault();

            AdicionarArquivoFornecedor();
        });

        $('#form-editar-arquivo-fornecedor').submit((event) => {
            event.preventDefault();

            EditarArquivoFornecedor();
        });

        function AtualizarSelectFornecedores() {
            $('#ArquivoTemporario_RazaoSocialFornecedor').children('option:not(:first)').remove();

            fornecedores.forEach(fornecedor => {
                $('#ArquivoTemporario_RazaoSocialFornecedor').append($('<option>', {
                    value: fornecedor.NumeroEmpenho,
                    text: fornecedor.NumeroEmpenho
                }));
            });
        }

        function ExibirOuEsconderSelectfornecedor() {
            let tipoAnexoSelecionado = $("#ArquivoTemporario_TipoAnexo").children("option:selected").val();

            if (tipoAnexoSelecionado == 17) {
                $("#div-select-fornecedor").show();
                $('#ArquivoTemporario_RazaoSocialFornecedor').attr('required', 'req');
            }
            else {
                $("#div-select-fornecedor").hide();
                $("#ArquivoTemporario_RazaoSocialFornecedor").removeAttr('required');
            }
        }

        function AbrirModalAdicionarFornecedor() {
            $('#fornecedorId').val(GerarNewGuid($('#fornecedorId').val()));
            AtualizarTabelaArquivosDoFornecedor($('#fornecedorId').val());
            $('#form-fornecedor')[0].reset();

            $('.lista-arquivos-fornecedor').html(AtualizarTabelaArquivosDoFornecedor($('#fornecedorId').val()));

            $('.btn-abrir-modal-arquivo-fornecedor').show();
            $('#modal-adicionar-fornecedor').modal('show');
        }

        function AbrirModalEditarFornecedor(fornecedorId) {

            let fornecedor = fornecedores.filter(f => {
                return f.FornecedorId == fornecedorId
            });

            $('#editar-fornecedorId').val(fornecedor[0].FornecedorId);
            $('#editar-cnpj').val(fornecedor[0].CNPJ);
            $('#editar-razaoSocial').val(fornecedor[0].RazaoSocial);
            $('#editar-numeroEmpenho').val(fornecedor[0].NumeroEmpenho);
            $('#editar-valor').val(fornecedor[0].Valor);
            $('#editar-localExecucao').val(fornecedor[0].LocalExecucao);
            $('#editar-vigencia').val(fornecedor[0].Vigencia);

            if (fornecedor[0].DataAssinatura != '0001-01-01')
                $('#editar-dataAssinatura').val(fornecedor[0].DataAssinatura);

            if (arquivosFornecedores.filter(af => af.FornecedorDispensaId == fornecedor[0].FornecedorId).length > 0) {
                $('.btn-abrir-modal-arquivo-fornecedor').hide();
            }
            else {
                $('.btn-abrir-modal-arquivo-fornecedor').show();
            }

            if (fornecedor[0].Cancelado == true || fornecedor[0].Cancelado == 'true') {
                $("#editar-cancelado-sim").prop("checked", true);
            }
            else {
                $("#editar-cancelado-nao").prop("checked", true);
            }

            $('#form-fornecedor')[0].reset();

            let tabelaArquivos = AtualizarTabelaArquivosDoFornecedor(fornecedor[0].FornecedorId);
            $('.lista-arquivos-fornecedor').html(tabelaArquivos);
            $('#modal-editar-fornecedor').modal('show');
        }

        function AdicionarFornecedor() {

            let fornecedor = {
                FornecedorId: $('#fornecedorId').val(),
                CNPJ: $('#cnpj').val(),
                RazaoSocial: $('#razaoSocial').val(),
                NumeroEmpenho: $('#numeroEmpenho').val(),
                Valor: $('#valor').val(),
                LocalExecucao: $('#localExecucao').val(),
                Vigencia: $('#vigencia').val(),
                LicitacaoId: '@Model.LicitacaoId',
                Cancelado: false,
                DataAssinatura: $('#dataAssinatura').val() == '' ? '0001-01-01' : $('#dataAssinatura').val()
            }

            fornecedores.push(fornecedor);

            $('#modal-adicionar-fornecedor').modal('hide');

            $('#form-fornecedor')[0].reset();

            AtualizarTabelaFornecedores(fornecedores);

            AtualizarSelectFornecedores();
        }

        function EditarFornecedor() {

            for (var i in fornecedores) {

                if (fornecedores[i].FornecedorId == $('#editar-fornecedorId').val()) {

                    fornecedores[i].CNPJ = $('#editar-cnpj').val();
                    fornecedores[i].RazaoSocial = $('#editar-razaoSocial').val();
                    fornecedores[i].NumeroEmpenho = $('#editar-numeroEmpenho').val();
                    fornecedores[i].Valor = $('#editar-valor').val();
                    fornecedores[i].LocalExecucao = $('#editar-localExecucao').val();
                    fornecedores[i].Vigencia = $('#editar-vigencia').val();
                    fornecedores[i].Cancelado = $('input[name="Cancelado"]:checked').val();
                    fornecedores[i].DataAssinatura = $('#editar-dataAssinatura').val() == '' ? '0001-01-01' : $('#editar-dataAssinatura').val();

                    break;
                }
            }

            $('#modal-editar-fornecedor').modal('hide');

            $('#form-editar-fornecedor')[0].reset();

            AtualizarTabelaFornecedores(fornecedores);

            AtualizarSelectFornecedores();
        }

        function EditarItemLicitacao() {

            for (var i in itensLicitacao) {

                if (itensLicitacao[i].ItemLicitacaoId == $('#editar-itemLicitacaoId').val()) {

                    itensLicitacao[i].NumeroEmpenho = $('#editar-itemLicitacao-numeroEmpenho').val();
                    itensLicitacao[i].Item = $('#editar-itemLicitacao-item').val();
                    itensLicitacao[i].Descricao = $('#editar-itemLicitacao-descricao').val();
                    itensLicitacao[i].Quantidade = $('#editar-itemLicitacao-quantidade').val();
                    itensLicitacao[i].Unidade = $('#editar-itemLicitacao-unidade').val();
                    itensLicitacao[i].ValorUnitario = $('#editar-itemLicitacao-valorUnitario').val();
                    itensLicitacao[i].Status = $('#editar-itemLicitacao-status').val();

                    break;
                }
            }

            $('#modal-editar-item').modal('hide');

            $('#form-editar-item')[0].reset();

            AtualizarTabelaFornecedores(fornecedores);
        }

        function removerFornecedor(id) {

            for (var i = 0; i < fornecedores.length; i++) {
                if (fornecedores[i].FornecedorId == id) {

                    RemoverItensLicitacaoDoFornecedorPorFornecedorDispensaId(fornecedores[i].FornecedorId);

                    fornecedores.splice(i, 1);
                }
            }

            AtualizarTabelaFornecedores(fornecedores);
        }

        function RemoverItemLicitacao(id) {

            for (var i = 0; i < itensLicitacao.length; i++) {
                if (itensLicitacao[i].ItemLicitacaoId == id) {
                    itensLicitacao.splice(i, 1);
                }
            }

            AtualizarTabelaFornecedores(fornecedores);
        }

        function RemoverItensLicitacaoDoFornecedorPorFornecedorDispensaId(fornecedorDispensaId) {

            for (var i = 0; i < itensLicitacao.length; i++) {
                if (itensLicitacao[i].FornecedorDispensaId == fornecedorDispensaId) {
                    console.log('item removido')
                    console.log(itensLicitacao[i]);
                    itensLicitacao.splice(i, 1);

                    RemoverItensLicitacaoDoFornecedorPorFornecedorDispensaId(fornecedorDispensaId)
                }
            }
        }

        function AbrirModalAdicionarItem(fornecedorDispensaId, numeroEmpenho) {
            $('#itemLicitacao-fornecedorDispensaId').val(fornecedorDispensaId);
            $('#itemLicitacao-numeroEmpenho').val(numeroEmpenho);
            $('#modal-adicionar-item').modal('show');
        }

        function AdicionarItemLicitacao() {

            let itemLicitacao = {
                ItemLicitacaoId: GerarNewGuid(),
                Item: $('#itemLicitacao-item').val(),
                Descricao: $('#itemLicitacao-descricao').val(),
                Quantidade: $('#itemLicitacao-quantidade').val(),
                Unidade: $('#itemLicitacao-unidade').val(),
                ValorUnitario: $('#itemLicitacao-valorUnitario').val(),
                NumeroEmpenho: $('#itemLicitacao-numeroEmpenho').val(),
                LicitacaoId: '@Model.LicitacaoId',
                FornecedorDispensaId: $('#itemLicitacao-fornecedorDispensaId').val(),
                Status: $('#itemLicitacao-status').val()
            }

            itensLicitacao.push(itemLicitacao);

            $('#modal-adicionar-item').modal('hide');

            $('#form-item')[0].reset();

            AtualizarTabelaFornecedores(fornecedores);
        }

        function AbrirModalEditarItemLicitacao(itemLicitacaoId) {

            let itemLicitacao = itensLicitacao.filter(il => {
                return il.ItemLicitacaoId == itemLicitacaoId
            });


            $('#editar-itemLicitacaoId').val(itemLicitacao[0].ItemLicitacaoId);
            $('#editar-itemLicitacao-fornecedorDispensaId').val(itemLicitacao[0].FornecedorDispensaId);
            $('#editar-itemLicitacao-numeroEmpenho').val(itemLicitacao[0].NumeroEmpenho);
            $('#editar-itemLicitacao-item').val(itemLicitacao[0].Item);
            $('#editar-itemLicitacao-descricao').val(itemLicitacao[0].Descricao);
            $('#editar-itemLicitacao-quantidade').val(itemLicitacao[0].Quantidade);
            $('#editar-itemLicitacao-unidade').val(itemLicitacao[0].Unidade);
            $('#editar-itemLicitacao-valorUnitario').val(itemLicitacao[0].ValorUnitario);
            $('#editar-itemLicitacao-status').val(itemLicitacao[0].Status);

            $('#form-item')[0].reset();

            $('#modal-editar-item').modal('show');
        }

        function AdicionarArquivo() {

            let tipoAnexo = document.querySelector('#ArquivoTemporario_TipoAnexo').value;

            let fornecedoresPorNumeroEmpenho = fornecedores.filter(f => f.NumeroEmpenho == document.querySelector('#ArquivoTemporario_RazaoSocialFornecedor').value)

            let arquivo = {
                Descricao: document.querySelector('#Descricao').value,
                FornecedorDispensaId: fornecedoresPorNumeroEmpenho.length > 0 ? fornecedoresPorNumeroEmpenho[0].FornecedorId : null,
                TipoAnexo: tipoAnexo,
                RazaoSocialFornecedor: tipoAnexo == 17 ? document.querySelector('#ArquivoTemporario_RazaoSocialFornecedor').value : null
            };

            var data = new FormData(document.querySelector('#form'));

            arquivoKeys.forEach(function (key) {
                data.append('ArquivoTemporario.' + key, arquivo[key]);
            });

            data.append('Arquivo', $('#Arquivo')[0].files[0]);

            $.ajax({
                type: "POST",
                url: 'AdicionarArquivo',
                enctype: 'multipart/form-data',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#modal-adicionar-arquivo').modal('hide');

                    $('#form-arquivo')[0].reset();

                    $('#listaArquivosContainer').html(response);
                },
                error: function () {
                    $('#modal-adicionar-arquivo').modal('hide');

                    alert("Erro, Adicionar Arquivo");
                }
            });
        }

        function AdicionarArquivoFornecedor() {

            let arquivo = {
                Descricao: document.querySelector('#Descricao').value,
                TipoAnexo: document.querySelector('#ArquivoTemporario_TipoAnexo').value,
                Temporario: true
            };

            var data = new FormData(document.querySelector('#form'));

            arquivoKeys.forEach(function (key) {
                data.append('ArquivoTemporario.' + key, arquivo[key]);
            });

            data.append('Arquivo', $('#Arquivo')[0].files[0]);

            $.ajax({
                type: "POST",
                url: 'AdicionarArquivoFornecedor',
                enctype: 'multipart/form-data',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#modal-adicionar-arquivo').modal('hide');

                    $('#form-arquivo')[0].reset();

                    $('#listaArquivosContainer').html(response);
                },
                error: function () {
                    $('#modal-adicionar-arquivo').modal('hide');

                    alert("Erro, Houve um problema ao adicionar documento do Fornecedor");
                }
            });
        }

        function EditarArquivoFornecedor() {

            let arquivo = {
                Descricao: document.querySelector('#editar-descricao-arquivo-fornecedor').value,
                Temporario: true
            };

            var data = new FormData(document.querySelector('#form-editar-fornecedor'));

            arquivoKeys.forEach(function (key) {
                data.append('ArquivoTemporario.' + key, arquivo[key]);
            });

            data.append('Arquivo', $('#editar-arquivo-fornecedor')[0].files[0]);

            $.ajax({
                type: "POST",
                url: 'AdicionarArquivoFornecedor',
                enctype: 'multipart/form-data',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Sucesso == true) {
                        $('#modal-editar-arquivo-fornecedor').modal('hide');

                        $('#form-editar-arquivo-fornecedor')[0].reset();

                        $('.btn-abrir-modal-arquivo-fornecedor').hide();

                        arquivosFornecedores.push(response.Dados);

                        $('#form-editar-arquivo-fornecedor')[0].reset();

                        let tableArquivosFornecedor = AtualizarTabelaArquivosDoFornecedor($('#editar-fornecedorId').val());

                        $('.lista-arquivos-fornecedor').html(tableArquivosFornecedor);
                    }
                    else {
                        $('#mensagem-editar-arquivo-fornecedor').html(`<p>${response.Mensagem}</p>`);
                    }
                },
                error: function () {
                    $('#modal-editar-arquivo-fornecedor').modal('hide');
                    $('#form-editar-arquivo-fornecedor')[0].reset();
                    alert("Erro, Ao adicionar Documento do Fornecedor");
                }
            });
        }

        function AdicionarArquivoFornecedor() {

            var data = new FormData(document.querySelector('#form-fornecedor'));

            //

            let arquivo = {
                FornecedorDispensaId: document.querySelector('#fornecedorId').value,
                Descricao: document.querySelector('#descricao-arquivo-fornecedor').value,
            };

            arquivoKeys.forEach(function (key) {
                data.append('ArquivoTemporario.' + key, arquivo[key]);
            });

            data.append('Arquivo', $('#arquivo-fornecedor')[0].files[0]);

            //

            $.ajax({
                type: "POST",
                url: 'AdicionarArquivoFornecedor',
                enctype: 'multipart/form-data',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Sucesso == true) {

                        $('#modal-adicionar-arquivo-fornecedor').modal('hide');

                        $('#form-arquivo-fornecedor')[0].reset();

                        $('.btn-abrir-modal-arquivo-fornecedor').hide();

                        arquivosFornecedores.push(response.Dados);

                        $('#form-arquivo-fornecedor')[0].reset();

                        let tableArquivosFornecedor = AtualizarTabelaArquivosDoFornecedor($('#fornecedorId').val());

                        $('.lista-arquivos-fornecedor').html(tableArquivosFornecedor);
                    }
                    else {
                        $('#mensagem-arquivo-fornecedor').html(`<p>${response.Mensagem}</p>`);
                    }
                },
                error: function () {
                    $('#modal-adicionar-arquivo-fornecedor').modal('hide');
                    $('#form-arquivo-fornecedor')[0].reset();
                    alert("Erro, Ao adicionar Documento Fornecedor");
                }
            });
        }

        function RemoverArquivoFornecedorDispensa(arquivoId) {

            $.ajax({
                url: 'RemoverArquivoFornecedorDispensa',
                type: 'POST',
                data: jQuery.param({ arquivoId: arquivoId }),
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (response) {
                    if (response.Sucesso == true) {

                        for (var i = 0; i < arquivosFornecedores.length; i++) {
                            if (arquivosFornecedores[i].ArquivoId == arquivoId) {

                                let fornecedorDispensaId = arquivosFornecedores[i].FornecedorDispensaId;

                                arquivosFornecedores.splice(i, 1);

                                 AtualizarTabelaArquivosDoFornecedor(fornecedorDispensaId);

                                let tableArquivosFornecedor = AtualizarTabelaArquivosDoFornecedor(fornecedorDispensaId);

                                AtualizarTabelaFornecedores(fornecedores);

                                $('.lista-arquivos-fornecedor').html(tableArquivosFornecedor);

                                $('.btn-abrir-modal-arquivo-fornecedor').show();
                            }
                        }
                    }
                    else {
                        $('#mensagem-arquivo-fornecedor').html(`<p>${response.Mensagem}</p>`);
                    }
                },
                error: function () {
                    alert("Erro, Ao Remover Documento Fornecedor");
                }
            });
        }

        function ConfirmarEnvioDeDados() {

            if (fornecedores.length < 1)
                alert('Adicione pelo menos 01(um) fornecedor antes de salvar')
            else{
                var formData = $('#form').serializeArray();

                var newForm = new FormData();

                formData.forEach(function (item) {
                    newForm.append(item.name, item.value);
                })

                for (var i = 0; i < fornecedores.length; i++) {
                    fornecedorKeys.forEach((key) => {
                        newForm.append('Fornecedores[' + i + '].' + key, fornecedores[i][key]);
                    });

                    //let arquivo = arquivosFornecedores.filter(af => af.FornecedorDispensaId == fornecedores[i].FornecedorDispensaId)[0];

                    //newForm.append('Fornecedores[' + i + '].ArquivoTemporario', arquivo);
                }

                for (var i = 0; i < itensLicitacao.length; i++) {
                    itemLicitacaoKeys.forEach((key) => {
                        newForm.append('ItensLicitacao[' + i + '].' + key, itensLicitacao[i][key]);
                    });
                }

                $('#submit').attr('disabled', true).html('salvando...');

                $.ajax({
                    type: "POST",
                    url: 'AdicionarEditarDispensaLicitacao',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ dados: Object.fromEntries(newForm) }),
                    success: function (response) {

                        if (response.Sucesso == true) {
                            window.location.replace('@Url.Action("ComprasEmergenciais", new { exibirAlerta = true })');
                        }
                        else {
                            $('#submit').attr('disabled', false).html('salvar');
                            alert(response.Mensagem);
                        }
                    },
                    error: function () {
                        $('#submit').attr('disabled', false).html('salvar');
                        alert("Erro, Ao adicionar Licitação");
                    }
                });
            }
        }

        function ConvertDateFromModel(dataAssinatura) {

            if (dataAssinatura == null) {
                return '0001-01-01';
            }

            var date = new Date();

            date.setTime(parseInt(dataAssinatura.substring(6, 19)));

            return date.toISOString().split('T')[0];
        }

        function ObterDadosJsonDaModel(){

            var fornecedoresFromModel = JSON.parse('@(Html.Raw(Json.Encode(Model.Fornecedores.OrderBy(f => f.RazaoSocial))))');

            if (fornecedoresFromModel.length > 0) {

                for (var i in fornecedoresFromModel) {

                    fornecedoresFromModel[i].Valor = fornecedoresFromModel[i].Valor.toLocaleString('pt-br', { minimumFractionDigits: 2 });
                    fornecedoresFromModel[i].DataAssinatura = ConvertDateFromModel(fornecedoresFromModel[i].DataAssinatura);
                }

                fornecedores = fornecedoresFromModel;
            }

            var itensLicitacaoFromModel = JSON.parse('@(Html.Raw(Json.Encode(Model.ItensLicitacao.OrderBy(il => il.Item))))');

            if (itensLicitacaoFromModel.length > 0) {

                for (var i in itensLicitacaoFromModel) {
                    itensLicitacaoFromModel[i].ValorUnitario = itensLicitacaoFromModel[i].ValorUnitario.toLocaleString('pt-br', { minimumFractionDigits: 2 });
                }

                itensLicitacao = itensLicitacaoFromModel;
            }
        }

        function AtualizarTabelaFornecedores(listFornecedores) {


            if (listFornecedores.length < 1) {
                $('#tabelaFornecedores').html('<div class="alert alert-info">Nenhum fornecedor adicionado</div>')

                return
            }

            var table = '<div><h4>Fornecedores</h4></div>' +
                listFornecedores.map(f =>
                    `<div class="panel panel-primary">
                            <div class="panel-body">
                            <div class="table-responsive">
                            <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <th>CNPJ</th>
                                    <th>Razão social</th>
                                    <th>Local de execução</th>
                                    <th>Vigência</th>
                                    <th>Número de empenho</th>
                                    <th>Cancelado?</th>
                                    <th>Data assinatura/emissão</th>
                                    <th class="text-right">Valor</th>
                                    <th width="1" class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${f.CNPJ}</td>
                                    <td>${f.RazaoSocial}</td>
                                    <td>${f.LocalExecucao == null || f.LocalExecucao == '' ? '---' : f.LocalExecucao}</td>
                                    <td>${f.Vigencia == null || f.Vigencia == '' ? '---' : f.Vigencia}</td>
                                    <td>${f.NumeroEmpenho == null || f.NumeroEmpenho == '' ? '---' : f.NumeroEmpenho}</td>
                                    <td>${f.Cancelado == true || f.Cancelado == 'true' ? 'sim' : 'não'}</td>
                                    <td>${ ExibirDataAssinatura(f.DataAssinatura) }</td>
                                    <td class="text-right">${f.Valor.toLocaleString('pt-br', { minimumFractionDigits: 2 })}</td>
                                    <td width="1" class="text-center">
                                        <button type="button" class="btn btn-warning" onclick="AbrirModalEditarFornecedor('${f.FornecedorId}')" style="margin-bottom:8px" title="Editar"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" onclick="removerFornecedor('${f.FornecedorId}')" style="margin-bottom:8px" title="Excluir"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                            <div style="margin:15px 0px;">
                                <button type="button" class="btn btn-primary" onclick="AbrirModalAdicionarItem('${f.FornecedorId}', '${f.NumeroEmpenho}')" style="margin-bottom:8px"><i class="fa fa-shopping-cart"></i>Adicionar item</button>
                            </div>
                            ${AtualizarTabelaItensLicitacao(f.FornecedorId)}
                            </div></div>`).join('');

            $('#tabelaFornecedores').html("");
            $('#tabelaFornecedores').html(table);
        }

        function ExibirDataAssinatura(dataAssinatura) {

            if (dataAssinatura == '0001-01-01') {
                return '---';
            }

            return dataAssinatura.substring(8,10) + '/' + dataAssinatura.substring(5,7) + '/' + dataAssinatura.substring(0,4)
        }

        function GetDescricaoStatus(status) {
            switch (status) {
                case "1":
                case 1:
                    return "Entregue";
                case "2":
                case 2:
                    return "Em dia";
                case "3":
                case 3:
                    return "Entrega parcial";
                case "4":
                case 4:
                    return "Atraso notificado";
                case "5":
                case 5:
                    return "Em atraso";
                default:
                    return status;
            }
        }

        function AtualizarTabelaItensLicitacao(fornecedorDispensaId) {

            let cabecario = '<div><h4>Itens</h4></div>';

            let itensPorFornecedorDispensaId = itensLicitacao.filter(item => item.FornecedorDispensaId == fornecedorDispensaId);

            if (itensPorFornecedorDispensaId.length < 1) {
                return cabecario + '<div class="text-center"><p>Nenhum item encontrado</p></div>';
            }

            return cabecario +
            `<div class="table-responsive">
                 <table class="table table-hover table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th><b>Item</b></th>
                            <th><b>Descricao</b></th>
                            <th><b>Quantidade</b></th>
                            <th><b>Unidade</b></th>
                            <th><b>Valor unitário</b></th>
                            <th><b>Status</b></th>
                            <th><b>Ações</b></th>
                        <tr>
                    </thead>
                    <tbody>
                ${itensPorFornecedorDispensaId.map(i =>
                `<tr>
                            <td>${i.Item}</td>
                            <td>${i.Descricao}</td>
                            <td>${i.Quantidade}</td>
                            <td>${i.Unidade}</td>
                            <td class="text-right">${i.ValorUnitario.toLocaleString('pt-br', { minimumFractionDigits: 2 })}</td>
                            <td>${GetDescricaoStatus(i.Status)}</td>
                            <td width="110px">
                                <button type="button" class="btn btn-warning" onclick="AbrirModalEditarItemLicitacao('${i.ItemLicitacaoId}')" style="margin-bottom:8px" title="Editar"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" onclick="RemoverItemLicitacao('${i.ItemLicitacaoId}')" style="margin-bottom:8px" title="Excluir"><i class="fa fa-trash"></i></button>
                            </td>
                 </tr>`)
                    .join('')}` +
                '</tbody></table></div>';
        }

        function AtualizarTabelaArquivosDoFornecedor(fornecedorDispensaId) {
            let arquivosPorFornecedor = arquivosFornecedores.filter(apf => apf.FornecedorDispensaId == fornecedorDispensaId);

            let cabecario = '<div><h4>Anexo</h4></div>';

            if (arquivosPorFornecedor.length < 1) {
                return cabecario + '<div class="text-center"><p>Nenhum arquivo encontrado</p></div>';
            }

            var tabela =
                `<div class="table-responsive">
                 <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th><b>Descrição</b></th>
                            <th><b>Tipo de anexo</b></th>
                            <th width="1"><b>Ações</b></th>
                        <tr>
                    </thead>
                    <tbody>
                ${arquivosPorFornecedor.map(a =>
                    `<tr>
                            <td>${a.Descricao}</td>
                            <td>Instrumento Contratual</td>
                            <td>
                                <button type="button" class="btn btn-danger pull-right" onclick="RemoverArquivoFornecedorDispensa('${a.ArquivoId}')" style="margin-bottom:8px"><i class="fa fa-trash"></i>Excluir</button>
                            </td>
                 </tr>`).join('')}` +
                '</tbody></table></div>';

            return cabecario + tabela;
        }

        function GerarNewGuid() {

            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }

            return (S4() + S4() + "-" + S4() + "-4" + S4().substr(0, 3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
        }
    </script>

    <script>
        var lotacao = "@Request["ug"]";

        $(function () {
            $('#datetimepicker10').datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'pt-BR'
            });
        });

        CarregarLotacoes();

        function CarregarLotacoes(){
            var options = [];
            var selecionado = "";
            options = '<option value="">Selecione...</option>';
            $.get("@Url.Action("Lotacoes", "Licitacao")",
                function (lotacoes) {
                    for (var i = 0; i < lotacoes.length; i++) {
                        selecionado = lotacao == lotacoes[i].Id ? "selected" : "";
                        options += '<option value="' + lotacoes[i].Id + '" ' + selecionado + '>' + lotacoes[i].Descricao + '</option>';
                    }
                    $("#ug").html(options);
                });
        }
    </script>
}