﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacao
@{
    ViewBag.Title = "Adicionar Licitação";
    var unidadesGestoras = ViewBag.UnidadesGestoras;
    var dataPublicacao = Model.DataDaPublicacao;
}
@section Head {
    <link href="~/Content/bootstrap-datetimepicker-build.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
}
<label>
    Campos obrigatórios <i class="text-danger">*</i>
</label>
@using (Html.BeginForm("AdicionarEditar", "Licitacao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.LicitacaoId)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="numeroLicitacao">
                Nº Licitação<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="number" name="@Html.IdFor(x => x.NumeroLicitacao)" id="numeroLicitacao" value="@Model.NumeroLicitacao" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Ano<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="number" name="@Html.IdFor(x => x.Ano)" id="ano" value="@Model.Ano" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Modalidade<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                @Html.EnumDropDownListFor(x => x.ModalidadeLicitacao, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        @Html.FormGroupDropDownFor(m => m.UnidadeGestoraId, new SelectList(unidadesGestoras, "Key", "Value"), "Unidade gestora <i class=text-danger>*</i>")
        <div class="form-group">
            <label class="control-label col-md-2">
                Nº Processo<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.NumeroProcessoAdministrativo)" id="numeroProcessoAdministrativo" value="@Model.NumeroProcessoAdministrativo" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Fonte de Recurso
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.FonteDeRecurso)" id="fonteDeRecurso" value="@Model.FonteDeRecurso" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Projeto/Atividade
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.ProjetoAtividade)" id="projetoAtividade" value="@Model.ProjetoAtividade" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Elemento Despesa
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.ElementoDespesa)" id="elementoDespesa" value="@Model.ElementoDespesa" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Valor Estimado (R$)<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control CampoDinheiro" type="text" name="@Html.IdFor(x => x.ValorEstimado)" id="valorEstimado" value="@Model.ValorEstimado" />
            </div>
        </div>
        <div class="form-group input-daterange">
            <label class="control-label col-md-2">
                Data/Hora da Abertura <i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <div class='input-group date' id='datetimepicker10'>
                    <input type='text' class="form-control" id="dataHoraAbertura" name="@Html.IdFor(x => x.DataHoraAbertura)" value="@Model.DataHoraAbertura" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Fuso Horário<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                @Html.EnumDropDownListFor(x => x.EFusoHorario, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Endereço Eletrônico
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.EnderecoEletronico)" id="enderecoEletronico" value="@Model.EnderecoEletronico" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Pregoeiro<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.Pregoeiro)" id="pregoeiro" value="@Model.Pregoeiro" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Empresa Contratada<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control" type="text" name="@Html.IdFor(x => x.Empresa)" id="empresa" value="@Model.Empresa" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Cnpj<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <input class="form-control CampoCNPJCPF" type="text" name="@Html.IdFor(x => x.Cnpj)" id="cnpj" value="@Model.Cnpj" placeholder="00.000.000/0001-00" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Local<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <textarea class="form-control" rows="2" cols="0" name="@Html.IdFor(x => x.Local)" id="Local">@Model.Local</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Objeto<i class="text-danger">*</i>
            </label>
            <div class="col-md-6 col-sm-12">
                <textarea class="form-control" cols="0" rows="4" name="@Html.IdFor(x => x.Objeto)" id="objeto" value="">@Model.Objeto</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Mais Informações
            </label>
            <div class="col-md-6 col-sm-12">
                <textarea class="form-control" rows="4" cols="0" name="@Html.IdFor(x => x.MaisInformacoes)" id="maisInformacoes">@Model.MaisInformacoes</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#!" class="btn btn-default" onclick="$('#files').click()"><i class="fa fa-file"></i> Adicionar arquivos</a>
        </div>
        <div class="col-md-offset-2 col-md-10" id="listaArquivosContainer">
            <br />
            @Html.Partial("_ListaArquivos", Model ?? new Licitacao { Arquivos = new List<Arquivo>() })
        </div>

        <div id="inputArquivosWrapper" style="display: none">
            <input type="file" class="multiple" name="files" id="files" multiple />
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default margin-bottom-15px" href="@Url.Action("Index")">
                    <i class="fa-lg fa fa-times"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-primary margin-bottom-15px">
                    <i class="fa-lg fa fa-floppy-o"></i> Salvar
                </button>
            </div>
        </div>
    </div>
}

@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="~/scripts/AdicionarArquivo.es5.min.js"></script>

    <script>
        var modalidadeSelect = document.getElementById("ModalidadeLicitacao");

        for (var i = 0; i < modalidadeSelect.length; i++) {
            if (modalidadeSelect.options[i].value == '13')
                modalidadeSelect.remove(i);
        }

        var lotacao = "@Request["ug"]";

        $(function () {
            $('#datetimepicker10').datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'pt-BR'
            });
        });



        CarregarLotacoes();
        function CarregarLotacoes(){
            var options = [];
            var selecionado = "";
            options = '<option value="">Selecione...</option>';
            $.get("@Url.Action("Lotacoes", "Licitacao")",
                function (lotacoes) {
                    for (var i = 0; i < lotacoes.length; i++) {
                        selecionado = lotacao == lotacoes[i].Id ? "selected" : "";
                        options += '<option value="' + lotacoes[i].Id + '" ' + selecionado + '>' + lotacoes[i].Descricao + '</option>';
                    }
                    $("#ug").html(options);
                });
        }
    </script>
}
