﻿@using System.Web.UI.WebControls
@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Enum
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacao

@{
    ViewBag.Title = "Compras emergenciais";
}

@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>

    <style>
        .margem-acima {
            margin-top: 15px;
        }
    </style>
}

<div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    &nbsp;O <strong>Governo do Estado de Rondônia</strong>, através do art. 5° da Portaria n. 63/20/CGE-GAB,
    disponibiliza campo especial em nosso Portal de Transparência acerca das informações
    das contratações diretas sem licitação, quando estas ocorrerem,  em razão da emergência
    e/ou calamidade pública motivadas pelo novo <strong>coronavírus</strong> (COVID-19).
    Trata-se de informar e prestar contas ao cidadão e convida-lo para ser nosso Fiscal.
    <br />
    <br />
    Clique aqui para baixar o <strong><a href="~/Arq/GUIA DE COMPRAS DIRETAS - PORT 21.pdf" target="_blank">Guia orientativo das compras diretas - COVID-19</a></strong>.
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row bottomMargin">
            <div class="col-md-12">
                <a class="btn btn-primary" id="adicionarLicitacao" href="@Url.Action("AdicionarEditarDispensaLicitacao", "Licitacao")" style="margin-left: 7px;">
                    <i class="fa fa-file-text"></i> Adicionar dispensa de licitação
                </a>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ResultadoFiltroDispensaLicitacao", "Licitacao", FormMethod.Post, new { id = "form-filtro" }))
{    
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-md-6 col-sm-12 margem-acima">
                    <label>Modalidade</label>
                    @Html.EnumDropDownListFor(x => x.ModalidadeLicitacao, "Todas as modalidades...", htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-md-6 col-sm-12 margem-acima">
                    <label for="ug">Unidade Administrativa</label>

                    <select class="form-control" name="ug" id="ug"></select>
                </div>

                <div class="col-md-6 col-sm-12 margem-acima">
                    <label for="numeroProcesso">Nº Processo SEI</label>

                    <input class="form-control" id="numeroProcesso" name="numeroProcesso" type="text" placeholder="0000.000000/0000-00" />
                </div>

                <div class="col-md-6 col-sm-12 margem-acima">
                    <label for="dataInicial">Período</label>

                    <div class="input-group input-daterange">
                        <input type="text" class="form-control" id="dataInicial" name="dataInicial" value="" required="required">

                        <div class="input-group-addon">à</div>

                        <input type="text" class="form-control" id="dataFinal" name="dataFinal" value="" required="required">
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                <button type="submit" id="btnConsultar" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>
            </div>
        </div>   
}

<div id="tabelaDadosContainer"></div>

@section AposFooter
{
    <script id="templateDados" type="text/html">
        <div class="row">
            <div class="col-md-12">
                <table id="tabelaDados" class="table-condensed tableLicitacao table-responsive" width="100%">
                    <thead>
                        <tr>
                            <th>Licitação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dados}}
                        <tr>
                            <td style="font-size: 8pt; font-weight: bold; padding-bottom: 0;">{{DataLicitacao}}</td>
                        </tr>
                        <tr>
                            <td style="padding-top: 0; font-size: 12pt">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a style="font-weight: bold" href="{{LinkParaEdicao}}"><i class="fa fa-suitcase" aria-hidden="true"></i> {{LicitacaoDocumento}}</a>
                                }
                                else
                                {
                                    <a style="font-weight: bold" href="{{LinkParaVisualizacao}}"><i class="fa fa-suitcase" aria-hidden="true"></i> {{LicitacaoDocumento}}</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #C0C0C0">
                                <b>OBJETO:</b>&nbsp;&nbsp;{{Objeto}}.
                            </td>
                        </tr>
                        {{/dados}}

                        {{^dados}}
                        <tr>
                            <td style="border-bottom: 1px solid #C0C0C0; border-top: 1px solid #C0C0C0" colspan="4" class="text-center">Nenhum registro encontrado</td>
                        </tr>
                        {{/dados}}
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script>

        $(document).ready(function () {

            processarTabela('@DateTime.Now.AddMonths(-6).Date', '@DateTime.Now.Date');

            $('#form-filtro').submit(function(e){

                e.preventDefault();

                processarTabela();
            });

        });

        var lotacao = "@Request["ug"]";
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true
        });

        CarregarLotacoes();

        function CarregarLotacoes() {
            var options = [];
            var selecionado = "";
            options = '<option value="">Todas as unidades gestoras...</option>';
            $.get("@Url.Action("LotacoesParaTelaDeDispensaLicitacoes", "Licitacao")",
                function(lotacoes) {
                    for (var i = 0; i < lotacoes.length; i++) {
                        selecionado = lotacao == lotacoes[i].Id ? "selected" : "";
                        options += '<option value="' +
                            lotacoes[i].Id +
                            '" ' +
                            selecionado +
                            '>' +
                            lotacoes[i].Descricao +
                            '</option>';
                    }
                    $("#ug").html(options);
                    $("#ug").chosen({ width: '100%' });
                });
        }

        function processarTabela(dataInicio, dataFim) {

            var pDataInicial = dataInicio ?? $('#dataInicial').val();
            var pDataFinal = dataFim ?? $('#dataFinal').val();
            var pNumeroProcesso = $('#numeroProcesso').val();
            var pUg = $('#ug').val();
            var pModalidade = $('#ModalidadeLicitacao').val();

            $("#tabelaDadosContainer").html('<div class="text-center"><label name="spin" class="hidden"><i class="fa fa-cog fa-spin fa-fw"></i> Carregando...</label></div>');
            var elementoPai = $("#tabelaDadosContainer").parent();
            var spin = elementoPai.find('[name="spin"]');
            spin.removeClass("hidden");

            $.get('@Url.Action("ResultadoFiltroDispensaLicitacao", "Licitacao")',
                {
                    dataInicial: pDataInicial,
                    dataFinal: pDataFinal,
                    ug: pUg,
                    modalidadeLicitacao: pModalidade,
                    numeroProcesso: pNumeroProcesso
                }).done(function(dados) {
                    var htmlRenderizado = Mustache.render($('#templateDados').html(), { "dados": dados });

                    spin.addClass("hidden");

                    $('#tabelaDadosContainer').html(htmlRenderizado);

            });
        }
    </script>
}


