﻿@using TransparenciaRO.Web.HTMLHelper

@{
    ViewBag.Title = "Compras e licitações";
}

@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

<div class="alert alert-warning" role="alert"><span class="sr-only">Informação:</span><strong>Informação </strong> Todos os pregões eletrônicos realizados no âmbito do Poder Executivo são realizados pelo site <a href="https://www.comprasgovernamentais.gov.br/" target="_blank">www.comprasgovernamentais.gov.br</a>. Para consultar as Atas dos Certames basta clicar: <a href="http://comprasnet.gov.br/acesso.asp?url=/livre/pregao/ata0.asp" target="_blank">ComprasNet</a> e preencher os campos cód. UASG: 925373 e Número Pregão no formato [número e ano], p.ex.: 1882019</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-3 col-sm-12">
            <label for="numeroLicitacao">Nº Licitação</label>
            <input class="form-control" id="numeroLicitacao" type="number" />
        </div>

        <div class="col-md-3 col-sm-12">
            <label for="numeroProcesso">Processo</label>
            <input class="form-control" id="numeroProcesso" type="text" />
        </div>

        <div class="col-md-4 col-sm-12">
            <label for="modalidade">Modalidade</label>
            <select name="modalidade" id="modalidade" class="form-control">
                <option value="">Selecione...</option>
                @foreach (var modalidade in ViewBag.Modalidades)
                {
                    <option value="@modalidade">@modalidade</option>
                }
            </select>
        </div>

        <div class="col-md-2 col-sm-12">
            <label for="ano">Ano</label>
            <input type="number" class="form-control" id="ano" name="ano" value="">
        </div>
    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-primary" onclick="exibirDados();">
            <i class="fa fa-search"></i> Consultar
        </button>
    </div>
</div>

<div class="alert alert-warning" role="alert"><span class="sr-only"></span><strong>Observação</strong> Para informações complementares das demais modalidades de licitação (pregão presencial, convite, concorrecia entre outras) acesse  <a href="http://www.rondonia.ro.gov.br/supel/licitacoes/" target="_blank"> http://www.rondonia.ro.gov.br/supel/licitacoes/ </a>  informe  no campo de Busca o numero da licitação no formato (numero/ano) p.ex.: 128/2018</div>

<div class="row">
    <div class="container-fluid" id="tabelaDadosContainer">
    </div>
</div>

@section AposFooter{
    <script>
        $(document).ready(function () {
            exibirDados();
        });

        function exibirDados() {

            $('#tabelaDadosContainer').html('<i class="fa fa-cog fa-spin"></i> Carregando dados...');
            $.post('@Url.Action("ObterLicitacoesPorFiltro")', {
                ano: $('#ano').val(),
                modalidade: $('#modalidade').val(),
                numeroLicitacao: $('#numeroLicitacao').val(),
                numeroProcesso: $('#numeroProcesso').val()
            })
                .done(function (data) {
                    if (data.msgErro != null) {
                        $('#tabelaDadosContainer').html('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span>' + data.msgErro + '</div>');
                    }
                    else {
                        $('#tabelaDadosContainer').html(Mustache.render($('#templateDados').html(), data));
                        $('#tabelaDadosContainer > #tabelaDados').dataTablePadrao({ "colunasFixas": 1 });
                        if (data.msgInfo != null) {
                            $('#tabelaDadosContainer').prepend('<div class="alert alert-info" role="alert"><span class="sr-only">Informação:</span><strong>Informação </strong>' + data.msgInfo + '</div>');
                        }
                    }
                })
                .fail(function () {
                    $('#tabelaDadosContainer').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Erro:</span><strong>Erro: </strong>Ocorreu um erro ao efetuar a pesquisa. Caso o problema persista, entre em contato com a CGE através do e-mail <a href="mailto:contato@cge.ro.gov.br">contato@cge.ro.gov.br</a>.</div>');
                });
        }
    </script>
    <script id="templateDados" type="text/html">
        <table class="table table-striped" id="tabelaDados" width="100%" data-order='[[0, "desc"]]'>
            <thead>
                <tr>
                    <th>Nº Licitação</th>
                    <th>Processo</th>
                    <th>Modalidade</th>
                    <th>Unidade gestora</th>
                    <th>Objeto</th>
                    <th>Situação</th>
                    <th>Anexos</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>{{Pregao}}</td>
                    <td>{{Processo}}</td>
                    <td>{{Modalidade}}</td>
                    <td>{{Unidade_Gestora}}</td>
                    <td>{{Objeto}}</td>
                    <td>{{Situacao}}</td>
                    <td>
                        {{#CaminhoArquivo}}
                        <a href="/Licitacoes/{{Arquivo}}" target="_blank">{{DescricaoArquivo}}</a>
                        {{/CaminhoArquivo}}
                    </td>
                    <td class="text-center"><a href="/Licitacao/Resultado?numeroLicitacao={{Pregao}}"><i class="fa fa-search" title="Visualizar resultado"></i></a></td>
                </tr>
                {{/dados}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Pregao</th>
                    <th>Processo</th>
                    <th>Modalidade</th>
                    <th>Unidade gestora</th>
                    <th>Objeto</th>
                    <th>Situação</th>
                    <th>Anexos</th>
                </tr>
            </tfoot>
        </table>
    </script>
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
}