﻿@using TransparenciaRO.Web.HTMLHelper
@model  TransparenciaRO.Infra.Model.View.LicitacoesAPISUPEL.IndexLicitacaoAPISUPELViewModel

@{
    ViewBag.Title = "Licitações";
}

@section Head {
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
}

<html>
<head>
    <title>@ViewBag</title>
</head>

<body>
    @Html.Partial("Partials\\_Filtro", Model.Filtro)

    <div id="tabela">
        @Html.Partial("Partials\\_Tabela", Model.LicitacaoAPISUPELViewModel)
    </div>

    <script type="text/javascript">
        $(function Filtrar() {
            $("#formFiltroLicitacoes").submit(function (e) {
                e.preventDefault();

                let form = new FormData(this);

                $('#tabela').html('<div class="row" style="margin-bottom:30px"><div class="col-xs-12 text-center"><i class="fa fa-cog fa-spin fa-fw"></i> Consultando... </div></div>');

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FiltrarLicitacoesAtuais")",
                    data: form,
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#tabela').html(response);
                    },
                    error: function (data) {
                        $('#tabela').html('<div class="alert alert-info text-center"><i class= "fa fa-info-circle" ></i > Nenhum resultado encontrado.</div >');
                    }
                });
            });
        });
    </script>
</body>
</html>