﻿@model IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacaoo>
@using System.Globalization

@{
    ViewBag.Title = "Resultado licitação";
}

<div class="alert alert-warning" role="alert">
    <span class="sr-only">Informação:</span><strong>Informação </strong> Todos os pregões eletrônicos realizados no âmbito do Poder Executivo são realizados pelo site <a href="https://www.comprasgovernamentais.gov.br/" target="_blank">www.comprasgovernamentais.gov.br</a>. Para mais informações referentes aos pregões eletrônicos realizados no âmbito do Poder Executivo
    como Edital, Atas e Resultados, dos Certames basta clicar: <a href="http://comprasnet.gov.br/acesso.asp?url=/livre/pregao/ata0.asp" target="_blank">ComprasNet</a> e preencher os campos cód. UASG: 925373
    e Número Pregão no formato [número e ano], p.ex.: 1882019
</div>

@if (Model.Count() > 0)
{

    <div class="col-md-12"><h4>Pregão nº: @Model.FirstOrDefault().Pregao </h4></div>

    <div class="col-md-8">
        @foreach (var licitacao in Model.GroupBy(x => x.CNPJ).SelectMany(grouping => grouping.OrderBy(item => item.Pregao).Take(1)))
        {
            <table class="table table-bordered text-center" width="80%">
                <thead>
                    <tr class="" style="background-color:lightgray">
                        <th colspan="9">EMPRESA: @licitacao.Empresa_Vencedora - CNPJ: @licitacao.CNPJ</th>
                    </tr>
                    <tr>
                        <th class="text-center">Item</th>
                        <th class="text-center">Valor Adjudicado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(i => i.Empresa_Vencedora == licitacao.Empresa_Vencedora && i.Pregao == licitacao.Pregao))
                    {
                        <tr>
                            <td>@item.Item</td>
                            <td class="text-right">@Convert.ToDecimal(item.Valor_Adj).ToString("C2")</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert"><span class="sr-only">Informação:</span><strong>Informação </strong> Dados não encontrados </div>
}