﻿@model IEnumerable<TransparenciaRO.Infra.Model.View.ResultadoPregaoViewModel>
@using System.Globalization

@{
    ViewBag.Title = "Resultado licitação";
}

@foreach (var resultado in Model)
{
    <table class="table table-bordered text-center" width="100%">
        <thead>
            <tr class="bg-primary">
                <th colspan="5">@resultado.NomeFornecedor</th>
            </tr>
            <tr>
                <th>Descrição</th>
                <th>Unidade de Fornecimento</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Global</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in resultado.Itens)
            {
                <tr>
                    <td>@item.Descricao</td>
                    <td>@item.UnidadeFornecimento</td>
                    <td>@item.Quantidade</td>
                    <td>@(item.Valor != null ? string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.Valor) : "")</td>
                    <td>@(item.ValorTotal != null ? string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.ValorTotal) : "") </td>
                </tr>
                <tr><td colspan="5" class="text-left"><b>Marca:</b> @item.Marca</td></tr>
                <tr><td colspan="5" class="text-left"><b>Descrição Detalhada do Objeto Ofertado:</b> @item.DescricaoDetalhada</td></tr>
            }
        </tbody>
    </table>
}