﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacao

<style>
    h2, h4 {
        font-weight: bold;
    }
</style>
<div class="col-sm-10 col-md-10">
    <h2>@Model.ModalidadeLicitacao.GetDescription() - @Model.NumeroLicitacao/@Model.Ano</h2>
    <small>@Model.DataDaPublicacao.ToString("dd MMMM yyyy")</small>
    <h4>Objeto</h4>
    <div>
        <p>@Model.Objeto</p>
    </div>
    <h4>Detalhes da Licitação</h4>
    <dl class="dl-horizontal">
        <dt>Nº Licitação</dt>
        <dd>@Model.NumeroLicitacao</dd>
        
        <dt>Ano</dt>
        <dd>@Model.Ano</dd>
        
        <dt>Modalidade</dt>
        <dd>@Model.ModalidadeLicitacao.GetDescription()</dd>
        
        <dt>Unidade Administrativa</dt>
        <dd>@Model.UnidadeGestora.sigla - @Model.UnidadeGestora.nomeUG</dd>
        
        <dt>Nº Processo Adm</dt>
        <dd>@Model.NumeroProcessoAdministrativo</dd>
        
        <dt>Fonte de Recurso</dt>
        <dd>@Model.FonteDeRecurso</dd>
        
        <dt>Projeto/Atividade</dt>
        <dd>@Model.ProjetoAtividade</dd>
        
        <dt>Elemento Despesa</dt>
        <dd>@Model.ElementoDespesa</dd>
        
        <dt><small>(<b>R$</b>)</small> Valor Estimado</dt>
        <dd>R$ @Model.ValorEstimado</dd>
        
        <dt>Data da Abertura</dt>
        <dd>@(Model.DataHoraAbertura != null ? Model.DataHoraAbertura.Value.ToString("dd MMMM yyyy") : "Data não informada")</dd>
        
        <dt>Horário da Abertura</dt>
        <dd>@(Model.DataHoraAbertura != null ? Model.DataHoraAbertura.Value.ToLongTimeString() : "Horário não informado")</dd>
        
        <dt>Fuso Horário</dt>
        <dd>@Model.EFusoHorario.GetDescription()</dd>
        
        <dt><small>(<b>url</b>)</small> Site</dt>
        <dd>@Model.EnderecoEletronico</dd>
        
        <dt>Local</dt>
        <dd>@Model.Local</dd>
        
        <dt>Mais Informações</dt>
        <dd>@Model.MaisInformacoes</dd>
        
        <dt>Empresa Contratada</dt>
        <dd>@Model.Empresa</dd>

        <dt>CNPJ</dt>
        <dd>@Model.Cnpj</dd>

        <dt>Pregoeiro</dt>
        <dd>@Model.Pregoeiro</dd>
    </dl>
    <div id="listaArquivosContainer">
        <br />
        @Html.Partial("_ListaArquivos", Model ?? new Licitacao { Arquivos = new List<Arquivo>() })
    </div>
</div>