﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.Licitacao

@{
    ViewBag.Title = "Detalhes da Contratação";
}
<style>
    h2, h4 {
        font-weight: bold;
        margin-top: 30px;
    }

    dd {
        margin-bottom: 15px;
    }

    .margin-col {
        margin-bottom: 15px;
    }
</style>



<a class="btn btn-primary" href="@Url.Action("ComprasEmergenciais", "Licitacao")" style="margin-bottom:20px">
    <i class="fa fa-arrow-left"></i>
    &nbsp;Voltar
</a>


<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">

            <div class="col-xs-12 margin-col">
                <p>
                    <small><b>Publicação:</b> @Model.DataDaPublicacao.ToString("dd") de @Model.DataDaPublicacao.ToString("MMMM") de @Model.DataDaPublicacao.ToString("yyyy")</small>

                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Unidade Administrativa</b>
                    <br />
                    @(Model.UnidadeGestora.sigla ?? "---") - @(Model.UnidadeGestora.nomeUG ?? "---")
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Modalidade</b>
                    <br />
                    @(Model.ModalidadeLicitacao.GetDescription() ?? "---")
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Nº Processo SEI</b>
                    <br />
                    @(Model.NumeroProcessoAdministrativo ?? "---")
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Ano</b>
                    <br />
                    @(!string.IsNullOrEmpty(Model.Ano.ToString()) ? Model.Ano.ToString() : "---")
                </p>
            </div>



        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Fonte de Recurso</b>
                    <br />
                    @(Model.FonteDeRecurso ?? "---")
                </p>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Projeto/Atividade</b>
                    <br />
                    @(Model.ProjetoAtividade ?? "---")
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Elemento Despesa</b>
                    <br />
                    @(Model.ElementoDespesa ?? "---")
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Nº Licitação (Certame)</b>
                    <br />
                    @(!string.IsNullOrEmpty(Model.NumeroLicitacao.ToString()) ? Model.NumeroLicitacao.ToString() : "---")
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 margin-col">
                <p>
                    <b>Valor total (em R$)</b>
                    <br />
                    @String.Format("{0:C}", Model.CalcularValorTotalDispensaLicitacao())
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <p>
                    <b>Objeto</b>
                    <br />
                    @(Model.Objeto ?? "---")
                </p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="tabelaFornecedores">

        <h4>Fornecedores</h4>

        @Html.Partial("Partials\\_TabelaFornecedores", Model ?? new Licitacao { Fornecedores = new List<FornecedorDispensa>() })
    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="listaArquivosContainer">

        <h4>Anexos</h4>

        @Html.Partial("_ListaArquivos", Model ?? new Licitacao { Arquivos = new List<Arquivo>() })
    </div>
</div>