﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model ContratoConvenio
@{
    var MensagensErrosArquivos = ViewBag.MensagensErrosArquivos as List<String>;
}
@if (MensagensErrosArquivos?.Count > 0)
{
    foreach (var mensagemErro in MensagensErrosArquivos)
    {
        <div class="alert alert-danger">@mensagemErro</div>
    }
}
@if (Model.Arquivos.Count > 0)
{


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do arquivo</th>
                @if (Model.Arquivos.ToList()[Model.Arquivos.Count-1].TipoAnexoTermoFomento != null)
                {
                    <th>Tipo de anexo</th>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Excluir?</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Arquivos.Count > 0)
            {
                for (var i = 0; i < Model.Arquivos.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="Arquivos[@i].ArquivoId" value="@Model.Arquivos.ToList()[i].ArquivoId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].ContratoConvenioId" value="@Model.Arquivos.ToList()[i].ContratoConvenioId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].PrestacaoDeContasId" value="@Model.Arquivos.ToList()[i].PrestacaoDeContasId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].MonitoramentoId" value="@Model.Arquivos.ToList()[i].MonitoramentoId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].Descricao" value="@Model.Arquivos.ToList()[i].Descricao" />
                            <input type="hidden" name="Arquivos[@i].Temporario" value="@(Model.Arquivos.ToList()[i].Temporario ? "true" : "false")" />
                            <input type="hidden" name="Arquivos[@i].TipoAnexoTermoFomento" value="@(Model.Arquivos.ToList()[i].TipoAnexoTermoFomento)" />
                            <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.Arquivos.ToList()[i].ArquivoId.ToString().ToEncrypted() })" target="_blank">@(Model.Arquivos.ToList()[i].Descricao)</a>
                        </td>
                        <td>
                            @if (Model.Arquivos.ToList()[i].TipoAnexoTermoFomento != null)
                            {
                                <span>@(Model.Arquivos.ToList()[i].TipoAnexoTermoFomento.GetDescription() != null ? Model.Arquivos.ToList()[i].TipoAnexoTermoFomento.GetDescription() : "---")</span>
                            }
                       
                        </td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <td><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.Arquivos.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.Arquivos.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Nenhum arquivo adicionado</div>
}

