﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model ContratoConvenio
@{
    var MensagensErrosArquivos = ViewBag.MensagensErrosArquivos as List<String>;
}
@if (MensagensErrosArquivos?.Count > 0)
{
    foreach (var mensagemErro in MensagensErrosArquivos)
    {
        <div class="alert alert-danger">@mensagemErro</div>
    }
}
@if (Model.Arquivos.Count > 0)
{


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do arquivo</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Excluir?</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Arquivos.Count > 0)
            {
                for (var i = 0; i < Model.Arquivos.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="Arquivos[@i].ArquivoId" value="@Model.Arquivos.ToList()[i].ArquivoId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].ContratoConvenioId" value="@Model.Arquivos.ToList()[i].ContratoConvenioId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].PrestacaoDeContasId" value="@Model.Arquivos.ToList()[i].PrestacaoDeContasId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].MonitoramentoId" value="@Model.Arquivos.ToList()[i].MonitoramentoId.ToString()" />
                            <input type="hidden" name="Arquivos[@i].Descricao" value="@Model.Arquivos.ToList()[i].Descricao" />
                            <input type="hidden" name="Arquivos[@i].Temporario" value="@(Model.Arquivos.ToList()[i].Temporario ? "true" : "false")" />
                            <input type="hidden" name="Arquivos[@i].TipoAnexoTermoFomento" value="@(Model.Arquivos.ToList()[i].TipoAnexoTermoFomento)" />
                            <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.Arquivos.ToList()[i].ArquivoId.ToString().ToEncrypted() })" target="_blank">@(Model.Arquivos.ToList()[i].Descricao)</a>
                        </td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <td><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.Arquivos.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.Arquivos.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                        }
                    </tr>
                }
            }
            @if (Model.TermoFomento != null)
            {
                if (Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.Count > 0)
                {
                    for (var i = 0; i < Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].DataUpload.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].ArquivoId" value="@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].ArquivoId.ToString()" />
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].ContratoConvenioId" value="@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].ContratoConvenioId.ToString()" />
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].PrestacaoDeContasId" value="@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].PrestacaoDeContasId.ToString()" />
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].MonitoramentoId" value="@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].MonitoramentoId.ToString()" />
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].Descricao" value="@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].Descricao" />
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].Temporario" value="@(Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].Temporario ? "true" : "false")" />
                                <input type="hidden" name="ArquivoResultadoConclusivo[@i].TipoAnexoTermoFomento" value="@(Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].TipoAnexoTermoFomento)" />
                                <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].ArquivoId.ToString().ToEncrypted() })" target="_blank">@(Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].Descricao)</a>
                            </td>

                            <td>
                                @if (Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].TipoAnexoTermoFomento != null)
                                {
                                    <span>@(Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].TipoAnexoTermoFomento.GetDescription() != null ? Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].TipoAnexoTermoFomento.GetDescription() : "---")</span>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.TermoFomento.PrestacaoDeContas.ArquivoResultadoConclusivo.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                            }
                        </tr>
                    }


                    if (Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.Count > 0)
                    {
                        for (var i = 0; i < Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].DataUpload.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].ArquivoId" value="@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].ArquivoId.ToString()" />
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].ContratoConvenioId" value="@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].ContratoConvenioId.ToString()" />
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].PrestacaoDeContasId" value="@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].PrestacaoDeContasId.ToString()" />
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].MonitoramentoId" value="@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].MonitoramentoId.ToString()" />
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].Descricao" value="@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].Descricao" />
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].Temporario" value="@(Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].Temporario ? "true" : "false")" />
                                    <input type="hidden" name="Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento[@i].TipoAnexoTermoFomento" value="@(Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].TipoAnexoTermoFomento)" />
                                    <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].ArquivoId.ToString().ToEncrypted() })" target="_blank">@(Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].Descricao)</a>
                                </td>

                                <td>
                                    @if (Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].TipoAnexoTermoFomento != null)
                                    {
                                        <span>@(Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].TipoAnexoTermoFomento.GetDescription() != null ? Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].TipoAnexoTermoFomento.GetDescription() : "---")</span>
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                </td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.TermoFomento.Monitoramento.ArquivoRelatorioMonitoramento.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                                }
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Nenhum arquivo adicionado</div>
}

