﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Utils
@model Monitoramento
@{
    var MensagensErrosArquivos = ViewBag.MensagensErrosArquivos as List<String>;
}
@if (MensagensErrosArquivos?.Count > 0)
{
    foreach (var mensagemErro in MensagensErrosArquivos)
    {
        <div class="alert alert-danger">@mensagemErro</div>
    }
}
@if (Model.ArquivoRelatorioMonitoramento.Count > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do arquivo</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Excluir?</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ArquivoRelatorioMonitoramento.Count; i++)
            {
            <tr>
                <td>
                    <input type="hidden" name="Model.ArquivoRelatorioMonitoramento[@i].ArquivoId" value="@Model.ArquivoRelatorioMonitoramento.ToList()[i].ArquivoId.ToString()" />
                    <input type="hidden" name="Model.ArquivoRelatorioMonitoramento[@i].ContratoConvenioId" value="@Model.ArquivoRelatorioMonitoramento.ToList()[i].ContratoConvenioId.ToString()" />
                    <input type="hidden" name="Model.ArquivoRelatorioMonitoramento[@i].Descricao" value="@Model.ArquivoRelatorioMonitoramento.ToList()[i].Descricao" />
                    <input type="hidden" name="Model.ArquivoRelatorioMonitoramento[@i].Temporario" value="@(Model.ArquivoRelatorioMonitoramento.ToList()[i].Temporario ? "true" : "false")" />
                    <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = Model.ArquivoRelatorioMonitoramento.ToList()[i].ArquivoId.ToString().ToEncrypted()  })" target="_blank">@(Model.ArquivoRelatorioMonitoramento.ToList()[i].Descricao)</a>
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td><a href="#!" class="btn btn-danger btn-excluir-arquivo" data-dados-arquivo='{"guidArquivo":"@Model.ArquivoRelatorioMonitoramento.ToList()[i].ArquivoId.ToString()","NomeArquivo":"@Model.ArquivoRelatorioMonitoramento.ToList()[i].Descricao"}'><i class="fa fa-trash"></i> Excluir</a></td>
                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Nenhum arquivo adicionado</div>
}

