﻿<form id="form-remuneracao">
    <div class="modal fade" id="modal-adicionar-remuneracao" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar Remuneração Equipe de Trabalho</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <input type="hidden" Name="Id" id="remuneracao-equipe-id" />

                        <div class="form-group">
                            <label>Nome</label>
                            <input class="form-control" type="text" name="NOME" id="nome" required />
                        </div>

                        <div class="form-group">
                            <label>CPF</label>
                            <input class="form-control CampoCNPJCPF" type="text" name="CPF" id="cpf" placeholder="000.000.000-00" required />
                        </div>

                        <div class="form-group">
                            <label>RG</label>
                            <input class="form-control" type="text" name="RG" id="rg" maxlength="12" />
                        </div>

                        <div class="form-group">
                            <label>Cargo</label>
                            <input class="form-control" type="text" name="CARGO" id="cargo" required />
                        </div>

                        <div class="form-group">
                            <label>Valor</label>
                            <input class="form-control CampoDinheiro" type="text" name="VALOR" id="valor" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</form>