﻿@model  IEnumerable<TransparenciaRO.Infra.Model.DB.dbTransparencia.RemuneracaoEquipe>

@if (Model!=null)
{
   
            <tbody id="corpoTabelaRemuneracao">
                @foreach (var empregado in Model)
                {
                <tr>
                    <td>@empregado.Nome</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>@empregado.Cpf</td>
                    }
                        <td>@empregado.Rg</td>
                        <td>@empregado.Cargo</td>
                        <td>@empregado.ValorIndividual</td>
                    </tr>
                }
            </tbody>
  
}
else
{
    <div class="alert alert-info">Nenhum empregado cadastrado!!</div>
}

