﻿@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using System.IO

@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ContratoConvenio
@{
    var descricaoDocumento = "Termos de Cooperação/Colaboração";
    var unidadesGestoras = ViewBag.UnidadesGestoras;
    var termo = Model.TermoFomento;
}

@section Head{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
}

<h2>
    @(Model.ContratoConvenioId == new Guid() ? "Adicionar" : "Editar") @(descricaoDocumento)
</h2>

<label class="text-danger">
    Campos obrigatórios <i class="text-danger">*</i>
</label>

<form id="formRemuneracao">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ContratoConvenioId)
    @Html.HiddenFor(m => m.TermoFomentoId)
    @Html.HiddenFor(m => m.TipoDocumento)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6 col-sm-12">
                        <label>Número do Termo<i class="text-danger">*</i></label>
                        @Html.EditorFor(m => m.NumeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label>Número Processo<i class="text-danger">*</i></label>
                        @Html.EditorFor(m => m.NumeroProcesso, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                    <div class="col-md-12 col-sm-12 ">
                        <label>Unidade Gestora<i class="text-danger">*</i></label>
                        @Html.DropDownListFor(m => m.UnidadeGestoraId, new SelectList(unidadesGestoras, "Key", "Value"),"Selecione....", new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label>Convenente<i class="text-danger">*</i></label>
                        @Html.EditorFor(m => m.Empresa, Model.TipoDocumento == ETipoDocumento.Contrato ? "Contratada<i class=text-danger>*</i>" : "Convenente<i class=text-danger>*</i>", new { htmlAttributes = new { @class = "form-control" } })
                    </div>



                    <div class="col-md-6 col-sm-12">
                        <label>CNPJ/CPF<i class="text-danger">*</i></label>
                        @Html.EditorFor(m => m.Cnpj, "CNPJ/CPF", new { htmlAttributes = new { @class = "form-control CampoCNPJCPF" } })
                    </div>


                    <div class="col-md-6 col-sm-12">
                        <label>Data de Assinatura<i class="text-danger">*</i></label>
                        @Html.EditorFor(m => m.DataAssinatura, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label>Data de Vigência<i class="text-danger">*</i></label>
                        @Html.EditorFor(m => m.DataVigenciaDescritiva, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label>Objeto<i class="text-danger">*</i></label>
                        @Html.TextAreaFor(m => m.Objeto, 10, 105, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                    <div class="col-md-12 col-sm-12">
                    </div>

                    @if (Model.TipoDocumento == ETipoDocumento.Contrato)
                    {
                        <div class="col-md-12 col-sm-12">
                            <label>Licitação Origem</label>
                            @Html.EditorFor(m => m.LicitacaoOrigem, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 col-sm-12">
                            <label>Valor contra partida R$</label>
                            @Html.EditorFor(m => m.ValorAContraPartida, new { htmlAttributes = new { @class = "form-control CampoDinheiro" } })
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Origem dos Recursos</label>
                            @Html.EditorFor(m => m.OrigemRecursos, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }

                    <div class="col-md-6 col-sm-12">
                        <label>Valor Global R$</label>
                        @Html.EditorFor(m => m.Valor, new { htmlAttributes = new { @class = "form-control CampoDinheiro" } })
                    </div>

                    <div class="col-md-12 col-sm-12"></div>

                    <div class="col-md-6 col-sm-6">
                        <label>Observação<i class="text-danger">*</i></label>
                        @Html.TextAreaFor(m => m.Obsevacao, 10, 105, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.FormGroupCheckboxFor(m => m.Cancelado, Model.TipoDocumento == ETipoDocumento.Contrato ? "Marque se o contrato foi cancelado" : "Marque se o convênio foi cancelado")
                    </div>
                    <div class="col-md-offset col-md-12 "></div>
                    <div class="col-md-offset col-md-12 ">
                        <div class="form-group">
                            <div class="col-md-offset col-md-12 ">
                                <a href="#!" class="btn btn-default" onclick="$('#files').click()"><i class="fa fa-file"></i>Integra dos Termos</a>
                            </div>
                            <div class="col-md-offset col-md-12" id="listaArquivosContainer">
                                <br />
                                @Html.Partial("_ListaArquivos", Model ?? new ContratoConvenio { Arquivos = new List<Arquivo>() })
                            </div>
                        </div>

                        <div id="" style="display: none">
                            <input type="file" class="multiple" name="files" id="files" multiple />
                        </div>

                        <fieldset>
                            <legend>Prestação de Contas</legend>

                            <div class="col-md-6 col-sm-12">
                                <label>Gestor</label>
                                @Html.EditorFor(m => m.TermoFomento.Monitoramento.Gestor, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Portaria do Gestor</label>
                                @Html.EditorFor(m => m.TermoFomento.Monitoramento.PortariaGestor, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Data Prevista</label>
                                @Html.EditorFor(m => m.TermoFomento.PrestacaoDeContas.DataPrevista, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Data de Apresentação</label>
                                @Html.EditorFor(m => m.TermoFomento.PrestacaoDeContas.DataApresentacao, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Prazo de Análise</label>
                                @Html.EditorFor(m => m.TermoFomento.PrestacaoDeContas.PrazoAnalise, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-offset col-md-12 margin-bottom-15px"></div>

                            <div class="form-group " id="filePrestacao">
                                <div class="col-md-offset col-md-12 ">
                                    <a href="#!" class="btn btn-default" onclick="$('#filesPrestacaoConta').click()"><i class="fa fa-file"></i> Relatório Prestação de Contas</a>
                                </div>
                                <div class="col-md-offset col-md-12" id="listaArquivosPrestacaoContas">
                                    <br />
                                    @Html.Partial("_ListaArquivosPrestacaoContas", Model.TermoFomento.PrestacaoDeContas ?? new PrestacaoDeContas { ArquivoResultadoConclusivo = new List<Arquivo>() })
                                </div>
                            </div>

                            <div id="" style="display: none">
                                <input type="file" class="multiple" name="filesPrestacaoConta" id="filesPrestacaoConta" multiple />
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-offset col-md-12 ">
                        <fieldset>
                            <legend>Monitoramento</legend>

                            <div class="col-md-6 col-sm-12">
                                <label>Comissão</label>
                                @Html.EditorFor(m => m.TermoFomento.Monitoramento.Comissao, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Portaria da Comissão</label>
                                @Html.EditorFor(m => m.TermoFomento.Monitoramento.PortariaComissao, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </fieldset>

                    </div>
                    <div class="col-md-offset col-md-12 margin-bottom-15px"></div>
                    <div class="form-group fileMonitoramento">

                        <div class="col-md-offset col-md-12 ">
                            <a href="#!" class="btn btn-default" onclick="$('#filesMonitoramento').click()"><i class="fa fa-file"></i> Relatorio Técnico de Monitoramento </a>
                        </div>
                        <div class="col-md-offset col-md-12" id="listaArquivosfilesMonitoramento">
                            <br />
                            @Html.Partial("_ListaArquivosMonitoramento", Model.TermoFomento.Monitoramento ?? new Monitoramento { ArquivoRelatorioMonitoramento = new List<Arquivo>() })
                        </div>
                    </div>
                </div>

                <div id="" style="display: none">
                    <input type="file" class="multiple" name="filesMonitoramento" id="filesMonitoramento" multiple />
                </div>
                <div class="col-md-6 col-sm-12"></div>

                <br />
                <div class="col-md-offset col-md-12 ">
                    <fieldset>
                        <legend>Remuneração Equipe de Trabalho</legend>

                        <div class="col-md-12 col-sm-12">
                            <a href="#!" class="btn btn-primary margin-bottom-15px" onclick="AbrirModalAdicionarRemuneracao()"><i class="fa fa-id-card"></i> Adicionar Remuneracao</a>
                        </div>
                        <div class="col-md-12 col-sm-12" id="tabelaRemuneracao">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" style="margin-top:25px;">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>CPF</th>
                                            <th>RG</th>
                                            <th>Cargo</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="corpoTabelaRemuneracao">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10 col-sm-10">
                <a class="btn btn-default margin-bottom-15px" href="@Url.Action("Index")">
                    <i class="fa-lg fa fa-times"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-primary margin-bottom-15px" id="submit">
                    <i class="fa-lg fa fa-floppy-o"></i> Salvar
                </button>
            </div>
        </div>
    </div>


</form>

@Html.Partial("_ModalAdicionarRemuneracao")
@Html.Partial("_ModalAdicionarArquivoTermoFomento", Model)

@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="~/scripts/AdicionarArquivo.es5.min.js?v=@DateTime.UtcNow.ToString()"></script>
    <script>

        var Termos = [];
        var Remuneracoes = [];
        var RemuneracaoKeys = [
            'Id',
            'Nome',
            'Cpf',
            'Rg',
            'Cargo',
            'ValorIndividual'
        ];
        var arquivoKeys = ['Descricao', 'TipoAnexoTermoFomento'];

        $(document).ready(function () {

            ObterDadosJsonDaModelTermo();
            AtualizarTabelaRemuneracao(Remuneracoes);
        });

        $('#form-arquivo-termo-fomento').submit((event) => {
            event.preventDefault();

            AdicionarArquivoFomento();
        });

        $('#formRemuneracao').submit(function (e) {
            e.preventDefault();
            ConfirmarEnvioDeDados();
        });

        $('#form-remuneracao').submit(function (e) {
            e.preventDefault();

            var id = $('#remuneracao-equipe-id').val();
            if (Remuneracoes.length > 0) {
                for (var i in Remuneracoes) {
                    if (Remuneracoes[i].Id == id)
                    {
                        Remuneracoes[i].Id = $('#remuneracao-equipe-id').val();
                        Remuneracoes[i].Nome = $('#nome').val();
                        Remuneracoes[i].Cpf = $('#cpf').val();
                        Remuneracoes[i].Rg = $('#rg').val();
                        Remuneracoes[i].Cargo = $('#cargo').val();
                        Remuneracoes[i].ValorIndividual = $('#valor').val();

                        break;
                    }
                    Remuneracoes.push(Remuneracoes[i]);
                }
            }
            else {
                let RemuneracaoEquipe = {
                    Id: $('#remuneracao-equipe-id').val(),
                    Nome: $('#nome').val(),
                    Cpf: $('#cpf').val(),
                    Rg: $('#rg').val(),
                    Cargo: $('#cargo').val(),
                    ValorIndividual: $('#valor').val()
                }
                 Remuneracoes.push(RemuneracaoEquipe);
            }
            $('#modal-adicionar-remuneracao').modal('hide');
            $('#form-remuneracao')[0].reset();

            AtualizarTabelaRemuneracao(Remuneracoes);
        });

        function ObterDadosJsonDaModelTermo() {
            try {
                var remuneracaoFromModel = JSON.parse('@(Html.Raw(Json.Encode(Model.TermoFomento.RemuneracaoEquipe.OrderBy(f => f.Nome))))');
                    if (remuneracaoFromModel.length > 0) {
                        Remuneracoes = remuneracaoFromModel;
                    }

            } catch (e) {

            }
        }

        function AdicionarArquivoFomento() {

            let tipoAnexoTermoFomento = document.querySelector('#ArquivoTemporario_TipoAnexoTermoFomento').value;

            let arquivo = {
                Descricao: document.querySelector('#Descricao').value,
                TipoAnexoTermoFomento: tipoAnexoTermoFomento
            };

            var data = new FormData(document.querySelector('#formRemuneracao'));

            arquivoKeys.forEach(function (key) {
                data.append('ArquivoTemporario.' + key, arquivo[key]);
            });

            data.append('Arquivo', $('#Arquivo')[0].files[0]);

            $.ajax({
                type: "POST",
                url: 'AdicionarArquivo',
                enctype: 'multipart/form-data',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#modal-adicionar-arquivo-fomento').modal('hide');

                    $('#form-arquivo-termo-fomento')[0].reset();

                    $('#listaArquivosContainer').empty();
                    $('#listaArquivosContainer').html(response);
                },
                error: function () {
                    $('#modal-adicionar-arquivo').modal('hide');

                    alert("Oooops, houve algum problema ao processar a requisição");
                }
            });
        }

        function AtualizarTabelaRemuneracao(listaRemuneracao) {
            var corpo = listaRemuneracao.map(empregado =>
                `<tr>
                                                                                          <td class="hidden">${empregado.Id}</td>
                                                                                          <td>${empregado.Nome}</td>
                                                                                          <td>${empregado.Cpf}</td>
                                                                                          <td>${empregado.Rg}</td>
                                                                                          <td>${empregado.Cargo}</td>
                                                                                          <td>${empregado.ValorIndividual}</td>
     <td width="1" class="text-center">
                                        <button type="button" class="btn btn-warning" onclick="AbrirModalEditarRemuneracao('${empregado.Id}')" style="margin-bottom:8px" title="Editar"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" onclick="RemoverRemuneracao('${empregado.Id}')" style="margin-bottom:8px" title="Excluir"><i class="fa fa-trash"></i></button>
                                    </td>
                                                                                        </tr>`).join('');

            $('#corpoTabelaRemuneracao').html(corpo);
        }
        function AbrirModalAdicionarRemuneracao() {
            $('#remuneracao-equipe-id').val(GerarNewGuid());
            $('#modal-adicionar-remuneracao').modal('show');
            $('#form-remuneracao')[0].reset();
        }

        function RemoverRemuneracao(id) {

            for (var i = 0; i < Remuneracoes.length; i++) {
                if (Remuneracoes[i].Id == id) {
                    Remuneracoes.splice(i, 1);
                }
            }

            AtualizarTabelaRemuneracao(Remuneracoes);
        }

        function AbrirModalEditarRemuneracao(Id) {

            let fornecedor = Remuneracoes.filter(f => {
                return f.Id == Id
            });

            $('#remuneracao-equipe-id').val(Id);
            $('#nome').val(fornecedor[0].Nome);
            $('#cpf').val(fornecedor[0].Cpf);
            $('#rg').val(fornecedor[0].Rg);
            $('#cargo').val(fornecedor[0].Cargo);
            $('#valor').val(fornecedor[0].ValorIndividual);


            AtualizarTabelaRemuneracao(Remuneracoes);
            $('#modal-adicionar-remuneracao').modal('show');
        }
        function ConfirmarEnvioDeDados() {
            var formData = $('#formRemuneracao').serializeArray();

            var newForm = new FormData();

            formData.forEach(function (item) {
                newForm.append(item.name, item.value);
            })

            for (var i = 0; i < Remuneracoes.length; i++) {
                RemuneracaoKeys.forEach((key) => {
                    newForm.append('TermoFomento.RemuneracaoEquipe[' + i + '].' + key, Remuneracoes[i][key]);
                });
            }

            $('#submit').attr('disabled', true).html('Salvando...');

             $.ajax({
                    type: "POST",
                 url: 'AdicionarFomento',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                 data: JSON.stringify({ fomento: Object.fromEntries(newForm) }),
                 success: function (response) {
                        alert("Sucesso");
                        if (response.Sucesso == true) {
                            window.location.replace('@Url.Action("Index")');
                        }
                        else {
                            $('#submit').attr('disabled', false).html('salvar');
                            alert(response.Mensagem);
                        }
                    },
                    error: function () {
                        $('#submit').attr('disabled', false).html('salvar');
                        alert("Oooops, houve algum problema ao processar a requisição");
                    }
                });
        }

        function GerarNewGuid() {

            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "-" + S4() + "-4" + S4().substr(0, 3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
        }
    </script>
}
