﻿@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Enum
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using System.IO

@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ContratoConvenio
@{
    var descricaoDocumento = Model.TipoDocumento.GetDescricao();
    var unidadesGestoras = ViewBag.UnidadesGestoras;
}

@section Head{
    <link href="~/Content/jasnyBootstrap/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jasny-bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
}

<h2>
    @(Model.ContratoConvenioId == new Guid() ? "Adicionar" : "Editar") @(descricaoDocumento)
</h2>

<label class="text-danger">
    Campos obrigatórios <i class="text-danger">*</i>
</label>

@using (Html.BeginForm("AdicionarEditar", "ContratoConvenio", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ContratoConvenioId)
    @Html.HiddenFor(m => m.TipoDocumento)

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Número do Termo<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.EditorFor(m => m.NumeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <label class="control-label col-md-2 col-sm-3">Número Processo<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.EditorFor(m => m.NumeroProcesso, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Unidade Gestora<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.DropDownListFor(m => m.UnidadeGestoraId, new SelectList(unidadesGestoras, "Key", "Value"),"Selecione....", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Convenente<i class="text-danger">*</i></label>
        <div class="col-md-6">
            @Html.EditorFor(m => m.Empresa, Model.TipoDocumento == ETipoDocumento.Contrato ? "Contratada<i class=text-danger>*</i>" : "Convenente<i class=text-danger>*</i>", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">CNPJ/CPF<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.EditorFor(m => m.Cnpj, "CNPJ/CPF", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Data de Assinatura<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.EditorFor(m => m.DataAssinatura, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <label class="control-label col-md-2 col-sm-3">Data de Vigência<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.EditorFor(m => m.DataVigenciaDescritiva, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Objeto<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.TextAreaFor(m => m.Objeto, 10, 105, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Valor Global R$<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.EditorFor(m => m.Valor, new { htmlAttributes = new { @class = "form-control CampoDinheiro" } })
        </div>
    </div>

    if (Model.TipoDocumento == ETipoDocumento.Contrato)
    {
        @Html.FormGroupEditorFor(m => m.LicitacaoOrigem, "Licitação de Origem")
    }
    else
    {
        <text>@Html.FormGroupEditorFor(m => m.ValorAContraPartida, "Valor contra partida R$", new[] { EClassesParaInput.CampoDinheiro })</text>
        @Html.FormGroupEditorFor(m => m.OrigemRecursos, "Origem dos Recursos")
    }
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Observação<i class="text-danger">*</i></label>
        <div class="col-md-3 col-sm-3">
            @Html.TextAreaFor(m => m.Obsevacao, 10, 105, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    @Html.FormGroupCheckboxFor(m => m.Cancelado, Model.TipoDocumento == ETipoDocumento.Contrato ? "Marque se o contrato foi cancelado" : "Marque se o convênio foi cancelado")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#!" class="btn btn-default" onclick="$('#files').click()"><i class="fa fa-file"></i> Adicionar arquivos</a>
        </div>
        <div class="col-md-offset-2 col-md-10" id="listaArquivosContainer">
            <br />
            @Html.Partial("_ListaArquivosContratos", Model ?? new ContratoConvenio { Arquivos = new List<Arquivo>() })
        </div>
    </div>

    <div id="inputArquivosWrapper" style="display: none">
        <input type="file" class="multiple" name="files" id="files" multiple />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default margin-bottom-15px" href="@Url.Action("Index")">
                <i class="fa-lg fa fa-times"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-primary margin-bottom-15px">
                <i class="fa-lg fa fa-floppy-o"></i> Salvar
            </button>
        </div>
    </div>
}

@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="~/scripts/AdicionarArquivo.js?v=@DateTime.UtcNow.ToString()"></script>
}
