﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Enum

@{
    ViewBag.Title = "Contratos emergenciais COVID-19";
    var campos = new List<CampoFormulario>()
{
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "sancionado",
            NomeParametroAction = "sancionado",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Sancionado"}
            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "cancelado",
            NomeParametroAction = "cancelado",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Cancelado"}
            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "comArquivos",
            NomeParametroAction = "comArquivos",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Com Arquivos"}
            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "semArquivos",
            NomeParametroAction = "semArquivos",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Sem Arquivos"}
            }
        },
        new CampoPeriodo
        {
            Linha = 2,
            ColMD = 4,
            ValorDataInicial = new DateTime(DateTime.Now.Year, 01, 1),
            ValorDataFinal = DateTime.Now
        },
        new NumeroDocumento
        {
            Linha = 2,
            ColMD = 4,
            Id = "numeroDocumento",
            NomeParametroAction = "numeroDocumento",
            Descricao = "Número do Documento"
        },
        new NumeroProcesso
        {
            Linha = 2,
            ColMD = 4,
            Id = "numeroProcesso",
            NomeParametroAction = "numeroProcesso",
            Descricao = "Número do Processo"
        },
        new CampoSelect
        {
            Linha = 3,
            ColMD = 4,
            Id = "unidadeGestora",
            NomeParametroAction = "unidadeGestora",
            Descricao = "Unidade Gestora",
            Valores = ViewBag.UnidadesGestoras
        },
        new Cnpj
        {
            Linha = 3,
            ColMD = 4,
            Id = "cnpj",
            NomeParametroAction = "cnpj",
            Descricao = "CPF/CNPJ"
        },
        new RazaoSocial
        {
            Linha = 3,
            ColMD = 4,
            Id = "razaoSocial",
            NomeParametroAction = "razaoSocial",
            Descricao = "Razão Social"
        },
        new Objeto
        {
            Linha = 3,
            ColMD = 12,
            Id = "objeto",
            NomeParametroAction="objeto",
            Descricao="Objeto"
        }

    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}

<div class="container-fluid">
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>&nbsp;
        Nesta página estão disponíveis somente os instrumentos contratuais obrigatórios conforme art. 62 da Lei 8.666/1993. Os instrumentos contratuais facultativos tais como carta-contrato, nota de empenho de despesa, autorização de compra ou ordem de execução de serviço podem ser acessados nos respectivos processos disponíveis:
        <br />
        <a href="/Licitacao/DispensaLicitacao">Saiba mais clicando aqui</a>
    </div>
</div>

@Html.FormularioParametros(campos)

@Html.MontarMetodoChamadaPostComDados(campos, "/ContratoConvenio/ContratosEmergenciaisCOVID19")

<div id="tabelaDadosContainer"></div>

<script id="templateDados" type="text/html">

    <table id="tabelaDados" class="table table-striped" width="100%" data-order="[]">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Processo</th>
                <th>Dt.Elaboração</th>
                <th>Vigência(descritivo)</th>
                <th>CNPJ/Razão Social</th>
                <th>Objeto</th>
                <th>Valor</th>
                <th>Arquivo</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td>
                    <b>
                        <text>{{NumeroDocumento}}</text>
                    </b>
                </td>
                <td>{{NumeroProcesso}}</td>
                <td>{{DataElaboracao}}</td>
                <td>{{DataVigenciaDescritiva}}</td>
                <td>{{Cnpj}} - {{Empresa}}</td>
                <td>{{Objeto}}</td>
                <td>{{DescricaoValor}}</td>
                <td>
                    {{#Arquivos}}
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-xs-12">
                            <a href="{{LinkArquivo}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-file"></i> {{NomeArquivo}}</a>
                        </div>
                    </div>
                    {{/Arquivos}}
                    {{^Arquivos}}
                    Arquivo na íntegra indisponível
                    {{/Arquivos}}
                </td>
            </tr>
            {{/dados}}
        </tbody>
    </table>

</script>

@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var options = {
                onKeyPress: function (cpf, ev, el, op) {
                    var masks = ['000.000.000-000', '00.000.000/0000-00'];
                    $('#cnpj').mask((cpf.length > 14) ? masks[1] : masks[0], op);
                }
            }


            $("#cnpj").mask('000.000.000-00', options);
            $("#unidadeGestora").chosen();

            $('#tabelaDados').on('change', function () { $('#tabelaDados').dataTablePadrao(); });

            consultarDados();
        });

        $("#cancelado").click(function () {
            if ($("#cancelado").prop("checked")) {
                $("#cancelado").val("true");
            } else {
                $("#cancelado").val("false");
                $("#sancionado").prop('checked', true).val("true");
            }
        });

        $("#sancionado").click(function () {
            if ($("#sancionado").prop("checked")) {
                $("#sancionado").val("true");
            } else {
                $("#sancionado").val("false");
                $("#cancelado").prop('checked', true).val("true");
            }
        });

        $("#semArquivos").click(function () {
            if ($("#semArquivos").prop("checked")) {
                $("#semArquivos").val("true");
            } else {
                $("#semArquivos").val("false");
                $("#comArquivos").prop('checked', true).val("true");
            }
        });

        $("#comArquivos").click(function () {
            if ($("#comArquivos").prop("checked")) {
                $("#comArquivos").val("true");
            } else {
                $("#comArquivos").val("false");
                $("#semArquivos").prop('checked', true).val("true");
            }
        });
    </script>
}