﻿@using System.Activities.Statements
@using TransparenciaRO.Web.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mensagem"></div>

<h2>Contratos e Convênios</h2>

<div class="row">
    <div id="grafico" class="grafico"></div>
</div>

<div class="row form-group">
    <div class="col-lg-2 col-md-2 col-sm-6">
        <label>Filtro</label>

        <select id="filtroConsulta" class="form-control">
            <option value="0">Selecione...</option>
            <option value="1">Anual</option>
            <option value="2">Mensal</option>
            <option value="3">Unidade Gestora Anual</option>
            <option value="4">Unidade Gestora Mensal</option>
        </select>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-6">
        <label>Documento</label>

        <select id="tipoDocumento" class="form-control">
            <option value="1">Contrato</option>
            <option value="2">Convênio</option>
        </select>
    </div>

    <div id="divAno" class="col-lg-2 col-md-2 col-sm-6">
        <label>Ano</label>

        @Html.DropDownList("ano", new SelectList(ViewBag.Ano, "Key", "Value"), new { @class = "form-control" })
    </div>

    <div id="divUnidadeGestora" class="col-lg-4 col-md-4 col-sm-6">
        <label>Unidade Gestora</label>

        @Html.DropDownList("unidadeGestora", new SelectList(ViewBag.UnidadesGestoras, "Key", "Value"), new { @class = "form-control chosen-select" })
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12">
        <div style="margin-top: 25px">
            <button id="btnConsultar" class="btn btn-primary btn-block">
                <i class="fa fa-search"></i> Consultar
            </button>
        </div>
    </div>
</div>

@section AposFooter
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    @*<script src="https://code.highcharts.com/modules/drilldown.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>*@
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>

    <script>

        var filtroUg = "@Request["ug"]";

        $(document).ready(function () {
            dadosMensais("1", "@ViewBag.AnoFinal");
            $("#divAno, #divUnidadeGestora").hide();

            if (filtroUg !== "") {

                $("#filtroConsulta").val("3");

                $("#divUnidadeGestora").show();
                $("#unidadeGestora").chosen();

                $("#unidadeGestora").val(filtroUg);
                $("#unidadeGestora").trigger("chosen:updated");

                CapturarDados();
            }
        });



        $("#filtroConsulta").change(function () {
            var filtroConsulta = $("#filtroConsulta").val();
            $("#divAno, #divUnidadeGestora").hide();

            if (filtroConsulta === "2" || filtroConsulta === "4") {
                $('#divAno').show();
            }

            if (filtroConsulta === "3" || filtroConsulta === "4") {
                $("#divUnidadeGestora").show();
                $("#unidadeGestora").chosen();
            }
        });


        function CapturarDados() {
            var filtro = $("#filtroConsulta").val();
            var tipoDocumento = $("#tipoDocumento").val();
            var ano = $("#ano").val();
            var guidUnidadeGestora = $("#unidadeGestora").val();
            var nomeUnidadeGestora = $('#unidadeGestora > option:selected').text();

            if (filtro === "1") {
                dadosAnuais(tipoDocumento);
            } else if (filtro === "2") {
                dadosMensais(tipoDocumento, ano);
            } else if (filtro === "3") {
                dadosAnuaisPorUnidadeGestora(tipoDocumento, guidUnidadeGestora, nomeUnidadeGestora);
            } else if (filtro === "4") {
                dadosMensaisPorUnidadeGestora(tipoDocumento, ano, guidUnidadeGestora, nomeUnidadeGestora);
            } else {
                $("#mensagem").html('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><i class="fa fa-thumbs-o-down"></i> Selecione o tipo de filtro e documento que deseja consultar.</div>');
            }
        }

        $("#btnConsultar").click(function () {
            CapturarDados();
        });

        function dadosAnuais(tipoDocumento) {
            $.get("@Url.Action("DadosAnuais", "ContratoConvenio")",
                { tipoDocumento: tipoDocumento },
                function (dados) {
                    var anos = [];
                    var count = 0;

                    if ($.isEmptyObject(dados)) {
                        $("#grafico").html('<div class="alert alert-danger"><b><i class="fa fa-thumbs-o-down"></i></b> Dados não encontrados</div>');
                    } else {
                        for (var i in dados) {
                            if (count <= 9) {
                                var serie = { name: dados[i].Ano, y: dados[i].Valor, dados: false }
                                anos.push(serie);
                            }
                            count += 1;
                        }

                        var tituloGrafico = "Valores dos " +
                            (tipoDocumento === "1" ? "contratos" : "convênios") +
                            " anuais";
                        carregarGrafico(anos, "Ano", tituloGrafico, "Ano", "Valor R$");
                    }
                });
        }

        function dadosMensais(tipoDocumento, ano) {
            $.get("@Url.Action("DadosMensais", "ContratoConvenio")",
                { tipoDocumento: tipoDocumento, ano: ano },
                function (dados) {
                    var meses = [];

                    if ($.isEmptyObject(dados)) {
                        $("#grafico")
                            .html('<div class="alert alert-danger"><b><i class="fa fa-thumbs-o-down"></i></b> Dados não encontrados</div>');
                    } else {
                        for (var i in dados) {
                            var serie = { name: dados[i].Mes, y: dados[i].Valor, dados: false }
                            meses.push(serie);
                        }

                        var tituloGrafico = "Valores dos " +
                            (tipoDocumento === "1" ? "contratos" : "convênios") +
                            " do ano de " +
                            ano;
                        carregarGrafico(meses, "Mês", tituloGrafico, "Mês", "Valor R$");
                    }
                });
        }

        function dadosAnuaisPorUnidadeGestora(tipoDocumento, guidUnidadeGestora, nomeUnidadeGestora) {
            $.get("@Url.Action("DadosAnuaisPorUnidadeGestora", "ContratoConvenio")", { tipoDocumento: tipoDocumento, unidadeGestora: guidUnidadeGestora },
                function (dados) {
                    var anos = [];

                    if ($.isEmptyObject(dados)) {
                        $("#grafico")
                            .html('<div class="alert alert-danger"><b><i class="fa fa-thumbs-o-down"></i></b> Dados não encontrados</div>');
                    } else {
                        for (var i in dados) {
                            var serie = { name: dados[i].Ano, y: dados[i].Valor, dados: false }
                            anos.push(serie);
                        }

                        var tituloGrafico = "Valores dos " + (tipoDocumento === "1" ? "contratos" : "convênios") + " da " + nomeUnidadeGestora;
                        carregarGrafico(anos, "Ano", tituloGrafico, "Ano", "Valor R$");
                    }
                });
        }

        function dadosMensaisPorUnidadeGestora(tipoDocumento, ano, guidUnidadeGestora, nomeUnidadeGestora) {
            $.get("@Url.Action("DadosMensaisPorUnidadeGestora", "ContratoConvenio")",
                { tipoDocumento: tipoDocumento, ano: ano, unidadeGestora: guidUnidadeGestora },
                function (dados) {
                    var meses = [];

                    if ($.isEmptyObject(dados)) {
                        $("#grafico")
                            .html('<div class="alert alert-danger"><b><i class="fa fa-thumbs-o-down"></i></b> Dados não encontrados</div>');
                    } else {
                        for (var i in dados) {
                            var serie = { name: dados[i].Mes, y: dados[i].Valor, dados: false }
                            meses.push(serie);
                        }

                        var tituloGrafico = "Valores dos " +
                            (tipoDocumento === "1" ? "contratos" : "convênios") +
                            " do ano de " +
                            ano +
                            " - " +
                            nomeUnidadeGestora;
                        carregarGrafico(meses, "Mês", tituloGrafico, "Mês", "Valor R$");
                    }
                });
        }

        function carregarGrafico(dados, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' mil', ' milhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: dados
                        }
                    ]
                });
        }
    </script>
}