﻿@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Enum

@{
    ViewBag.Title = "Parcerias Público-Privada";
    var campos = new List<CampoFormulario>()
{
        new CampoInlineRadio
        {
            Linha = 1,
            ColMD = 12,
            Id = "tipoDocumento",
            NomeParametroAction = "tipoDocumento",
            ValorPadrao = "1",
            Valores = new Dictionary<string, string>
{
                {"11", "Termos de Fomento"},
                {"13","Termos de Cooperação/Colaboração"}

            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "sancionado",
            NomeParametroAction = "sancionado",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Sancionado"}
            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "cancelado",
            NomeParametroAction = "cancelado",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Cancelado"}
            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "comArquivos",
            NomeParametroAction = "comArquivos",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Com Arquivos"}
            }
        },
        new CampoInlineCheckbox()
        {
            Linha = 1,
            ColMD = 2,
            Id = "semArquivos",
            NomeParametroAction = "semArquivos",
            ValorPadrao = "true",
            Valores = new Dictionary<string, string>
{
                {"true", "Sem Arquivos"}
            }
        },
        new CampoPeriodo
        {
            Linha = 2,
            ColMD = 4,
            ValorDataInicial = new DateTime(DateTime.Now.Year, 01, 1),
            ValorDataFinal = DateTime.Now
        },
        new NumeroDocumento
        {
            Linha = 2,
            ColMD = 4,
            Id = "numeroDocumento",
            NomeParametroAction = "numeroDocumento",
            Descricao = "Número do Documento"
        },
        new NumeroProcesso
        {
            Linha = 2,
            ColMD = 4,
            Id = "numeroProcesso",
            NomeParametroAction = "numeroProcesso",
            Descricao = "Número do Processo"
        },
        new CampoSelect
        {
            Linha = 3,
            ColMD = 4,
            Id = "unidadeGestora",
            NomeParametroAction = "unidadeGestora",
            Descricao = "Unidade Gestora",
            Valores = ViewBag.UnidadesGestoras
        },
        new Cnpj
        {
            Linha = 3,
            ColMD = 4,
            Id = "cnpj",
            NomeParametroAction = "cnpj",
            Descricao = "CPF/CNPJ"
        },
        new RazaoSocial
        {
            Linha = 3,
            ColMD = 4,
            Id = "razaoSocial",
            NomeParametroAction = "razaoSocial",
            Descricao = "Razão Social"
        },
        new Objeto
        {
            Linha = 3,
            ColMD = 12,
            Id = "objeto",
            NomeParametroAction="objeto",
            Descricao="Objeto"
        }

    };
}

@section Head{
    @Html.RenderizarReferenciasPorCampo(campos)
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
<h4>
    Nesta página estão disponíveis os Termos e Contratos de parcerias realizadas pelo poder executivo do Estado de Rondônia com o setor privado.
</h4>
@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row bottomMargin">
            <div class="col-md-12">

                <button class="btn btn-primary" onclick="document.location = '@Url.Action("AdicionarDocumento", new { tipoDoc = ETipoDocumento.TermoFomento })'">
                    <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;@ETipoDocumento.TermoFomento.GetDescricao()
                </button>

                <button class="btn btn-primary" onclick="document.location = '@Url.Action("AdicionarDocumento", new { tipoDoc = ETipoDocumento.TermoDeCooperacao })'">
                    <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;@ETipoDocumento.TermoDeCooperacao.GetDescricao()
                </button>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    <div class="row bottomMargin">
        <div class="col-md-12">

            <a class="btn btn-primary" href="http://www.rondonia.ro.gov.br/supel/licitacoes/?m=Chamamento+P%C3%BAblico&situacao=&u=SEAGRI&a=&b=">
                <span class="fa fa-search" aria-hidden="true"></span>&nbsp;Consultar Chamento Público
            </a>

            <a class="btn btn-primary" href="http://sispar.sistemas.ro.gov.br/">
                <span class="fa fa-search" aria-hidden="true"></span>&nbsp;Sistema SISPAR
            </a>
        </div>
    </div>
</div>


@Html.FormularioParametros(campos)

@Html.MontarMetodoChamadaPostComDados(campos, "/ContratoConvenio")

<div id="tabelaDadosContainer"></div>

<script id="templateDados" type="text/html">

    <table id="tabelaDados" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th>{{tipoDoc}}</th>
                @*<th>OrigemRecursos</th>*@
                <th>Processo</th>
                <th>Dt.Elaboração</th>
                <th>Vigência</th>
                <th>CNPJ/Razão Social</th>
                <th>Objeto</th>
                <th>Valor</th>
                <th>Arquivo</th>
            </tr>
        </thead>
        <tbody>
            {{#dados}}
            <tr>
                <td>
                    <b>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="{{LinkParaEdicao}}">{{NumeroDocumento}}</a>
                        }
                        else
                        {
                            <a style="font-weight: bold" href="{{LinkParaVisualizacao}}"><i class="fa fa-suitcase" aria-hidden="true"></i> {{LicitacaoDocumento}} <text>{{NumeroDocumento}}</text></a>

                        }
                    </b>
                </td>
                @*<td>{{OrigemRecursos}}</td>*@
                <td>{{NumeroProcesso}}</td>
                <td>{{DataElaboracao}}</td>
                <td>{{DataVigencia}}</td>
                <td>{{Cnpj}} - {{Empresa}}</td>
                <td>{{Objeto}}</td>
                <td>{{DescricaoValor}}</td>
                <td>
                    {{#Arquivos}}
                    <a href="{{LinkArquivo}}" class="btn btn-primary" target="_blank"><i class="fa fa-file"></i> {{NomeArquivo}}</a>
                    {{/Arquivos}}
                    {{^Arquivos}}
                    Arquivo na íntegra indisponível
                    {{/Arquivos}}
                </td>
            </tr>
            {{/dados}}
        </tbody>
    </table>

</script>

@section AposFooter
{
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var options = {
                onKeyPress: function (cpf, ev, el, op) {
                    var masks = ['000.000.000-000', '00.000.000/0000-00'];
                    $('#cnpj').mask((cpf.length > 14) ? masks[1] : masks[0], op);
                }
            }


            $("#cnpj").mask('000.000.000-00', options);
            $("#unidadeGestora").chosen();

            $('#tabelaDados').on('change', function () { $('#tabelaDados').dataTablePadrao(); });
        });

        $("#cancelado").click(function () {
            if ($("#cancelado").prop("checked")) {
                $("#cancelado").val("true");
            } else {
                $("#cancelado").val("false");
                $("#sancionado").prop('checked', true).val("true");
            }
        });

        $("#sancionado").click(function () {
            if ($("#sancionado").prop("checked")) {
                $("#sancionado").val("true");
            } else {
                $("#sancionado").val("false");
                $("#cancelado").prop('checked', true).val("true");
            }
        });

        $("#semArquivos").click(function () {
            if ($("#semArquivos").prop("checked")) {
                $("#semArquivos").val("true");
            } else {
                $("#semArquivos").val("false");
                $("#comArquivos").prop('checked', true).val("true");
            }
        });

        $("#comArquivos").click(function () {
            if ($("#comArquivos").prop("checked")) {
                $("#comArquivos").val("true");
            } else {
                $("#comArquivos").val("false");
                $("#semArquivos").prop('checked', true).val("true");
            }
        });
    </script>
}