﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia

@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ContratoConvenio
@{
    var unidadesGestoras = ViewBag.UnidadesGestoras;
    var termo = Model.TermoFomento;
}

<style>
    h2, h4 {
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-10">
        <a class="btn btn-primary" href="@Url.Action("IndexParcerias", "ContratoConvenio")">
            <i class="fa fa-arrow-left"></i>
            &nbsp;Voltar
        </a>
        
        <h2>Detalhes: @Model.TipoDocumento.</h2>

        <dl class="dl-horizontal">
            <dt>Número do Termo</dt>
            <dd>@Model.NumeroDocumento</dd>

            <dt>Número Processo</dt>
            <dd>@Model.NumeroProcesso</dd>

            <dt>Unidade Gestora</dt>
            <dd>@Model.UnidadeGestora.sigla - @Model.UnidadeGestora.nomeUG</dd>

            <dt>Convenente</dt>
            <dd>@Model.Empresa</dd>

            <dt>CNPJ/CPF</dt>
            <dd>@Model.Cnpj</dd>

            <dt>Data de Assinatura</dt>
            <dd>@Model.DataAssinatura</dd>

            <dt>Data de Vigência</dt>
            <dd>@Model.DataVigenciaDescritiva</dd>

            <dt>Objeto</dt>
            <dd>@Model.Objeto</dd>

            <dt>Origem dos Recursos</dt>
            <dd>@Model.OrigemRecursos</dd>


            <dt>Valor Global R$</dt>
            <dd>R$ @Model.Valor</dd>

            <dt>Observação</dt>
            <dd>@(Model.Obsevacao)</dd>

        </dl>
        <div id="listaArquivosContainer">
            <br />
            @Html.Partial("_ListaArquivos", Model ?? new ContratoConvenio { Arquivos = new List<Arquivo>() })
        </div>
        <fieldset>
            <legend>Prestação de Contas</legend>
            <dl>

                <dt>Gestor</dt>
                <dd>@Model.TermoFomento.Monitoramento.Gestor</dd>

                <dt>Portaria do Gestor</dt>
                <dd>@Model.TermoFomento.Monitoramento.PortariaGestor</dd>

                <dt>Data Prevista</dt>
                <dd>@Model.TermoFomento.PrestacaoDeContas.DataPrevista</dd>

                <dt>Data de Apresentação</dt>
                <dd>@Model.TermoFomento.PrestacaoDeContas.DataApresentacao</dd>

                <dt>Prazo de Análise</dt>
                <dd>@Model.TermoFomento.PrestacaoDeContas.PrazoAnalise</dd>

            </dl>
            <div id="listaArquivosPrestacaoContas">
                <br />
                @Html.Partial("_ListaArquivosPrestacaoContas", Model.TermoFomento.PrestacaoDeContas ?? new PrestacaoDeContas { ArquivoResultadoConclusivo = new List<Arquivo>() })

            </div>
        </fieldset>
        <fieldset>
            <legend>Monitoramento</legend>
            <dl>

                <dt>Comissão</dt>
                <dd>@Model.TermoFomento.Monitoramento.Comissao</dd>

                <dt>Portaria da Comissão</dt>
                <dd>@Model.TermoFomento.Monitoramento.PortariaComissao</dd>

            </dl>
            <div id="listaArquivosPrestacaoContas">
                <br />
                @Html.Partial("_ListaArquivosMonitoramento", Model.TermoFomento.Monitoramento ?? new Monitoramento { ArquivoRelatorioMonitoramento = new List<Arquivo>() })
            </div>
        </fieldset>
        <fieldset>
            <legend>Remuneração Equipe de Trabalho</legend>


            <div class="col-md-12 col-sm-12" id="tabelaRemuneracao">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" style="margin-top:25px;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cargo</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TermoFomento.RemuneracaoEquipe)
                            {
                                <tr>
                                    <td>@item.Nome</td>
                                    <td>@item.Cargo</td>
                                    <td>@item.ValorIndividual</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </fieldset>
    </div>
