﻿@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Infra.Enum

@model TransparenciaRO.Infra.Model.DB.dbTransparencia.ContratoConvenio
@{
    var unidadesGestoras = ViewBag.UnidadesGestoras;
    var termo = Model.TermoFomento;
}

<style>
    h2, h4 {
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-10">
        <a class="btn btn-primary" href="@Url.Action("IndexParcerias", "ContratoConvenio")">
            <i class="fa fa-arrow-left"></i>
            &nbsp;Voltar
        </a>

        <h2>Detalhes: @Model.TipoDocumento.</h2>

        <dl class="dl-horizontal">
            <dt>Número do Termo:</dt>
            <dd>@Model.NumeroDocumento</dd>

            <dt>Número Processo:</dt>
            <dd>@Model.NumeroProcesso</dd>

            <dt>Unidade Gestora:</dt>
            <dd>@Model.UnidadeGestora.sigla - @Model.UnidadeGestora.nomeUG</dd>

            <dt>Convenente:</dt>
            <dd>@Model.Empresa</dd>

            <dt>CNPJ/CPF:</dt>
            <dd>@Model.Cnpj</dd>

            <dt>Data de Assinatura:</dt>
            <dd>@Model.DataAssinatura</dd>

            <dt>Data de Vigência:</dt>
            <dd>@Model.DataVigenciaDescritiva</dd>

            <dt>Objeto:</dt>
            <dd>@Model.Objeto</dd>


            @if (Model.TipoDocumento == ETipoDocumento.Contrato)
            {
                <dt>Licitação de Origem:</dt>
                <dd>@Model.LicitacaoOrigem</dd>
            }
            else
            {
                <dt>Origem dos Recursos:</dt>
                <dd>@Model.OrigemRecursos</dd>
            }

            <dt>Valor Global R$:</dt>
            <dd>R$ @Model.Valor</dd>

            <dt>Observação:</dt>
            <dd>@(Model.Obsevacao)</dd>

        </dl>
        <h2>Arquivos</h2>

        <div id="listaArquivosContainer">
            <br />
            @Html.Partial("_ListaArquivosContratos", Model ?? new ContratoConvenio { Arquivos = new List<Arquivo>() })
        </div>
    </div>
    <div class="col-xs-12 col-md-10">
        <fieldset>
            <legend>Prestação de Contas</legend>
            <dl>

                <dt>Gestor:</dt>

                <dt>Portaria do Gestor:</dt>

                <dt>Data Prevista:</dt>

                <dt>Data de Apresentação:</dt>

                <dt>Prazo de Análise:</dt>

            </dl>
            <div class="alert alert-info">Nenhum arquivo adicionado</div>

        </fieldset>

        <fieldset>
            <legend>Monitoramento</legend>
            <dl>

                <dt>Comissão:</dt>

                <dt>Portaria da Comissão:</dt>

            </dl>
            <div class="alert alert-info">Nenhum arquivo adicionado</div>
        </fieldset>

        <fieldset>
            <legend>Remuneração Equipe de Trabalho</legend>


            <div class="col-md-12 col-sm-12" id="tabelaRemuneracao">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" style="margin-top:25px;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cargo</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                            </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>
