﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Infra.Utils
@using TransparenciaRO.Infra.Model.DB.dbTransparencia
@using TransparenciaRO.Web.HTMLHelper

@model AdicionarEditarUsuarioViewModel
@{
    ViewBag.Title = (Model.EncIdUsuario == new Guid().ToString("N").ToEncrypted() ? "Adicionar" : "Editar") + " usuário";
    var permissoes = (List<Permissao>)ViewBag.Permissoes;
    var pastas = (List<Pasta>)ViewBag.Pastas;
}

@{
    var unidadesGestoras = ViewBag.UnidadesGestoras;
}

@using (Html.BeginForm("AdicionarEditar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EncIdUsuario)
    @Html.FormGroupEditorFor(m => m.Nome, "Nome <i class=text-danger>*</i>")
    @Html.FormGroupEditorFor(m => m.Email, "E-mail <i class=text-danger>*</i>")
    @Html.FormGroupEditorFor(m => m.CPF, "CPF <i class=text-danger>*</i>", new List<EClassesParaInput> { EClassesParaInput.CampoCPF })
    @Html.FormGroupDropDownFor(m => m.UnidadeGestoraId, new SelectList(unidadesGestoras, "Key", "Value"), "Unidade gestora <i class=text-danger>*</i>")
    @Html.FormGroupCheckboxFor(m => m.Ativo, "Usuário ativo")
    @Html.FormGroupCheckboxFor(m => m.AlterarSenhaProximoLogin, "Deverá alterar a senha no próximo login?")

    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Permissões</label>
        <div class="col-md-10">
            <ul class="list-group">
                @for (var i = 0; i < permissoes.Count(); i++)
                {
                    <li class="list-group-item">
                        <span class="pull-right">
                            <input type="checkbox" class="checkboxPermissao" name="" value="@((int) permissoes[i].PermissaoId)" @(Model.Permissoes.Count(p => p.PermissaoId == permissoes[i].PermissaoId) > 0 ? "checked" : "") />
                        </span>
                        @permissoes[i].Descricao
                    </li>
                }
            </ul>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Pastas</label>
        <div class="col-md-10">
            <ul class="list-group">
                @for (int i = 0; i < pastas.Count(); i++)
                {
                    var descricaoPasta = "";
                    var ponteiroPasta = pastas[i];
                    while (ponteiroPasta != null)
                    {
                        descricaoPasta = ponteiroPasta.Nome + " > " + descricaoPasta;
                        ponteiroPasta = ponteiroPasta.PastaOrigem;
                    }

                    <li class="list-group-item">
                        <span class="pull-right">
                            <input type="checkbox" class="checkboxPasta" name="" value="@((Guid) pastas[i].PastaId)" @(Model.Pastas.Count(p => p.PastaId == pastas[i].PastaId) > 0 ? "checked" : "") />
                        </span>
                        
                        @descricaoPasta
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2 pull-right">
            <button type="submit" class="btn btn-primary"><i class="fa-lg fa fa-floppy-o"></i>Salvar</button>
        </div>
    </div>
}

@section AposFooter{
    <script>
        function processarPermissoes() {
            @*Método para renomear os checkboxes para binding com a controller *@
            var i = 0;
            $('.checkboxPermissao').attr('name', ''); $('.checkboxPermissao').attr('id', '');
            $('.checkboxPermissao:checked').each(function (a, b) {
                console.log(b);
                $(b).attr('name', 'permissoes[' + i + '].PermissaoId');
                $(b).attr('id', 'permissoes[' + i + '].PermissaoId');
                i++;
            });
        }

        function processarPastas() {
            @*Método para renomear os checkboxes para binding com a controller *@
            var i = 0;
            $('.checkboxPasta').attr('name', ''); $('.checkboxPasta').attr('id', '');
            $('.checkboxPasta:checked').each(function (a, b) {
                console.log(b);
                $(b).attr('name', 'pastasGuids[' + i + ']');
                $(b).attr('id', 'pastasGuids[' + i + ']');
                i++;
            });
        }

        $('form').submit(function (evt) {
            processarPermissoes();
            processarPastas();
        });
    </script>
}