﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Web.HTMLHelper
@using TransparenciaRO.Infra.Utils
@model List<AdicionarEditarUsuarioViewModel>
@{
    ViewBag.Title = "Cadastro de usuários";
}
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })

}

<div class="row bottomMargin">
    <div class="col-md-12">
        <button class="btn btn-primary" onclick="document.location = '@Url.Action("AdicionarEditar")'"><span class="fa fa-user"></span>&nbsp;Novo usuário</button>
    </div>
</div>
<table class="table table-striped" id="tblUsuarios" style="width: 100%">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Permissões</th>
            <th>Ativo?</th>
            <th>Senha</th>
            <th>Último login</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td><a href="@Url.Action("AdicionarEditar", new { pEncId = usuario.EncIdUsuario })"><i class="fa fa-pencil"></i></a></td>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>
                    <ul>
                        @foreach (var permissao in usuario.Permissoes)
                        {
                            <li>@permissao.Descricao</li>
                        }
                    </ul>
                </td>
                <td>@(usuario.Ativo ? "Sim" : "Não")</td>
                <td><a class="btn btn-default" href="#!" onclick="resetarSenha('@usuario.Email.ToEncrypted()')"><i class="fa fa-refresh"></i> Resetar</a></td>
                <td>@(usuario.DataUltimoLogin != null ? usuario.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm") : "Nunca logou")</td>
            </tr>
        }
    </tbody>

</table>
@section AposFooter
{
    <script>
        $(document).ready(function () {
            $('#tblUsuarios').dataTablePadrao();
        });

        function resetarSenha(pEncEmail) {

            $.get("@Url.Action(nameof(TransparenciaRO.Web.Controllers.UsuarioController.ResetarSenha))", { pEncEmail: pEncEmail },
            function (data, textStatus, jqXHR) {
                if (data) { alert('Senha resetada com sucesso!'); }
                else { alert('Ocorreu um erro ao tentar resetar a senha. Por favor, contate o administrador do sistema na CGE');  }
            },
            "json"
            );
        }
    </script>
}

