﻿@using TransparenciaRO.Infra.Model.View
@using TransparenciaRO.Web.HTMLHelper
@model UsuarioTrocarSenhaViewModel
<h2>Alterar senha</h2>
<p>Informe a sua nova senha nos campos abaixo:</p>
@using (Html.BeginForm("TrocarSenha", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <fieldset>
        @Html.FormGroupPasswordFor(m => m.Senha, "Senha")
        @Html.FormGroupPasswordFor(m => m.ConfirmarSenha, "Confirmar senha")
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2"><button type="submit" class="btn btn-danger"><i class="fa fa-lock"></i> Alterar senha</button></div>
        </div>
    </fieldset>
}
