﻿@using TransparenciaRO.Infra.Utils
@model TransparenciaRO.Infra.Model.DB.dbTransparencia.RelacaoServidor
<label>Mês<strong class="text-danger">*</strong></label>
<select id="mes" class="form-control">
    @for (var i = 1; i <= ViewBag.Mes; i++)
    {
        <option value="@i" @(ViewBag.Mes == i ? " selected" : "")>@(i.NomeMes())</option>
    }
</select>
