﻿@model IEnumerable<TransparenciaRO.Infra.Model.View.ComiteTransparencia.InscricaoComiteTransparenciaViewModel>

@using TransparenciaRO.Infra.Utils

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Razão social</th>
                <th>Representante legal</th>
                <th>Telefone</th>
                <th class="text-center">Documentos</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var inscricao in Model)
            {
                <tr>
                    <td>@inscricao.RazaoSocial</td>
                    <td>@inscricao.RepresentanteLegal</td>
                    <td>@inscricao.Telefone</td>
                    <td class="text-center">
                        @if (inscricao.Arquivos.Count > 0)
                        {
                            foreach (var arquivo in inscricao.Arquivos)
                            {
                                <a href="@Url.Action("VisualizarArquivo", "Arquivo", new { pEncArquivoId = arquivo.ArquivoId.ToString().ToEncrypted() })" target="_blank">
                                    <i class="fa fa-file-pdf-o" title="@(arquivo.Descricao)"></i>
                                </a>
                            }
                        }
                        else
                        {
                            <span>---</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
