﻿@using TransparenciaRO.Web.HTMLHelper
@model  TransparenciaRO.Infra.Model.View.SkalaAPISETIC.IndexSkalaViewModel

@{
    ViewBag.Title = "Escala de Serviços/Plantão dos Profissionais de Saúde do Estado de Rondônia";
}

<html>
<head>
    <title>@ViewBag</title>
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.DataTable })
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/br.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt-br.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
    <script type="text/javascript" src="~/scripts/daterangepicker.min.js"></script>

    <link rel="stylesheet" href="~/Content/daterangepicker.css" />
</head>
<body>
    <div class="row">

        <div class="col-xs-12">
            @Html.Partial("Partials\\_Informativo")
        </div>

        <div class="col-xs-12">
            @Html.Partial("Partials\\_Filtro", Model.Filtro)
        </div>

        <div class="col-xs-12">
            <div id="tabela">
                @Html.Partial("Partials\\_Tabela", Model.TabelaSkalaViewModel)
            </div>
        </div>

        <div class="col-xs-12">
            <p><b>Denúncias, Elogios, Reclamações, Solicitações e Sugestões</b> podem ser registradas através dos contatos abaixo:</p>

            <p>
                Telefone:  0800 647 7071
                <br />
                E-mail: ouvidoriasus.ro@gmail.com
            </p>

            <a href="http://www.rondonia.ro.gov.br/ouvidoria/" target="_blank"><h3>Fala.BR</h3></a>

            <p>
                <b>Atendimento Presencial</b>
                <br />
                Palácio Rio Madeira, Edifício Rio Machado - Rua Pio XII S/N Pedrinhas
                <br />
                Porto Velho RO, 76801-470
                <br />
                <b>Horário de Atendimento:</b> segunda a sexta das 7h30 às 13h30
            </p>
        </div>
    </div>

    <script type="text/javascript">

    $(document).ready(function () {

        $('#ESkalaTipoFiltro').on('change', function () {

            if (this.value == 4) {
                $('#div-filter-description').hide();
                $('#Descricao').removeAttr('required');

                $('#div-filter-unidade').hide();
                $('#Descricao').removeAttr('required');

                $('#div-filter-tipo-plantao').hide();

                $('#div-filter-date').show();
                $('#input-filter-date').attr("required", "true");
            }
            else if (this.value == 1) {
                $('#div-filter-description').hide();
                $('#Descricao').removeAttr('required');

                $('#div-filter-tipo-plantao').hide();

                $('#div-filter-date').show();
                $('#input-filter-date').removeAttr('required');

                $('#div-filter-unidade').show();
                $('#input-filter-date').attr("required", "true");
            }
            else if (this.value == 5) {
                $('#div-filter-date').show();
                $('#input-filter-date').removeAttr('required');

                $('#div-filter-unidade').show();
                $('#Descricao').removeAttr('required');

                $('#div-filter-tipo-plantao').show();

                $('#div-filter-description').hide();
                $('#Descricao').removeAttr('required');
            }
            else{
                $('#div-filter-description').show();
                $('#Descricao').attr("required", "true");

                $('#div-filter-date').hide();
                $('#input-filter-date').removeAttr('required');

                $('#div-filter-unidade').hide();
                $('#Descricao').removeAttr('required');

                $('#div-filter-tipo-plantao').hide();
            }
        });

        $('#input-filter-date').daterangepicker({
            "alwaysShowCalendars": true,
            "maxSpan": {
                "years": 1
            },
            ranges: {
                'Hoje': [moment(), moment()],
                'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Últimos 7 dias': [moment().subtract(6, 'days'), moment()],
                'Últimos 30 dias': [moment().subtract(29, 'days'), moment()],
                'Este mês': [moment().startOf('month'), moment().endOf('month')],
                'Último mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "De",
                "toLabel": "Para",
                "customRangeLabel": "Personalizado",
                "weekLabel": "S",
                "daysOfWeek": [
                    "Dom",
                    "Seg",
                    "Ter",
                    "Qua",
                    "Qui",
                    "Sex",
                    "Sáb"
                ],
                "monthNames": [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ],
                "firstDay": 0,
            },
            "startDate": new Date().toLocaleDateString(),
            "endDate": new Date().toLocaleDateString()
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });

        $.fn.dataTable.moment('dd/MM/YYYY');
        $.fn.dataTable.moment('L');
        $('#table').dataTablePadrao();
    });

        $(function Filtrar() {
            $("#formFiltro").submit(function (e) {
                e.preventDefault();

                let form = new FormData(this);

          
                $('#tabela').html('<div class="row" style="margin-bottom:30px"><div class="col-xs-12 text-center"><i class="fa fa-cog fa-spin fa-fw"></i> Consultando... </div></div>');

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Filtrar")",
                    data: form,
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {

                        $('#tabela').html(response);
                        $('#table').dataTablePadrao();
                    },
                    error: function (data) {
                        $('#tabela').html('<div class="alert alert-info text-center"><i class= "fa fa-info-circle" ></i > Nenhum resultado encontrado.</div >');
                    }
                });
            });
        });
    </script>
</body>
</html>