﻿@using TransparenciaRO.Web.Controllers
@using TransparenciaRO.Web.HTMLHelper
@section Head{
    @Html.RenderizarReferenciasPorPlugin(new[] { EReferenciaHead.Mustache, EReferenciaHead.DataTable })
}
@{
    ViewBag.Title = "Gráfico - Relação dos Servidores Inativos e Pensionistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Mensagem"></div>
<strong>
    Campos Obrigatórios <label class="text-danger">*</label>
</strong>
<div class="row">
    <div class="loadingPlaceholder">
        <h2 class="text-center">
            <i class="fa fa-cog fa-spin"></i>&nbsp;Processando gráfico...
        </h2>
    </div>
    <div id="grafico" class="grafico"></div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <label>
            Tipo Consulta <strong class="text-danger">*</strong>
        </label>
        <select id="tipoConsulta" name="tipoConsulta" class="form-control" onchange="tipoConsultaCarregarUnidadesGestoras()">
            <option value="1">Relação por Unidade Gestora</option>
            <option value="2">Relação por Cargo</option>
        </select>
    </div>
    <div class="col-md-2 col-sm-6">
        <label>
            Ano <strong class="text-danger">*</strong>
        </label>
        <select id="ano" name="ano" class="form-control" onchange="carregarMeses()">
            @for (var ano = ViewBag.Ano; ano >= 2012; ano--)
            {
                <option value="@ano" @(ano == ViewBag.Ano ? "selected" : "")>@ano</option>
            }
        </select>
    </div>
    <div class="col-md-2 col-sm-6">
        <label>
            Mês <strong class="text-danger">*</strong>
        </label>
        <select id="mes" name="mes" class="form-control" onchange="tipoConsultaCarregarUnidadesGestoras()"></select>
    </div>
    <div class="col-md-3 col-sm-6 hidden">
        <label>Unidades Gestoras</label>
        <select id="unidadesGestoras" name="unidadesGestoras" class="form-control col-sm-6"></select>
    </div>
    <div class="col-md-2 col-sm-12" style="margin-top: 25px">
        <button id="filtro" name="filtro" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i> Pesquisar
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div id="tabelaContainer" class="col-md-12"></div>
</div>
@section AposFooter
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @*<script src="~/scripts/ai.0.15.0-build58334.min.js"></script>*@
    <script id="templateUnidadesGestoras" type="text/html">
        <table class="table table-hover" id="tabelaUnidadesGestoras" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Unidade Gestora</th>
                    <th>Servidores</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="getFuncionarios(ano, mes, '{{UnidadeGestora}}', null, null, 'tabelaUnidadesGestoras', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{UnidadeGestora}}</td>
                    <td>{{QtdLotado}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateCargos" type="text/html">
        <table class="table table-hover" id="tabelaCargos" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Cargos</th>
                    <th>Servidores</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="getFuncionarios(ano, mes, unidadeGestoraName, '{{Cargo}}', null, 'tabelaCargos', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{Cargo}}</td>
                    <td>{{QtdServidores}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateClassificacoes" type="text/html">
        <table class="table table-hover" id="tabelaClassificacoes" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Classificações</th>
                    <th>Servidores</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="getFuncionarios(ano, mes, unidadeGestoraName, null, '{{Classificacao}}', 'tabelaClassificacoes', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{Classificacao}}</td>
                    <td>{{QtdServidores}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateMediaIdadeUnidadesGestoras" type="text/html">
        <table class="table table-hover" id="tabelaMediaIdadeUnidadesGestoras" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Unidade Gestora</th>
                    <th>Média de Idade</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="getFuncionarios(ano, mes, '{{UnidadeGestora}}', null, null, 'tabelaMediaIdadeUnidadesGestoras', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{UnidadeGestora}}</td>
                    <td>{{MediaIdade}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateMediaIdadeCargos" type="text/html">
        <table class="table table-hover" id="tabelaMediaIdadeCargos" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Cargo</th>
                    <th>Média de Idade</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="getFuncionarios(ano, mes, unidadeGestoraName, '{{Cargo}}', null, 'tabelaMediaIdadeCargos', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{Cargo}}</td>
                    <td>{{MediaIdade}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateMediaIdadeClassificacoes" type="text/html">
        <table class="table table-hover" id="tabelaMediaIdadeClassificacoes" width="100%">
            <thead>
                <tr>
                    <th>Funcionários</th>
                    <th>Classificação</th>
                    <th>Média de Idade</th>
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>
                        <a href="#!" onclick="getFuncionarios(ano, mes, unidadeGestoraName, null, '{{Classificacao}}', 'tabelaMediaIdadeClassificacoes', this)">
                            <i name="search" class="fa fa-search"></i>
                            <i name="spin" class="fa fa-cog fa-spin hidden"></i>
                        </a>
                    </td>
                    <td>{{Classificacao}}</td>
                    <td>{{MediaIdade}}</td>
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script id="templateFuncionarios" type="text/html">
        <table class="table table-hover" id="{{guidNovatabela}}" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Cargo</th>
                    <th>Classificação</th>
                    @*<th>Remuneração</th>*@
                </tr>
            </thead>
            <tbody>
                {{#dados}}
                <tr>
                    <td>{{Nome}}</td>
                    <td>{{Matricula}}</td>
                    <td>{{Cargo}}</td>
                    <td>{{Classificacao}}</td>
                    @*<td>
                        <a href="@(Url.Action("DetalheServidor", "Pessoal"))?ano={{Ano}}&mes={{Mes}}&matricula={{Matricula}}" title="Detalhes" target="_blank">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </a>
                    </td>*@
                </tr>
                {{/dados}}
            </tbody>
        </table>
    </script>
    <script>
        function carregarGrafico(lotacoes, name, title, xAxis, yAxis) {
            Highcharts.setOptions({
                lang: {
                    numericSymbols: [' mil', ' milhões']
                }
            });
            $('#grafico')
                .highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        type: "category",
                        title: {
                            text: '<b>' + xAxis + '</b>'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '<b>' + yAxis + '</b>'
                        },
                        labels: {
                            //format: '{value:.2f}'

                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
                    },
                    series: [
                        {
                            name: name,
                            colorByPoint: true,
                            data: lotacoes
                        }
                    ]
                });
        }

        function alertMessage() {
            $("#alert").fadeTo(3000, 500).slideUp(500,
                function() {
                    $("#alert").slideUp(500);
                });
        }

        function mesPorExtenso(mes) {
            switch (mes.toString()) {
                case "1":
                    return ("Janeiro");
                case "2":
                    return ("Fevereiro");
                case "3":
                    return ("Março");
                case "4":
                    return ("Abril");
                case "5":
                    return ("Maio");
                case "6":
                    return ("Junho");
                case "7":
                    return ("Julho");
                case "8":
                    return ("Agosto");
                case "9":
                    return ("Setembro");
                case "10":
                    return ("Outubro");
                case "11":
                    return ("Novembro");
                default:
                    return ("Dezembro");
            }
        }
    </script>
    <script>
        var mes = @ViewBag.Mes;
        var ano = @ViewBag.Ano;
        var unidadeGestoraId;
        var unidadeGestoraName;
        var tipoConsulta = "1";
        var consultaTipo = "@Request["tipoId"]";
        var ugGuid = "@Request["ugGuid"]";
        

        carregarMeses();
        $(document).ready(function() {
            if (consultaTipo != "" && ugGuid != "") {
                $("#tipoConsulta option[value=" + consultaTipo + " ]").attr('selected','selected');                

            }else{
                getRelacaoUnidadeGestora();
                
            }
        });


        $("#filtro").click(function() {
            CarregarGrafico();
        });

        function CarregarGrafico(){
            tipoConsulta = $("#tipoConsulta option:selected").val();
            ano = $("#ano").val();
            mes = $("#mes").val();
            unidadeGestoraId = $("#unidadesGestoras option:selected").val();
            unidadeGestoraName = $("#unidadesGestoras option:selected").text() === "Selecione..." ||
                $("#unidadesGestoras option:selected").text() === ""
                ? "s Unidades Gestoras"
                : " " + $("#unidadesGestoras option:selected").text();

            switch (tipoConsulta) {
                case "1":
                    getRelacaoUnidadeGestora();
                    break;
                case "2":
                    getRelacaoCargo();
                    break;
                case "3":
                    getRelacaoClassificacao();
                    break;
                case "4":
                    getMediaIdadeUnidadeGestora();
                    break;
                case "5":
                    getMediaIdadeCargos();
                    break;
                case "6":
                    getMediaIdadeClassificacao();
                    break;
                default:
                    getRelacaoUnidadeGestora();
            }
        }
        function carregarMeses() {
            var options = [];
            $.get("@Url.Action(nameof(RelacaoPensionistaController.Meses))", { ano: $("#ano").val() },
                function(meses) {
                    for (var i = 0; i < meses.length; i++) {
                        if (meses[i].mesInt === meses.length)
                            options += '<option value="' + meses[i].MesInt + '" selected>' + meses[i].MesString + '</option>';
                        else
                            options += '<option value="' + meses[i].MesInt + '">' + meses[i].MesString + '</option>';
                    }
                    $("#mes").html(options);
                    tipoConsultaCarregarUnidadesGestoras();
                });
        }

        @*function carregarUnidadesGestoras() {
            var options = [];
            var selecionado = "";
            options += '<option value="">Selecione...</option>';
            $.get("@Url.Action(nameof(RelacaoPensionistaController.UnidadesGestoras))", { ano: $("#ano").val(), mes: $("#mes").val() },
                function(unidadesGestoras) {
                    for (var i = 0; i < unidadesGestoras.length; i++) {
                        selecionado = ugGuid == unidadesGestoras[i].UnidadeGestoraId ? "selected" : "";
                        options += '<option value="' + unidadesGestoras[i].UnidadeGestoraId + '" ' + selecionado + '>' + unidadesGestoras[i].Descricao + '</option>';
                    }
                    $("#unidadesGestoras").html(options);
                });
        }*@

        function tipoConsultaCarregarUnidadesGestoras() {
            if ($("#tipoConsulta option:selected").val() !== "1" && $("#tipoConsulta option:selected").val() !== "4")
                carregarUnidadesGestoras();
            else
                $("#unidadesGestoras").empty();
        }

        function getRelacaoUnidadeGestora() {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RelacaoPensionistaController.RelacaoUnidadeGestora))", { ano: ano, mes: mes },
                function(dados) {
                    var unidadesGestoras = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 4) {
                            var serie = { name: dados[i].UnidadeGestora, y: dados[i].QtdLotado, drilldown: false }
                            unidadesGestoras.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    var tituloGrafico = "Relação das Unidades Gestoras " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(unidadesGestoras, "Unidade Gestora", tituloGrafico, "Unidades Gestoras", "Por mil servidores");

                    var template = $('#templateUnidadesGestoras').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaUnidadesGestoras").dataTablePadrao();
                });
        }

        function getRelacaoCargo() {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RelacaoPensionistaController.RelacaoCargo))", { ano: ano, mes: mes, unidadeGestoraId: unidadeGestoraId },
                function(dados) {
                    var cargos = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 9) {
                            var serie = { name: dados[i].Cargo, y: dados[i].QtdServidores, drilldown: false }
                            cargos.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    var tituloGrafico = "Cargos da" + unidadeGestoraName + " de " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(cargos, "Cargo", tituloGrafico, "Cargos", "Servidores");

                    var template = $('#templateCargos').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaCargos").dataTablePadrao();
                });
        }

        function getRelacaoClassificacao() {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RelacaoPensionistaController.RelacaoClassificacao))", { ano: ano, mes: mes, unidadeGestoraId: unidadeGestoraId },
                function(dados) {
                    var classificacoes = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 9) {
                            var serie = { name: dados[i].Classificacao, y: dados[i].QtdServidores, drilldown: false }
                            classificacoes.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    var tituloGrafico = "Classificações da" + unidadeGestoraName + " de " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(classificacoes, "Classificação", tituloGrafico, "Classificações", "Servidores");

                    var template = $('#templateClassificacoes').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaClassificacoes").dataTablePadrao();
                });
        }

        function getMediaIdadeUnidadeGestora() {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RelacaoPensionistaController.MediaIdadeUnidadeGestora))", { ano: ano, mes: mes },
                function(dados) {
                    var unidadesGestoras = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 9) {
                            var serie = { name: dados[i].UnidadeGestora, y: dados[i].MediaIdade, drilldown: false }
                            unidadesGestoras.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    var tituloGrafico = "Média de Idade da" + unidadeGestoraName + " de " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(unidadesGestoras, "Unidade Gestora", tituloGrafico, "Unidades Gestoras", "Servidores");

                    var template = $('#templateMediaIdadeUnidadesGestoras').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaMediaIdadeUnidadesGestoras").dataTablePadrao();
                });
        }

        function getMediaIdadeCargos() {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RelacaoPensionistaController.MediaIdadeCargo))",
                { ano: ano, mes: mes, unidadeGestoraId: unidadeGestoraId },
                function(dados) {
                    var cargos = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 9) {
                            var serie = { name: dados[i].Cargo, y: dados[i].MediaIdade, drilldown: false }
                            cargos.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    var tituloGrafico = "Média de Idade da" + unidadeGestoraName + " de " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(cargos, "Cargo", tituloGrafico, "Cargos", "Servidores");

                    var template = $('#templateMediaIdadeCargos').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaMediaIdadeCargos").dataTablePadrao();
                });
        }

        function getMediaIdadeClassificacao() {
            $("#grafico").empty();
            $("#tabelaContainer").empty();
            $('.loadingPlaceholder > h2').fadeIn('slow');

            $.get("@Url.Action(nameof(RelacaoPensionistaController.MediaIdadeClassificacao))",
                { ano: ano, mes: mes, unidadeGestoraId: unidadeGestoraId },
                function(dados) {
                    var classificacoes = [];
                    var count = 0;

                    for (var i in dados) {
                        if (count <= 9) {
                            var serie = { name: dados[i].Classificacao, y: dados[i].MediaIdade, drilldown: false }
                            classificacoes.push(serie);
                            count += 1;
                        }
                    }

                    $('.loadingPlaceholder > h2').fadeOut('slow');

                    var tituloGrafico = "Média de Idade da" + unidadeGestoraName + " de " + mesPorExtenso(mes) + " de " + ano;
                    carregarGrafico(classificacoes, "Cargo", tituloGrafico, "Classificações", "Servidores");

                    var template = $('#templateMediaIdadeClassificacoes').html();
                    var templateRenderizado = Mustache.render(template, { "dados": dados });
                    $('#tabelaContainer').html(templateRenderizado);
                    $("#tabelaMediaIdadeClassificacoes").dataTablePadrao();
                });
        }

        function getFuncionarios(pAno, pMes, pUnidadeGestora, pCargo, pClassificacao, pGuid, pSender) {
            var elementoPai = $(pSender).parent();
            var search = elementoPai.find('[name="search"]');
            var spin = elementoPai.find('[name="spin"]');

            search.addClass("hidden");
            spin.removeClass("hidden");

            var table = $('#' + pGuid).DataTable();
            var row = table.row($(pSender).closest('tr'));

            if (!row.child.isShown()) {
                $.get("@Url.Action(nameof(RelacaoPensionistaController.Funcionarios))", { ano: pAno, mes: pMes, unidadeGestora: pUnidadeGestora, cargo: pCargo, classificacao: pClassificacao })
                    .done(function(funcionarios) {
                        var guidNovatabela = guid();
                        $(pSender).closest('tr').after();

                        row.child(Mustache.render($('#templateFuncionarios').html(), { guidNovatabela: guidNovatabela, dados: funcionarios})).show();
                        $('#' + guidNovatabela).dataTablePadrao();

                        spin.addClass("hidden");
                        search.removeClass("hidden");
                    }, "dataType");
            } else {
                spin.addClass("hidden");
                search.removeClass("hidden");

                row.child.hide();
                $(".DTFC_ScrollWrapper").css({ "height": "100%" });
            }
        }
    </script>
}