﻿@model TransparenciaRO.Infra.Model.View.SkalaAPISETIC.FiltroSkalaViewModel
@using TransparenciaRO.Infra.Model.View.SkalaAPISETIC

<div class="well">
    <h3 class="no-margin" style="margin-bottom: 13px !important;">
        <i class="fa fa-filter"></i>
        Filtrar
    </h3>

    <form id="formFiltro">
        <div class="row">

            <div class="form-group col-xs-12 col-md-6">
                <label>Tipo de filtro</label>
                @Html.EnumDropDownListFor(model => model.ESkalaTipoFiltro, new { @class = "form-control" })
            </div>
            <div class="form-group col-xs-12 col-md-6" id="div-filter-tipo-plantao" hidden>
                <label>Tipo de Plantão</label>
                @Html.EnumDropDownListFor(model => model.tipoPlantao, new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-12 col-md-6" id="div-filter-description">
                <label>@Html.DisplayNameFor(model => model.Descricao)</label>
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            </div>

            <div class="form-group col-xs-12 col-md-6" id="div-filter-date" hidden>
                <label>@Html.DisplayNameFor(model => model.Data)</label>
                <input type="text" name="Data" id="input-filter-date" value="" class="form-control" />
            </div>


            <div class="form-group col-xs-12 col-md-6" id="div-filter-unidade" hidden>
                <label>Unidade</label>
                @Html.DropDownList("unidade", new SelectList(Model.Unidades.OrderBy(u => u.name), "name", "name"), "...", new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-12 col-md-6" id="div-filter-unidade" hidden>
                <label>Unidade</label>
                @Html.DropDownList("unidade", new SelectList(Model.Unidades.OrderBy(u => u.name), "name", "name"), "...", new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-12">
                <label class="visible-md-block visible-lg-block">&nbsp;</label>
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i>
                    Consultar
                </button>
            </div>
        </div>
    </form>
</div>