﻿<div class="alert alert-info margin-bottom-13">
    <p class="text-justify">
        <i class="fa fa-info-circle text-primary"></i>
        Nesta página são publicadas as escalas de serviços/plantões dos profissionais de saúde, aqui o cidadão pode acompanhar e monitorar os profissionais que estão de serviços nas unidades de saúde do Estado.
        As escalas de serviços disponibilizadas nesta página são informadas pela Secretaria de Saúde.
    </p>
</div>