﻿@model TransparenciaRO.Infra.Model.View.SkalaAPISETIC.TabelaSkalaViewModel

@using TransparenciaRO.Infra.Utils
@using System.Linq

@{
    //var count = 1;
}

@if (Model.Sucesso == true && Model.Servidores.Count() > 0)
{
    <table id="table" class="table table-hover table-striped" data-order='[[ 1, "desc" ]]'>
        <thead>
            <tr>
                <th>Data registro</th>
                <th>Data plantão</th>
                @*<th>Cpf</th>*@
                @*    <th>Dia da semana</th>*@
                <th data-class-name="priority">Dia</th>

                <th>Horário</th>
                <th>Total horas plantão</th>
                <th>Tipo de plantão</th>

                <th>Matrícula</th>
                <th>Lotação</th>
                <th>Departamento</th>
                <th>Horas semanais</th>
                <th>Horas mensais</th>
                <th data-class-name="priority">Nome</th>
                <th>Cargo</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var servidores in Model.Servidores)
            {
                if (servidores.servidor.plantoes.Any())
                {
                    var x = servidores.servidor.plantoes.Distinct();
                    foreach (var plantao in servidores.servidor.plantoes)
                    {
            <tr>

                <td>@plantao.dataDeRegistro</td>
                <td>@plantao.dataInicial</td>
                @*<td>@plantao.cpfDoResponsavel</td>*@


                <td>@Convert.ToDateTime(plantao.dataInicial).ToString("dddd").Substring(0, 3)</td>


                <td>@plantao.horarioDeEntrada às @plantao.horarioDeSaida</td>

                <td>@Math.Round(plantao.totalDeHorasDoPlantao.totalHours)</td>
                <td>@plantao.tipoDePlantao</td>

                <td>@servidores.servidor.matricula</td>
                <td>@servidores.servidor.lotacao</td>
                <td>@servidores.servidor.departamento</td>
                <td>@servidores.servidor.horasSemanais</td>
                <td>@servidores.servidor.horasMensais</td>
                <td>@servidores.servidor.nome</td>
                <td>@servidores.servidor.cargo</td>

            </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info text-center">
        <i class="fa fa-info-circle"></i>
        @(Model.Sucesso == false? Model.Mensagem : "Nenhum resultado encontrado.")
    </div>
}