//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
    padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal @breadcrumb-padding-vertical 0;
    margin-bottom: @line-height-computed;
    list-style: none;
    background-color: @breadcrumb-bg;
    border-radius: @border-radius-base;

    @media screen and (min-width: @screen-sm-min) {
        //text-align: center;
        }

    > li {
        display: inline-block;

        a{
            color: white;
        }

        + li:before{            
            //content: '\f061';
            padding-right: 2px;
            font-family: FontAwesome;
            color: darken(white,10%);
        }
        @media screen and (min-width: @screen-sm-min) {
            + li:before {
                //content: "@{breadcrumb-separator}\00a0\00a0"; // Unicode space added since inline-block means non-collapsing white-space
                padding: 0 5px;
                color: @breadcrumb-color;
            }
        }
    }

    > .active {
        color: @breadcrumb-active-color;
    }
}
